Repository microsoft/onnxruntime, pull requests merged in 2020-07, with the labels that each got.

#4315 Liqun/backprop deterministic graph
  include/onnxruntime/core/graph/graph_viewer.h
  onnxruntime/core/framework/op_kernel_context_internal.h
  onnxruntime/core/framework/session_options.h
  onnxruntime/core/framework/session_state.h
  onnxruntime/core/graph/graph_viewer.cc
  onnxruntime/core/optimizer/transformer_memcpy.cc
  onnxruntime/core/providers/cuda/gpu_data_transfer.cc
  onnxruntime/core/providers/cuda/math/matmul.cc
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_transformer_trainer.py
Labels: Training

#4372 Deprecate frontend layernorm postpass
  orttraining/orttraining/python/postprocess.py
  orttraining/orttraining/test/python/onnxruntime_test_postprocess.py
Labels: Frontend, Training

#4407 Adjustments to MPI and NCCL library discovery on build
  cmake/CMakeLists.txt
Labels: builds

#4268 Keep loss_scale and Whole Loss Subgraph in FP32 during Mixed Precision Training
  orttraining/orttraining/core/graph/mixed_precision_transformer.cc
  orttraining/orttraining/core/session/training_session.cc
Labels: Training

#4400 Update BiasGeluGradDxKernel and tests.
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_ops/cpu/activation/activation_op_test.cc
  orttraining/orttraining/training_ops/cuda/activation/bias_gelu_grad_impl.cu
Labels: Training

#4233 optimize transpose CUDA kernel
  onnxruntime/core/providers/cuda/math/einsum_utils/einsum_auxiliary_ops.cc
  onnxruntime/core/providers/cuda/tensor/transpose.cc
  onnxruntime/core/providers/cuda/tensor/transpose.h
  onnxruntime/core/providers/cuda/tensor/transpose_impl.cu
  onnxruntime/core/providers/cuda/tensor/transpose_impl.h
  onnxruntime/test/providers/cpu/tensor/transpose_test.cc
Labels: Core, Training

#4156 Optimize LayernormGrad
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/layer_norm.cc
  onnxruntime/contrib_ops/cuda/layer_norm_impl.cu
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/gradient_builder_registry.h
  orttraining/orttraining/core/graph/gradient_config.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/gradient/gradient_checker.cc
  orttraining/orttraining/test/gradient/gradient_op_test_utils.cc
  orttraining/orttraining/test/training_ops/cuda/layer_norm_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/nn/layer_norm.cc
  orttraining/orttraining/training_ops/cpu/nn/layer_norm.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/nn/layer_norm.cc
  orttraining/orttraining/training_ops/cuda/nn/layer_norm.h
  orttraining/orttraining/training_ops/cuda/nn/layer_norm_impl.cu
  orttraining/orttraining/training_ops/cuda/nn/layer_norm_impl.h
Labels: Training

#4097 Optimize GatherND
  onnxruntime/core/optimizer/computation_reduction.cc
  onnxruntime/core/optimizer/computation_reduction.h
  onnxruntime/core/optimizer/utils.cc
  onnxruntime/core/optimizer/utils.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/computation_reduction.py
  onnxruntime/test/testdata/transform/computation_reduction/e2e.onnx
  onnxruntime/test/testdata/transform/computation_reduction/e2e.py
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_add.onnx
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_add.py
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_div.onnx
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_div.py
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_gelu.onnx
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_gelu.py
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_layernormalization.onnx
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_layernormalization.py
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_matmul.onnx
  onnxruntime/test/testdata/transform/computation_reduction/gathernd_matmul.py
  onnxruntime/test/testdata/transform/computation_reduction_transformer.onnx
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
Labels: Training

#4408 Liqun/roberta
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/test/python/orttraining_run_glue.py
Labels: Training

#4437 Add Fusion for GPT Attention with both past state and attention mask
  onnxruntime/core/optimizer/attention_fusion.cc
  onnxruntime/core/optimizer/attention_fusion_helper.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/gpt2_past_mask_one_layer.onnx
Labels: GPT2

#4454 Remove code which is not thread-safe.
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/finalize_session_state.cc
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/framework/simple_tensor_allocator.h
  onnxruntime/core/framework/tensor_allocator.h
  onnxruntime/core/framework/tensor_allocator_with_mem_pattern.h
Labels: bug

#4456 GPT-2 Attention Fusion without input mask
  onnxruntime/core/optimizer/attention_fusion.cc
  onnxruntime/core/optimizer/attention_fusion_helper.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/gpt2_one_layer.onnx
  onnxruntime/test/testdata/transform/fusion/gpt2_past_one_layer.onnx
Labels: GPT2

#4465 Update Convergence Baseline for github-onnxruntime-linux-gpu-training-e2e-tests
  orttraining/tools/ci_test/results/bert_base.convergence.baseline.csv
Labels: Training

#4418 Optimize CUDA Sum op kernel and refactor CUDA elementwise variadic input op kernels
  include/onnxruntime/core/framework/op_kernel.h
  onnxruntime/core/providers/cuda/cu_inc/binary_elementwise_impl.cuh
  onnxruntime/core/providers/cuda/cu_inc/variadic_elementwise_impl.cuh
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.h
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops_impl.cu
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops_impl_functors.cuh
  onnxruntime/core/providers/cuda/math/variadic_elementwise_ops.cc
  onnxruntime/core/providers/cuda/math/variadic_elementwise_ops.h
  onnxruntime/core/providers/cuda/math/variadic_elementwise_ops_impl.cu
  onnxruntime/core/providers/cuda/math/variadic_elementwise_ops_impl.h
  onnxruntime/core/providers/cuda/math/variadic_elementwise_ops_tags.h
  onnxruntime/core/providers/cuda/shared_inc/cuda_utils.h
  onnxruntime/test/providers/cpu/math/element_wise_ops_test.cc
Labels: Core, Training

#4471 Handle multiple embed nodes in transformer optimizer
  onnxruntime/core/optimizer/embed_layer_norm_fusion.cc
  onnxruntime/python/tools/transformers/fusion_embedlayer.py
  onnxruntime/python/tools/transformers/fusion_skiplayernorm.py
  onnxruntime/python/tools/transformers/onnx_model_bert.py
  onnxruntime/python/tools/transformers/optimizer.py
  onnxruntime/python/tools/transformers/test_optimizer.py
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/embed_layer_norm_gen.py
  onnxruntime/test/testdata/transform/fusion/embed_layer_norm_multiple.onnx
Labels: BERT

#4483 Make TArray safer to use and update method name for consistency.
  onnxruntime/contrib_ops/cuda/math/complex_mul_impl.cu
  onnxruntime/core/providers/cuda/cu_inc/binary_elementwise_impl.cuh
  onnxruntime/core/providers/cuda/shared_inc/cuda_utils.h
  onnxruntime/core/providers/cuda/tensor/expand_impl.cu
  onnxruntime/core/providers/cuda/tensor/resize_impl.cu
  onnxruntime/core/providers/cuda/tensor/scatter_elements_impl.cu
  onnxruntime/core/providers/cuda/tensor/slice.cc
  onnxruntime/core/providers/cuda/tensor/slice_impl.cu
  onnxruntime/core/providers/cuda/tensor/transpose_impl.cu
  onnxruntime/core/providers/cuda/tensor/where.cc
  onnxruntime/core/providers/cuda/tensor/where_impl.cu
  orttraining/orttraining/training_ops/cuda/math/div_grad_impl.cu
Labels: Core

#4497 updated expected values for frontend test to pass frontend e2e pipeline. raise tolerance to reduce future risk of failure
  onnxruntime/test/python/onnxruntime_test_ort_trainer_with_mixed_precision.py
  orttraining/orttraining/test/python/orttraining_run_glue.py
  tools/ci_build/build.py
Labels: Frontend, Training

#4500 Add option --torchscript in benchmark_gpt2.py
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
Labels: GPT2

#4321 support pipeline partition with shared initializer
  include/onnxruntime/core/graph/graph.h
  onnxruntime/core/common/path.cc
  onnxruntime/core/common/path.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/graph/graph_utils.cc
  onnxruntime/core/graph/graph_utils.h
  onnxruntime/test/common/path_test.cc
  orttraining/orttraining/core/graph/pipeline_transformer.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
Labels: Training

#4480 Liqun/multiple choice
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_run_multiple_choice.py
  orttraining/orttraining/test/python/utils_multiple_choice.py
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-frontend-test-ci-pipeline.yml
Labels: Frontend, Training

#4382 Add ORTTrainerOptions class for the new pytorch frontend
  cmake/onnxruntime_python.cmake
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/amp/__init__.py
  orttraining/orttraining/python/training/amp/loss_scaler.py
  orttraining/orttraining/python/training/optim/__init__.py
  orttraining/orttraining/python/training/optim/lr_scheduler.py
  orttraining/orttraining/python/training/optim/optimizer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  requirements-dev.txt
  requirements.txt
  tools/ci_build/build.py
Labels: component:training-core, component:training-frontend

#4416 Add _ORTTrainerModelDesc to perform validation for model description
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/_utils.py
  orttraining/orttraining/python/training/model_desc_validation.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core, component:training-frontend

#4306 Add Loss Scaler classes to the new frontend
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/amp/__init__.py
  orttraining/orttraining/python/training/amp/loss_scaler.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core, component:training-frontend

#4509 Replace loss function in BERT_LOSS with SoftmaxCrossEntropyLoss.
  onnxruntime/test/testdata/bert_toy_optimized.onnx
  orttraining/orttraining/core/graph/loss_func/bert_loss.cc
  orttraining/orttraining/core/graph/loss_func/bert_loss.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
Labels: component:training-core

#4256 Add TrainStepInfo used on the new frontend API
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core, component:training-frontend

#4524 Revise pipeline schedule to consider communication ops
  cmake/onnxruntime_unittests.cmake
  onnxruntime/core/framework/sequential_executor.cc
  orttraining/orttraining/models/runner/pipeline.cc
  orttraining/orttraining/models/runner/pipeline.h
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/test/distributed/pipeline_schedule_test.cc
Labels: component:training-core

#4280 Add Optimizer classes to the new frontend
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/optim/__init__.py
  orttraining/orttraining/python/training/optim/config.py
  orttraining/orttraining/python/training/optim/optimizer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core, component:training-frontend

#4357 Add LRScheduler implementation
  orttraining/orttraining/python/training/optim/__init__.py
  orttraining/orttraining/python/training/optim/lr_scheduler.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core, component:training-frontend

#4536 introduce macro ORT_API_MANUAL_INIT in C++ API
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/providers/dnnl/subgraph/dnnl_func_kernel.cc
  onnxruntime/test/testdata/custom_op_library/custom_op_library.cc
Labels: api:C/C++

#4435 Add basic ORTTrainer API
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/orttrainer.py
Labels: component:training-core, component:training-frontend

#4548 Exclude weight related types/shapes from bert loss.
  orttraining/orttraining/models/bert/main.cc
Labels: component:training-core

#4522 Internal ReduceSum op that accepts axes as input
  onnxruntime/core/providers/cpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/cpu/reduction/reduction_ops.h
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/core/providers/cuda/reduction/reduction_ops.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/training_ops/cpu/reduction/reduction_ops_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
Labels: component:training-core

#4511 Add the BroadcastGradientArgs op
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/training_ops/cpu/nn/broadcast_grad_args_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/nn/broadcast_grad_args.cc
  orttraining/orttraining/training_ops/cpu/nn/broadcast_grad_args.h
Labels: component:training-core

#4380 Add exception check in training_runner when worker runs into error, and misc check on nccl and mpi calls
  orttraining/orttraining/core/framework/mpi_setup.h
  orttraining/orttraining/models/runner/pipeline.h
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/training_ops/cuda/collective/nccl_common.cc
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/send.cc
Labels: component:training-core

#4591 Update Transformer Optimizer documents
  onnxruntime/python/tools/transformers/README.md
  onnxruntime/python/tools/transformers/convert_to_onnx.py
  onnxruntime/python/tools/transformers/gpt2_helper.py
Labels: model:BERT, model:GPT2

#4588 Move ReduceSumTraining op under orttraining
  onnxruntime/core/providers/cpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/cpu/reduction/reduction_ops.h
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/core/providers/cuda/reduction/reduction_ops.h
  orttraining/orttraining/training_ops/cpu/reduction/reduction_ops.cc
  orttraining/orttraining/training_ops/cpu/reduction/reduction_ops.h
  orttraining/orttraining/training_ops/cuda/reduction/reduction_ops.cc
  orttraining/orttraining/training_ops/cuda/reduction/reduction_ops.h
Labels: component:training-core

#4605 Update ModelDescription and minor fix on ORTTrainer ctor
  orttraining/orttraining/python/training/model_desc_validation.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#4601 GratherGard cuda kernel to accumulate in fp32
  orttraining/orttraining/training_ops/cuda/tensor/gather_grad_impl.cu
Labels: component:training-core

#4629 Fix misleading indentation
  orttraining/orttraining/training_ops/cpu/tensor/split.cc
Labels: component:training-core

#4586 Shape independent gradient builder for ops requiring broadcast
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
  onnxruntime/test/providers/provider_test_utils.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/gradient/gradient_checker.cc
  orttraining/orttraining/test/gradient/gradient_checker.h
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_ops/cpu/nn/broadcast_grad_args_test.cc
  orttraining/orttraining/training_ops/cpu/nn/broadcast_grad_args.cc
Labels: component:training-core

#4639 Changes to support TNLRV3 fine-tuning
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/test/gradient/gradient_op_test_utils.h
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core, component:training-frontend

#4668 Create training session + minor improvements
  orttraining/orttraining/python/training/model_desc_validation.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  samples/python/pytorch_transformer/README.md
  samples/python/pytorch_transformer/pt_model.py
Labels: component:training-frontend

#4670 Add GPT-2 test generation to convert_to_onnx.py
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
  onnxruntime/python/tools/transformers/convert_to_onnx.py
  onnxruntime/python/tools/transformers/gpt2_helper.py
  onnxruntime/python/tools/transformers/gpt2_tester.py
Labels: model:GPT2

#4547 Revise Send and Recv
  include/onnxruntime/core/framework/op_kernel.h
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/op_kernel.cc
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/framework/session_state.h
  orttraining/orttraining/training_ops/cuda/communication/common.h
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/recv.h
  orttraining/orttraining/training_ops/cuda/communication/send.cc
  orttraining/orttraining/training_ops/cuda/communication/send.h
Labels: component:training-core

#4671 Save ONNX model in file
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend
