Repository microsoft/onnxruntime, pull requests merged in 2020-06, with the labels that each got.

#4063 Training Python package fixes
  cmake/CMakeLists.txt
  cmake/onnxruntime_session.cmake
  cmake/onnxruntime_training.cmake
  cmake/onnxruntime_unittests.cmake
  setup.py
  tools/ci_build/github/azure-pipelines/azure-pipelines-py-packaging.yml
  tools/ci_build/github/azure-pipelines/c-api-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/centos-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-arm-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-ort-srv-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/cpu-featurizers.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/cpu-mklml.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/cpu-nocontribops-arm64.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/cpu.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/gpu.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
Labels: Core, Training

#4085 New perf metric - e2e throughput
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/tools/ci_test/run_bert_perf_test.py
  orttraining/tools/ci_test/run_gpt2_perf_test.py
  tools/perf_util/pom.xml
  tools/perf_util/src/main/java/com/msft/send_perf_metrics/App.java
  tools/perf_util/src/main/java/com/msft/send_perf_metrics/JdbcUtil.java
Labels: Training

#4088 Update GPT2 Model Benchmark Script to Support IO Binding
  onnxruntime/ReformatSourcePython.bat
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
Labels: GPT2

#4099 Exclude non-trainable torch buffers from trainable weights
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/python/ort_trainer.py
Labels: Training

#4117 still need to make the test stable. Lower the acc number a bit to mak…
  orttraining/orttraining/test/python/orttraining_run_glue.py
Labels: Frontend, Training

#4052 Fix DropoutGrad schema
  orttraining/orttraining/core/graph/gradient_schema_defs.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_ops/cpu/nn/dropout_op_test.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout.cc
Labels: Training

#4061 Bug fix for parameter names of models not using wrapper
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/python/ort_trainer.py
Labels: Frontend, Training

#4066 handle loss and name marching wrappers
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_test_transformers.py
  tools/ci_build/build.py
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
Labels: Frontend, Training

#4126 Add check of graph output in Bert Fusions
  onnxruntime/core/optimizer/attention_fusion.cc
  onnxruntime/core/optimizer/bias_gelu_fusion.cc
  onnxruntime/core/optimizer/embed_layer_norm_fusion.cc
  onnxruntime/core/optimizer/fast_gelu_fusion.cc
  onnxruntime/core/optimizer/gelu_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/core/optimizer/reshape_fusion.cc
  onnxruntime/core/optimizer/utils.cc
  onnxruntime/core/optimizer/utils.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/gelu_format2_0_with_bias_use_graph_output.onnx
  onnxruntime/test/testdata/transform/fusion/gelu_gen.py
Labels: BERT

#4142 Fix scaler->scalar typo.
  orttraining/orttraining/python/ort_trainer.py
Labels: Training

#4116 Discover trainable parameters using reverse DFS from loss node
  include/onnxruntime/core/graph/graph.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/test/ir/graph_test.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
Labels: Training

#4123 GatherNDGrad for CPU
  onnxruntime/core/providers/cpu/tensor/gather_nd.cc
  onnxruntime/core/providers/cpu/tensor/gather_nd.h
  orttraining/orttraining/test/training_ops/cpu/tensor/gather_grad_op_test.cc
  orttraining/orttraining/test/training_ops/cpu/tensor/gather_nd_grad_op_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/tensor/gather_nd_grad.cc
  orttraining/orttraining/training_ops/cpu/tensor/gather_nd_grad.h
  orttraining/orttraining/training_ops/cuda/tensor/gather_grad.cc
Labels: Training

#4107 Add past state support in Attention Op for GPT-2
  onnxruntime/contrib_ops/cpu/bert/attention.cc
  onnxruntime/contrib_ops/cpu/bert/attention.h
  onnxruntime/contrib_ops/cpu/bert/attention_helper.h
  onnxruntime/contrib_ops/cpu/quantization/attention_quant.cc
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/attention_impl.h
  onnxruntime/contrib_ops/cuda/quantization/attention_quantization.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/python/tools/transformers/BertOnnxModel.py
  onnxruntime/python/tools/transformers/Gpt2OnnxModel.py
  onnxruntime/python/tools/transformers/benchmark.py
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
  onnxruntime/python/tools/transformers/bert_perf_test.py
  onnxruntime/python/tools/transformers/bert_test_data.py
  onnxruntime/python/tools/transformers/dev_benchmark.cmd
  onnxruntime/python/tools/transformers/fusion_attention.py
  onnxruntime/python/tools/transformers/fusion_base.py
  onnxruntime/python/tools/transformers/fusion_biasgelu.py
  onnxruntime/python/tools/transformers/fusion_embedlayer.py
  onnxruntime/python/tools/transformers/fusion_gelu_approximation.py
  onnxruntime/python/tools/transformers/fusion_gpt_attention.py
  onnxruntime/python/tools/transformers/fusion_gpt_attention_no_past.py
  onnxruntime/python/tools/transformers/fusion_layernorm.py
  onnxruntime/python/tools/transformers/fusion_skiplayernorm.py
  onnxruntime/python/tools/transformers/optimizer.py
  onnxruntime/python/tools/transformers/pytest.ini
  onnxruntime/python/tools/transformers/test_data/gpt2_pytorch1.5_opset11/generate_tiny_gpt2_model.py
  onnxruntime/python/tools/transformers/test_data/gpt2_pytorch1.5_opset11/gpt2_past.onnx
  onnxruntime/python/tools/transformers/test_optimizer.py
  onnxruntime/test/contrib_ops/attention_op_test.cc
Labels: GPT2

#4204 Enable static memory planning for pipeline.
  include/onnxruntime/core/graph/node_arg.h
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/graph/graph.cc
  orttraining/orttraining/core/graph/pipeline_transformer.cc
Labels: Training

#4222 Use subset to release gradient tensors earlier
  orttraining/orttraining/core/graph/pipeline_transformer.cc
Labels: Training

#4168 Enable ORT with CUDA 11 toolkit
  cmake/CMakeLists.txt
  cmake/onnxruntime_graph.cmake
  cmake/onnxruntime_providers.cmake
  cmake/onnxruntime_training.cmake
  onnxruntime/core/providers/cuda/rnn/cudnn_rnn_base.h
  orttraining/orttraining/core/framework/mpi_setup.cc
  orttraining/orttraining/core/framework/mpi_setup.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/gpt2/main.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/graph/optimizer_graph_builder_test.cc
  tools/ci_build/build.py
Labels: Core, Training

#4041 Add ONNX Training Post-Passes to Front-End - Cont
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/postprocess.py
  orttraining/orttraining/test/python/onnxruntime_test_postprocess.py
  orttraining/orttraining/test/python/orttraining_test_bert_postprocess.py
  orttraining/orttraining/test/python/orttraining_test_utils.py
Labels: Frontend, Training

#4238 Opset12 upgrade for existing models used by perf/e2e pipelines
  orttraining/tools/ci_test/download_e2e_test_data.py
  orttraining/tools/ci_test/results/bert_base.convergence.baseline.csv
  orttraining/tools/ci_test/run_batch_size_test.py
  orttraining/tools/ci_test/run_bert_perf_test.py
  orttraining/tools/ci_test/run_convergence_test.py
  orttraining/tools/ci_test/run_gpt2_perf_test.py
  orttraining/tools/scripts/opset12_model_transform.py
Labels: Training

#4242 opset12 code cleanup
  orttraining/tools/ci_test/download_e2e_test_data.py
  orttraining/tools/ci_test/results/bert_base.convergence.baseline.csv
  orttraining/tools/scripts/opset12_model_transform.py
Labels: Training

#4224 Improve fast_divmod
  onnxruntime/core/providers/cuda/shared_inc/fast_divmod.h
Labels: Core, Training

#4239 Update PyTorch Bert notebooks
  onnxruntime/python/tools/transformers/bert_test_data.py
  onnxruntime/python/tools/transformers/compare_bert_results.py
  onnxruntime/python/tools/transformers/fusion_attention.py
  onnxruntime/python/tools/transformers/fusion_base.py
  onnxruntime/python/tools/transformers/fusion_biasgelu.py
  onnxruntime/python/tools/transformers/fusion_embedlayer.py
  onnxruntime/python/tools/transformers/fusion_fastgelu.py
  onnxruntime/python/tools/transformers/fusion_gelu.py
  onnxruntime/python/tools/transformers/fusion_gelu_approximation.py
  onnxruntime/python/tools/transformers/fusion_gpt_attention.py
  onnxruntime/python/tools/transformers/fusion_gpt_attention_no_past.py
  onnxruntime/python/tools/transformers/fusion_layernorm.py
  onnxruntime/python/tools/transformers/fusion_reshape.py
  onnxruntime/python/tools/transformers/fusion_skiplayernorm.py
  onnxruntime/python/tools/transformers/fusion_utils.py
  onnxruntime/python/tools/transformers/machine_info.py
  onnxruntime/python/tools/transformers/notebooks/PyTorch_Bert-Squad_OnnxRuntime_CPU.ipynb
  onnxruntime/python/tools/transformers/notebooks/PyTorch_Bert-Squad_OnnxRuntime_GPU.ipynb
  onnxruntime/python/tools/transformers/notebooks/Tensorflow_Keras_Bert-Squad_OnnxRuntime_CPU.ipynb
  onnxruntime/python/tools/transformers/onnx_model.py
  onnxruntime/python/tools/transformers/onnx_model_bert.py
  onnxruntime/python/tools/transformers/onnx_model_bert_keras.py
  onnxruntime/python/tools/transformers/onnx_model_bert_tf.py
  onnxruntime/python/tools/transformers/onnx_model_gpt2.py
  onnxruntime/python/tools/transformers/optimizer.py
  onnxruntime/python/tools/transformers/shape_optimizer.py
  onnxruntime/python/tools/transformers/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/generate_tiny_keras2onnx_bert_models.py
  onnxruntime/python/tools/transformers/test_data/gpt2_pytorch1.4_opset11_no_past/generate_tiny_gpt2_model.py
  onnxruntime/python/tools/transformers/test_data/gpt2_pytorch1.5_opset11/generate_tiny_gpt2_model.py
  onnxruntime/python/tools/transformers/test_optimizer.py
Labels: BERT

#4241 Fix a bug and add code to profile memory
  cmake/onnxruntime_providers.cmake
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/framework/session_state_initializer.cc
  onnxruntime/core/framework/simple_tensor_allocator.h
  onnxruntime/core/framework/tensor_allocator.h
  onnxruntime/core/framework/tensor_allocator_with_mem_pattern.h
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/recv.h
  orttraining/orttraining/training_ops/cuda/communication/send.cc
  orttraining/orttraining/training_ops/cuda/communication/send.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
Labels: Training

#4243 Bugfix for Shape Inference and GetShape during Gradient Building
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/core/graph/gradient_schema_defs.cc
  orttraining/orttraining/core/optimizer/insert_output_rewriter.cc
Labels: Training

#4275 Update gpt2 benchmark with position_ids and fp16
  onnxruntime/core/providers/cuda/math/matmul.cc
  onnxruntime/python/tools/transformers/benchmark.py
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
  onnxruntime/python/tools/transformers/onnx_model.py
  onnxruntime/python/tools/transformers/onnx_model_bert.py
  onnxruntime/python/tools/transformers/test_optimizer.py
Labels: GPT2

#4274 Update Bert Notebooks for ORT 1.3.0
  onnxruntime/python/tools/transformers/notebooks/PyTorch_Bert-Squad_OnnxRuntime_GPU.ipynb
  onnxruntime/python/tools/transformers/notebooks/Tensorflow_Keras_Bert-Squad_OnnxRuntime_CPU.ipynb
Labels: BERT

#4255 Fix session load state & run extra_postpasses only once
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/test/python/onnxruntime_test_postprocess.py
Labels: Frontend, Training

#4261 Refactor ReduceMean/Sum Gradient without Shape Dependency.
  onnxruntime/core/providers/cuda/tensor/expand_impl.cu
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
Labels: Training

#4246 Set NonZero Output Shape for Gradient Building.
  onnxruntime/test/testdata/transform/nonzero_shape_setter.onnx
  onnxruntime/test/testdata/transform/nonzero_shape_setter.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/nonzero_shape_setter.cc
  orttraining/orttraining/core/optimizer/nonzero_shape_setter.h
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
Labels: Training

#4314 Remove signed/unsigned compiler warnings, add additional pipeline test case
  orttraining/orttraining/core/framework/distributed_run_context.cc
  orttraining/orttraining/test/framework/distributed_run_context_test.cc
  orttraining/orttraining/test/optimizer/horizontal_parallel_test_utils.cc
Labels: Training

#4279 Match Reshape Subgraph Pattern For GPT2
  onnxruntime/core/optimizer/reshape_fusion.cc
  onnxruntime/core/optimizer/reshape_fusion.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/reshape_fusion_concat_subgraph_div.onnx
  onnxruntime/test/testdata/transform/fusion/reshape_fusion_concat_subgraph_mul.onnx
  onnxruntime/test/testdata/transform/fusion/reshape_fusion_gen.py
Labels: GPT2

#4312 Renaming --partition_optimizer to --deepspeed_zero
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/core/graph/optimizer_config.h
  orttraining/orttraining/core/graph/optimizer_graph_builder_registry.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/gpt2/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/graph/optimizer_graph_builder_test.cc
Labels: Training

#4146 Enable BiasGelu fusion for training
  onnxruntime/core/optimizer/bias_gelu_fusion.cc
  onnxruntime/core/optimizer/bias_gelu_fusion.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/gradient_schema_defs.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/optimizer/graph_transformer_utils_test.cc
  orttraining/orttraining/test/training_ops/cpu/activation/activation_op_test.cc
  orttraining/orttraining/test/training_ops/cuda/activations_test.cc
  orttraining/orttraining/training_ops/cpu/activation/activations_grad.cc
  orttraining/orttraining/training_ops/cpu/activation/activations_grad.h
  orttraining/orttraining/training_ops/cpu/activation/gelu_computation_mode.h
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/activation/activations_grad_impl.cu
  orttraining/orttraining/training_ops/cuda/activation/bias_gelu_grad.cc
  orttraining/orttraining/training_ops/cuda/activation/bias_gelu_grad.h
  orttraining/orttraining/training_ops/cuda/activation/bias_gelu_grad_impl.cu
  orttraining/orttraining/training_ops/cuda/activation/bias_gelu_grad_impl.h
  orttraining/orttraining/training_ops/cuda/activation/gelu_grad_impl_common.cuh
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
Labels: Core, Training

#4320 LayerNormFusion - Cast support
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/layer_norm_with_cast.onnx
Labels: Training

#4337 refactor prototypes into headers
  onnxruntime/python/onnxruntime_pybind_mlvalue.h
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
Labels: Frontend, Training

#4345 Support to build CUDA EP for NV Ampere GPU
  cmake/CMakeLists.txt
  cmake/onnxruntime_providers.cmake
Labels: Core, Training

#4330 Update Attention op to support attention mask for GPT-2
  onnxruntime/contrib_ops/cpu/bert/attention.cc
  onnxruntime/contrib_ops/cpu/bert/attention_cpu_base.h
  onnxruntime/contrib_ops/cpu/bert/attention_helper.h
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/attention_impl.h
  onnxruntime/contrib_ops/cuda/quantization/attention_quantization.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
  onnxruntime/python/tools/transformers/fusion_gpt_attention.py
  onnxruntime/test/contrib_ops/attention_op_test.cc
Labels: GPT2

#4375 adjust bs size for fp16/128 to avoid oom
  orttraining/tools/ci_test/run_bert_perf_test.py
Labels: Training

#4354 Match More EmbedLayerNormalization Patterns for Bert Model Graph Fusion
  onnxruntime/core/optimizer/embed_layer_norm_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/embed_layer_norm_format6.onnx
  onnxruntime/test/testdata/transform/fusion/embed_layer_norm_gen.py
Labels: BERT

#4167 BiasDropoutFusion
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/nn/dropout.cc
  onnxruntime/core/providers/cuda/nn/dropout.h
  onnxruntime/core/providers/cuda/nn/dropout_impl.cu
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  onnxruntime/test/testdata/transform/fusion/bias_dropout_fusion1.onnx
  onnxruntime/test/testdata/transform/fusion/bias_dropout_fusion2.onnx
  onnxruntime/test/testdata/transform/fusion/bias_dropout_residual_fusion1.onnx
  onnxruntime/test/testdata/transform/fusion/bias_dropout_residual_fusion2.onnx
  onnxruntime/test/testdata/transform/fusion/bias_dropout_residual_fusion_mismatch.onnx
  onnxruntime/test/testdata/transform/fusion/bias_dropout_residual_gen.py
  onnxruntime/test/testdata/transform/fusion/bias_trainabledropout_residual_fusion.onnx
  orttraining/orttraining/core/graph/gradient_schema_defs.cc
  orttraining/orttraining/core/optimizer/bias_dropout_fusion.cc
  orttraining/orttraining/core/optimizer/bias_dropout_fusion.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/test/training_ops/cpu/nn/dropout_op_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout.h
  orttraining/orttraining/training_ops/cuda/nn/dropout_impl.cu
  orttraining/orttraining/training_ops/cuda/nn/dropout_impl.h
Labels: Training
