Repository microsoft/onnxruntime, pull requests merged in 2020-09, with the labels that each got.

#4984 Fix state_dict/checkpoint issue introduced by #4639
  orttraining/orttraining/python/ort_trainer.py
Labels: component:training-frontend

#4648 support data parallel + pipeline parallel
  orttraining/orttraining/core/framework/distributed_run_context.cc
  orttraining/orttraining/core/framework/distributed_run_context.h
  orttraining/orttraining/core/graph/pipeline_transformer.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/test/framework/distributed_run_context_test.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
Labels: component:training-core

#4889 Use raw attention mask in BERT related fusions
  onnxruntime/contrib_ops/cpu/bert/attention.cc
  onnxruntime/core/optimizer/attention_fusion.cc
  onnxruntime/core/optimizer/embed_layer_norm_fusion.cc
  onnxruntime/python/tools/transformers/benchmark.py
  onnxruntime/python/tools/transformers/fusion_fastgelu.py
  onnxruntime/python/tools/transformers/onnx_exporter.py
  onnxruntime/python/tools/transformers/onnx_model_bert.py
  onnxruntime/python/tools/transformers/optimizer.py
  onnxruntime/python/tools/transformers/run_benchmark.sh
  onnxruntime/test/optimizer/graph_transform_test.cc
Labels: model:BERT

#4965 Port #4920 into the new pytorch frontend
  orttraining/orttraining/python/experimental/orttrainer.py
Labels: component:training-frontend

#5000 Pass Model Path to TensorProtoToMLValue from Constant Folding for External Inputs
  onnxruntime/core/optimizer/constant_folding.cc
  onnxruntime/core/optimizer/optimizer_execution_frame.cc
  onnxruntime/core/optimizer/optimizer_execution_frame.h
  onnxruntime/test/optimizer/optimizer_test.cc
Labels: component:training-core

#4966 Fix fetches when eval_step's input is a subset of train_step's input
  orttraining/orttraining/python/experimental/orttrainer.py
  samples/python/mnist/mnist_training.py
Labels: component:training-frontend

#4950 Fix checkpoint API and improve loss scaler handling
  orttraining/orttraining/python/experimental/amp/loss_scaler.py
  orttraining/orttraining/python/experimental/checkpoint.py
  orttraining/orttraining/python/experimental/model_desc_validation.py
  orttraining/orttraining/python/experimental/orttrainer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_bert_toy_onnx.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#5022 Gradient for Neg op
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#4914 Enable TF32 for training on A100
  onnxruntime/core/providers/cuda/cuda_common.h
  onnxruntime/core/providers/cuda/shared_inc/fpgeneric.h
Labels: component:training-core

#4968 Add flag to _internal_use to control export of contrib ops in ort trainer
  orttraining/orttraining/python/experimental/orttrainer.py
  orttraining/orttraining/python/experimental/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  tools/python/register_custom_ops_pytorch_exporter.py
Labels: component:training-frontend

#5027 Add deterministic path for AllReduceL2 (used to compute gradient norm)
  onnxruntime/test/providers/provider_test_utils.cc
  onnxruntime/test/providers/provider_test_utils.h
  orttraining/orttraining/test/training_ops/cpu/reduction/reduction_ops_test.cc
  orttraining/orttraining/training_ops/cuda/reduction/reduction_all.cc
  orttraining/orttraining/training_ops/cuda/reduction/reduction_all.cu
  orttraining/orttraining/training_ops/cuda/reduction/reduction_all.h
Labels: component:training-core

#5002 Update CODEOWNERS and minor docstring fix
  CODEOWNERS
  orttraining/orttraining/python/experimental/optim/lr_scheduler.py
Labels: component:training-frontend

#5037 Add warning to non pickable models
  orttraining/orttraining/python/experimental/orttrainer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_bert_toy_onnx.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#4942 to allow parallel training with mpi4py
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_transformer_trainer.py
Labels: component:training-frontend

#5052 Fix unregister pytorch export for contrib ops
  tools/python/register_custom_ops_pytorch_exporter.py
Labels: component:training-frontend

#5017 Re-enable CI tests for the new PyTorch frontend
  CODEOWNERS
  orttraining/orttraining/python/experimental/checkpoint.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_bert_toy_onnx.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  tools/ci_build/build.py
Labels: component:training-frontend

#4920 Fix initializer name only when wrapper is applied
  orttraining/orttraining/python/ort_trainer.py
Labels: component:training-frontend

#4856 Register OpSet13 CUDA Kernels for BERT/UniLMv2
  include/onnxruntime/core/framework/op_kernel.h
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/tensor/size.cc
  onnxruntime/core/providers/cuda/activation/activations.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/math/gemm.cc
  onnxruntime/core/providers/cuda/math/matmul.cc
  onnxruntime/core/providers/cuda/math/softmax.cc
  onnxruntime/core/providers/cuda/math/unary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/math/variadic_elementwise_ops.cc
  onnxruntime/core/providers/cuda/nn/dropout.cc
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/core/providers/cuda/tensor/cast_op.cc
  onnxruntime/core/providers/cuda/tensor/concat.cc
  onnxruntime/core/providers/cuda/tensor/expand.cc
  onnxruntime/core/providers/cuda/tensor/gather.cc
  onnxruntime/core/providers/cuda/tensor/gather_elements.cc
  onnxruntime/core/providers/cuda/tensor/gather_nd.cc
  onnxruntime/core/providers/cuda/tensor/nonzero_op.cc
  onnxruntime/core/providers/cuda/tensor/reshape.cc
  onnxruntime/core/providers/cuda/tensor/scatter_elements.cc
  onnxruntime/core/providers/cuda/tensor/shape_op.cc
  onnxruntime/core/providers/cuda/tensor/size.cc
  onnxruntime/core/providers/cuda/tensor/slice.cc
  onnxruntime/core/providers/cuda/tensor/split.cc
  onnxruntime/core/providers/cuda/tensor/squeeze.cc
  onnxruntime/core/providers/cuda/tensor/transpose.cc
  onnxruntime/core/providers/cuda/tensor/unsqueeze.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cc
Labels: component:training-core

#5064 Liqun/transformer test and e2e golden numbers
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_run_multiple_choice.py
  orttraining/orttraining/test/python/orttraining_test_transformers.py
  orttraining/orttraining/test/python/orttraining_test_utils.py
  tools/ci_build/build.py
Labels: component:training-frontend

#5021 Further populate Stop Gradient list
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
Labels: component:training-core

#5054 Replace MPI Send and Recv with NCCL Send and Recv
  cmake/onnxruntime_graph.cmake
  cmake/onnxruntime_providers.cmake
  orttraining/orttraining/models/runner/pipeline.h
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/training_ops/cuda/communication/nccl_service.cc
  orttraining/orttraining/training_ops/cuda/communication/nccl_service.h
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/send.cc
Labels: component:training-core

#5045 Move onnxruntime.experiment to onnxruntime.training namespace
  cmake/onnxruntime_python.cmake
  orttraining/orttraining/python/deprecated/__init__.py
  orttraining/orttraining/python/deprecated/training_session.py
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/_utils.py
  orttraining/orttraining/python/training/amp/__init__.py
  orttraining/orttraining/python/training/amp/loss_scaler.py
  orttraining/orttraining/python/training/checkpoint.py
  orttraining/orttraining/python/training/model_desc_validation.py
  orttraining/orttraining/python/training/optim/__init__.py
  orttraining/orttraining/python/training/optim/config.py
  orttraining/orttraining/python/training/optim/lr_scheduler.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/python/training/postprocess.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_bert_toy_onnx.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  orttraining/orttraining/test/python/orttraining_test_utils.py
  orttraining/orttraining/test/python/orttraining_transformer_trainer.py
  setup.py
Labels: component:training-frontend

#5039 unify error handling in pipeline transformer
  orttraining/orttraining/core/graph/pipeline_transformer.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
Labels: component:training-core

#5095 Not to call NVTX when not available
  orttraining/orttraining/training_ops/cuda/communication/nccl_service.cc
Labels: component:training-core, type:bug

#5097 Support Send and Recv for old NCCL versions
  cmake/CMakeLists.txt
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/training_ops/cuda/communication/nccl_service.cc
  orttraining/orttraining/training_ops/cuda/communication/nccl_service.h
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/send.cc
Labels: component:training-core, type:bug

#4994 Add GetStartTime() for profiler to get private profiling_start_time_
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/common/profiler.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/test/framework/inference_session_test.cc
  onnxruntime/test/shared_lib/test_inference.cc
Labels: release:1.5.0

#5183 MLAS: add sgemm weight prepacking
  onnxruntime/contrib_ops/cpu/bert/attention.cc
  onnxruntime/contrib_ops/cpu/bert/attention.h
  onnxruntime/contrib_ops/cuda/quantization/attention_quantization.h
  onnxruntime/core/mlas/inc/mlas.h
  onnxruntime/core/mlas/lib/mlasi.h
  onnxruntime/core/mlas/lib/qgemm.cpp
  onnxruntime/core/mlas/lib/sgemm.cpp
  onnxruntime/core/providers/cpu/math/matmul.cc
  onnxruntime/test/contrib_ops/attention_op_test.cc
  onnxruntime/test/mlas/unittest.cpp
  onnxruntime/test/providers/cpu/math/matmul_test.cc
Labels: release:1.5.0

#5181 Update MCR CUDA docker image to 10.2
  dockerfiles/Dockerfile.cuda
Labels: release:1.5.0

#5156 Improve error message for FE model export checking
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
Labels: component:training-frontend

#5186 Fix training docker image build
  dockerfiles/Dockerfile.training
  orttraining/orttraining/training_ops/cuda/communication/nccl_service.cc
Labels: release:orttraining_rc3

#5180 Refactor TensorAt, prepare for release
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/test/shared_lib/test_inference.cc
Labels: release:1.5.0

#5182 Use onecore umbrella lib in onecore builds
  cmake/CMakeLists.txt
  cmake/onnxruntime_providers.cmake
  cmake/store_toolchain.cmake
  cmake/target_delayload.cmake
  cmake/wcos_rules_override.cmake
  tools/ci_build/build.py
Labels: release:1.5.0

#4892 Mixed Precision Transformer and Gradient Builder Refactor
  onnxruntime/core/framework/tensorprotoutils.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/adasum_optimizer_graph_builder.cc
  orttraining/orttraining/core/graph/allreduce_optimizer_graph_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/graph_augmenter.cc
  orttraining/orttraining/core/graph/graph_augmenter.h
  orttraining/orttraining/core/graph/mixed_precision_transformer.cc
  orttraining/orttraining/core/graph/mixed_precision_transformer.h
  orttraining/orttraining/core/graph/optimizer/adam_optimizer_builder.cc
  orttraining/orttraining/core/graph/optimizer/lamb_optimizer_builder.cc
  orttraining/orttraining/core/graph/optimizer_config.h
  orttraining/orttraining/core/graph/optimizer_graph_builder.cc
  orttraining/orttraining/core/graph/optimizer_graph_builder.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/graph/zero_optimizer_graph_builder.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/gpt2/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/optimizer/adam.cc
  orttraining/orttraining/training_ops/cuda/optimizer/adam.cu
  orttraining/orttraining/training_ops/cuda/optimizer/adam.h
  orttraining/orttraining/training_ops/cuda/optimizer/lamb.cc
  orttraining/orttraining/training_ops/cuda/optimizer/lamb.cu
  orttraining/orttraining/training_ops/cuda/optimizer/lamb.h
Labels: component:training-core

#5194 MaxPool versioning in quantization tools.
  onnxruntime/python/tools/quantization/onnx_quantizer.py
  onnxruntime/python/tools/quantization/operators/maxpool.py
Labels: release:1.5.0

#5160 Fix softmax_warp_backward math when is_log_softmax = True and register LogSoftmax CUDA kernel
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/math/softmax.cc
  orttraining/orttraining/test/training_ops/cuda/softmax_test.cc
  orttraining/orttraining/training_ops/cuda/math/softmax_grad.cc
  orttraining/orttraining/training_ops/cuda/math/softmax_grad_impl.cu
Labels: component:training-core, release:orttraining_rc3

#5199 Add API to allow configuration of the global thread pools.
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/core/util/thread_utils.cc
  onnxruntime/test/global_thread_pools/test_main.cc
Labels: release:1.5.0

#5203 NCHWc optimizer fixes for quantized models
  onnxruntime/core/optimizer/nchwc_transformer.cc
  onnxruntime/test/optimizer/nchwc_optimizer_test.cc
Labels: release:1.5.0

#5205 Fix order of returned values in quantize_weight_per_channel in onnx_quantizer.py
  onnxruntime/python/tools/quantization/onnx_quantizer.py
Labels: release:1.5.0

#5217 Update conversion script and process to simplify creating ORT format models and a minimal build
  docs/ONNX_Runtime_for_Mobile_Platforms.md
  tools/ci_build/exclude_unused_ops.py
  tools/python/convert_onnx_model_to_ort.py
  tools/python/convert_onnx_models_to_ort.py
Labels: release:1.5.0

#5220 remove curand_generator_ related code since it is not used.
  onnxruntime/core/providers/cuda/cuda_common.h
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.h
Labels: component:training-core

#5215 Provide option to let layernorm stash mean/var as fp32 or bfloat16
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  orttraining/orttraining/core/graph/mixed_precision_transformer.cc
  orttraining/orttraining/core/graph/mixed_precision_transformer.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
Labels: component:training-core

#4937 Fuse softmax(a + b) in case of simple broadcast
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/math/bias_softmax.cc
  onnxruntime/contrib_ops/cuda/math/bias_softmax.h
  onnxruntime/contrib_ops/cuda/math/bias_softmax_impl.cu
  onnxruntime/core/framework/tensorprotoutils.cc
  onnxruntime/core/framework/tensorprotoutils.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/optimizer/bias_softmax_fusion.cc
  onnxruntime/core/optimizer/bias_softmax_fusion.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/test/contrib_ops/bias_softmax_op_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/bias_softmax_fusion_allleadingones.onnx
  onnxruntime/test/testdata/transform/fusion/bias_softmax_fusion_middleones.onnx
  onnxruntime/test/testdata/transform/fusion/bias_softmax_fusion_middleones_badaxis.onnx
  onnxruntime/test/testdata/transform/fusion/bias_softmax_fusion_middleones_reversed.onnx
  onnxruntime/test/testdata/transform/fusion/bias_softmax_fusion_noleadingones.onnx
  onnxruntime/test/testdata/transform/fusion/bias_softmax_fusion_simple.onnx
  onnxruntime/test/testdata/transform/fusion/bias_softmax_fusion_someleadingones.onnx
  onnxruntime/test/testdata/transform/fusion/bias_softmax_gen.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/session/training_session.cc
Labels: component:training-core

#5173 using GPU_WARP_SIZE to make kernel portable between AMD and Nvidia GPU
  onnxruntime/core/providers/cuda/reduction/reduction_functions.cu
Labels: component:coreruntime, component:training-core

#5229 Change how to set profile for dynamic shape graphs in TensorRT EP
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
Labels: release:1.5.0

#5150 Fix a bug in EmbedLayerNorm fusion
  onnxruntime/core/graph/graph_utils.cc
  onnxruntime/core/optimizer/embed_layer_norm_fusion.cc
  onnxruntime/python/tools/transformers/benchmark.py
  onnxruntime/python/tools/transformers/onnx_exporter.py
  onnxruntime/test/optimizer/graph_transform_test.cc
Labels: release:1.5.0

#5230 Fix TransposeScaleMatMul and MatMulScaleFusion issues
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/contrib_ops/cpu/transpose_scale_matmul.cc
  onnxruntime/contrib_ops/cpu/transpose_scale_matmul.h
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/math/transpose_scale_matmul.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/optimizer/matmul_scale_fusion.cc
  onnxruntime/core/optimizer/matmul_scale_fusion.h
  onnxruntime/core/optimizer/matmul_transpose_fusion.cc
  onnxruntime/test/contrib_ops/transpose_scale_matmul_op_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/matmul_scale_gen.py
  onnxruntime/test/testdata/transform/fusion/matmul_scale_int32.onnx
  onnxruntime/test/testdata/transform/fusion/matmul_scale_transposescalematmul_in0_in1_out.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_2d_fusion_from_transpose_scale_matmul.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_4d_fusion_invalid_default_perm.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_gen.py
  orttraining/orttraining/core/graph/gradient_builder.cc
Labels: component:optimizer, release:1.5.0, release:orttraining_rc3, triage:approved

#5238 update TensorRT docs
  BUILD.md
  docs/execution_providers/TensorRT-ExecutionProvider.md
Labels: release:1.5.0, triage:approved

#4940 Place shape related compute nodes in CPU
  include/onnxruntime/core/graph/graph_viewer.h
  onnxruntime/core/framework/fallback_cpu_capability.h
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
Labels: component:coreruntime, component:training-core

#5245 Place Shape's output in CPU memory
  onnxruntime/core/providers/cuda/tensor/shape_op.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
Labels: component:coreruntime, component:training-core

#5246 Fix possible ios build break after update to Xcode 12
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/graph/graph_flatbuffers_utils.cc
  tools/ci_build/build.py
Labels: release:1.5.0

#5240 Update BUILD.md training dependency info.
  BUILD.md
Labels: release:1.5.0, release:orttraining_rc3, triage:approved

#5107 [Training/Python] Add option to enable symbolic shape inference
  docs/python/notebooks/onnxruntime-nuphar-tutorial.ipynb
  onnxruntime/core/providers/nuphar/scripts/model_editor.py
  onnxruntime/core/providers/nuphar/scripts/model_quantizer.py
  onnxruntime/core/providers/nuphar/scripts/rnn_benchmark.py
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/test/python/onnxruntime_test_python_symbolic_shape_infer.py
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#5252 Fix reshape fusion crash
  onnxruntime/core/graph/graph_utils.cc
Labels: release:1.5.0, triage:approved

#5244 Handle missing initializers in allocation planner to fix crashes with DML provider
  onnxruntime/core/framework/allocation_planner.cc
Labels: release:1.5.0

#5223 [java] Fixing the buffer semantics.
  java/src/main/java/ai/onnxruntime/OnnxTensor.java
  java/src/main/java/ai/onnxruntime/TensorInfo.java
  java/src/main/native/ai_onnxruntime_OnnxTensor.c
  java/src/test/java/ai/onnxruntime/InferenceTest.java
Labels: release:1.5.0, triage:approved

#5263 ORT DirectML EP for Iron release, ONNX 1.5 (part 2)
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/FusedGraphKernel.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/GraphKernelHelper.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/GraphKernelHelper.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/GraphPartitioner.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperator.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperator.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorCast.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorTopk.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorUtility.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/TensorDesc.h
Labels: release:1.5.0

#5264 Fix bug in the back to back quantization of matmul and conv
  onnxruntime/python/tools/quantization/onnx_model.py
  onnxruntime/python/tools/quantization/operators/conv.py
  onnxruntime/python/tools/quantization/operators/gather.py
  onnxruntime/python/tools/quantization/operators/matmul.py
Labels: release:1.5.0

#5261 Synchronize training dependency versions between Docker image and Python wheel.
  BUILD.md
  dockerfiles/Dockerfile.training
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_gpu
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
  tools/ci_build/github/linux/docker/scripts/install_openmpi.sh
  tools/ci_build/github/linux/docker/scripts/training/requirements.txt
Labels: release:orttraining_rc3

#5274 Update DirectML Nuget to 1.3.0
  cmake/external/dml.cmake
  docs/execution_providers/DirectML-ExecutionProvider.md
  packages.config
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.5.0

#5275 Fix PyTorch TransformerModel sample
  samples/python/pytorch_transformer/README.md
  samples/python/pytorch_transformer/ort_train.py
  samples/python/pytorch_transformer/pt_train.py
Labels: component:training-frontend, release:1.5.0, release:orttraining_rc3, triage:approved

#5278 Enable telemetry in Java packages
  tools/ci_build/github/azure-pipelines/java-api-packaging-pipelines-gpu.yml
  tools/ci_build/github/azure-pipelines/java-api-packaging-pipelines.yml
Labels: release:1.5.0, triage:approved

#4526 Transformer layer-wise Recompute
  include/onnxruntime/core/graph/graph.h
  include/onnxruntime/core/graph/graph_viewer.h
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/allocation_planner.h
  onnxruntime/core/framework/session_options.h
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/graph/graph_viewer.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/ir/graph_test.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/optimizer/dropout_recompute.cc
  orttraining/orttraining/core/optimizer/dropout_recompute.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/localized_recompute.cc
  orttraining/orttraining/core/optimizer/transformer_layer_recompute.cc
  orttraining/orttraining/core/optimizer/transformer_layer_recompute.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
Labels: component:coreruntime, component:training-core

#5224 add bert loss legacy back
  orttraining/orttraining/core/graph/loss_func/bert_loss_legacy.cc
  orttraining/orttraining/core/graph/loss_func/bert_loss_legacy.h
  orttraining/orttraining/core/graph/loss_function_registry.cc
Labels: component:training-core

#5294 Transpose kernel fix for illegal memory access error
  onnxruntime/core/providers/cuda/fpgeneric.cu
Labels: component:training-core

#5204 Remove Useless Cast from Contiguous Cast Nodes
  onnxruntime/core/optimizer/insert_cast_transformer.cc
  onnxruntime/test/framework/insert_cast_transformer_test.cc
Labels: component:training-core

#5191 Scale Op for ReduceMeanGrad.
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
  orttraining/orttraining/test/training_ops/cuda/scale_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/math/scale.cc
  orttraining/orttraining/training_ops/cpu/math/scale.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/math/scale.cc
  orttraining/orttraining/training_ops/cuda/math/scale.cu
  orttraining/orttraining/training_ops/cuda/math/scale.h
Labels: component:training-core

#5314 to skip an unstable test to unblock release
  tools/ci_build/build.py
Labels: component:training-frontend
