Repository microsoft/onnxruntime, pull requests merged in 2020-08, with the labels that each got.

#4637 Added Dockerfile and build instructions for Jetson. Also set CUDA arch set automatically.
  BUILD.md
  cmake/CMakeLists.txt
  dockerfiles/Dockerfile.jetson
  dockerfiles/README.md
Labels: platform:jetson

#4677 Add train_step
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#4669 Enable MatMul + Scale fusion
  include/onnxruntime/core/optimizer/graph_transformer_level.h
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/contrib_ops/cpu/transpose_scale_matmul.cc
  onnxruntime/contrib_ops/cpu/transpose_scale_matmul.h
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/math/transpose_scale_matmul.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/matmul_scale_fusion.cc
  onnxruntime/core/optimizer/matmul_scale_fusion.h
  onnxruntime/core/optimizer/matmul_transpose_fusion.cc
  onnxruntime/core/providers/cuda/math/matmul.cc
  onnxruntime/core/providers/cuda/math/matmul.h
  onnxruntime/test/contrib_ops/transpose_scale_matmul_op_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/matmul_scale_gen.py
  onnxruntime/test/testdata/transform/fusion/matmul_scale_in0.onnx
  onnxruntime/test/testdata/transform/fusion/matmul_scale_in0_in1.onnx
  onnxruntime/test/testdata/transform/fusion/matmul_scale_in0_in1_out.onnx
  onnxruntime/test/testdata/transform/fusion/matmul_scale_reused_input_scale.onnx
  onnxruntime/test/testdata/transform/fusion/matmul_scale_transposescalematmul_in0_in1_out.onnx
  onnxruntime/test/testdata/transform/fusion/matmul_scale_unfusable_div_not_scale.onnx
  onnxruntime/test/testdata/transform/fusion/matmul_scale_unfusable_scale_not_constant.onnx
  onnxruntime/test/testdata/transform/fusion/matmul_scale_unfusable_scale_not_scalar.onnx
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/test/optimizer/graph_transformer_utils_test.cc
Labels: component:optimizer, component:training-core

#4402 Localized Recompute for Gelu and AttentionDropout
  include/onnxruntime/core/graph/graph_viewer.h
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/graph/graph_viewer.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/gradient_builder_registry.h
  orttraining/orttraining/core/graph/gradient_config.h
  orttraining/orttraining/core/graph/recompute_graph_utils.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.h
  orttraining/orttraining/core/optimizer/localized_recompute.cc
  orttraining/orttraining/core/optimizer/localized_recompute.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/gradient/gradient_checker.cc
  orttraining/orttraining/test/gradient/gradient_op_test_utils.cc
Labels: component:training-core

#4578 Add initial Dockerfile for distributed training targets
  ThirdPartyNotices.txt
  cgmanifests/cgmanifest.json
  dockerfiles/Dockerfile.training
Labels: component:training-core

#4727 Add legacy vs experimental ORTTrainer accuracy comparison
  orttraining/orttraining/python/training/debug.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  samples/python/pytorch_transformer/ort_utils.py
Labels: component:training-frontend

#4675 Shape independent gradient builder for Concat
  onnxruntime/test/testdata/transform/concat_graph_gen.py
  onnxruntime/test/testdata/transform/concat_trainable.onnx
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/optimizer/concat_replacement.cc
  orttraining/orttraining/core/optimizer/concat_replacement.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/gradient/gradient_checker.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
Labels: component:training-core

#4712 Revert "Remove code which is not thread-safe. (#4454)"
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/finalize_session_state.cc
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/framework/simple_tensor_allocator.h
  onnxruntime/core/framework/tensor_allocator.h
  onnxruntime/core/framework/tensor_allocator_with_mem_pattern.h
Labels: component:coreruntime

#4719 Support log sigmoid gradient
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#4734 Remove docstring for removed parameter
  orttraining/orttraining/python/ort_trainer.py
Labels: component:training-frontend

#4722 C# ResNet50 v2 sample/tutorial
  csharp/sample/Microsoft.ML.OnnxRuntime.ResNet50v2Sample/LabelMap.cs
  csharp/sample/Microsoft.ML.OnnxRuntime.ResNet50v2Sample/Microsoft.ML.OnnxRuntime.ResNet50v2Sample.csproj
  csharp/sample/Microsoft.ML.OnnxRuntime.ResNet50v2Sample/Prediction.cs
  csharp/sample/Microsoft.ML.OnnxRuntime.ResNet50v2Sample/Program.cs
  csharp/sample/Microsoft.ML.OnnxRuntime.ResNet50v2Sample/README.md
  csharp/sample/Microsoft.ML.OnnxRuntime.ResNet50v2Sample/dog.jpeg
  samples/README.md
Labels: api:C#

#4732 Update Bert CPU Notebook
  onnxruntime/python/tools/transformers/notebooks/PyTorch_Bert-Squad_OnnxRuntime_CPU.ipynb
Labels: model:BERT

#4452 Improve shape inference for OneHot
  onnxruntime/core/providers/nuphar/scripts/symbolic_shape_infer.py
Labels: component:onnx, ep:NUPHAR

#4579 Avoid duplicated calls of postprocess in training frontend
  orttraining/orttraining/python/ort_trainer.py
Labels: component:training-frontend

#4728 Transpose MatMul fusion fixes
  onnxruntime/core/optimizer/matmul_scale_fusion.h
  onnxruntime/core/optimizer/matmul_transpose_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_2d_fusion_from_transpose_scale_matmul.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_4d_fusion_invalid_default_perm.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_gen.py
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_run_multiple_choice.py
Labels: component:optimizer

#4739 Add Mixed precision/LossScaler + several fixes
  orttraining/orttraining/python/training/_utils.py
  orttraining/orttraining/python/training/amp/__init__.py
  orttraining/orttraining/python/training/amp/loss_scaler.py
  orttraining/orttraining/python/training/debug.py
  orttraining/orttraining/python/training/model_desc_validation.py
  orttraining/orttraining/python/training/optim/lr_scheduler.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  samples/python/pytorch_transformer/ort_utils.py
Labels: component:training-frontend

#4753 Optimize Slice Kernel by Removing If-statement
  onnxruntime/core/providers/cuda/tensor/slice_impl.cu
Labels: component:training-core

#4758 Add dynamic axes support to training
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_bert_toy_onnx.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  samples/python/pytorch_transformer/ort_utils.py
Labels: component:training-frontend

#4772 Update DeepSpeed Zero Stage option from integer to a separate option group
  orttraining/orttraining/python/training/_utils.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  samples/python/pytorch_transformer/ort_utils.py
Labels: component:training-frontend

#4750 Add --no_attention_mask option in optimizer tools
  onnxruntime/python/tools/transformers/fusion_attention.py
  onnxruntime/python/tools/transformers/onnx_model.py
  onnxruntime/python/tools/transformers/onnx_model_bert.py
  onnxruntime/python/tools/transformers/optimizer.py
Labels: model:BERT

#4767 Honor allow_spinning at barrier at end of parallel sections
  include/onnxruntime/core/platform/Barrier.h
  include/onnxruntime/core/platform/EigenNonBlockingThreadPool.h
  onnxruntime/test/platform/barrier_test.cc
Labels: component:coreruntime

#4730 Changes for BART dynamic shapes in reduction
  onnxruntime/core/providers/cuda/reduction/reduction_functions.cu
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/core/providers/cuda/reduction/reduction_ops.h
Labels: component:training-core

#4395 Java API: Documentation cleanup
  README.md
  docs/Java_API.md
  java/README.md
Labels: api:Java, component:documentation

#4777 Add support to fetches for train_step and eval_step
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#4795 Fix Dynamic Axes feature and add unit test
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  samples/python/pytorch_transformer/ort_utils.py
Labels: component:training-frontend

#4731 Using cublasGemmBatchedEx/cublasGemmStridedBatchedEx for training
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/attention_impl.h
  onnxruntime/contrib_ops/cuda/quantization/attention_quantization.cc
  onnxruntime/core/providers/cuda/cuda_common.h
  onnxruntime/core/providers/cuda/math/einsum_utils/einsum_auxiliary_ops.cc
  onnxruntime/core/providers/cuda/math/matmul.cc
  onnxruntime/core/providers/cuda/shared_inc/fpgeneric.h
Labels: component:training-core

#4807 Add frozen weights test
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#4799 Update GPT-2 notebook with text generation example
  onnxruntime/python/tools/transformers/notebooks/Inference_GPT2_with_OnnxRuntime_on_CPU.ipynb
Labels: model:GPT2

#4828 Register cerberus license into ThirdPartyNotices.txt
  ThirdPartyNotices.txt
Labels: component:training-frontend

#4830 Check status of element-wise op prepare functions.
  onnxruntime/contrib_ops/cuda/activation/activations.cc
  onnxruntime/contrib_ops/cuda/math/complex_mul.cc
  onnxruntime/core/providers/cuda/activation/activations.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/math/unary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  orttraining/orttraining/training_ops/cuda/activation/activations_grad.cc
Labels: ep:CUDA

#4826 Update LambConfig defaults to match backend
  orttraining/orttraining/python/experimental/optim/config.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#4827 Add More Extensive ONNX BERT Tests
  orttraining/orttraining/test/python/orttraining_test_orttrainer_bert_toy_onnx.py
Labels: component:training-frontend

#4833 Fix issue preventing loss scaler to run properly
  orttraining/orttraining/python/experimental/model_desc_validation.py
  orttraining/orttraining/python/experimental/orttrainer.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#4744 Fix for mainz model
  onnxruntime/core/framework/allocation_planner.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder_base.cc
Labels: component:training-core

#4837 Support OpSet13 when Transformers checking Op versions.
  include/onnxruntime/core/framework/data_types.h
  onnxruntime/core/optimizer/bias_gelu_fusion.cc
  onnxruntime/core/optimizer/conv_activation_fusion.cc
  onnxruntime/core/optimizer/conv_add_fusion.cc
  onnxruntime/core/optimizer/conv_mul_fusion.cc
  onnxruntime/core/optimizer/dropout_elimination.cc
  onnxruntime/core/optimizer/dynamic_quantize_matmul_fusion.cc
  onnxruntime/core/optimizer/embed_layer_norm_fusion.cc
  onnxruntime/core/optimizer/fast_gelu_fusion.cc
  onnxruntime/core/optimizer/gelu_approximation.cc
  onnxruntime/core/optimizer/gelu_fusion.cc
  onnxruntime/core/optimizer/gemm_activation_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/core/optimizer/matmul_add_fusion.cc
  onnxruntime/core/optimizer/matmul_scale_fusion.cc
  onnxruntime/core/optimizer/matmul_transpose_fusion.cc
  onnxruntime/core/optimizer/nchwc_transformer.cc
  onnxruntime/core/optimizer/relu_clip_fusion.cc
  onnxruntime/core/optimizer/reshape_fusion.cc
  onnxruntime/core/optimizer/shape_to_initializer.cc
  onnxruntime/core/optimizer/skip_layer_norm_fusion.cc
  onnxruntime/core/optimizer/slice_elimination.cc
  orttraining/orttraining/core/optimizer/bias_dropout_fusion.cc
  orttraining/orttraining/core/optimizer/insert_output_rewriter.cc
  orttraining/orttraining/core/optimizer/megatron_transformer.cc
Labels: component:training-core

#4855 Port legacy checkpoint API into new front-end
  orttraining/orttraining/python/experimental/checkpoint.py
  orttraining/orttraining/python/experimental/orttrainer.py
  orttraining/orttraining/python/experimental/orttrainer_options.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_bert_toy_onnx.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-frontend

#4842 match glue numbders
  orttraining/orttraining/python/experimental/model_desc_validation.py
  orttraining/orttraining/python/experimental/orttrainer.py
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_transformer_trainer.py
Labels: component:training-frontend

#4865 update golden numbers
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_run_multiple_choice.py
Labels: component:training-frontend

#4903 Fix telemetry-steps.yml
  tools/ci_build/github/azure-pipelines/templates/telemetry-steps.yml
Labels: component:build

#4849 Support scalar tensors in c#
  csharp/src/Microsoft.ML.OnnxRuntime/Tensors/ArrayUtilities.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Tensors/DenseTensor.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Tensors/Tensor.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests/Tensors/TensorTests.cs
Labels: api:C#

#4868 Size Op - CUDA kernel support
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/tensor/size.cc
Labels: component:training-core

#4919 Remove cerberus from wheel package
  requirements.txt
Labels: component:training-frontend

#4918 matching multiple choice between new and old apis
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_run_multiple_choice.py
  orttraining/orttraining/test/python/orttraining_transformer_trainer.py
Labels: component:training-frontend

#4926 Fix mnist example
  orttraining/pytorch_frontend_examples/mnist_training.py
Labels: component:training-frontend

#4899 MatMul Gradient optimization for dB when B's is 2D tensor
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
Labels: component:training-core

#4913 bfloat16 and opset13 related fix
  onnxruntime/core/graph/function.cc
  onnxruntime/core/providers/cpu/activation/activations.cc
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/math/element_wise_ops.cc
  onnxruntime/core/providers/cpu/tensor/unsqueeze.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: component:coreruntime, component:training-core

#4748 Support DistilBert's Attention fusion in Optimizer
  onnxruntime/core/optimizer/attention_fusion.cc
  onnxruntime/core/optimizer/attention_fusion_helper.h
  onnxruntime/core/optimizer/utils.cc
  onnxruntime/core/optimizer/utils.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/attention_distilbert.onnx
  onnxruntime/test/testdata/transform/fusion/attention_gen.py
Labels: model:BERT

#4916 Put operators in-between Wait and Record
  onnxruntime/core/framework/sequential_executor.cc
  orttraining/orttraining/core/graph/pipeline_transformer.cc
  orttraining/orttraining/core/graph/pipeline_transformer.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/runner/pipeline.cc
  orttraining/orttraining/models/runner/pipeline.h
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/test/distributed/pipeline_schedule_test.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
  orttraining/orttraining/training_ops/cpu/controlflow/event_pool.cc
  orttraining/orttraining/training_ops/cpu/controlflow/event_pool.h
  orttraining/orttraining/training_ops/cpu/controlflow/wait.cc
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/send.cc
  orttraining/orttraining/training_ops/cuda/controlflow/record.cc
  orttraining/orttraining/training_ops/cuda/controlflow/wait.cc
Labels: component:training-core

#4764 Support RegisterCustomOpsLibrary via the Python API
  docs/AddingCustomOp.md
  onnxruntime/core/session/custom_ops.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  onnxruntime/test/python/onnxruntime_test_python.py
  orttraining/orttraining/python/orttraining_pybind_state.cc
Labels: api:Python

#4977 Optimize MatmulGradient when B is 2D weight
  onnxruntime/core/providers/cpu/tensor/reshape_helper.h
  orttraining/orttraining/core/graph/gradient_builder.cc
Labels: component:training-core

#4921 Add more node debug dump functionality.
  BUILD.md
  cmake/CMakeLists.txt
  cmake/onnxruntime_framework.cmake
  cmake/onnxruntime_unittests.cmake
  onnxruntime/core/framework/debug_node_inputs_outputs_utils.cc
  onnxruntime/core/framework/debug_node_inputs_outputs_utils.h
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/framework/utils.h
  onnxruntime/test/framework/debug_node_inputs_outputs_utils_test.cc
  onnxruntime/test/util/include/scoped_env_vars.h
  onnxruntime/test/util/scoped_env_vars.cc
Labels: component:coreruntime

#4979 Disable NegativeLogLikelihoodLoss_LargeSizeTensor test
  orttraining/orttraining/test/training_ops/cuda/negativeloglikelihood_test.cc
Labels: component:training-core
