Repository microsoft/onnxruntime, pull requests merged in 2020-10, with the labels that each got.

#5318 Expose recompute configs to the frontend
  include/onnxruntime/core/optimizer/graph_transformer.h
  onnxruntime/__init__.py
  onnxruntime/core/optimizer/graph_transformer_mgr.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/localized_recompute.cc
  orttraining/orttraining/core/optimizer/localized_recompute.h
  orttraining/orttraining/core/optimizer/transformer_layer_recompute.cc
  orttraining/orttraining/core/optimizer/transformer_layer_recompute.h
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core, component:training-frontend

#4265 Use single thread when pipeline is not enabled in TrainingRunner
  orttraining/orttraining/models/runner/training_runner.cc
Labels: component:training-core

#5371 Place allfinite tensor on CPU when using Python FE
  orttraining/orttraining/python/training/orttrainer.py
Labels: component:training-frontend

#5420 bump version to 1.5.2
  VERSION_NUMBER
  docs/Versioning.md
  docs/python/README.rst
  nodejs/package-lock.json
  nodejs/package.json
  onnxruntime/__init__.py
  onnxruntime/python/tools/transformers/optimizer.py
  package/rpm/onnxruntime.spec
Labels: release:1.5.2

#5430 Avoid inserting other CUDA calls in-between NCCL Send's and Recv's
  orttraining/orttraining/models/mnist/main.cc
  orttraining/orttraining/training_ops/cuda/communication/nccl_service.cc
  orttraining/orttraining/training_ops/cuda/communication/nccl_service.h
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/send.cc
Labels: type:bug

#5028 Simplified layer norm changes
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/contrib_ops/cpu/layer_norm.cc
  onnxruntime/contrib_ops/cpu/layer_norm.h
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/layer_norm.cc
  onnxruntime/contrib_ops/cuda/layer_norm.h
  onnxruntime/contrib_ops/cuda/layer_norm_impl.cu
  onnxruntime/contrib_ops/cuda/layer_norm_impl.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.h
  onnxruntime/test/contrib_ops/layer_norm_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/layer_norm_t5.onnx
  onnxruntime/test/testdata/transform/fusion/layer_norm_t5_gen.py
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_ops/cuda/layer_norm_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/nn/layer_norm.cc
  orttraining/orttraining/training_ops/cpu/nn/layer_norm.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/nn/layer_norm.cc
  orttraining/orttraining/training_ops/cuda/nn/layer_norm.h
  orttraining/orttraining/training_ops/cuda/nn/layer_norm_impl.cu
  orttraining/orttraining/training_ops/cuda/nn/layer_norm_impl.h
Labels: component:training-core

#5438 Add ExpGrad registration and test.
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#5444 Update maximum batch size for UT; Include recompute modes
  orttraining/orttraining/core/optimizer/localized_recompute.cc
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  orttraining/tools/ci_test/run_batch_size_test.py
Labels: component:training-core

#5501 Add type inference for BroadcastGradientArgs
  orttraining/orttraining/core/graph/training_op_defs.cc
Labels: component:training-core

#5461 Add FlattenGrad registration and test.
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#5462 Mark the dX and dB outputs of ConvGrad as OpSchema::Optional.
  orttraining/orttraining/core/graph/training_op_defs.cc
Labels: component:training-core

#5518 Add fallback function implementation for DivGrad
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#5531 GatherND - add Cuda support for int64 on opset 12
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/tensor/gather_nd.cc
Labels: component:training-core

#5511 GatherElementsGrad CPU Kernel and TopKGrad CPU/CUDA Kernel
  onnxruntime/core/providers/cpu/tensor/scatter.cc
  onnxruntime/core/providers/cuda/tensor/scatter_elements_impl.cu
  onnxruntime/test/providers/cpu/tensor/scatter_op_test.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/tensor/gather_elements_grad.cc
  orttraining/orttraining/training_ops/cpu/tensor/gather_elements_grad.h
  orttraining/orttraining/training_ops/cpu/tensor/gather_elements_grad_impl.h
Labels: component:training-core

#5562 NVTX label change
  onnxruntime/core/framework/sequential_executor.cc
Labels: component:training-core

#5504 Enable CommonSubexpressionElimination in training.
  onnxruntime/core/optimizer/common_subexpression_elimination.h
  onnxruntime/test/optimizer/cse_test.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: component:training-core

#5524 GatherGrad optimization
  onnxruntime/contrib_ops/cuda/math/bias_softmax_impl.cu
  onnxruntime/core/providers/cuda/cu_inc/common.cuh
  onnxruntime/core/providers/cuda/math/softmax.cc
  onnxruntime/core/providers/cuda/math/softmax.h
  onnxruntime/core/providers/cuda/shared_inc/accumulation_type.h
  onnxruntime/test/framework/debug_node_inputs_outputs_utils_test.cc
  onnxruntime/test/providers/cpu/controlflow/loop_test.cc
  onnxruntime/test/providers/provider_test_utils.cc
  onnxruntime/test/providers/provider_test_utils.h
  orttraining/orttraining/models/pipeline_poc/main.cc
  orttraining/orttraining/test/gradient/gradient_op_test_utils.cc
  orttraining/orttraining/test/training_ops/cpu/nn/dropout_op_test.cc
  orttraining/orttraining/test/training_ops/cpu/tensor/gather_grad_op_test.cc
  orttraining/orttraining/training_ops/cuda/math/softmax_grad.cc
  orttraining/orttraining/training_ops/cuda/reduction/reduction_all.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_grad.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_grad_impl.cu
  orttraining/orttraining/training_ops/cuda/tensor/gather_grad_impl.h
Labels: component:training-core, ep:CUDA, type:performance

#5588 Dropout op elimination - enable for ORT training
  onnxruntime/core/optimizer/dropout_elimination.cc
  onnxruntime/test/testdata/transform/dropout_ratio.onnx
  onnxruntime/test/testdata/transform/dropout_zeroratio_elimination.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
Labels: component:training-core

#5606 Liqun/remove number matching
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_run_multiple_choice.py
  orttraining/orttraining/test/python/orttraining_transformer_trainer.py
  orttraining/tools/ci_test/download_e2e_test_data.py
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-e2e-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-frontend-test-ci-pipeline.yml
  tools/ci_build/github/linux/docker/scripts/training/requirements.txt
Labels: component:training-frontend

#5508 batch size tests
  orttraining/orttraining/test/python/orttraining_run_bert_pretrain.py
  orttraining/orttraining/test/python/orttraining_run_frontend_batch_size_test.py
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_run_multiple_choice.py
  tools/ci_build/build.py
Labels: component:training-frontend

#5626 Bugfix for Name of Gradient Constant
  orttraining/orttraining/core/graph/gradient_builder_base.h
Labels: component:training-core
