Repository microsoft/onnxruntime, pull requests merged in 2020-12, with the labels that each got.

#5974 Support the cross compiling for Apple Silicon
  BUILD.md
  tools/ci_build/build.py
Labels: release:1.6

#5906 Replace direct pulls from image cache container registry with get_docker_image.py, build definition clean up.
  csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests/runtest-docker-gpu.sh
  csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests/runtest-docker.sh
  tools/ci_build/github/azure-pipelines/c-api-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/java-api-packaging-pipelines-gpu.yml
  tools/ci_build/github/azure-pipelines/java-api-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-cpu-minimal-build-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-dnnl-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-gpu-cuda-11-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-multi-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-nocontribops-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/nodejs/templates/cpu.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/cpu-mklml.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/cpu-nocontribops-arm64.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/cpu-noopenmp.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/cpu.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/gpu.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/test_linux.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/get-docker-image-steps.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/run-docker-build-steps.yml
  tools/ci_build/github/azure-pipelines/templates/set-py-packaging-variables-step.yml
  tools/ci_build/github/azure-pipelines/templates/set-python-manylinux-variables-step.yml
  tools/ci_build/github/azure-pipelines/templates/with-build-docker-image-cache-steps.yml
  tools/ci_build/github/azure-pipelines/templates/with-container-registry-steps.yml
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: component:build

#6008 Fuse MatMulIntegerToFloat only when scales are scalar
  onnxruntime/core/optimizer/matmul_integer_to_float.cc
  onnxruntime/core/optimizer/utils.cc
  onnxruntime/core/optimizer/utils.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/matmul_integer_to_float.onnx
  onnxruntime/test/testdata/transform/fusion/matmul_integer_to_float.py
Labels: release:1.6

#5916 Fix PR #5550 reverted in #5911 (performance improvment for operator Transpose)
  onnxruntime/core/providers/cpu/tensor/transpose.cc
  onnxruntime/core/providers/cpu/tensor/transpose.h
  onnxruntime/test/providers/cpu/tensor/transpose_test.cc
Labels: release:1.6

#6005 Initialize a structure in operator ReduceSum
  onnxruntime/core/providers/cpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/cpu/reduction/reduction_ops.h
Labels: release:1.6

#5965 Make operator TreeEnsemble 5x faster for batches of size 100.000
  onnxruntime/core/providers/cpu/ml/tree_ensemble_classifier.cc
  onnxruntime/core/providers/cpu/ml/tree_ensemble_common.h
  onnxruntime/core/providers/cpu/ml/treeregressor.cc
  onnxruntime/test/providers/cpu/ml/treeregressor_test.cc
Labels: release:1.6

#5977 Fix Flaky tests
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_ops/cuda/layer_norm_test.cc
Labels: component:training-core

#6012 Disable Python 3.9 for training Python packaging build.
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
Labels: component:build

#6015 Clean up builds
  tools/ci_build/get_docker_image.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-e2e-test-nightly-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-frontend-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_gpu
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_gpu
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: component:build

#6048 Update build docker image cache cleanup
  tools/ci_build/clean_docker_image_cache.py
  tools/ci_build/github/azure-pipelines/clean-build-docker-image-cache-pipeline.yml
Labels: component:build

#6076 Bump up API version for 1.6 release.
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/session/onnxruntime_c_api.cc
Labels: release:1.6

#6041 Update version to 1.6.0
  VERSION_NUMBER
  docs/Versioning.md
  docs/python/README.rst
  nodejs/package-lock.json
  nodejs/package.json
  onnxruntime/__init__.py
  package/rpm/onnxruntime.spec
Labels: release:1.6, triage:approved

#6065 Fix build definition template typo, add logging
  tools/ci_build/get_docker_image.py
  tools/ci_build/github/azure-pipelines/templates/get-docker-image-steps.yml
Labels: component:build

#6064 Fix AllReduce buffer size for contiguous inputs
  orttraining/orttraining/training_ops/cuda/collective/nccl_kernels.cc
Labels: component:training-core

#6088 Reduction kernel optimization
  cmake/CMakeLists.txt
  onnxruntime/core/providers/cuda/reduction/reduction_functions.cu
Labels: component:operator, component:training-core

#5970 Add ReduceL2Grad and ClipGrad
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  tools/ci_build/github/pai/pai-excluded-tests.txt
Labels: component:training-core

#6106 Introduce VariadicAlias, remove hardcoded alias limits
  cmake/winml.cmake
  include/onnxruntime/core/framework/kernel_def_builder.h
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/kernel_def_builder.cc
  orttraining/orttraining/training_ops/cpu/controlflow/common.h
  orttraining/orttraining/training_ops/cpu/controlflow/group.cc
  orttraining/orttraining/training_ops/cpu/controlflow/group.h
  orttraining/orttraining/training_ops/cpu/controlflow/record.cc
  orttraining/orttraining/training_ops/cpu/controlflow/wait.cc
  orttraining/orttraining/training_ops/cuda/collective/nccl_kernels.cc
  orttraining/orttraining/training_ops/cuda/controlflow/group.cc
  orttraining/orttraining/training_ops/cuda/controlflow/record.cc
  orttraining/orttraining/training_ops/cuda/controlflow/wait.cc
Labels: component:training-core

#6024 Liqun/move nightly pl to linux multi gpu v100
  orttraining/orttraining/test/python/orttraining_run_bert_pretrain.py
  orttraining/orttraining/test/python/orttraining_run_frontend_batch_size_test.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-e2e-test-nightly-pipeline.yml
  tools/ci_build/github/linux/docker/scripts/training/azure_scale_set_vm_mount_test_data.sh
Labels: component:build, component:training-frontend

#6109 Unify activation and initializer alignment value
  include/onnxruntime/core/framework/allocator.h
  include/onnxruntime/core/framework/op_kernel.h
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/op_kernel.cc
  onnxruntime/core/framework/parallel_executor.cc
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/framework/simple_tensor_allocator.cc
  onnxruntime/core/framework/tensor_allocator_with_mem_pattern.h
  onnxruntime/core/framework/tensorprotoutils.cc
  onnxruntime/core/framework/utils.cc
  onnxruntime/test/framework/allocator_test.cc
  onnxruntime/test/framework/execution_frame_test.cc
  onnxruntime/test/onnx/tensorprotoutils.cc
Labels: component:coreruntime, component:training-core

#6139 Add gradient registration for Abs.
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#6093 Partition initial optimizer state for Zero-1
  orttraining/orttraining/core/graph/optimizer/adam_optimizer_builder.cc
  orttraining/orttraining/core/graph/optimizer/lamb_optimizer_builder.cc
  orttraining/orttraining/core/graph/optimizer_builder.cc
  orttraining/orttraining/core/graph/optimizer_builder.h
  orttraining/orttraining/core/graph/zero_optimizer_graph_builder.cc
  orttraining/orttraining/core/graph/zero_optimizer_graph_builder.h
  orttraining/orttraining/test/graph/optimizer_graph_builder_test.cc
  orttraining/orttraining/test/python/_test_commons.py
  orttraining/orttraining/test/python/checkpoint/_test_helpers.py
  orttraining/orttraining/test/python/checkpoint/orttraining_test_load_optimizer_state.py
  orttraining/orttraining/test/python/orttraining_test_checkpoint.py
  orttraining/orttraining/test/session/training_session_test_utils.cc
  orttraining/orttraining/test/session/training_session_test_utils.h
Labels: component:training-core, component:training-frontend

#6177 Update get_docker_image.py to enable use without image cache container registry.
  tools/ci_build/get_docker_image.py
  tools/ci_build/github/azure-pipelines/templates/get-docker-image-steps.yml
  tools/ci_build/github/azure-pipelines/templates/run-docker-build-steps.yml
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: component:build

#5803 Backend APIs for checkpointing
  onnxruntime/test/optimizer/cse_test.cc
  orttraining/orttraining/core/graph/adasum_optimizer_graph_builder.cc
  orttraining/orttraining/core/graph/adasum_optimizer_graph_builder.h
  orttraining/orttraining/core/graph/allreduce_optimizer_graph_builder.cc
  orttraining/orttraining/core/graph/allreduce_optimizer_graph_builder.h
  orttraining/orttraining/core/graph/optimizer/adam_optimizer_builder.cc
  orttraining/orttraining/core/graph/optimizer/adam_optimizer_builder.h
  orttraining/orttraining/core/graph/optimizer/lamb_optimizer_builder.cc
  orttraining/orttraining/core/graph/optimizer/lamb_optimizer_builder.h
  orttraining/orttraining/core/graph/optimizer/sgd_optimizer_builder.cc
  orttraining/orttraining/core/graph/optimizer/sgd_optimizer_builder.h
  orttraining/orttraining/core/graph/optimizer_builder.h
  orttraining/orttraining/core/graph/optimizer_graph_builder.cc
  orttraining/orttraining/core/graph/optimizer_graph_builder.h
  orttraining/orttraining/core/graph/optimizer_graph_builder_registry.h
  orttraining/orttraining/core/graph/zero_optimizer_graph_builder.cc
  orttraining/orttraining/core/graph/zero_optimizer_graph_builder.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.h
  orttraining/orttraining/core/optimizer/megatron_transformer.cc
  orttraining/orttraining/core/optimizer/megatron_transformer.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/python/deprecated/training_session.py
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/graph/optimizer_graph_builder_test.cc
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/test/python/checkpoint/_test_helpers.py
  orttraining/orttraining/test/python/checkpoint/orttraining_test_backend_api.py
  orttraining/orttraining/test/python/orttraining_test_checkpoint.py
Labels: api:C/C++, component:training-core
