Repository microsoft/onnxruntime, pull requests merged in 2020-05, with the labels that each got.

#3766 collect the last few iteration latency for throughput calculation
  orttraining/orttraining/models/runner/training_runner.cc
Labels: Training

#3769 disable cublasHgemm for training
  onnxruntime/core/providers/cuda/shared_inc/fpgeneric.h
Labels: Training

#3789 add pipeline to distributed context config
  orttraining/orttraining/core/framework/distributed_run_context.cc
  orttraining/orttraining/core/framework/distributed_run_context.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
Labels: Training

#3793 CUDA/CPU tests for NegativeLogLikelihoodLoss(12)
  orttraining/orttraining/test/training_ops/cuda/negativeloglikelihood_test.cc
Labels: Training

#3788 Remove orttraining-linux-gpu-inference-only-ci-pipeline.yml.
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-inference-only-ci-pipeline.yml
Labels: Training

#3801 Fix loss function builder
  orttraining/orttraining/core/graph/loss_func/softmax_cross_entropy.cc
Labels: Training

#3750 Add options to bert optimization script: --enable_gelu_approxmation, --disable_layer_norm and --disable_gelu
  onnxruntime/python/tools/bert/BertOnnxModel.py
  onnxruntime/python/tools/bert/README.md
  onnxruntime/python/tools/bert/bert_model_optimization.py
Labels: BERT

#3807 Use new cost based threadpool abstractions in CPU gradient operators.
  orttraining/orttraining/training_ops/cpu/gist/gistdecode_op.cc
  orttraining/orttraining/training_ops/cpu/gist/gistencode_op.cc
  orttraining/orttraining/training_ops/cpu/tensor/gather_grad.cc
  orttraining/orttraining/training_ops/cpu/tensor/gather_grad.h
Labels: Training

#3805 Update Dropout(12) forward kernel with training_mode input.
  orttraining/orttraining/test/training_ops/cpu/nn/dropout_op_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/nn/dropout_op.cc
  orttraining/orttraining/training_ops/cpu/nn/dropout_op.h
  orttraining/orttraining/training_ops/cpu/nn/trainable_dropout_op.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout.h
  orttraining/orttraining/training_ops/cuda/nn/dropout_impl.cu
  orttraining/orttraining/training_ops/cuda/nn/trainable_dropout.cc
Labels: Training

#3774 Fix state_dict and save_as_onnx for training
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/python/ort_trainer.py
Labels: Training

#3768 Add Epsilon Attribute to Skip and Embed Layer Normalization
  onnxruntime/contrib_ops/cpu/bert/embed_layer_norm.cc
  onnxruntime/contrib_ops/cpu/bert/embed_layer_norm.h
  onnxruntime/contrib_ops/cpu/skip_layer_norm.cc
  onnxruntime/contrib_ops/cpu/skip_layer_norm.h
  onnxruntime/contrib_ops/cuda/bert/embed_layer_norm.cc
  onnxruntime/contrib_ops/cuda/bert/embed_layer_norm.h
  onnxruntime/contrib_ops/cuda/bert/embed_layer_norm_impl.cu
  onnxruntime/contrib_ops/cuda/bert/embed_layer_norm_impl.h
  onnxruntime/contrib_ops/cuda/bert/layer_norm.cuh
  onnxruntime/contrib_ops/cuda/bert/skip_layer_norm.cc
  onnxruntime/contrib_ops/cuda/bert/skip_layer_norm.h
  onnxruntime/contrib_ops/cuda/bert/skip_layer_norm_impl.cu
  onnxruntime/contrib_ops/cuda/bert/skip_layer_norm_impl.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.h
  onnxruntime/core/optimizer/embed_layer_norm_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/core/optimizer/skip_layer_norm_fusion.cc
  onnxruntime/python/tools/bert/BertOnnxModel.py
  onnxruntime/test/contrib_ops/embedlayernorm_op_test.cc
  onnxruntime/test/contrib_ops/skiplayernorm_op_test.cc
Labels: BERT

#3743 add support for symbolic broadcast for Add/Sub/Mul
  onnxruntime/test/providers/provider_test_utils.h
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/test/gradient/gradient_checker.cc
  orttraining/orttraining/test/gradient/gradient_checker.h
  orttraining/orttraining/test/gradient/gradient_op_test_utils.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: Training

#3844 [Node.js API] optimize prebuild
  nodejs/CMakeLists.txt
  nodejs/lib/binding.ts
  nodejs/package-lock.json
  nodejs/package.json
  nodejs/script/build.ts
  nodejs/script/pack-prebuild.ts
Labels: Node.js API

#3799 Optimize Where CUDA kernel for UniLMV2.
  onnxruntime/core/providers/cuda/shared_inc/cuda_utils.h
  onnxruntime/core/providers/cuda/tensor/where.cc
  onnxruntime/core/providers/cuda/tensor/where_impl.cu
  onnxruntime/core/providers/cuda/tensor/where_impl.h
Labels: Training

#3770 Support Pipeline in Training Runner
  orttraining/orttraining/core/graph/pipeline_transformer.cc
  orttraining/orttraining/core/graph/pipeline_transformer.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/pipeline.cc
  orttraining/orttraining/models/runner/pipeline.h
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/models/runner/training_util.h
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
  orttraining/orttraining/test/model/training_runner_test.cc
  orttraining/orttraining/training_ops/cpu/controlflow/record.cc
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/send.cc
Labels: Training

#3850 Fuse Attention For One Input bert-base-dynamic Model
  onnxruntime/core/optimizer/attention_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/attention_gen.py
  onnxruntime/test/testdata/transform/fusion/attention_mask_no_cast.onnx
Labels: BERT

#3851 [Cherry-pick] Fix state_dict and save_as_onnx for training (#3774)
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/python/ort_trainer.py
Labels: Training

#3866 Fix enabling gradient as output for easy mode.
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/orttraining_pybind_state.cc
Labels: Training

#3814 Add warning messages to frontend, improve docs, remove dead code and require explicit import for training
  orttraining/orttraining/python/ort_trainer.py
  orttraining/pytorch_frontend_examples/mnist_training.py
Labels: Training

#3748 Fold Shape Node During Constant Folding
  include/onnxruntime/core/graph/graph.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/graph/graph_utils.cc
  onnxruntime/core/graph/graph_utils.h
  onnxruntime/core/optimizer/constant_folding.cc
  onnxruntime/core/optimizer/constant_folding.h
  onnxruntime/core/providers/cuda/tensor/where_impl.cu
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/constant_folding_with_scalar_shape_to_initializer.onnx
  onnxruntime/test/testdata/transform/fusion/constant_folding_with_shape_to_initializer.onnx
  onnxruntime/test/testdata/transform/fusion/constant_folding_with_shape_to_initializer.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
Labels: Core, Training

#3809 dashboard integration - output training perf metrics as json
  .gitignore
  cmake/onnxruntime_training.cmake
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/models/runner/training_util.cc
  orttraining/orttraining/models/runner/training_util.h
  tools/perf_util/pom.xml
  tools/perf_util/src/main/java/com/msft/send_perf_metrics/App.java
  tools/perf_util/src/main/java/com/msft/send_perf_metrics/JdbcUtil.java
Labels: Training

#3857 Add numerical stability to SoftmaxGrad test inputs.
  orttraining/orttraining/test/training_ops/cuda/softmax_test.cc
Labels: Training

#3825 Remove ORTModel from frontend API
  orttraining/orttraining/python/ort_trainer.py
  orttraining/pytorch_frontend_examples/mnist_training.py
Labels: Training

#3915 Remove ORTModel from frontend API (cherry-pick #3825)
  orttraining/orttraining/python/ort_trainer.py
  orttraining/pytorch_frontend_examples/mnist_training.py
Labels: Training

#3829 Add Benchmark Script for Bert Models
  onnxruntime/python/tools/bert/BertOnnxModel.py
  onnxruntime/python/tools/bert/OnnxModel.py
  onnxruntime/python/tools/bert/benchmark.py
  onnxruntime/python/tools/bert/bert_model_optimization.py
  onnxruntime/python/tools/bert/requirements_cpu.txt
  onnxruntime/python/tools/bert/requirements_gpu.txt
Labels: BERT

#3867 Ensure pt model is set to cpu in ort_trainer
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/python/ort_trainer.py
Labels: Training

#3910 patch torch onnx opset 10
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
  tools/ci_build/github/linux/docker/scripts/pyt_patch/symbolic_opset10.py
Labels: Training

#3909 Add yaml/perf scripts for new perf test pipeline
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/tools/ci_test/run_bert_perf_test.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-perf-test-ci-pipeline.yml
  tools/perf_util/src/main/java/com/msft/send_perf_metrics/App.java
  tools/perf_util/src/main/java/com/msft/send_perf_metrics/JdbcUtil.java
Labels: Training

#3927 [Node.js binding] fix linux build
  nodejs/CMakeLists.txt
  nodejs/src/session_options_helper.cc
Labels: Node.js API

#3946 Rename bert to transformers
  onnxruntime/python/tools/bert/test_data/bert_mrpc_tensorflow2.1_opset10/test_data_set_0/input_0.pb
  onnxruntime/python/tools/bert/test_data/bert_mrpc_tensorflow2.1_opset10/test_data_set_0/output_0.pb
  onnxruntime/python/tools/bert/test_data/bert_squad_pytorch1.4_opset10_fp32/test_data_set_0/input_0.pb
  onnxruntime/python/tools/bert/test_data/bert_squad_pytorch1.4_opset10_fp32/test_data_set_0/output_0.pb
  onnxruntime/python/tools/bert/test_data/bert_squad_pytorch1.4_opset10_fp32/test_data_set_0/output_1.pb
  onnxruntime/python/tools/bert/test_data/bert_squad_pytorch1.4_opset11/test_data_set_0/input_1.pb
  onnxruntime/python/tools/bert/test_data/bert_squad_pytorch1.4_opset11/test_data_set_0/input_2.pb
  onnxruntime/python/tools/bert/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/test_data_set_0/input_1.pb
  onnxruntime/python/tools/bert/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/test_data_set_0/input_2.pb
  onnxruntime/python/tools/transformers/BertOnnxModel.py
  onnxruntime/python/tools/transformers/BertOnnxModelKeras.py
  onnxruntime/python/tools/transformers/BertOnnxModelTF.py
  onnxruntime/python/tools/transformers/Gpt2OnnxModel.py
  onnxruntime/python/tools/transformers/MachineInfo.py
  onnxruntime/python/tools/transformers/OnnxModel.py
  onnxruntime/python/tools/transformers/README.md
  onnxruntime/python/tools/transformers/ShapeOptimizer.py
  onnxruntime/python/tools/transformers/benchmark.py
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
  onnxruntime/python/tools/transformers/bert_perf_test.py
  onnxruntime/python/tools/transformers/bert_test_data.py
  onnxruntime/python/tools/transformers/compare_bert_results.py
  onnxruntime/python/tools/transformers/notebooks/Inference_Bert_with_OnnxRuntime_on_AzureML.ipynb
  onnxruntime/python/tools/transformers/notebooks/Inference_GPT2_with_OnnxRuntime_on_CPU.ipynb
  onnxruntime/python/tools/transformers/notebooks/PyTorch_Bert-Squad_OnnxRuntime_CPU.ipynb
  onnxruntime/python/tools/transformers/notebooks/PyTorch_Bert-Squad_OnnxRuntime_GPU.ipynb
  onnxruntime/python/tools/transformers/notebooks/Tensorflow_Keras_Bert-Squad_OnnxRuntime_CPU.ipynb
  onnxruntime/python/tools/transformers/notebooks/images/optimized_bert_gpu.png
  onnxruntime/python/tools/transformers/optimizer.py
  onnxruntime/python/tools/transformers/requirements_cpu.txt
  onnxruntime/python/tools/transformers/requirements_gpu.txt
  onnxruntime/python/tools/transformers/test_data/bert_mrpc_tensorflow2.1_opset10/TFBertForSequenceClassification_1.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset10_fp32/BertForQuestionAnswering.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11/BertForQuestionAnswering_0.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11/BertForQuestionAnswering_1.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11/test_data_set_0/input_0.pb
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11/test_data_set_0/input_1.pb
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11/test_data_set_0/input_2.pb
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11/test_data_set_0/output_0.pb
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11/test_data_set_0/output_1.pb
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11_fp16/BertForQuestionAnswering.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11_fp16/BertForQuestionAnswering_ort_cpu.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/TFBertForQuestionAnswering.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/generate_tiny_keras2onnx_bert_models.py
  onnxruntime/python/tools/transformers/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/test_data_set_0/input_0.pb
  onnxruntime/python/tools/transformers/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/test_data_set_0/input_1.pb
  onnxruntime/python/tools/transformers/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/test_data_set_0/input_2.pb
  onnxruntime/python/tools/transformers/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/test_data_set_0/output_0.pb
  onnxruntime/python/tools/transformers/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/test_data_set_0/output_1.pb
  onnxruntime/python/tools/transformers/test_data/gpt2_pytorch1.4_opset11_no_past/GPT2Model.onnx
  onnxruntime/python/tools/transformers/test_data/gpt2_pytorch1.4_opset11_no_past/generate_tiny_gpt2_model.py
  onnxruntime/python/tools/transformers/test_data/gpt2_pytorch1.4_opset11_no_past/test_data_set_0/input_0.pb
  onnxruntime/python/tools/transformers/test_data/gpt2_pytorch1.4_opset11_no_past/test_data_set_0/output_0.pb
  onnxruntime/python/tools/transformers/test_optimizer.py
Labels: BERT

#3947 Add cpu/mem usage for perf metrics
  cmake/onnxruntime_training.cmake
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  tools/perf_util/src/main/java/com/msft/send_perf_metrics/App.java
Labels: Training

#3933 CGManifest - add training entries and generate entries for submodules.
  cgmanifests/README.md
  cgmanifests/cgmanifest.json
  cgmanifests/submodules/cgmanifest.json
  cgmanifests/submodules/generate_submodule_cgmanifest.py
  cgmanifests/submodules/print_submodule_info.py
  docs/How_To_Update_ONNX_Dev_Notes.md
Labels: Training

#3823 Modify Pipeline Facilities to Fix PipeDream Deadlock
  orttraining/orttraining/core/graph/gradient_schema_defs.cc
  orttraining/orttraining/core/graph/pipeline_transformer.cc
  orttraining/orttraining/core/graph/pipeline_transformer.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/runner/pipeline.cc
  orttraining/orttraining/models/runner/pipeline.h
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/send.cc
Labels: Training

#3964 Address comments from #3823 and polish code
  orttraining/orttraining/core/graph/pipeline_transformer.cc
  orttraining/orttraining/models/runner/pipeline.h
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
Labels: Training

#3960 Disable LTO on Windows training CPU build
  tools/ci_build/github/azure-pipelines/orttraining-win-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/win-ci-2019.yml
Labels: Training

#3767 Initial training Python packaging pipeline
  onnxruntime/core/providers/cpu/math/einsum_utils.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.h
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  setup.py
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/set-py-packaging-variables-step.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_gpu
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_gpu
  tools/ci_build/github/linux/docker/cuda_manylinux2014.repo
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
Labels: Training

#3975 Update install_deps.sh to use relative path from script directory to symbolic_opset10.py.
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
Labels: Training

#3974 GPT-2 training perf scripts
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/gpt2/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/tools/ci_test/run_gpt2_perf_test.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-perf-test-ci-pipeline.yml
  tools/perf_util/src/main/java/com/msft/send_perf_metrics/App.java
Labels: Training

#3995 Change training perf test build to use "docker" instead of "sudo docker"
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-perf-test-ci-pipeline.yml
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: Training

#3881 Remove 'model_.' prefix from onnx model initializers in training
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  onnxruntime/test/testdata/ckpt_mnist.pt
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/pt_patch.py
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
  tools/ci_build/github/linux/docker/scripts/pyt_patch/symbolic_opset10.py
Labels: Training

#4012 Optimize OneHot CUDA Kernel
  onnxruntime/core/providers/cuda/tensor/onehot.cc
  onnxruntime/core/providers/cuda/tensor/onehot.cu
  onnxruntime/core/providers/cuda/tensor/onehot.h
  onnxruntime/test/providers/cpu/tensor/onehot_op_test.cc
Labels: Training

#3997 Add Linux bash and Windows batch scripts for running transformers benchmarks
  onnxruntime/python/tools/transformers/dev_benchmark.cmd
  onnxruntime/python/tools/transformers/run_benchmark.sh
Labels: BERT

#3996 Add pipeline online partition logic for pipeline
  include/onnxruntime/core/graph/graph.h
  include/onnxruntime/core/graph/graph_nodes.h
  onnxruntime/core/graph/graph.cc
  orttraining/orttraining/core/graph/pipeline_transformer.cc
  orttraining/orttraining/core/graph/pipeline_transformer.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
Labels: Training

#4017 Clean up CUDAExecutionProvider's associated PerThreadContexts on destruction
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.h
Labels: Core

#4040 Allow optional cast in EmbedLayerNormalizaion fusion
  onnxruntime/core/optimizer/embed_layer_norm_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/embed_layer_norm_format3_no_cast.onnx
  onnxruntime/test/testdata/transform/fusion/embed_layer_norm_gen.py
Labels: BERT

#3845 Liqun/a transformer example
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_test_transformers.py
  orttraining/orttraining/test/python/orttraining_test_utils.py
  orttraining/orttraining/test/python/orttraining_transformer_trainer.py
  tools/ci_build/build.py
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: Training

#4056 Add noexcept to various OrtCallback utility class methods to fix warnings.
  onnxruntime/core/framework/callback.h
Labels: Core

#4038 support model > 2GB in transformer optimizer
  onnxruntime/python/tools/transformers/BertOnnxModel.py
  onnxruntime/python/tools/transformers/BertOnnxModelKeras.py
  onnxruntime/python/tools/transformers/BertOnnxModelTF.py
  onnxruntime/python/tools/transformers/MachineInfo.py
  onnxruntime/python/tools/transformers/OnnxModel.py
  onnxruntime/python/tools/transformers/benchmark.py
  onnxruntime/python/tools/transformers/bert_perf_test.py
  onnxruntime/python/tools/transformers/bert_test_data.py
  onnxruntime/python/tools/transformers/fusion_attention.py
  onnxruntime/python/tools/transformers/fusion_base.py
  onnxruntime/python/tools/transformers/fusion_biasgelu.py
  onnxruntime/python/tools/transformers/fusion_embedlayer.py
  onnxruntime/python/tools/transformers/fusion_fastgelu.py
  onnxruntime/python/tools/transformers/fusion_gelu.py
  onnxruntime/python/tools/transformers/fusion_gelu_approximation.py
  onnxruntime/python/tools/transformers/fusion_layernorm.py
  onnxruntime/python/tools/transformers/fusion_reshape.py
  onnxruntime/python/tools/transformers/fusion_skiplayernorm.py
  onnxruntime/python/tools/transformers/fusion_utils.py
  onnxruntime/python/tools/transformers/optimizer.py
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11/BertForQuestionAnswering_0.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11_fp16/BertForQuestionAnswering.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_pytorch1.4_opset11_fp16/BertForQuestionAnswering_ort_cpu.onnx
  onnxruntime/python/tools/transformers/test_data/bert_squad_tensorflow2.1_keras2onnx_opset11/generate_tiny_keras2onnx_bert_models.py
  onnxruntime/python/tools/transformers/test_data/gpt2_pytorch1.4_opset11_no_past/generate_tiny_gpt2_model.py
  onnxruntime/python/tools/transformers/test_optimizer.py
Labels: BERT

#4043 Update benchmark of gpt2 model with past state
  onnxruntime/python/tools/transformers/BertOnnxModel.py
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
Labels: GPT2

#4049 Add e2e measurement for training
  orttraining/orttraining/models/runner/training_runner.cc
Labels: Training

#4078 Clean up training E2E test
  cmake/onnxruntime_training_e2e_tests.cmake
  orttraining/tools/ci_test/run_batch_size_test.py
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-e2e-test-ci-pipeline.yml
Labels: Training

#4068 Fix a macro and memory regression
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
Labels: Training, bug
