Repository microsoft/onnxruntime, pull requests merged in 2021-09, with the labels that each got.

#8900 [js/web] Update browser support table
  js/web/README.md
Labels: component:documentation, component:ort-web

#8901 custom autograd func memory
  cmake/onnxruntime_python.cmake
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/install.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/torch_interop_utils/setup.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/torch_interop_utils/torch_interop_utils.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  setup.py
Labels: component:training-core, component:ortmodule

#8925 Fix cast propagation to not change casts from bool type.
  onnxruntime/core/optimizer/propagate_cast_ops.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/propagate_cast/gen_propagate_cast.py
  onnxruntime/test/testdata/transform/propagate_cast/negative_test_case_bool_fp16_cast.onnx
  onnxruntime/test/testdata/transform/propagate_cast/negative_test_case_bool_fp_cast.onnx
Labels: component:training-core, component:ortmodule

#8833 Optimize Concat and Split on CUDA to eliminate host-to-device copies when sizes are all the same
  onnxruntime/core/providers/cuda/tensor/concat_impl.cu
  onnxruntime/core/providers/cuda/tensor/concat_impl.h
  onnxruntime/core/providers/cuda/tensor/split_impl.cu
  onnxruntime/core/providers/cuda/tensor/split_impl.h
  orttraining/orttraining/test/training_ops/cpu/tensor/concat_op_test.cc
  orttraining/orttraining/test/training_ops/cpu/tensor/split_op_test.cc
  orttraining/orttraining/training_ops/cuda/tensor/concat.cc
  orttraining/orttraining/training_ops/cuda/tensor/split.cc
Labels: component:training-core, component:coreruntime

#8916 Move setdlopenflags calls into _pybind_state.py
  cmake/CMakeLists.txt
  cmake/onnxruntime_python.cmake
  onnxruntime/python/_pybind_state.py.in
  orttraining/orttraining/test/external_custom_ops/test.py
Labels: component:training-core, feature:customops

#8911 Enable all-or-nothing fallback by default
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/ortmodule/_fallback.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
Labels: component:training-frontend, component:ortmodule

#8613 Add Algorithm Search for ConvGrad
  include/onnxruntime/core/framework/allocator.h
  onnxruntime/core/providers/cuda/cuda_allocator.cc
  onnxruntime/core/providers/cuda/cuda_allocator.h
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.h
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.h
  onnxruntime/core/providers/cuda/cuda_kernel.h
  onnxruntime/core/providers/cuda/nn/conv.cc
  onnxruntime/core/providers/cuda/nn/conv.h
  onnxruntime/core/providers/rocm/rocm_allocator.cc
  onnxruntime/core/providers/rocm/rocm_allocator.h
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
  onnxruntime/core/providers/rocm/rocm_execution_provider_info.cc
  onnxruntime/core/providers/rocm/rocm_execution_provider_info.h
  onnxruntime/test/python/onnxruntime_test_python.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/torch_gpu_allocator/torch_gpu_allocator.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/training_ops/cuda/conv_grad_test.cc
  orttraining/orttraining/training_ops/cuda/nn/conv_grad.cc
  orttraining/orttraining/training_ops/cuda/nn/conv_grad.h
Labels: component:training-core

#8798 Auto forward non method attribute lookups to the user's model and bind custom methods to ORTModule
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_pytorch.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-frontend, component:ortmodule

#8941 Gemm/Transpose fusion - additional pattern coverage
  onnxruntime/core/optimizer/gemm_transpose_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/gemm_transpose_2outputs_from_transpose.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_transpose_2outputs_from_transpose_to_2gemms.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_transpose_gen_2.py
Labels: component:training-core

#8981 Fix a directml python packaging error
  tools/ci_build/build.py
Labels: release:1.9

#8966 ReduceMin - add int64 cuda kernel support for opset12/13
  docs/OperatorKernels.md
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
Labels: component:training-core

#8932 [js/web] WebAssembly profiling
  js/web/lib/wasm/binding/ort-wasm.d.ts
  js/web/lib/wasm/proxy-messages.ts
  js/web/lib/wasm/proxy-worker/main.ts
  js/web/lib/wasm/proxy-wrapper.ts
  js/web/lib/wasm/session-handler.ts
  js/web/lib/wasm/session-options.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/test/test-runner.ts
  onnxruntime/core/common/profiler.cc
  onnxruntime/core/common/profiler.h
  onnxruntime/test/framework/inference_session_test.cc
  onnxruntime/wasm/api.cc
  onnxruntime/wasm/api.h
Labels: release:1.9

#8997 Fix bug for validating GPU packages
  tools/nuget/validate_package.py
Labels: release:1.9

#8996 Fix issues in TensorRT EP
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
Labels: release:1.9

#8976 Fast Reduction for ReduceMean
  onnxruntime/core/providers/cuda/reduction/reduction_functions.cc
  onnxruntime/core/providers/cuda/reduction/reduction_functions.cu
  onnxruntime/core/providers/cuda/reduction/reduction_functions.h
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/core/providers/cuda/reduction/reduction_ops.h
  onnxruntime/core/providers/rocm/reduction/reduction_ops.cc
  onnxruntime/core/providers/rocm/reduction/reduction_ops.h
Labels: release:1.9

#8540 add model local function support
  include/onnxruntime/core/graph/function.h
  include/onnxruntime/core/graph/graph.h
  onnxruntime/core/framework/tensorprotoutils.cc
  onnxruntime/core/framework/tensorprotoutils.h
  onnxruntime/core/graph/function.cc
  onnxruntime/core/graph/function_impl.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/graph/model.cc
  onnxruntime/core/graph/model.h
  onnxruntime/core/graph/model_load_utils.h
  onnxruntime/test/ir/onnx_model_test.cc
  orttraining/orttraining/test/gradient/function_ops_test.cc
  tools/ci_build/github/linux/docker/scripts/requirements.txt
Labels: release:1.9

#8998 [js/web] fix karma launch with chrome headless
  js/web/karma.conf.js
  tools/ci_build/github/azure-pipelines/win-wasm-ci-pipeline.yml
Labels: release:1.9

#9008 Fix fuzz testing build blocking release.
  onnxruntime/test/fuzzing/src/testlog.cpp
Labels: release:1.9

#8993 custom autograd func memory refinement
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/torch_interop_utils/torch_interop_utils.cc
Labels: component:training-core, release:1.9

#9000 Update Nuget Packge Pipline to CUDA11.4 and TensorRT8 on Windows
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/windows/setup_env_gpu.bat
Labels: release:1.9

#9004 do not add pkg wheel entry to the index html file if it already exists
  tools/ci_build/upload_python_package_to_azure_storage.py
Labels: triage:approved, release:1.9

#9025 [js/web] fix ort web e2e test
  js/web/test/e2e/karma.conf.js
Labels: component:ort-web, release:1.9

#8951 Adding async fetching for webgl backend
  js/common/lib/env.ts
  js/web/lib/onnxjs/backends/backend-webgl.ts
  js/web/lib/onnxjs/backends/webgl/inference-handler.ts
  js/web/lib/onnxjs/backends/webgl/texture-manager.ts
  js/web/lib/onnxjs/backends/webgl/webgl-context.ts
  js/web/lib/onnxjs/execution-plan.ts
  js/web/lib/onnxjs/tensor.ts
  js/web/script/test-runner-cli-args.ts
  js/web/test/test-main.ts
Labels: triage:approved, component:ort-web, release:1.9

#8987 Attention Fusion for GPT-2 from Megatron
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/python/tools/transformers/fusion_attention.py
  onnxruntime/python/tools/transformers/fusion_embedlayer.py
  onnxruntime/python/tools/transformers/fusion_gpt_attention.py
  onnxruntime/python/tools/transformers/fusion_gpt_attention_megatron.py
  onnxruntime/python/tools/transformers/fusion_utils.py
  onnxruntime/python/tools/transformers/onnx_model.py
  onnxruntime/python/tools/transformers/onnx_model_bert.py
  onnxruntime/python/tools/transformers/onnx_model_gpt2.py
  onnxruntime/python/tools/transformers/optimizer.py
  onnxruntime/test/python/transformers/model_loader.py
  onnxruntime/test/python/transformers/test_attention_fusion.py
  onnxruntime/test/python/transformers/test_data/models/gpt2_megatron.onnx
  onnxruntime/test/python/transformers/test_data/models/gpt2_megatron_opt.onnx
  onnxruntime/test/python/transformers/test_optimizer.py
Labels: model:GPT2

#8964 Added new fp16 allow/safe opcodes in PropagateCastOps
  include/onnxruntime/core/optimizer/graph_transformer_config.h
  onnxruntime/core/optimizer/propagate_cast_ops.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/propagate_cast/gen_propagate_cast.py
  onnxruntime/test/testdata/transform/propagate_cast/squeeze_cast_propagation_test.onnx
  onnxruntime/test/testdata/transform/propagate_cast/unsqueeze_cast_propagation_test.onnx
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_experimental_json_config.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_experimental_json_config_2.json
Labels: component:training-core, component:training-frontend, component:ortmodule

#9034 Disable FastGelu Half2 Kernel by default
  onnxruntime/contrib_ops/cuda/bert/fast_gelu.cc
  onnxruntime/contrib_ops/cuda/bert/transformer_common.cc
  onnxruntime/contrib_ops/cuda/bert/transformer_common.h
Labels: model:GPT2

#9003 Remove document text from error message in a couple of ops
  onnxruntime/contrib_ops/cpu/tokenizer.cc
  onnxruntime/core/providers/cpu/nn/string_normalizer.cc
Labels: triage:approved, release:1.9

#9032 Fix cmake POWER10 detection
  cmake/onnxruntime_mlas.cmake
Labels: release:1.9

#9014 Add BatchNorm kernel for ROCm
  onnxruntime/core/providers/rocm/miopen_common.h
  onnxruntime/core/providers/rocm/rocm_common.h
  orttraining/orttraining/test/training_ops/cuda/batch_norm_internal_test.cc
  orttraining/orttraining/training_ops/rocm/nn/batch_norm_grad.cc
  orttraining/orttraining/training_ops/rocm/nn/batch_norm_grad.h
  orttraining/orttraining/training_ops/rocm/nn/batch_norm_internal.cc
  orttraining/orttraining/training_ops/rocm/nn/batch_norm_internal.h
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: component:training-core

#9020 Address previous temporary fixes and remove TODOs
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements-torch1.9.0_rocm.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.9.0_cu10.2.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.9.0_cu11.1.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.9.0_cu11.4.txt
Labels: component:training-frontend

#9018 Disable fallback for ortmodule api tests
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-frontend, component:ortmodule

#8928 Optimize CUDA Kernel for 3D and 4D Transpose
  onnxruntime/core/providers/cuda/tensor/transpose.cc
  onnxruntime/core/providers/cuda/tensor/transpose_impl.cu
  onnxruntime/core/providers/cuda/tensor/transpose_impl.h
  onnxruntime/core/providers/rocm/tensor/transpose.cc
  onnxruntime/test/providers/cpu/tensor/transpose_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core, component:coreruntime

#9010 Add type int64 for Equal, float types for ReduceSum (ROCm)
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
Labels: component:training-core

#9048 [js/web] a bugfix and add tests for wasm proxy worker
  js/web/lib/wasm/proxy-wrapper.ts
  js/web/test/e2e/browser-test-wasm-no-threads-proxy.js
  js/web/test/e2e/browser-test-wasm-proxy.js
  js/web/test/e2e/karma.conf.js
  js/web/test/e2e/run.js
  tools/ci_build/github/azure-pipelines/win-wasm-ci-pipeline.yml
Labels: component:ort-web, platform:webassembly, release:1.9

#9047 Fix ROCm wheels CI pipeline break by installing latest protobuf from source
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm
  tools/ci_build/github/linux/docker/build_scripts/install-protobuf.sh
Labels: triage:approved, release:1.9

#9063 Fix bug in custom autograd function runner
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
Labels: component:training-core, component:ortmodule

#8857 Ensure ms-experimental domain Audio Ops build in mac pipeline
  onnxruntime/contrib_ops/cpu/signal/dft.cc
  onnxruntime/contrib_ops/cpu/signal/dft.h
  onnxruntime/contrib_ops/cpu/signal/window_functions.cc
  onnxruntime/core/graph/signal_ops/signal_defs.cc
Labels: release:1.9

#9076 Remove cpuinfo from WCOS builds
  cmake/CMakeLists.txt
  cmake/onnxruntime_common.cmake
Labels: release:1.9

#9043 [doc] update document for how-to-build onnxruntime web
  docs/build/inferencing.md
  docs/build/web.md
Labels: component:documentation

#9102 Add a pipeline for audio ops
  tools/ci_build/github/azure-pipelines/c-api-audio.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-artifacts-package-and-publish-steps-posix_audio_ops.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu-audio-no-java.yml
  tools/ci_build/github/azure-pipelines/templates/mac-packaging.yml
  tools/ci_build/github/azure-pipelines/templates/test_linux.yml
  tools/ci_build/github/azure-pipelines/templates/test_macos.yml
  tools/ci_build/github/linux/docker/inference/x86_64/default/cpu/Dockerfile
  tools/ci_build/github/linux/docker/inference/x86_64/default/cpu/scripts/install_centos.sh
  tools/ci_build/github/linux/docker/inference/x86_64/default/cpu/scripts/install_deps.sh
  tools/ci_build/github/linux/docker/inference/x86_64/default/cpu/scripts/requirements.txt
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.9

#9080 [doc] update document for JavaScript API reference
  docs/api/index.md
  docs/api/js-api.md
  docs/api/js/assets/highlight.css
  docs/api/js/assets/icons.css
  docs/api/js/assets/icons.png
  docs/api/js/assets/icons@2x.png
  docs/api/js/assets/main.js
  docs/api/js/assets/search.js
  docs/api/js/assets/style.css
  docs/api/js/assets/widgets.png
  docs/api/js/assets/widgets@2x.png
  docs/api/js/index.html
  docs/api/js/interfaces/Env.WebAssemblyFlags.html
  docs/api/js/interfaces/Env.WebGLFlags.html
  docs/api/js/interfaces/Env.html
  docs/api/js/interfaces/InferenceSession.CpuExecutionProviderOption.html
  docs/api/js/interfaces/InferenceSession.CudaExecutionProviderOption.html
  docs/api/js/interfaces/InferenceSession.ExecutionProviderOption.html
  docs/api/js/interfaces/InferenceSession.ExecutionProviderOptionMap.html
  docs/api/js/interfaces/InferenceSession.RunOptions.html
  docs/api/js/interfaces/InferenceSession.SessionOptions.html
  docs/api/js/interfaces/InferenceSession.ValueMetadata.html
  docs/api/js/interfaces/InferenceSession.WebAssemblyExecutionProviderOption.html
  docs/api/js/interfaces/InferenceSession.WebGLExecutionProviderOption.html
  docs/api/js/interfaces/InferenceSession.html
  docs/api/js/interfaces/InferenceSessionFactory.html
  docs/api/js/interfaces/Tensor.DataTypeMap.html
  docs/api/js/interfaces/Tensor.ElementTypeMap.html
  docs/api/js/interfaces/Tensor.html
  docs/api/js/interfaces/TensorConstructor.html
  docs/api/js/interfaces/TypedTensor.html
  docs/api/js/modules/Env.html
  docs/api/js/modules/InferenceSession.html
  docs/api/js/modules/Tensor.html
  docs/api/other-apis.md
Labels: component:documentation, api:JavaScript

#9130 Fix a bug for Openvino Python binding
  onnxruntime/python/onnxruntime_pybind_state.cc
Labels: ep:OpenVINO, release:1.9

#9126 Fix default initialization value in C API header
  include/onnxruntime/core/session/onnxruntime_c_api.h
Labels: release:1.9

#9131 Do not generate nuget symbol packages on Linux
  csharp/OnnxRuntime.CSharp.proj
Labels: release:1.9

#9074 Add internal determinism flag configuration for ORTModule
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
Labels: api:Python, component:training-frontend, component:ortmodule

#9157 Dropout Vectorized Kernel
  onnxruntime/contrib_ops/cuda/math/bias_dropout_impl.cu
  onnxruntime/core/providers/cuda/cu_inc/common.cuh
  onnxruntime/core/providers/cuda/nn/dropout_impl.cu
  onnxruntime/core/providers/rocm/cu_inc/common.cuh
  onnxruntime/test/contrib_ops/bias_dropout_op_test.cc
  orttraining/orttraining/test/python/orttraining_test_orttrainer_bert_toy_onnx.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  orttraining/orttraining/test/training_ops/cpu/nn/dropout_op_test.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout_grad_impl.cu
  orttraining/tools/ci_test/results/bert_base.convergence.baseline.mi100.csv
Labels: component:training-core

#9191 support WebAssembly SIMD for qgemm
  cmake/onnxruntime_mlas.cmake
  cmake/onnxruntime_unittests.cmake
  js/web/lib/wasm/wasm-factory.ts
  js/web/test/e2e/run.js
  onnxruntime/core/mlas/lib/mlasi.h
  onnxruntime/core/mlas/lib/qgemm.h
  onnxruntime/core/mlas/lib/qgemm_kernel_wasmsimd.cpp
  tools/ci_build/github/azure-pipelines/templates/win-wasm-ci.yml
  tools/ci_build/github/azure-pipelines/templates/win-web-ci.yml
Labels: platform:webassembly

#9211 [wasm] remove deprecated prefix 'EXTRA_' in emcc flags
  cmake/onnxruntime_webassembly.cmake
Labels: component:build, platform:webassembly
