Repository microsoft/onnxruntime, pull requests merged in 2021-03, with the labels that each got.

#6789 Add External Outputs Flag for YieldOp
  include/onnxruntime/core/framework/kernel_def_builder.h
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/test/framework/execution_frame_test.cc
  orttraining/orttraining/training_ops/cpu/controlflow/yield.cc
  orttraining/orttraining/training_ops/cuda/controlflow/yield.cc
Labels: component:ortmodule, component:training-core

#6887 Add more asserts for ORTModule forward's correctness
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#6804 Fix app packaging in UWP
  csharp/src/Microsoft.AI.MachineLearning.Interop/Microsoft.AI.MachineLearning.targets
  csharp/src/Microsoft.AI.MachineLearning/Microsoft.AI.MachineLearning.targets
  tools/ci_build/github/azure-pipelines/nuget/templates/windowsai.yml
  tools/nuget/generate_nuspec_for_native_nuget.py
  tools/nuget/validate_nuget.py
Labels: release:1.7

#6892 Enable priority-based execution order as default to support inputs with symbolic/dynamic shape
  orttraining/orttraining/core/framework/module_gradient_graph_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#6879 Separate requirements.txt file for ORTModule pipelines
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  orttraining/orttraining/test/python/how_to_install_training_test_dependencies.md
  tools/ci_build/github/linux/docker/scripts/install_deps.sh
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/requirements.txt
Labels: component:ortmodule

#6898 Introducing TrainingAgent interface to performance training using YieldOp
  cmake/onnxruntime_training.cmake
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/python/training/training_agent.py
Labels: component:ortmodule

#6822 Disable Materializing Grads
  onnxruntime/core/graph/graph_utils.cc
  onnxruntime/core/graph/graph_utils.h
  onnxruntime/test/framework/execution_frame_test.cc
  orttraining/orttraining/core/framework/module_gradient_graph_builder.cc
  orttraining/orttraining/core/framework/module_gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cpu/controlflow/yield.cc
  orttraining/orttraining/training_ops/cpu/controlflow/yield.h
Labels: component:ortmodule

#6932 Fix loss scaling when running ORTTrainer with BERT under mixed-precision mode
  orttraining/orttraining/core/session/training_session.cc
Labels: component:training-core, type:bug

#6942 Assert that the data is on the same device as ORTModule
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#6924 Interchange Cast and Transpose operations to facilitate Transpose-MatMul fusion
  onnxruntime/core/optimizer/matmul_transpose_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/transpose_cast_matmul_4d_fusion0.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_cast_matmul_4d_fusion1.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_gen.py
Labels: component:ortmodule

#6930 Add UT correctness and address comments for previous symbolic shape PR
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#6945 Support ORTModule on ROCm EP
  onnxruntime/python/dlpack_convertor.cc
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: component:ortmodule

#6969 Relax atol When Comparing Forward Outputs
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#6968 Use DLPack for Graph Inputs and External Outputs of YieldOp
  include/onnxruntime/core/framework/ml_value.h
  onnxruntime/python/dlpack_convertor.cc
  onnxruntime/python/dlpack_convertor.h
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
Labels: component:ortmodule

#6883 Add *args support.
  orttraining/orttraining/python/training/_ortmodule_output_transformation.py
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#6806 Liqun/ort module perf1
  orttraining/orttraining/test/python/perf_log/ort_module_perf_test_tools.py
Labels: component:ortmodule, component:training-frontend

#6982 Reduce logging for ORTModule for the end user
  onnxruntime/core/framework/fallback_cpu_capability.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
Labels: component:ortmodule

#6992 Left aligned nav bar pages layout
  _config.yml
  _includes/footer_custom.html
  _sass/custom/custom.scss
Labels: component:documentation

#7040 Update ORTModule feature with remaining PRs from feature branch
  onnxruntime/core/framework/fallback_cpu_capability.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/_ortmodule_output_transformation.py
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/perf_log/ort_module_perf_test_tools.py
Labels: component:ortmodule

#7021 Fix Transpose, Cast and MatMul fusion when Cast and/or Fusion feeds multiple nodes.
  onnxruntime/core/optimizer/matmul_transpose_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/transpose_cast_matmul_4d_fusion0.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_cast_matmul_4d_fusion1.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_cast_matmul_4d_fusion2.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_cast_matmul_4d_fusion3.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_cast_matmul_4d_fusion4.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_cast_matmul_4d_fusion5.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_gen.py
Labels: component:ortmodule

#7069 Handle 8-bit Uint DLPack Tensor
  onnxruntime/python/dlpack_convertor.cc
  onnxruntime/python/dlpack_convertor.h
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#7046 Add auto doc gen for ORTModule API during CI build
  .gitignore
  docs/python/inference/ONNX_Runtime_icon.png
  docs/python/inference/api_summary.rst
  docs/python/inference/conf.py
  docs/python/inference/examples/README.txt
  docs/python/inference/examples/Sannosawa1.jpg
  docs/python/inference/examples/plot_backend.py
  docs/python/inference/examples/plot_common_errors.py
  docs/python/inference/examples/plot_convert_pipeline_vectorizer.py
  docs/python/inference/examples/plot_load_and_predict.py
  docs/python/inference/examples/plot_metadata.py
  docs/python/inference/examples/plot_pipeline.py
  docs/python/inference/examples/plot_profiling.py
  docs/python/inference/examples/plot_train_convert_predict.py
  docs/python/inference/examples_md.rst
  docs/python/inference/index.rst
  docs/python/inference/notebooks/onnx-inference-byoc-gpu-cpu-aks.ipynb
  docs/python/inference/notebooks/onnxruntime-nuphar-tutorial.ipynb
  docs/python/inference/tutorial.rst
  docs/python/requirements.txt
  docs/python/training/conf.py
  docs/python/training/content.rst
  docs/python/training/index.rst
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  requirements-doc.txt
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/linux/docker/manylinux2014_build_scripts/build.sh
  tools/ci_build/github/linux/docker/scripts/manylinux/install_deps.sh
  tools/doc/builddoc.sh
Labels: component:ortmodule

#7048 ORTModule support non-differentiable module output
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/framework/module_gradient_graph_builder.cc
  orttraining/orttraining/core/framework/module_gradient_graph_builder.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cpu/controlflow/yield.cc
  orttraining/orttraining/training_ops/cpu/controlflow/yield.h
Labels: component:ortmodule

#7104 Add missing Python dependencies for ORT training
  requirements-training.txt
  setup.py
Labels: component:training-frontend

#7028 Move IOBinding and RunOptions to ctx
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/python/training/runstateinfo.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#7116 Promote BiasDropout from orttraining to onnxruntime
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/math/bias_dropout.cc
  onnxruntime/contrib_ops/cuda/math/bias_dropout.h
  onnxruntime/contrib_ops/cuda/math/bias_dropout_impl.cu
  onnxruntime/contrib_ops/rocm/rocm_contrib_kernels.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/providers/cuda/nn/dropout.cc
  onnxruntime/core/providers/cuda/nn/dropout.h
  onnxruntime/test/contrib_ops/bias_dropout_op_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/test/training_ops/cpu/nn/dropout_op_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout_grad.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout_grad.h
  orttraining/orttraining/training_ops/cuda/nn/dropout_grad_impl.cu
  orttraining/orttraining/training_ops/cuda/nn/dropout_grad_impl.h
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: component:coreruntime, component:ortmodule, component:training-core

#7125 Add New AllocKind for YieldOp Outputs, Run YieldOp with InferenceSession in UT
  include/onnxruntime/core/framework/alloc_kind.h
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/memory_info.cc
  onnxruntime/test/framework/allocation_planner_test.cc
  onnxruntime/test/framework/execution_frame_test.cc
  orttraining/orttraining/training_ops/cpu/controlflow/ort_tasks.h
Labels: component:ortmodule

#7113 Add support for large models
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_poc.py
Labels: component:ortmodule

#7101 Address comments from ORTModule master merge
  cmake/CMakeLists.txt
  cmake/onnxruntime_python.cmake
  include/onnxruntime/core/framework/kernel_def_builder.h
  include/onnxruntime/core/framework/op_kernel_context.h
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/op_kernel.cc
  onnxruntime/core/framework/op_kernel_context_internal.h
  onnxruntime/python/dlpack/dlpack_converter.cc
  onnxruntime/python/dlpack/dlpack_converter.h
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/framework/execution_frame_test.cc
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/training_ops/cpu/controlflow/ort_tasks.cc
  orttraining/orttraining/training_ops/cpu/controlflow/ort_tasks.h
Labels: component:ortmodule

#7147 Fix Transpose and MatMul fusion code to check the input datatypes as …
  onnxruntime/core/optimizer/matmul_transpose_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_4d_fusion_invalid_datatype_int32.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_4d_fusion_invalid_datatype_int64.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_gen.py
Labels: component:ortmodule

#7141 Removes unnecessary transpose in operator Einsum
  onnxruntime/core/providers/cpu/math/einsum_utils/einsum_auxiliary_ops.cc
  onnxruntime/core/providers/cpu/math/einsum_utils/einsum_typed_compute_processor.cc
  onnxruntime/test/providers/cpu/math/einsum_test.cc
Labels: type:performance
