Repository microsoft/onnxruntime, pull requests merged in 2021-10, with the labels that each got.

#9228 update the exporter call with latest api in orttrainer
  orttraining/orttraining/python/training/orttrainer.py
Labels: component:training-frontend, component:orttrainer

#9238 Remove TORCH_WARN to avoid torch string related operations that take up time
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/torch_interop_utils.cc
Labels: component:training-frontend, component:ortmodule

#9237 [Docs] Update mobile docs for 1.9
  docs/api/index.md
  docs/api/objectivec/Classes.html
  docs/api/objectivec/Classes/ORTCoreMLExecutionProviderOptions.html
  docs/api/objectivec/Classes/ORTEnv.html
  docs/api/objectivec/Classes/ORTRunOptions.html
  docs/api/objectivec/Classes/ORTSession.html
  docs/api/objectivec/Classes/ORTSessionOptions.html
  docs/api/objectivec/Classes/ORTTensorTypeAndShapeInfo.html
  docs/api/objectivec/Classes/ORTValue.html
  docs/api/objectivec/Classes/ORTValueTypeInfo.html
  docs/api/objectivec/Enums.html
  docs/api/objectivec/Enums/ORTGraphOptimizationLevel.html
  docs/api/objectivec/Enums/ORTLoggingLevel.html
  docs/api/objectivec/Enums/ORTTensorElementDataType.html
  docs/api/objectivec/Enums/ORTValueType.html
  docs/api/objectivec/Functions.html
  docs/api/objectivec/css/highlight.css
  docs/api/objectivec/css/jazzy.css
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Classes.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Classes/ORTCoreMLExecutionProviderOptions.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Classes/ORTEnv.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Classes/ORTRunOptions.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Classes/ORTSession.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Classes/ORTSessionOptions.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Classes/ORTTensorTypeAndShapeInfo.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Classes/ORTValue.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Classes/ORTValueTypeInfo.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Enums.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Enums/ORTGraphOptimizationLevel.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Enums/ORTLoggingLevel.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Enums/ORTTensorElementDataType.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Enums/ORTValueType.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/Functions.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/css/highlight.css
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/css/jazzy.css
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/index.html
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/js/jazzy.js
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/Documents/js/jazzy.search.js
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.docset/Contents/Resources/docSet.dsidx
  docs/api/objectivec/docsets/ONNX Runtime Objective-C API.tgz
  docs/api/objectivec/index.html
  docs/api/objectivec/js/jazzy.js
  docs/api/objectivec/js/jazzy.search.js
  docs/performance/mobile-performance-tuning.md
  docs/performance/tune-performance.md
  docs/reference/mobile/prebuilt-package/index.md
  docs/reference/mobile/prebuilt-package/mobile_package_op_type_support_1.8.md
  docs/reference/mobile/prebuilt-package/mobile_package_op_type_support_1.9.md
  docs/tutorials/mobile.md
  docs/tutorials/mobile/custom-build.md
  docs/tutorials/mobile/index.md
  docs/tutorials/mobile/initial-setup.md
  docs/tutorials/mobile/limitations.md
  docs/tutorials/mobile/model-conversion.md
  docs/tutorials/mobile/model-execution.md
  docs/tutorials/mobile/overview.md
  docs/tutorials/mobile/using-nnapi-coreml-with-ort-mobile.md
Labels: component:documentation

#9143 Fixes for GatherND, Multinomial
  docs/OperatorKernels.md
  onnxruntime/core/providers/cuda/tensor/gather_nd.cc
  onnxruntime/core/providers/cuda/tensor/gather_nd_impl.cu
  onnxruntime/core/providers/rocm/tensor/gather_nd_impl.cu
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_definition_registry.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core, component:ortmodule

#9277 Fix all-or-nothing fallback for bad ORTModule init
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/ortmodule/_fallback.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_pytorch.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
Labels: component:training-frontend, component:ortmodule
