Repository microsoft/onnxruntime, pull requests merged in 2021-12, with the labels that each got.

#9879 Misc InstanceNorm CUDA kernel changes
  onnxruntime/core/providers/cuda/nn/instance_norm.cc
  onnxruntime/core/providers/cuda/nn/instance_norm_impl.cu
  onnxruntime/core/providers/cuda/nn/instance_norm_impl.h
  onnxruntime/test/providers/cpu/nn/instance_norm_op_test.cc
Labels: release:1.10

#9739 ScatterND supports negative indices
  onnxruntime/core/providers/cpu/tensor/scatter_nd.cc
  onnxruntime/core/providers/cuda/tensor/scatter_nd_impl.cu
  onnxruntime/test/providers/cpu/tensor/scatter_nd_op_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core, component:coreruntime

#9904 QDQ tool modification part3
  onnxruntime/python/tools/quantization/onnx_quantizer.py
  onnxruntime/python/tools/quantization/operators/matmul.py
  onnxruntime/python/tools/quantization/operators/qdq_base_operator.py
  onnxruntime/python/tools/quantization/qdq_quantizer.py
  onnxruntime/python/tools/quantization/quantize.py
  onnxruntime/python/tools/quantization/registry.py
Labels: release:1.10

#9743 Update default opset to 14 in ORTModule
  orttraining/orttraining/core/optimizer/megatron_transformer.cc
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/training/_utils.py
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/_test_commons.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/onnxruntime_test_postprocess.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_onnx_ops_ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  orttraining/orttraining/test/python/orttraining_test_utils.py
  tools/ci_build/github/azure-pipelines/orttraining-pai-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch1100-cuda102.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch1100-cuda113.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch190-cuda102.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch190-cuda111.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch190-cuda114.yml
  tools/ci_build/github/azure-pipelines/templates/orttraining-linux-gpu-ortmodule-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm4_2
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm4_3_1
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda10_2
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_1
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_3
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_4
  tools/ci_build/github/linux/docker/scripts/install_python_deps.sh
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.10.0_cu10.2.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.10.0_cu11.1.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.10.0_cu11.3.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch_cpu.txt
  tools/ci_build/github/linux/docker/scripts/training/requirements.txt
  tools/ci_build/github/pai/rocm-ci-pipeline-env.Dockerfile
Labels: component:training-frontend, component:ortmodule

#9662 Add AtenOp at:bitwise_or
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core, component:ortmodule

#9496 Fix broken link to TRT doc in exception details
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
Labels: component:documentation

#10109 ConcatGrad for OpSet13
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#9734 Use FusedMatMul When Transpose is Between First Dim and Contiguous Batch Dims
  docs/ContribOperators.md
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/optimizer/matmul_transpose_fusion.cc
  onnxruntime/core/providers/cpu/math/matmul.cc
  onnxruntime/core/providers/cpu/math/matmul.h
  onnxruntime/core/providers/cpu/math/matmul_helper.h
  onnxruntime/core/providers/cuda/math/matmul.cc
  onnxruntime/core/providers/cuda/math/matmul.h
  onnxruntime/core/providers/rocm/math/matmul.cc
  onnxruntime/test/contrib_ops/fused_matmul_op_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_gen.py
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_trans_batch_fusion1.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_trans_batch_fusion2.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_trans_batch_fusion3.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_trans_batch_fusion_invalid_case1.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_trans_batch_fusion_invalid_case2.onnx
  onnxruntime/test/testdata/transform/fusion/transpose_matmul_trans_batch_fusion_invalid_case3.onnx
Labels: component:training-core
