Repository microsoft/onnxruntime, pull requests merged in 2021-07, with the labels that each got.

#8261 Add ScatterNDGrad
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#8246 Liqun/havenka/rel 1.8.1 round3
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch181-cuda111.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch190-cuda111.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage.yml
  tools/ci_build/github/azure-pipelines/templates/set-python-manylinux-variables-step.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda10_2
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_1
Labels: release:1.8.1, triage:approved

#8154 GatherElements CUDA Kernel Optimization
  onnxruntime/core/providers/cuda/tensor/gather_elements.cc
  onnxruntime/core/providers/cuda/tensor/gather_elements_impl.cu
  onnxruntime/core/providers/cuda/tensor/gather_elements_impl.h
Labels: component:training-core

#8269 Enable BN Training Mode in CPU Inference Build
  onnxruntime/core/providers/cpu/nn/batch_norm.h
  onnxruntime/test/providers/cpu/nn/batch_norm_op_test.cc
Labels: component:coreruntime, component:training-core

#8116 Support OrtMemTypeCPUInput for ATenOp/ATenOpGrad
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/framework/utils.h
  onnxruntime/core/optimizer/transformer_memcpy.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/aten_op_executor/aten_op_executor.cc
  orttraining/orttraining/test/training_ops/cpu/aten_ops/aten_op_config_test.cc
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op.cc
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op.h
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_config.cc
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_config.h
Labels: component:ortmodule, component:training-core

#8303 Pinning pillow version to 8.2.0 to circumvent regression introduced by 8.3.0
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements-torch1.9.0_rocm.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.9.0_cu10.2.txt
Labels: component:ortmodule, component:training-frontend

#8105 Autograd Function Fallback bug fix - moe support
  onnxruntime/core/language_interop_ops/torch/torch_proxy.cc
  onnxruntime/core/language_interop_ops/torch/torch_proxy.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.h
Labels: component:ortmodule, component:training-core

#8312 autograd function fallback perf
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/training_ops/cuda/torch/torch_custom_function_kernel.cc
Labels: component:ortmodule, component:training-frontend

#8294 decouple the shared python dependency
  cmake/CMakeLists.txt
  cmake/onnxruntime_python.cmake
  onnxruntime/core/dlpack/dlpack_python.cc
  onnxruntime/core/dlpack/dlpack_python.h
  onnxruntime/core/dlpack/python_common.h
  onnxruntime/python/onnxruntime_pybind_ortvalue.cc
  onnxruntime/python/onnxruntime_pybind_state_common.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
Labels: component:build, component:ortmodule

#8331 Fix segment fault for custom function
  onnxruntime/core/language_interop_ops/torch/custom_function_register.cc
  onnxruntime/core/language_interop_ops/torch/custom_function_register.h
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/test/python/_test_helpers.py
Labels: component:ortmodule, component:training-frontend

#8388 [js/node] remove unused dependency node-pre-gyp-github
  js/node/package-lock.json
  js/node/package.json
Labels: api:JavaScript

#8431 Handle duplicated names for output_grads
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule, component:training-core

#8410 Code structure update (rename only)
  cmake/onnxruntime_framework.cmake
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/core/framework/torch/custom_function_register.cc
  orttraining/orttraining/core/framework/torch/custom_function_register.h
  orttraining/orttraining/core/framework/torch/gil.h
  orttraining/orttraining/core/framework/torch/refcount_tracker.cc
  orttraining/orttraining/core/framework/torch/refcount_tracker.h
  orttraining/orttraining/core/framework/torch/torch_proxy.cc
  orttraining/orttraining/core/framework/torch/torch_proxy.h
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel.h
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.h
  orttraining/orttraining/training_ops/cuda/torch/torch_custom_function_kernel.cc
Labels: component:training-core

#8468 Update torch litghning and re-enable test
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
Labels: component:ortmodule, component:training-frontend

#8451 Improve AddValueInfo
  include/onnxruntime/core/graph/graph.h
  include/onnxruntime/core/graph/graph_viewer.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/graph/graph_viewer.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: component:coreruntime

#8301 Decouple Forward and Backward of ATenOp
  cmake/onnxruntime_framework.cmake
  cmake/onnxruntime_graph.cmake
  cmake/onnxruntime_opschema_lib.cmake
  cmake/onnxruntime_providers.cmake
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/providers/cpu/cpu_provider_shared.cc
  onnxruntime/core/providers/cpu/cpu_provider_shared.h
  onnxruntime/core/providers/shared_library/provider_api.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/gradient_definition_registry.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/__init__.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/aten_op_executor/aten_op_executor.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/training_ops/cpu/aten_ops/aten_op_attr_parser_test.cc
  orttraining/orttraining/test/training_ops/cpu/aten_ops/aten_op_config_test.cc
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op.cc
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op.h
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_attr_parser.h
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_config.cc
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_config.h
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_executor.h
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/aten_ops/aten_op.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
  tools/python/register_custom_ops_pytorch_exporter.py
Labels: component:ortmodule, component:training-core

#8411 Performance: enable faster training with skip checks config
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
Labels: component:ortmodule

#8494 Improves documentation, show InferenceSession contructor attributes
  docs/python/inference/api_summary.rst
  docs/python/inference/conf.py
  docs/python/training/conf.py
  onnxruntime/python/onnxruntime_inference_collection.py
Labels: component:documentation, component:training-frontend

#8501 Bug fix for per layer ORTModule wrap in T5
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#8336 Implement Concat with Strided copy
  cmake/onnxruntime_unittests.cmake
  onnxruntime/core/providers/cpu/sequence/concat_from_sequence.cc
  onnxruntime/core/providers/cpu/tensor/concat.cc
  onnxruntime/core/providers/cpu/tensor/concatbase.h
  onnxruntime/core/providers/cpu/tensor/copy.cc
  onnxruntime/core/providers/cpu/tensor/copy.h
  onnxruntime/test/onnx/microbenchmark/copy.cc
  onnxruntime/test/providers/cpu/sequence/concat_from_sequence_op_test.cc
  onnxruntime/test/providers/cpu/tensor/concat_op_test.cc
  onnxruntime/test/providers/cpu/tensor/copy_test.cc
  orttraining/orttraining/training_ops/cpu/tensor/concat.cc
Labels: component:coreruntime, component:training-core

#8511 ORTModule set_seed in int type
  orttraining/orttraining/python/training/ortmodule/__init__.py
Labels: component:ortmodule, component:training-frontend

#8507 Add ATenOp avg_pool2d and adaptive_avg_pool2d
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#8516 [ORTModule] Extract output schema in module's true train/eval mode
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#8470 Configuring ORTModule - End User Facing Options
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager_factory.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_logger.py
  orttraining/orttraining/python/training/ortmodule/_onnx_models.py
  orttraining/orttraining/python/training/ortmodule/_torch_module.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_factory.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/debug_options.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_bert_classifier.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_bert_classifier_autocast.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_deepspeed_zero_stage_1.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_poc.py
Labels: component:ortmodule, component:training-frontend

#8517 Enable cast propagation in the frontend.
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/orttrainer_options.py
Labels: component:ortmodule, component:training-core

#8533 Update iOS packaging script to default build static framework, disable bitcode
  tools/ci_build/build.py
  tools/ci_build/github/apple/build_ios_framework.py
  tools/ci_build/github/apple/c/onnxruntime-mobile-c.podspec.template
  tools/ci_build/github/apple/objectivec/onnxruntime-mobile-objc.podspec.template
Labels: release:1.8.2
