Repository microsoft/onnxruntime, pull requests merged in 2021-08, with the labels that each got.

#8610 [js/web] support override wasm file path
  js/common/lib/env.ts
  js/web/lib/wasm/wasm-factory.ts
  js/web/test/e2e/browser-test-wasm-path-override-filename.js
  js/web/test/e2e/browser-test-wasm-path-override-prefix.js
  js/web/test/e2e/karma.conf.js
  js/web/test/e2e/node-test-main-no-threads.js
  js/web/test/e2e/node-test-main.js
  js/web/test/e2e/node-test-wasm-path-override-filename.js
  js/web/test/e2e/node-test-wasm-path-override-prefix.js
  js/web/test/e2e/run.js
  js/web/test/e2e/simple-http-server.js
Labels: api:JavaScript, component:ort-web

#8500 doc: add ort-web related instructions to update onnx doc
  docs/How_To_Update_ONNX_Dev_Notes.md
  js/README.md
Labels: component:documentation

#8632 constrain inputs for min/max grad UT
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#8615 Support int8 for operator Split
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/tensor/split.cc
  onnxruntime/test/providers/cpu/tensor/split_op_test.cc
Labels: component:operator

#8602 Support bool type for Pad Op and fix Unsqueeze in Tile grad for Opset 13
  docs/OperatorKernels.md
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/tensor/pad.cc
  onnxruntime/core/providers/cuda/tensor/pad_impl.cu
  orttraining/orttraining/core/graph/gradient_builder.cc
Labels: component:training-core

#8722 Removing filelock import from ORTModule
  orttraining/orttraining/python/training/ortmodule/_onnx_models.py
Labels: component:training-frontend, component:ortmodule

#8582 Memory aware gradient builder.
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/gradient_builder_registry.h
  orttraining/orttraining/core/graph/gradient_config.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/experimental/json_config/_load_config_from_json.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_experimental_json_config.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_experimental_json_config_1.json
  orttraining/orttraining/test/python/orttraining_test_ortmodule_experimental_json_config_2.json
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core

#8749 [js/web] add SharedArrayBuffer check for wasm multi-thread
  js/web/lib/wasm/wasm-factory.ts
Labels: component:ort-web

#8748 [js/web] fix perf mode in test
  js/web/webpack.config.js
Labels: component:ort-web

#8346 Add PyTorch fallback for ORTModule forward exceptions
  onnxruntime/python/onnxruntime_validation.py
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/_fallback.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_interface.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager_factory.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_factory.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_interface.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_ort.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_pytorch.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/debug_options.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/__init__.py
  orttraining/orttraining/test/python/_orttraining_ortmodule_models.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
Labels: component:training-frontend, component:ortmodule

#8718 Support dicts as inputs to ORTModule
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-frontend, component:ortmodule

#8273 Gradient Accumulation optimization verified for correctness
  onnxruntime/core/framework/orttraining_partial_executor.cc
  onnxruntime/core/framework/orttraining_partial_executor.h
  onnxruntime/core/framework/partial_graph_execution_state.h
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/framework/utils.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_execution_agent.py
  orttraining/orttraining/python/training/ortmodule/_gradient_accumulation_manager.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_bert_classifier_autocast.py
Labels: component:training-core, component:ortmodule

#8510 refine custom function & tests
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/training_ops/cuda/torch/torch_custom_function_kernel.cc
Labels: component:ortmodule

#8493 enable torch interop build
  cmake/onnxruntime_session.cmake
  cmake/onnxruntime_training.cmake
  cmake/onnxruntime_unittests.cmake
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-distributed-test-ci-pipeline.yml
  tools/ci_build/github/linux/run_build.sh
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: component:build, component:ortmodule

#8773 Invertible ReluGrad
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder.cc
Labels: component:training-core

#8776 Update Python setuptools classfiers to remove windows and mac
  setup.py
Labels: component:training-frontend, component:build

#8631 [Vitis AI EP] Fix build issue due to Python interpreter not being found
  cmake/external/pyxir.cmake
Labels: ep:VitisAI

#8838 Add ATenOp at::diagonal
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core

#8807 Support external custom operator schemas on Ubuntu
  cmake/CMakeLists.txt
  cmake/onnxruntime_python.cmake
  onnxruntime/python/version_script_expose_onnx_protobuf.lds
  orttraining/orttraining/test/external_custom_ops/CMakeLists.txt
  orttraining/orttraining/test/external_custom_ops/setup.py
  orttraining/orttraining/test/external_custom_ops/src/README.md
  orttraining/orttraining/test/external_custom_ops/src/foo_op.cpp
  orttraining/orttraining/test/external_custom_ops/test.py
  orttraining/orttraining/test/external_custom_ops/testdata/gen_model.py
  orttraining/orttraining/test/external_custom_ops/testdata/model.onnx
  setup.py
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-external-custom-ops.yml
Labels: component:training-core, feature:customops

#8860 Re-introduce saving of optimized onnx model
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_onnx_models.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-frontend, component:ortmodule

#8836 Stop gradient for Multinomial, RandomNormalLike, RandomUniformLike and EyeLike
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
Labels: component:training-core

#8868 fix regression and enable custom autograd func tests in CIs
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: component:training-core

#8889 Enable registering external custom op schemas on Linux
  orttraining/orttraining/test/external_custom_ops/setup.py
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-external-custom-ops.yml
Labels: component:training-core, feature:customops

#8909 Fix Matmul transpose fusion
  onnxruntime/core/optimizer/matmul_transpose_fusion.cc
Labels: component:training-core, component:ortmodule

#8891 Correctly set the skip check flags for ORTModule
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
Labels: component:training-frontend, component:ortmodule
