Repository microsoft/onnxruntime, pull requests merged in 2021-06, with the labels that each got.

#7894 [js/web] update README.md
  js/web/README.md
Labels: component:documentation, component:ort-web, release:1.8, triage:approved

#7908 Add API_IMPL_* blocks around shared provider methods as they are C APIs
  onnxruntime/core/framework/provider_bridge_ort.cc
Labels: release:1.8

#7911 Fix Cuda shared provider files not being included in Nuget package
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.8, triage:approved

#7905 Cache initializers to avoid iterating over them on every forward
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
Labels: component:ortmodule, component:training-frontend, release:1.8

#7913 Topo sort the model before saving
  onnxruntime/python/tools/quantization/onnx_model.py
  onnxruntime/python/tools/transformers/onnx_model.py
Labels: release:1.8

#7886 [js/web] allow pull wasm artifacts from CI
  js/README.md
  js/web/package-lock.json
  js/web/package.json
  js/web/script/pull-prebuilt-wasm-artifacts.ts
Labels: component:ort-web

#7891 [js/web] support string tensor for wasm backend
  js/web/lib/onnxjs/tensor.ts
  js/web/lib/wasm/binding/ort-wasm.d.ts
  js/web/lib/wasm/options-utils.ts
  js/web/lib/wasm/run-options.ts
  js/web/lib/wasm/session-handler.ts
  js/web/lib/wasm/session-options.ts
  js/web/lib/wasm/string-utils.ts
  js/web/test/test-runner.ts
  js/web/test/test-suite-whitelist.jsonc
  onnxruntime/wasm/api.cc
  onnxruntime/wasm/api.h
Labels: component:ort-web

#7926 Add PadGradient for Constant Mode
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#7928 Update inferencing.md
  docs/how-to/build/inferencing.md
Labels: component:documentation

#7934 [wasm] allows to specify MALLOC setting for webassembly build
  cmake/onnxruntime_webassembly.cmake
  tools/ci_build/build.py
Labels: component:build, component:ort-web

#7944 [wasm] bugfix for emscripten '--preload-file' under node.js
  tools/ci_build/wasm/file_packager.py.patch
Labels: component:build, component:ort-web

#7938 Docs: Add new package links
  docs/how-to/install.md
  js/script.js
Labels: component:documentation

#7961 [wasm] emsdk: allow to install emscripten only
  .gitmodules
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/win-wasm-ci-pipeline.yml
  tools/ci_build/wasm/emsdk.py.patch
Labels: component:build

#7932 add emsdk to component detection ignore dir
  tools/ci_build/github/azure-pipelines/templates/component-governance-component-detection-steps.yml
Labels: component:build

#7513 training with custom autograd Functions
  cmake/CMakeLists.txt
  cmake/onnxruntime_framework.cmake
  cmake/onnxruntime_providers.cmake
  onnxruntime/core/dlpack/dlpack_converter.h
  onnxruntime/core/dlpack/dlpack_python.cc
  onnxruntime/core/dlpack/dlpack_python.h
  onnxruntime/core/dlpack/python_common.h
  onnxruntime/core/framework/op_kernel.cc
  onnxruntime/core/framework/provider_bridge_ort.cc
  onnxruntime/core/language_interop_ops/language_interop_ops.cc
  onnxruntime/core/language_interop_ops/torch/custom_function_register.cc
  onnxruntime/core/language_interop_ops/torch/custom_function_register.h
  onnxruntime/core/language_interop_ops/torch/gil.h
  onnxruntime/core/language_interop_ops/torch/refcount_tracker.cc
  onnxruntime/core/language_interop_ops/torch/refcount_tracker.h
  onnxruntime/core/language_interop_ops/torch/torch_proxy.cc
  onnxruntime/core/language_interop_ops/torch/torch_proxy.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/python/onnxruntime_pybind_ortvalue.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd_dist.py
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel.h
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/torch/torch_custom_function_kernel.cc
  orttraining/orttraining/training_ops/cuda/torch/torch_custom_function_kernel.h
  tools/ci_build/github/azure-pipelines/orttraining-linux-ci-pipeline.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cpu
  tools/ci_build/github/linux/docker/build_scripts/build-cpython.sh
  tools/ci_build/github/linux/docker/scripts/manylinux/install_centos.sh
Labels: component:ortmodule, component:training-core, component:training-frontend

#7896 [js/web] Add wasm SIMD backend to onnxruntime-web
  cmake/onnxruntime_unittests.cmake
  js/README.md
  js/common/lib/env.ts
  js/web/karma.conf.js
  js/web/lib/backend-wasm.ts
  js/web/lib/wasm/wasm-factory.ts
  js/web/script/build.ts
  js/web/script/pull-prebuilt-wasm-artifacts.ts
  js/web/script/test-runner-cli-args.ts
  js/web/test/test-main.ts
  onnxruntime/core/mlas/lib/mlasi.h
  tools/ci_build/github/azure-pipelines/win-wasm-ci-pipeline.yml
Labels: component:ort-web

#7971 Adding webgl shape kernel
  js/web/docs/operators.md
  js/web/lib/onnxjs/backends/webgl/op-resolve-rules.ts
  js/web/lib/onnxjs/backends/webgl/ops/shape.ts
  js/web/test/data/ops/shape.jsonc
Labels: component:ort-web

#7937 Add shape inference to custom symbolic functions
  tools/python/register_custom_ops_pytorch_exporter.py
Labels: component:ortmodule, component:training-frontend, release:1.8

#7935 [doc] update a part of the documents for ORT JavaScript
  docs/how-to/build/android-ios.md
  docs/how-to/build/inferencing.md
  docs/how-to/build/reduced.md
  docs/how-to/build/web.md
  docs/how-to/install.md
  docs/reference/api/js-api.md
  docs/reference/api/nodejs-api.md
  docs/tutorials/inferencing/api-basics.md
Labels: component:documentation

#7989 optimize js package folder structure
  js/common/.gitignore
  js/common/.npmignore
  js/common/package.json
  js/common/tsconfig.json
  js/node/.gitignore
  js/node/.npmignore
  js/node/package.json
  js/node/script/tsconfig.json
  js/node/test/e2e/inference-session-run.ts
  js/node/test/e2e/simple-e2e-tests.ts
  js/node/test/test-main.ts
  js/node/test/test-runner.ts
  js/node/test/test-utils.ts
  js/node/test/tsconfig.json
  js/node/test/unittests/lib/inference-session.ts
  js/node/tsconfig.json
  js/tsconfig.tools.json
Labels: api:JavaScript

#7954 Override ORTModule named_modules to support extra arg
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
Labels: component:ortmodule, component:training-frontend

#7899 Add SoftmaxCrossEntropyLossInternal to Support Dynamic ignore_index Input
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/test/providers/compare_provider_test_utils.cc
  onnxruntime/test/providers/compare_provider_test_utils.h
  onnxruntime/test/testdata/kernel_def_hashes/training_ops.cpu.json
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/loss_rewriter.cc
  orttraining/orttraining/core/optimizer/loss_rewriter.h
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/training_ops/cuda/cross_entropy_test.cc
  orttraining/orttraining/test/training_ops/cuda/negativeloglikelihood_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/loss/softmax_cross_entropy_loss.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cc
  tools/python/register_custom_ops_pytorch_exporter.py
Labels: component:ortmodule, component:training-core

#7993 Fix Python Packaging Pipeline && Build Clean Up
  cmake/CMakeLists.txt
  cmake/onnxruntime_framework.cmake
  cmake/onnxruntime_interop_torch.cmake
  cmake/onnxruntime_providers.cmake
  cmake/onnxruntime_python.cmake
  onnxruntime/core/dlpack/dlpack_python.cc
  onnxruntime/core/dlpack/dlpack_python.h
  onnxruntime/core/dlpack/python_common.h
  onnxruntime/python/onnxruntime_pybind_state.cc
  tools/ci_build/github/azure-pipelines/orttraining-linux-ci-pipeline.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cpu
  tools/ci_build/github/linux/docker/build_scripts/build-cpython.sh
  tools/ci_build/github/linux/docker/scripts/manylinux/install_centos.sh
Labels: component:coreruntime, component:ortmodule, component:training-core

#8010 Save module output for backward if needed
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#8018 Make logic in InsertCastTransformer around forcing a node to fp32 more precise.
  onnxruntime/core/optimizer/insert_cast_transformer.cc
  onnxruntime/test/framework/insert_cast_transformer_test.cc
  onnxruntime/test/providers/internal_testing/internal_testing_tests.cc
  onnxruntime/test/testdata/transform/fp16model_loop.onnx
Labels: release:1.8.1

#7987 Update DirectML EP changes from DmlDev as of 2021-06-07
  onnxruntime/core/providers/dml/DmlExecutionProvider/inc/IWinmlExecutionProvider.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/AbiCustomRegistry.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/AbiCustomRegistry.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/GraphDescBuilder.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/GraphPartitioner.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorRegistration.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/MLOperatorAuthorPrivate.h
  winml/adapter/abi_custom_registry_impl.cpp
  winml/adapter/abi_custom_registry_impl.h
Labels: release:1.8.1

#8021 Update Version.md
  docs/Versioning.md
Labels: component:documentation

#8043 fix PATH addition in windows
  onnxruntime/python/_pybind_state.py
Labels: release:1.8.1

#8067 Reduce Kernel Optimization
  onnxruntime/core/providers/cuda/reduction/reduction_functions.cc
  orttraining/orttraining/test/training_ops/cuda/reduce_sum_test.cc
Labels: component:training-core

#8011 Fix PythonOp with input which has no gradient
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
Labels: component:training-core, type:bug

#8079 [Mobile package] Update required operator config with additional ops for wav2vec2.
  tools/ci_build/github/android/mobile_package.required_operators.config
  tools/ci_build/github/android/mobile_package.required_operators.readme.txt
Labels: release:1.8.1

#8088 Add module attribute to ORTModule to support HuggingFace Trainer save_model
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ci-pipeline.yml
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
Labels: component:ortmodule, component:training-frontend, release:1.8.1

#8098 Fix input schema extraction for ORTModule
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule, component:training-frontend, release:1.8.1

#8100 Relax tol to make packaging CI more reliable
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#8122 Fix 32bit Android java API crash
  java/src/main/native/ai_onnxruntime_OrtSession.c
Labels: release:1.8.1, triage:approved

#8123 [Mobile package] Update required operator config with additional ops for newer version of Wav2Vec 2.
  tools/ci_build/github/android/mobile_package.required_operators.config
  tools/ci_build/github/android/mobile_package.required_operators.readme.txt
Labels: release:1.8.1, triage:approved

#8126 [js/react-native] bump up the version of mobile package to 1.8.1
  js/react_native/android/gradle.properties
Labels: release:1.8.1

#8138 Update logic in props.xml to account for shared provider library changes
  csharp/src/Microsoft.ML.OnnxRuntime/props.xml
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.8.1

#8131 Ortmodule override torch.manual_seed()
  orttraining/orttraining/python/training/ortmodule/__init__.py
Labels: component:ortmodule, component:training-frontend, release:1.8.1, triage:approved

#8086 Fetching frontier tensors to frontend for ORTModule
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_bert_classifier_autocast.py
Labels: component:ortmodule, component:training-core

#7939 Fix Python Cuda loading issues
  onnxruntime/core/framework/provider_bridge_ort.cc
  onnxruntime/core/platform/windows/env.cc
  onnxruntime/python/_pybind_state.py
  onnxruntime/python/onnxruntime_pybind_mlvalue.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  onnxruntime/test/framework/inference_session_test.cc
Labels: release:1.8.1, triage:approved

#8153 Fix macOS python shared_provider warning
  onnxruntime/python/onnxruntime_pybind_state.cc
Labels: release:1.8.1

#8084 make pipelines to support torch1.8.1 and torch1.9.0
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  setup.py
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch181-cuda102.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch181-cuda111.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch190-cuda102.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch190-cuda111.yml
  tools/ci_build/github/azure-pipelines/templates/orttraining-linux-gpu-ortmodule-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda10_2
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_1
  tools/ci_build/github/linux/docker/scripts/install_python_deps.sh
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements-rocm.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements-torch1.8.1_rocm.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements-torch1.9.0_rocm.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.8.1_cu10.2.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.8.1_cu11.1.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.9.0_cu10.2.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.9.0_cu11.1.txt
Labels: release:1.8.1, triage:approved

#8027 Add post-install command to build PyTorch CPP extensions from within onnxruntime package
  cmake/onnxruntime_python.cmake
  onnxruntime/python/onnxruntime_validation.py
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/__init__.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/aten_op_executor/aten_op_executor.cc
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/aten_op_executor/setup.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/install.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/torch_gpu_allocator/setup.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/torch_gpu_allocator/torch_gpu_allocator.cc
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_pytorch_ddp.py
  requirements-dev.txt
  requirements-training.txt
  samples/swift/SwiftMnist/OnnxInterop.hpp
  setup.py
  tools/ci_build/github/azure-pipelines/linux-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-pai-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/orttraining-linux-gpu-ortmodule-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage.yml
  tools/ci_build/github/linux/docker/scripts/manylinux/install_deps.sh
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements-torch1.8.1_rocm.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements-torch1.9.0_rocm.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.8.1_cu10.2.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.8.1_cu11.1.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.9.0_cu10.2.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.9.0_cu11.1.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch_cpu.txt
  tools/ci_build/github/linux/docker/scripts/training/requirements.txt
  tools/ci_build/requirements.txt
Labels: component:ortmodule, component:training-frontend, release:1.8.1, triage:approved

#8181 Revert the cuda algo finding change as this causes a significant memory bloat.
  onnxruntime/core/providers/cuda/nn/conv.cc
  onnxruntime/core/providers/cuda/nn/conv.h
Labels: release:1.8.1

#8247 Propagate ROCM version to onnxruntime wheel package
  setup.py
Labels: component:ortmodule, component:training-frontend, release:1.8.1
