Repository microsoft/onnxruntime, pull requests merged in 2021-11, with the labels that each got.

#9533 [DmlEp] Avoid warning C4495
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/MLOperatorAuthorImpl.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorRecurrentNeuralNetwork.cpp
Labels: ep:DML

#9634 Make ORTModule serializable
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_ort.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-frontend, component:ortmodule

#9638 enable prefast check with orttraining win pipeline
  tools/ci_build/github/azure-pipelines/orttraining-win-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/win-ci-2019.yml
Labels: component:build

#9508 Save graph runtime optimizations for minimal build
  include/onnxruntime/core/framework/kernel_registry.h
  include/onnxruntime/core/graph/basic_types.h
  include/onnxruntime/core/graph/graph.h
  include/onnxruntime/core/optimizer/graph_transformer_utils.h
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/flatbuffers/create_python_bindings.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/experimental/fbs/Graph.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/experimental/fbs/NodeIndexAndKernelDefHash.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/experimental/fbs/NodesToOptimizeIndices.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/experimental/fbs/RuntimeOptimizationRecord.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/experimental/fbs/RuntimeOptimizationRecordContainerEntry.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/experimental/fbs/RuntimeOptimizations.py
  onnxruntime/core/flatbuffers/ort_format_version.h
  onnxruntime/core/flatbuffers/schema/.gitignore
  onnxruntime/core/flatbuffers/schema/README.md
  onnxruntime/core/flatbuffers/schema/compile_schema.py
  onnxruntime/core/flatbuffers/schema/ort.fbs
  onnxruntime/core/flatbuffers/schema/ort.fbs.h
  onnxruntime/core/framework/kernel_registry.cc
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/graph/runtime_optimization_record.h
  onnxruntime/core/graph/runtime_optimization_record_container.cc
  onnxruntime/core/graph/runtime_optimization_record_container.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_actions.cc
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_actions.h
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_selector_action_transformer.cc
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_selector_action_transformer.h
  onnxruntime/core/optimizer/selectors_actions/actions.cc
  onnxruntime/core/optimizer/selectors_actions/actions.h
  onnxruntime/core/optimizer/selectors_actions/helpers.cc
  onnxruntime/core/optimizer/selectors_actions/helpers.h
  onnxruntime/core/optimizer/selectors_actions/runtime_optimization_save_context.h
  onnxruntime/core/optimizer/selectors_actions/selector_action_transformer.cc
  onnxruntime/core/optimizer/selectors_actions/selector_action_transformer.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/test/framework/test_utils.cc
  onnxruntime/test/optimizer/graph_runtime_optimization_test.cc
  onnxruntime/test/testdata/transform/runtime_optimization/add_with_surrounding_identities.onnx
  onnxruntime/test/testdata/transform/runtime_optimization/add_with_surrounding_identities_gen.py
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
Labels: feature: mobile

#9648 Optimize _TileKernel for non-memcpy case
  onnxruntime/core/providers/cuda/tensor/tile_impl.cu
  onnxruntime/test/providers/cpu/tensor/tile_op_test.cc
Labels: component:training-core

#9678 change a for iteration in extract_outputs_and_maybe_update_cache
  orttraining/orttraining/python/training/ortmodule/_gradient_accumulation_manager.py
Labels: component:training-core

#9633 Added Trilu CUDA kernel.
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/tensor/trilu.cc
  onnxruntime/core/providers/cpu/tensor/trilu.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/tensor/trilu.cc
  onnxruntime/core/providers/cuda/tensor/trilu.h
  onnxruntime/core/providers/cuda/tensor/trilu_impl.cu
  onnxruntime/core/providers/cuda/tensor/trilu_impl.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core, component:operator, component:ortmodule

#9697 Use the same allocator following Pytorch
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cuda/torch_gpu_allocator/torch_gpu_allocator.cc
Labels: component:training-frontend, component:ortmodule

#9670 ATenOp Support for BCEWithLogitsLoss
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#9699 Implement a Gemm/Sum fusion pattern
  onnxruntime/core/optimizer/gemm_sum_fusion.cc
  onnxruntime/core/optimizer/gemm_sum_fusion.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/gemm_sum_attributes.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_sum_basic.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_sum_fusion_broadcast.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_sum_gen.py
  onnxruntime/test/testdata/transform/fusion/gemm_sum_internal_nodes.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_sum_no_fusion_broadcast_failure.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_sum_no_fusion_c_used.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_sum_no_fusion_original_gemm_output_used.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_sum_no_fusion_sum_multiple_inputs.onnx
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: component:training-core

#9696 Implement block wise softmax for reduction dimention > 1024 cases.
  onnxruntime/contrib_ops/cuda/bert/attention_softmax.h
  onnxruntime/contrib_ops/cuda/math/bias_softmax_impl.cu
  onnxruntime/contrib_ops/rocm/math/bias_softmax_impl.cu
  onnxruntime/core/providers/cuda/math/softmax.cc
  onnxruntime/core/providers/cuda/math/softmax.h
  onnxruntime/core/providers/cuda/math/softmax_blockwise_impl.cuh
  onnxruntime/core/providers/cuda/math/softmax_impl.cu
  onnxruntime/core/providers/cuda/math/softmax_impl.cuh
  onnxruntime/core/providers/cuda/math/softmax_warpwise_impl.cuh
  onnxruntime/core/providers/rocm/math/softmax.cc
  onnxruntime/core/providers/rocm/math/softmax_impl.cu
  onnxruntime/core/providers/rocm/math/softmax_warpwise_impl.cuh
  onnxruntime/test/providers/cpu/math/logsoftmax_test.cc
  onnxruntime/test/providers/cpu/math/softmax_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cc
  orttraining/orttraining/training_ops/cuda/loss/softmaxcrossentropy_impl.cc
  orttraining/orttraining/training_ops/cuda/math/softmax_grad_impl.cu
  orttraining/orttraining/training_ops/rocm/math/softmax_grad_impl.cu
  tools/ci_build/amd_hipify.py
Labels: component:training-core

#9709 Update training pipelines to pytorch 1.10
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch1100-cuda102.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch1100-cuda113.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-torch182-cuda111.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_3
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.10.0_cu10.2.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.10.0_cu11.3.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.8.2_cu10.2.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.8.2_cu11.1.txt
Labels: component:ortmodule

#9713 Update default cast propagation strategy from None to FloodFill
  include/onnxruntime/core/optimizer/graph_transformer_config.h
  onnxruntime/core/optimizer/propagate_cast_ops.cc
  onnxruntime/core/optimizer/propagate_cast_ops.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/experimental/json_config/_load_config_from_json.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core, component:training-frontend

#9750 Add redirect
  Gemfile
  Gemfile.lock
  _config.yml
  docs/api/csharp-api.md
Labels: component:documentation

#9589 [OpenVINO EP] v3.3 Release Documentation update
  docs/build/eps.md
  docs/execution-providers/OpenVINO-ExecutionProvider.md
Labels: component:documentation

#9590 Register Custom Symbolic of torch.einsum for ORTModule
  onnxruntime/core/optimizer/gemm_transpose_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/gemm_transpose_gen.py
  onnxruntime/test/testdata/transform/fusion/gemm_transpose_inputs_output_transposed_2.onnx
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#9761 Add CUDA Kernels of RandomNormal[Like], RandomUniform[Like]
  docs/OperatorKernels.md
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/generator/random.cc
  onnxruntime/core/providers/cuda/generator/random.h
  onnxruntime/core/providers/cuda/generator/random_impl.cu
  onnxruntime/core/providers/cuda/generator/random_impl.h
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
  onnxruntime/test/providers/cpu/generator/random_test.cc
Labels: component:training-core

#9733 Updated SoftmaxGrad and LogSoftmaxGrad to support version 13.
  onnxruntime/test/testdata/kernel_def_hashes/training_ops.cpu.json
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/op_gradients.cc
  orttraining/orttraining/training_ops/cpu/op_gradients.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/math/softmax_grad.cc
  orttraining/orttraining/training_ops/cuda/math/softmax_grad.h
Labels: component:training-core, component:operator

#9817 [js/web] optimize bundle file size
  js/README.md
  js/common/tsconfig.json
  js/common/webpack.config.js
  js/tsconfig.json
  js/web/.npmignore
  js/web/lib/build-def.ts
  js/web/lib/index.ts
  js/web/lib/wasm/proxy-wrapper.ts
  js/web/lib/wasm/wasm-factory.ts
  js/web/package-lock.json
  js/web/package.json
  js/web/script/build.ts
  js/web/test/e2e/browser-test-wasm-proxy-no-threads.js
  js/web/test/e2e/karma.conf.js
  js/web/test/e2e/run.js
  js/web/test/e2e/simple-http-server.js
  js/web/tsconfig.json
  js/web/webpack.config.js
Labels: component:ort-web

#9834 Limit inclusion of Xamarin mobile target frameworks.
  csharp/OnnxRuntime.CSharp.proj
  csharp/OnnxRuntime.DesktopOnly.CSharp.sln
  csharp/readme.txt
  csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.csproj
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/win-ci-2019.yml
  tools/ci_build/github/azure-pipelines/templates/win-cpu-ci.yml
  tools/ci_build/github/azure-pipelines/win-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-gpu-cuda-10-2-pipeline.yml
Labels: release:1.10

#9838 bumping up ORT_API_VERSION to 10
  include/onnxruntime/core/session/onnxruntime_c_api.h
Labels: release:1.10

#9652 POWER10: Add optimized dgemm kernel
  cmake/onnxruntime_mlas.cmake
  onnxruntime/core/mlas/lib/mlasi.h
  onnxruntime/core/mlas/lib/platform.cpp
  onnxruntime/core/mlas/lib/power/DgemmKernelPOWER10.cpp
  onnxruntime/core/mlas/lib/power/DgemmKernelpower.h
  onnxruntime/core/mlas/lib/power/FgemmKernelpower.h
  onnxruntime/core/mlas/lib/power/SgemmKernelPOWER10.cpp
  onnxruntime/core/mlas/lib/power/SgemmKernelpower.h
Labels: release:1.10

#9840 Fix memset size
  onnxruntime/contrib_ops/cuda/inverse.cc
Labels: release:1.10

#9848 [OpenVINO-EP] V3.4 Release with OpenVINO 2021.4.2 LTS Release
  cmake/CMakeLists.txt
  dockerfiles/Dockerfile.openvino
  dockerfiles/Dockerfile.openvino-centos7
  dockerfiles/Dockerfile.openvino-csharp
  onnxruntime/core/providers/openvino/ov_versions/data_ops.cc
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_openvino
Labels: release:1.10

#9841 Fix potential data race with OrtValue usage in Python
  onnxruntime/core/providers/cuda/cuda_provider_factory.cc
  onnxruntime/test/python/onnxruntime_test_python.py
  onnxruntime/test/testdata/identity_9799.onnx
Labels: release:1.10

#9836 Document a few features for rel 1.10
  docs/execution-providers/CUDA-ExecutionProvider.md
  docs/performance/tune-performance.md
Labels: release:1.10

#9850 fix build break in release pipeline for Node.js binding test
  tools/ci_build/github/azure-pipelines/nodejs/templates/test.yml
Labels: release:1.10

#9839 [js/web] do not use nodejs type 'Buffer' in web
  js/web/lib/onnxjs/attribute.ts
  js/web/lib/onnxjs/session.ts
  js/web/lib/onnxjs/tensor.ts
  js/web/lib/onnxjs/util.ts
  js/web/package.json
  js/web/test/test-runner.ts
  js/web/test/test-shared.ts
  js/web/webpack.config.js
Labels: release:1.10

#9863 no fallback when enforcing explicit EP registration.
  onnxruntime/core/providers/nuphar/scripts/rnn_benchmark.py
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/tools/onnxruntime_test.py
Labels: release:1.10

#9837 Improve error msg if Input of LayerNorm has no data
  onnxruntime/contrib_ops/cuda/bert/skip_layer_norm.cc
  onnxruntime/contrib_ops/cuda/layer_norm.cc
Labels: triage:approved, release:1.10

#9861 [js/node] npm audit fix
  js/node/package-lock.json
  js/node/package.json
Labels: triage:approved, release:1.10

#9872 [python manylinux package] emit warning if missing CUDA/TensorRT dependency causes ld_preload to fail and user tries to register either CUDA/TensorRT EP
  onnxruntime/python/onnxruntime_pybind_state.cc
Labels: triage:approved, release:1.10

#9720 QDQ tool modification part2
  onnxruntime/python/tools/quantization/onnx_quantizer.py
  onnxruntime/python/tools/quantization/operators/qdq_base_operator.py
  onnxruntime/python/tools/quantization/qdq_quantizer.py
  onnxruntime/python/tools/quantization/quantize.py
  onnxruntime/test/python/quantization/test_qdq.py
Labels: triage:approved, release:1.10

#9882 Explain usage of --enable_cuda_profiling
  docs/execution-providers/CUDA-ExecutionProvider.md
  docs/performance/tune-performance.md
Labels: release:1.10

#9870 Cancel transpose optimizer for resize
  onnxruntime/core/optimizer/transpose_optimizer/transpose_optimizer.cc
  onnxruntime/test/optimizer/transpose_optimizer_test.cc
  onnxruntime/test/shared_lib/test_inference.cc
  onnxruntime/test/testdata/crop_and_resize.onnx
Labels: triage:approved, release:1.10

#9875 Add build option to enable cuda profiling
  cmake/CMakeLists.txt
  cmake/onnxruntime_providers.cmake
  onnxruntime/core/providers/cuda/cuda_profiler.cc
  onnxruntime/core/providers/cuda/cuda_profiler.h
  onnxruntime/test/framework/inference_session_test.cc
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-gpu-ci-pipeline.yml
Labels: triage:approved, release:1.10
