Repository microsoft/onnxruntime, pull requests merged in 2021-02, with the labels that each got.

#6490 Fix CUDA Reduction kernel for ArgMax/ArgMix for when reduction dim=1
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
  tools/ci_build/github/pai/pai-excluded-tests.txt
Labels: component:coreruntime, ep:CUDA

#6329 Update CODEOWNERS with new frontend team
  CODEOWNERS
Labels: component:training-frontend

#6559 [Node.js binding] support NPM v7+
  nodejs/package-lock.json
  nodejs/package.json
Labels: api:NodeJS

#6560 OpenVino add build_shared_lib flag in the build command
  BUILD.md
  dockerfiles/Dockerfile.openvino
  dockerfiles/Dockerfile.openvino-csharp
  onnxruntime/core/providers/openvino/ov_versions/capability_2021_1.cc
Labels: ep:OpenVINO

#6581 Generate shape-independent graph if any input dimension < 2
  orttraining/orttraining/core/graph/gradient_builder.cc
Labels: type:bug

#6586 Log warning when GetGradientForOp() silently fails.
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
Labels: component:training-core

#6395 OrtModule v0.21
  include/onnxruntime/core/framework/op_kernel.h
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/op_kernel.cc
  onnxruntime/core/framework/op_kernel_context_internal.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/python/dl_convertor.h
  onnxruntime/python/dlpack_convertor.cc
  onnxruntime/python/dlpack_convertor.h
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/core/framework/module_gradient_graph_builder.cc
  orttraining/orttraining/core/framework/module_gradient_graph_builder.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cpu/controlflow/event_pool.cc
  orttraining/orttraining/training_ops/cpu/controlflow/event_pool.h
  orttraining/orttraining/training_ops/cpu/controlflow/message_queue.h
  orttraining/orttraining/training_ops/cpu/controlflow/yield.cc
  orttraining/orttraining/training_ops/cpu/controlflow/yield.h
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/controlflow/yield.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
Labels: component:training-core

#6645 Renames onnx graphs in ortmodule.py
  orttraining/orttraining/core/framework/module_gradient_graph_builder.cc
  orttraining/orttraining/core/framework/module_gradient_graph_builder.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
Labels: ortmodule

#6646 Longformer Attention CUDA kernel memory Improvements
  onnxruntime/contrib_ops/cuda/bert/longformer_attention.cc
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_impl.h
  onnxruntime/contrib_ops/cuda/bert/longformer_global_impl.cu
  onnxruntime/contrib_ops/cuda/bert/longformer_global_impl.h
  onnxruntime/python/tools/transformers/longformer/__init__.py
  onnxruntime/python/tools/transformers/longformer/benchmark_longformer.py
  onnxruntime/python/tools/transformers/longformer/convert_longformer_to_onnx.py
Labels: model:Longformer, release:1.7

#6701 Update ORT model conversion script to support custom ops
  docs/ONNX_Runtime_for_Mobile_Platforms.md
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  tools/ci_build/github/linux/ort_minimal/build_full_ort_and_create_ort_files.sh
  tools/python/convert_onnx_models_to_ort.py
  tools/python/create_reduced_build_config.py
  tools/python/util/ort_format_model/utils.py
Labels: release:1.7

#6671 Deprecate OMP from nuget pipeline (release:1.7)
  tools/ci_build/github/azure-pipelines/c-api-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/nuget/cpu-esrp-noopenmp-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.7

#6664 Update packaging pipelines
  csharp/OnnxRuntime.CSharp.proj
  csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests/runtest-docker-gpu.sh
  csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests/runtest-docker.sh
  csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests/runtest.sh
  tools/ci_build/github/azure-pipelines/linux-gpu-cuda-11-pipeline.yml
  tools/ci_build/github/azure-pipelines/nuget/cpu-esrp-noopenmp-pipeline.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/gpu.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-docker-release-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu-no-java.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/win-ci.yml
  tools/ci_build/github/windows/bundle_dlls.bat
  tools/ci_build/github/windows/jar_gpu_packaging.ps1
Labels: release:1.7

#6720 [Node.js binding] update dependency 'marked' 1.* -> 2.0.0
  nodejs/package-lock.json
  nodejs/package.json
Labels: api:NodeJS

#6726 [OpenVINO-EP] Fixes OpenVINO-EP build on windows
  onnxruntime/test/perftest/ort_test_session.cc
Labels: release:1.7

#6728 Threading support for Hybrid core architecture
  onnxruntime/core/common/cpuid_info.cc
  onnxruntime/core/common/cpuid_info.h
  onnxruntime/core/common/threadpool.cc
  onnxruntime/core/mlas/lib/dgemm.cpp
  onnxruntime/core/mlas/lib/mlasi.h
  onnxruntime/core/mlas/lib/platform.cpp
  onnxruntime/core/mlas/lib/qgemm.cpp
  onnxruntime/core/mlas/lib/sgemm.cpp
  onnxruntime/core/mlas/lib/x86_64/QgemmU8S8KernelAvxVnni.S
  onnxruntime/core/providers/cpu/nn/qlinearconv.cc
Labels: release:1.7

#6679 Plug n Allocate with external CUDA allocator via PyBind.
  include/onnxruntime/core/framework/provider_options_utils.h
  onnxruntime/core/providers/cuda/cuda_allocator.cc
  onnxruntime/core/providers/cuda/cuda_allocator.h
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.h
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.h
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/python/onnxruntime_test_python.py
Labels: component:training-core

#6736 Bumping up version to 1.7
  VERSION_NUMBER
  docs/Versioning.md
  docs/python/README.rst
  nodejs/package-lock.json
  nodejs/package.json
  onnxruntime/__init__.py
  onnxruntime/core/session/onnxruntime_c_api.cc
  package/rpm/onnxruntime.spec
Labels: release:1.7

#6735 Avoid removing constant weight that is graph output
  onnxruntime/python/tools/quantization/E2E_example_model/image_classification/cpu/run.py
  onnxruntime/python/tools/quantization/onnx_model.py
Labels: release:1.7

#6734 ORTModule - FastGeluFusion/fp16 fix and minor LayerNormFusion cleanup
  onnxruntime/core/optimizer/fast_gelu_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/fast_gelu3_with_casts.onnx
  onnxruntime/test/testdata/transform/fusion/fast_gelu3_with_casts.py
  onnxruntime/test/testdata/transform/fusion/layer_norm_with_cast_2.py
Labels: ortmodule

#6746 fix link to samples in nodejs README
  nodejs/README.md
Labels: api:NodeJS, component:documentation

#6539 Support keyword arguments for ORTModule
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_bert_classifier.py
Labels: component:ortmodule

#6760 Fix longformer parity and perf regression
  onnxruntime/contrib_ops/cpu/bert/longformer_attention_base.h
  onnxruntime/contrib_ops/cuda/bert/longformer_attention.cc
  onnxruntime/contrib_ops/cuda/bert/longformer_attention.h
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_impl.h
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_softmax.cu
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_softmax.h
  onnxruntime/python/tools/transformers/benchmark_helper.py
  onnxruntime/python/tools/transformers/longformer/__init__.py
  onnxruntime/python/tools/transformers/longformer/benchmark_longformer.py
  onnxruntime/python/tools/transformers/longformer/convert_longformer_to_onnx.py
  onnxruntime/python/tools/transformers/longformer/longformer_helper.py
  onnxruntime/python/tools/transformers/onnx_model.py
  onnxruntime/test/contrib_ops/longformer_attention_op_test.cc
  tools/ci_build/amd_hipify.py
Labels: model:Longformer, release:1.7

#6772 update benchmark_longformer with default test suite
  onnxruntime/python/tools/transformers/benchmark_helper.py
  onnxruntime/python/tools/transformers/longformer/benchmark_longformer.py
  onnxruntime/python/tools/transformers/longformer/convert_longformer_to_onnx.py
Labels: model:Longformer

#6780 Update DirectML 1.4.1 to 1.4.2 for ORT 1.7
  cmake/external/dml.cmake
  packages.config
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.7

#6796 Update transformers benchmark for transformers 4.3.* and ORT 1.7
  onnxruntime/python/tools/transformers/README.md
  onnxruntime/python/tools/transformers/benchmark.py
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
  onnxruntime/python/tools/transformers/bert_perf_test.py
  onnxruntime/python/tools/transformers/bert_test_data.py
  onnxruntime/python/tools/transformers/compare_bert_results.py
  onnxruntime/python/tools/transformers/convert_to_onnx.py
  onnxruntime/python/tools/transformers/dev_benchmark.cmd
  onnxruntime/python/tools/transformers/gpt2_helper.py
  onnxruntime/python/tools/transformers/huggingface_models.py
  onnxruntime/python/tools/transformers/run_benchmark.sh
  onnxruntime/python/tools/transformers/test/test_gpt2.py
Labels: release:1.7, triage:approved

#6700 Rewrite ORTModule background task coordination
  onnxruntime/core/providers/cpu/controlflow/message_queue.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cpu/controlflow/ort_tasks.cc
  orttraining/orttraining/training_ops/cpu/controlflow/ort_tasks.h
  orttraining/orttraining/training_ops/cpu/controlflow/yield.cc
Labels: component:ortmodule

#6795 Fix regression in constant folding optimizer
  onnxruntime/core/optimizer/constant_folding.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/constant_folding_remove_dangling_inputs.onnx
Labels: release:1.7, triage:approved

#6802 Update TensorRT INT8 resnet example
  onnxruntime/python/tools/quantization/E2E_example_model/image_classification/trt/resnet50/e2e_tensorrt_resnet_example.py
Labels: release:1.7

#6803 Check gradient correctness in the UTs
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#6812 Cherry Pick for ORT 1.7.0
  cmake/external/dml.cmake
  onnxruntime/contrib_ops/cpu/bert/longformer_attention_base.h
  onnxruntime/contrib_ops/cuda/bert/longformer_attention.cc
  onnxruntime/contrib_ops/cuda/bert/longformer_attention.h
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_impl.h
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_softmax.cu
  onnxruntime/contrib_ops/cuda/bert/longformer_attention_softmax.h
  onnxruntime/core/optimizer/constant_folding.cc
  onnxruntime/core/providers/cpu/math/einsum_utils/einsum_auxiliary_ops.cc
  onnxruntime/core/providers/cpu/math/einsum_utils/einsum_typed_compute_processor.cc
  onnxruntime/core/providers/cuda/math/einsum.cc
  onnxruntime/core/providers/cuda/math/einsum_utils/einsum_auxiliary_ops.cc
  onnxruntime/core/providers/cuda/math/einsum_utils/einsum_auxiliary_ops_diagonal.cu
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/python/tools/quantization/E2E_example_model/image_classification/trt/resnet50/e2e_tensorrt_resnet_example.py
  onnxruntime/python/tools/quantization/calibrate.py
  onnxruntime/python/tools/transformers/README.md
  onnxruntime/python/tools/transformers/benchmark.py
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
  onnxruntime/python/tools/transformers/benchmark_helper.py
  onnxruntime/python/tools/transformers/bert_perf_test.py
  onnxruntime/python/tools/transformers/bert_test_data.py
  onnxruntime/python/tools/transformers/compare_bert_results.py
  onnxruntime/python/tools/transformers/convert_to_onnx.py
  onnxruntime/python/tools/transformers/dev_benchmark.cmd
  onnxruntime/python/tools/transformers/gpt2_helper.py
  onnxruntime/python/tools/transformers/huggingface_models.py
  onnxruntime/python/tools/transformers/longformer/__init__.py
  onnxruntime/python/tools/transformers/longformer/benchmark_longformer.py
  onnxruntime/python/tools/transformers/longformer/convert_longformer_to_onnx.py
  onnxruntime/python/tools/transformers/longformer/longformer_helper.py
  onnxruntime/python/tools/transformers/onnx_model.py
  onnxruntime/python/tools/transformers/run_benchmark.sh
  onnxruntime/python/tools/transformers/test/test_gpt2.py
  onnxruntime/test/contrib_ops/longformer_attention_op_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/providers/cpu/math/einsum_test.cc
  onnxruntime/test/testdata/transform/fusion/constant_folding_remove_dangling_inputs.onnx
  packages.config
  tools/ci_build/amd_hipify.py
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.7

#6657 Added RequiredGrad attribute to YieldOp
  orttraining/orttraining/core/framework/module_gradient_graph_builder.cc
  orttraining/orttraining/core/framework/module_gradient_graph_builder.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#6813 Add pipeline to clear the cache for huggingface transormers models
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-test-clear-cache-pipeline.yml
Labels: component:ortmodule

#6833 Do not create compute stream when external CUDA allocator is used.
  onnxruntime/core/providers/cuda/cuda_allocator.h
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.h
Labels: component:training-core

#6809 Enable PyTorch Lightning basic test on CI
  orttraining/orttraining/test/python/orttraining_ortmodule_distributed_tests.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_bert_classifier.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_deepspeed_zero_stage_1.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_poc.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_torch_lightning_basic.py
  tools/ci_build/github/linux/docker/scripts/training/requirements.txt
Labels: component:ortmodule
