Repository microsoft/onnxruntime, pull requests merged in 2021-05, with the labels that each got.

#7514 Complete GetGlobalAveragePoolGradient
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#6946 Fix batch norm training op on CPU
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/nn/batch_norm.cc
  onnxruntime/core/providers/cpu/nn/batch_norm.h
  onnxruntime/test/providers/cpu/nn/batch_norm_op_test.cc
  onnxruntime/test/testdata/kernel_def_hashes/onnx.cpu.json
  orttraining/orttraining/core/framework/gradient_graph_builder.h
Labels: component:training-core

#7530 Install and use conda on ortmodule CI pipelines
  dockerfiles/Dockerfile.nuphar
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-test-ci-pipeline.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda10_2
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_1
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_for_arm
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_gpu
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_gpu_training
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_openvino
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_tensorrt
  tools/ci_build/github/linux/docker/scripts/install_os_deps.sh
  tools/ci_build/github/linux/docker/scripts/install_python_deps.sh
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: component:ortmodule

#7423 ORTModule enable run_symbolic_shape_infer by default
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#6262 Upgrade GIST memory compression nodes, kernels, optimizer rule, and cli
  onnxruntime/test/ir/graph_test.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/gist_encode_decode.cc
  orttraining/orttraining/core/optimizer/gist_encode_decode.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/gpt2/main.cc
  orttraining/orttraining/models/mnist/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/models/runner/training_runner.h
  orttraining/orttraining/test/graph/gradient_graph_builder_test.cc
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/gist/gist.cc
  orttraining/orttraining/training_ops/cuda/gist/gist.h
  orttraining/orttraining/training_ops/cuda/gist/gist_impl.cu
  orttraining/orttraining/training_ops/cuda/gist/gist_impl.h
Labels: component:training-core

#7556 Tile grad fix
  orttraining/orttraining/core/graph/gradient_builder.cc
Labels: component:training-core

#7561 Fix 2 input Gemm grad
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#7007 Add support for setting shape inference function on fused nodes
  include/onnxruntime/core/graph/indexed_sub_graph.h
  onnxruntime/core/graph/function.cc
  onnxruntime/test/framework/inference_session_test.cc
  onnxruntime/test/util/include/inference_session_wrapper.h
Labels: component:coreruntime

#7206 Speed up Reduce operators for consecutive reduced axes
  onnxruntime/core/providers/cpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/cpu/reduction/reduction_ops.h
  onnxruntime/core/util/math_cpu.cc
  onnxruntime/test/providers/cpu/math/einsum_test.cc
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
  orttraining/orttraining/training_ops/cpu/reduction/reduction_ops.cc
Labels: component:operator, type:performance

#7557 Improves NonMaxSuppression on CPU
  onnxruntime/core/providers/cpu/object_detection/non_max_suppression.cc
  onnxruntime/core/providers/cpu/object_detection/non_max_suppression_helper.h
Labels: type:performance

#7427 Improve CPU node placement logic to avoid Memcpys
  onnxruntime/core/framework/fallback_cpu_capability.cc
  onnxruntime/test/framework/session_state_test.cc
  onnxruntime/test/testdata/cpu_fallback_pattern_0.onnx
  onnxruntime/test/testdata/cpu_fallback_pattern_1.onnx
  onnxruntime/test/testdata/cpu_fallback_pattern_2.onnx
  onnxruntime/test/testdata/cpu_fallback_pattern_3.onnx
  onnxruntime/test/testdata/cpu_fallback_pattern_4.onnx
  onnxruntime/test/testdata/cpu_fallback_pattern_5.onnx
  onnxruntime/test/testdata/cpu_fallback_test_gen.py
Labels: component:coreruntime, component:training-core

#7565 [transformer optimizer] Match flexible input order of Add node in Attention fusion
  onnxruntime/python/tools/transformers/fusion_attention.py
  onnxruntime/python/tools/transformers/test/bert_model_generator.py
  onnxruntime/python/tools/transformers/test/test_attention_fusion.py
Labels: model:BERT

#7593 Bugfix for Scatter and GatherElementsGrad
  onnxruntime/core/providers/cpu/tensor/gather_elements.cc
  onnxruntime/core/providers/cpu/tensor/scatter.cc
  onnxruntime/core/providers/cuda/tensor/scatter_elements.cc
  onnxruntime/test/providers/cpu/tensor/scatter_op_test.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_ops/cuda/gather_elements_grad_test.cc
  orttraining/orttraining/training_ops/cpu/tensor/gather_elements_grad.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_elements_grad.cc
Labels: component:training-core

#7539 Add pre-training transform to convert BatchNorm to BatchNormInternal
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/batchnorm_replacement.cc
  orttraining/orttraining/core/optimizer/batchnorm_replacement.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/insert_output_rewriter.cc
  orttraining/orttraining/core/optimizer/insert_output_rewriter.h
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
Labels: component:training-core, external_pr

#7617 Resolve issue where a registered buffer was parsed incorrectly as a user input
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule, component:training-frontend

#7658 Make Bad Names Good Again!
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_execution_agent.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
Labels: component:training-core

#7590 Add ATenOp and call aten::embedding and its Backward Op from ORT
  cmake/onnxruntime_providers.cmake
  cmake/onnxruntime_python.cmake
  onnxruntime/core/dlpack/dlpack_converter.cc
  onnxruntime/core/dlpack/dlpack_converter.h
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/op_kernel.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op.cc
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op.h
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_attr_parser.h
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_config.h
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_executor.h
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/aten_ops/aten_op.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  tools/python/register_custom_ops_pytorch_exporter.py
Labels: component:ortmodule, component:training-core

#7672 Replace Where Grad "Mul" with "Where"
  orttraining/orttraining/core/graph/gradient_builder.cc
Labels: component:training-core

#7683 Fix the broken build on dev machines by replacing std::tuple with two…
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op_config.h
Labels: component:training-core

#7685 Regain performance by caching initializer names in ORTModule
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule, component:training-frontend

#7679 Add MLFloat16 support for SoftmaxCrossEntropyLoss for CUDA EP
  onnxruntime/core/providers/cuda/reduction/reduction_functions.cu
  onnxruntime/test/providers/compare_provider_test_utils.cc
  onnxruntime/test/providers/compare_provider_test_utils.h
  onnxruntime/test/util/compare_ortvalue.cc
  orttraining/orttraining/test/training_ops/cuda/cross_entropy_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cc
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cu
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.h
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: component:coreruntime, component:training-core, ep:CUDA

#7708 Fix BiasDropoutFusion when there are multiple Dropout consumers.
  onnxruntime/core/optimizer/bias_dropout_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/bias_dropout_residual_fusion_multiple_consumers1.onnx
  onnxruntime/test/testdata/transform/fusion/bias_dropout_residual_fusion_multiple_consumers2.onnx
  onnxruntime/test/testdata/transform/fusion/bias_dropout_residual_gen.py
Labels: component:training-core

#7717 specify correct dependency for CI pipeline of nodejs binding
  cmake/onnxruntime_nodejs.cmake
Labels: component:build

#7704 Fix ORTModule python doc generation
  docs/python/training/conf.py
  docs/python/training/content.rst
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  tools/doc/builddoc.sh
Labels: component:ortmodule, component:training-frontend

#7709 Fix bug where the output names were sorted lexicographically
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule, component:training-frontend

#7729 Add per-column support for QLinearMatMul
  onnxruntime/contrib_ops/cpu/quantization/dynamic_quantize_matmul.cc
  onnxruntime/core/providers/cpu/math/matmul_helper.h
  onnxruntime/core/providers/cpu/math/matmul_integer.cc
  onnxruntime/core/providers/cpu/math/quantize_linear_matmul.cc
  onnxruntime/test/providers/cpu/math/quantize_linear_matmul_test.cc
Labels: release:1.8

#5827 ZCode FastFormers changes
  onnxruntime/contrib_ops/cpu/quantization/attention_quant.cc
  onnxruntime/python/tools/quantization/onnx_quantizer.py
  onnxruntime/python/tools/quantization/operators/attention.py
  onnxruntime/python/tools/quantization/operators/matmul.py
  onnxruntime/python/tools/quantization/quant_utils.py
  onnxruntime/python/tools/transformers/fusion_attention.py
  onnxruntime/test/python/quantization/test_op_gemm.py
Labels: release:1.8

#7738 Fix issues in TensorRT provider options
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/python/onnxruntime_test_python.py
Labels: release:1.8

#7741 Some cosmetic changes
  csharp/test/Microsoft.ML.OnnxRuntime.Tests/InferenceTest.cs
  include/onnxruntime/core/framework/allocator.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/framework/allocatormgr.cc
  onnxruntime/core/framework/bfc_arena.cc
  onnxruntime/core/framework/bfc_arena.h
  onnxruntime/core/session/environment.cc
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/test/shared_lib/test_inference.cc
Labels: release:1.8

#7736 Handle model with no parameters
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule, component:training-frontend

#7722 update optimizers for opset14
  onnxruntime/core/optimizer/attention_fusion_helper.h
  onnxruntime/core/optimizer/bias_dropout_fusion.cc
  onnxruntime/core/optimizer/bias_gelu_fusion.cc
  onnxruntime/core/optimizer/bias_softmax_fusion.cc
  onnxruntime/core/optimizer/conv_activation_fusion.cc
  onnxruntime/core/optimizer/conv_add_fusion.cc
  onnxruntime/core/optimizer/conv_bn_fusion.cc
  onnxruntime/core/optimizer/conv_mul_fusion.cc
  onnxruntime/core/optimizer/div_mul_fusion.cc
  onnxruntime/core/optimizer/fast_gelu_fusion.cc
  onnxruntime/core/optimizer/gelu_fusion.cc
  onnxruntime/core/optimizer/gemm_activation_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/core/optimizer/matmul_add_fusion.cc
  onnxruntime/core/optimizer/matmul_integer_to_float.cc
  onnxruntime/core/optimizer/matmul_scale_fusion.cc
  onnxruntime/core/optimizer/nchwc_transformer.cc
  onnxruntime/core/optimizer/qdq_transformer/qdq_propagation.cc
  onnxruntime/core/optimizer/qdq_transformer/relu_quantizelinear.cc
  onnxruntime/core/optimizer/relu_clip_fusion.cc
  onnxruntime/core/optimizer/reshape_fusion.cc
Labels: release:1.8

#7752 GatherGrad Bugfix
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_ops/cpu/tensor/gather_grad_op_test.cc
  orttraining/orttraining/training_ops/cpu/tensor/gather_grad.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_grad_impl.cu
Labels: component:training-core

#7751 Fix shape inference warning issue in TensorRT
  onnxruntime/core/framework/provider_bridge_ort.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/perftest/ort_test_session.cc
Labels: release:1.8

#7754 [JS/Web] Bug fix for Reshape Pack
  js/web/lib/onnxjs/backends/webgl/ops/reshape-packed.ts
Labels: release:1.8

#7759 Fix CUDA 10.2 pipelines
  onnxruntime/test/providers/cpu/model_tests.cc
  tools/ci_build/github/azure-pipelines/linux-gpu-cuda-11-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-multi-gpu-ci-pipeline.yml
Labels: release:1.8

#7635 Disable external initializers build option
  cmake/CMakeLists.txt
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/test/shared_lib/test_model_loading.cc
  onnxruntime/test/testdata/Pads.bin
  onnxruntime/test/testdata/model_with_external_initializers.onnx
  onnxruntime/test/testdata/model_with_external_initializers.py
Labels: external_pr

#7761 using copy to when scale/zp are same in qlinear concat.
  onnxruntime/contrib_ops/cpu/qlinear_concat.cc
  onnxruntime/contrib_ops/cpu/qlinear_concat.h
Labels: release:1.8

#7763 Revert CUPTI profiling feature
  cmake/onnxruntime_common.cmake
  include/onnxruntime/core/common/logging/logging.h
  onnxruntime/core/common/profiler.cc
  onnxruntime/core/common/profiler.h
  onnxruntime/core/framework/orttraining_partial_executor.cc
  onnxruntime/core/framework/parallel_executor.cc
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/test/framework/inference_session_test.cc
  onnxruntime/test/python/onnxruntime_test_python.py
  tools/ci_build/github/windows/setup_env_cuda.bat
  tools/ci_build/github/windows/setup_env_cuda_11.bat
  tools/ci_build/github/windows/setup_env_trt.bat
Labels: ep:CUDA

#7765 Fix builds that use gcc 5
  onnxruntime/core/framework/prepacked_weights_container.cc
Labels: release:1.8

#7769 [js] update version of package "onnxruntime-web" and "onnxruntime-react-native"
  js/react_native/package.json
  js/web/package-lock.json
  js/web/package.json
Labels: component:ort-web, release:1.8

#7766 Update TensorRT documentation
  docs/how-to/build/eps.md
  docs/reference/execution-providers/TensorRT-ExecutionProvider.md
Labels: release:1.8

#7767 Disable reuse for YieldOp's inputs (FW partial graph's output)
  onnxruntime/core/framework/allocation_planner.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule, component:training-core, release:1.8

#7781 Fix build errors on Dev machines after PR #7626 merge
  cmake/onnxruntime_framework.cmake
  onnxruntime/core/framework/provider_bridge_ort.cc
  onnxruntime/core/providers/shared_library/provider_api.h
  onnxruntime/core/providers/shared_library/provider_interfaces.h
Labels: release:1.8

#7753 Use list comprehensions instead of list appends where possible
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
Labels: component:ortmodule, component:training-frontend

#7768 [js][doc] update some part of documents.
  js/README.md
  js/node/README.md
  js/web/README.md
Labels: component:documentation, component:ort-web, release:1.8, triage:approved

#7776 Update C++ API comment to resolve warning.
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
Labels: release:1.8

#7785 [js/web] fix webpack config for onnxruntime-web
  js/web/package.json
  js/web/webpack.config.js
Labels: component:ort-web, release:1.8

#7803 Fix c_api warning
  include/onnxruntime/core/session/onnxruntime_c_api.h
Labels: release:1.8

#7801 Fix setDimensions order issue in TensorRT EP
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
Labels: release:1.8

#7806 register batchnorm for opset14 cuda provider
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/nn/batch_norm.cc
  onnxruntime/core/providers/cuda/nn/batch_norm.h
Labels: release:1.8

#7802 Fix typo in the iOS packaging script
  tools/ci_build/github/apple/build_ios_framework.py
Labels: release:1.8

#7536 Add int8/int32 Relu for Opset 14
  onnxruntime/core/providers/cpu/activation/activations.cc
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/test/providers/cpu/activation/activation_op_test.cc
  onnxruntime/test/providers/cpu/activation/activation_op_test.h
  onnxruntime/test/testdata/kernel_def_hashes/onnx.cpu.json
Labels: external_pr

#7719 Fix performance regression in Reduce operators introduced by PR #7206
  onnxruntime/core/providers/cpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/cpu/reduction/reduction_ops.h
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
Labels: release:1.8, type:performance

#7813 Fix CUDA Pad kernel registrations
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/tensor/pad.cc
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
Labels: release:1.8

#7798 Eliminate no op node - add 0
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/noop_elimination.cc
  onnxruntime/core/optimizer/noop_elimination.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/noop-add.onnx
  onnxruntime/test/testdata/transform/noop-add.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: component:optimizer

#7829 Fix rpath issue with pybind.
  cmake/onnxruntime.cmake
  cmake/onnxruntime_python.cmake
Labels: release:1.8

#7831 Use RTLD_GLOBAL for onnxrutime_providers_shared on unix
  cmake/onnxruntime_providers.cmake
  onnxruntime/core/framework/ex_lib_loader.cc
  onnxruntime/core/framework/provider_bridge_ort.cc
  onnxruntime/core/platform/env.h
  onnxruntime/core/platform/posix/env.cc
  onnxruntime/core/platform/windows/env.cc
  onnxruntime/core/providers/nuphar/common/nuphar_tvm_utils.cc
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
Labels: release:1.8

#7830 fixes for cuda centos/manylinux
  setup.py
  tools/ci_build/github/linux/java_copy_strip_binary.sh
Labels: release:1.8

#7832 delete model_copy to save memory allocated in forward call
  orttraining/orttraining/python/training/ortmodule/_io.py
Labels: component:training-frontend, release:1.8

#7814 Fix permission error for ORTModule lock file
  orttraining/orttraining/python/training/ortmodule/__init__.py
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
Labels: component:ortmodule, component:training-frontend, release:1.8

#7834 [js/web] only apply max thread number when it's omitted
  js/web/lib/backend-wasm.ts
Labels: component:ort-web

#7844 Relax tol for Conv1D fp16 test
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: release:1.8

#7833 fix topo sort in quant tool
  onnxruntime/python/tools/quantization/onnx_model.py
  onnxruntime/test/python/quantization/test_onnx_model.py
Labels: release:1.8

#7849 add environment variable to control default training package's local version
  setup.py
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
Labels: release:1.8

#7856 Support bool type for Pad CPU
  onnxruntime/core/providers/cpu/tensor/pad.cc
  onnxruntime/test/providers/cpu/tensor/pad_test.cc
Labels: release:1.8

#7329 Fix bug in Transpose CUDA kernel
  onnxruntime/core/providers/cuda/tensor/transpose.cc
  onnxruntime/core/providers/cuda/tensor/transpose_impl.cu
  onnxruntime/core/providers/cuda/tensor/transpose_impl.h
  onnxruntime/core/providers/rocm/tensor/transpose.cc
  onnxruntime/test/providers/cpu/tensor/transpose_test.cc
Labels: release:1.8

#7852 [js] update documents
  js/README.md
  js/web/README.md
  js/web/docs/operators.md
  js/web/package.json
  js/web/script/generate-operator-md.ts
  tools/ci_build/github/azure-pipelines/win-wasm-ci-pipeline.yml
Labels: component:ort-web, release:1.8, triage:approved

#7847 Resolve issue with wrapped ORTModule load_state_dict
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule, component:training-frontend, release:1.8, triage:approved

#7858 Include ORT C/C++ API headers in the ORT Mobile AAR package
  cmake/onnxruntime.cmake
  tools/ci_build/github/android/build_aar_package.py
Labels: release:1.8, triage:approved

#7865 Fix duplicated node name in transformer optimizer
  onnxruntime/python/tools/quantization/onnx_model.py
  onnxruntime/python/tools/transformers/fusion_layernorm.py
  onnxruntime/python/tools/transformers/onnx_model.py
Labels: release:1.8, triage:approved

#7867 Clean up CPU kernel definition for opset 13 Pad
  onnxruntime/core/providers/cpu/tensor/pad.cc
  onnxruntime/test/testdata/kernel_def_hashes/onnx.cpu.json
Labels: release:1.8

#7839 Enable WebAssembly SIMD build
  cmake/CMakeLists.txt
  cmake/onnxruntime_mlas.cmake
  cmake/onnxruntime_webassembly.cmake
  onnxruntime/core/mlas/inc/mlas.h
  onnxruntime/core/mlas/lib/wasm_simd/SgemvKernelWasmSimd.cpp
  tools/ci_build/build.py
Labels: component:ort-web
