Repository microsoft/onnxruntime, pull requests merged in 2021-01, with the labels that each got.

#5457 Add the Concat Slice Elimination transform, fix constant_folding transform
  onnxruntime/core/optimizer/concat_slice_elimination.cc
  onnxruntime/core/optimizer/concat_slice_elimination.h
  onnxruntime/core/optimizer/constant_folding.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/concat_slice_basic_test.onnx
  onnxruntime/test/testdata/transform/concat_slice_elimination.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: component:training-core

#6244 model parallel refinement
  onnxruntime/test/optimizer/cse_test.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.h
  orttraining/orttraining/core/optimizer/megatron_transformer.cc
  orttraining/orttraining/core/optimizer/megatron_transformer.h
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
Labels: component:training-core

#6171 Deprecate Python global configuration functions [Part 2]
  csharp/test/Microsoft.ML.OnnxRuntime.Tests/InferenceTest.cs
  docs/python/notebooks/onnxruntime-nuphar-tutorial.ipynb
  include/onnxruntime/core/common/common.h
  include/onnxruntime/core/common/make_string.h
  include/onnxruntime/core/common/parse_string.h
  include/onnxruntime/core/framework/provider_options_utils.h
  include/onnxruntime/core/graph/constants.h
  onnxruntime/__init__.py
  onnxruntime/core/framework/arena_extend_strategy.h
  onnxruntime/core/platform/env_var_utils.h
  onnxruntime/core/providers/cuda/cuda_execution_provider.h
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.h
  onnxruntime/core/providers/cuda/cuda_provider_factory.cc
  onnxruntime/core/providers/get_execution_providers.cc
  onnxruntime/core/providers/get_execution_providers.h
  onnxruntime/core/providers/rocm/rocm_execution_provider_info.cc
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  onnxruntime/test/common/string_utils_test.cc
  onnxruntime/test/framework/provider_options_utils_test.cc
  onnxruntime/test/onnx/tensorprotoutils.cc
  onnxruntime/test/providers/get_execution_providers_test.cc
  onnxruntime/test/python/onnxruntime_test_python.py
  onnxruntime/test/python/onnxruntime_test_python_nuphar.py
  onnxruntime/test/shared_lib/test_inference.cc
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/python/deprecated/training_session.py
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/orttrainer.py
Labels: api:C/C++, api:Python

#6284 fix data_ptr assertion error for past_sequence_length=0 in GPT-2
  onnxruntime/python/tools/transformers/gpt2_helper.py
Labels: model:GPT2

#6285 Add --sequence_lengths option in benchmark_gpt2.py
  onnxruntime/python/tools/transformers/benchmark_gpt2.py
Labels: model:GPT2

#6288 Add More Data Type for Equal CUDA kernel
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops_impl.cu
Labels: component:training-core

#6326 Java: add Semmle to Java publishing pipelines
  tools/ci_build/github/azure-pipelines/java-api-packaging-pipelines-gpu.yml
  tools/ci_build/github/azure-pipelines/java-api-packaging-pipelines.yml
Labels: api:Java

#5658 Wezuo/memory analysis
  cmake/CMakeLists.txt
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/mem_pattern.h
  onnxruntime/core/framework/memory_info.cc
  onnxruntime/core/framework/memory_info.h
  onnxruntime/core/framework/sequential_execution_plan.h
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/framework/session_state.h
  onnxruntime/core/framework/session_state_utils.cc
  onnxruntime/core/framework/session_state_utils.h
  onnxruntime/core/framework/simple_tensor_allocator.h
  onnxruntime/core/framework/tensor_allocator.h
  onnxruntime/core/framework/tensor_allocator_with_mem_pattern.h
  onnxruntime/core/session/inference_session.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/models/runner/training_runner.cc
  tools/ci_build/build.py
Labels: component:coreruntime, component:training-core

#6289 Add max_norm for gradient clipping.
  orttraining/orttraining/core/graph/adasum_optimizer_graph_builder.cc
  orttraining/orttraining/core/graph/optimizer/adam_optimizer_builder.h
  orttraining/orttraining/core/graph/optimizer/lamb_optimizer_builder.cc
  orttraining/orttraining/core/graph/optimizer/lamb_optimizer_builder.h
  orttraining/orttraining/core/graph/optimizer_builder.h
  orttraining/orttraining/core/graph/optimizer_config.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/optim/config.py
  orttraining/orttraining/test/gradient/optimizer_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  orttraining/orttraining/training_ops/cuda/optimizer/adam.cc
  orttraining/orttraining/training_ops/cuda/optimizer/adam.cu
  orttraining/orttraining/training_ops/cuda/optimizer/adam.h
  orttraining/orttraining/training_ops/cuda/optimizer/common.cuh
  orttraining/orttraining/training_ops/cuda/optimizer/lamb.cc
  orttraining/orttraining/training_ops/cuda/optimizer/lamb.cu
  orttraining/orttraining/training_ops/cuda/optimizer/lamb.h
  orttraining/orttraining/training_ops/rocm/optimizer/adam.cc
  orttraining/orttraining/training_ops/rocm/optimizer/adam.cu
  orttraining/orttraining/training_ops/rocm/optimizer/lamb.cc
  tools/ci_build/github/pai/pai-excluded-tests.txt
Labels: component:training-core, component:training-frontend

#6394 Fix Build Break on Pipeline Linux GPU(cuda11) Validation Pipeline Edit Run pipeline
  onnxruntime/core/providers/cuda/fpgeneric.cu
Labels: component:training-core

#6413 Continue memory planning when unknown shape tensor is encountered.
  onnxruntime/core/framework/session_state.cc
Labels: component:training-core

#6410 Add an option to save the training graph after optimization
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: api:Python, component:training-frontend

#6468 fix max norm clipping test in python packaging pipeline test
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core, component:training-frontend

#6417 Enable device change during training + minor forward() refactoring
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  run_ortmodule_mvp_mnist.sh
  run_ortmodule_mvp_mnist_deepspeed.sh
Labels: api:Python, component:training-frontend
