Repository microsoft/onnxruntime, pull requests merged in 2021-04, with the labels that each got.

#7120 Check kernel def hashes
  cmake/CMakeLists.txt
  cmake/onnxruntime_providers.cmake
  cmake/onnxruntime_session.cmake
  cmake/onnxruntime_training.cmake
  cmake/onnxruntime_unittests.cmake
  include/onnxruntime/core/framework/kernel_def_builder.h
  include/onnxruntime/core/framework/kernel_registry.h
  onnxruntime/core/framework/kernel_def_builder.cc
  onnxruntime/core/framework/kernel_registry.cc
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/cpu_execution_provider.h
  onnxruntime/core/session/inference_session_utils.h
  onnxruntime/test/framework/kernel_def_test.cc
  onnxruntime/test/providers/kernel_def_hash_test.cc
  onnxruntime/test/testdata/kernel_def_hashes/contrib.cpu.json
  onnxruntime/test/testdata/kernel_def_hashes/contrib.nchwc.cpu.json
  onnxruntime/test/testdata/kernel_def_hashes/onnx.cpu.json
  onnxruntime/test/testdata/kernel_def_hashes/onnx.ml.cpu.json
  onnxruntime/test/testdata/kernel_def_hashes/training_ops.cpu.json
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  tools/ci_build/github/azure-pipelines/linux-cpu-minimal-build-ci-pipeline.yml
  tools/ci_build/github/linux/ort_minimal/build_full_ort_and_create_ort_files.sh
Labels: component:coreruntime, component:training-core

#7214 Enable saving optimized models in OrtModule
  orttraining/orttraining/core/framework/module_gradient_graph_builder.cc
  orttraining/orttraining/core/framework/module_gradient_graph_builder.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule.py
Labels: component:ortmodule

#7220 Support for saving and loading pytorch compatible state dictionaries
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#7183 Div mul fusion
  onnxruntime/core/optimizer/div_mul_fusion.cc
  onnxruntime/core/optimizer/div_mul_fusion.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/div_mul.onnx
  onnxruntime/test/testdata/transform/fusion/div_mul.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: component:training-core

#7083 Fix ConvGrad gradient builder
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/training_ops/cpu/nn/conv_grad.cc
Labels: component:training-core

#7251 Update test_training_model.onnx to opset 12.
  onnxruntime/test/testdata/test_training_model.onnx
Labels: component:training-core

#7187 Add cuda kernels for GreaterOrEqual, LessOrEqual, Where; modify Clip to avoid memcpy
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/math/clip.cc
  onnxruntime/core/providers/cpu/math/element_wise_ops.cc
  onnxruntime/core/providers/cpu/math/element_wise_ops.h
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.h
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops_impl.cu
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops_impl.h
  onnxruntime/core/providers/cuda/math/clip.cc
  onnxruntime/core/providers/cuda/math/clip_impl.cu
  onnxruntime/core/providers/cuda/math/clip_impl.h
  onnxruntime/core/providers/cuda/tensor/where.cc
  onnxruntime/core/providers/cuda/tensor/where_impl.cu
  onnxruntime/test/providers/cpu/math/element_wise_ops_test.cc
  onnxruntime/test/testdata/kernel_def_hashes/onnx.cpu.json
Labels: component:coreruntime

#7190 Add function body to GeluGrad schema
  onnxruntime/core/graph/contrib_ops/onnx_function_util.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/gradient/function_ops_test.cc
Labels: component:training-core

#7259 Update test_training_model_{0,1,2}.onnx to opset 12.
  onnxruntime/test/testdata/test_training_model_0.onnx
  onnxruntime/test/testdata/test_training_model_1.onnx
  onnxruntime/test/testdata/test_training_model_2.onnx
Labels: component:training-core

#7182 Not-where fusion
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/not_where_fusion.cc
  onnxruntime/core/optimizer/not_where_fusion.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/not_where.onnx
  onnxruntime/test/testdata/transform/fusion/not_where.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: component:training-core

#7244 Avoid passing zero bias to Gemm in gradients
  orttraining/orttraining/core/graph/gradient_builder.cc
Labels: component:training-core

#7227 CUDA ConvGrad Kernel
  onnxruntime/core/providers/cuda/nn/conv.cc
  onnxruntime/core/providers/cuda/nn/conv.h
  onnxruntime/core/providers/cuda/nn/conv_transpose.cc
  onnxruntime/test/testdata/kernel_def_hashes/training_ops.cpu.json
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/nn/conv_grad.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/nn/conv_grad.cc
  orttraining/orttraining/training_ops/cuda/nn/conv_grad.h
  tools/ci_build/amd_hipify.py
Labels: component:ortmodule, component:training-core

#7162 Support eval mode and torch.no_grad context in ORTModule
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager.py
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager_factory.py
  orttraining/orttraining/python/training/_ortmodule_inference_manager.py
  orttraining/orttraining/python/training/_ortmodule_training_manager.py
  orttraining/orttraining/python/training/_ortmodule_utils.py
  orttraining/orttraining/python/training/execution_agent.py
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#7273 ConvGrad CUDA Kernel Bugfix
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cuda/nn/conv_grad.cc
Labels: component:training-core

#7278 Restrict ConvGrad to __CUDA_ARCH__>=700
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/training_ops/cuda/nn/conv_grad.h
Labels: component:training-core

#7221 Suppress tracer warnings from onnx export in ORTModule
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager.py
  orttraining/orttraining/python/training/_ortmodule_logger.py
  orttraining/orttraining/python/training/_ortmodule_utils.py
Labels: component:ortmodule

#7282 Support symbolic shape inference flag for dynamic shape input
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager.py
Labels: component:ortmodule

#7189 Add support for dynamic positional/keyword inputs during training for ORTModule
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager.py
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager_factory.py
  orttraining/orttraining/python/training/_ortmodule_inference_manager.py
  orttraining/orttraining/python/training/_ortmodule_io.py
  orttraining/orttraining/python/training/_ortmodule_training_manager.py
  orttraining/orttraining/python/training/_ortmodule_utils.py
  orttraining/orttraining/python/training/_utils.py
  orttraining/orttraining/python/training/model_desc_validation.py
  orttraining/orttraining/python/training/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:ortmodule

#7294 Polish Adam kernel
  orttraining/orttraining/training_ops/cpu/optimizer/common.h
  orttraining/orttraining/training_ops/cuda/optimizer/adam.cc
  orttraining/orttraining/training_ops/cuda/optimizer/adam.cu
  orttraining/orttraining/training_ops/cuda/optimizer/adam.h
  orttraining/orttraining/training_ops/rocm/optimizer/adam.cc
  orttraining/orttraining/training_ops/rocm/optimizer/adam.cu
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
  tools/ci_build/amd_hipify.py
  tools/ci_build/github/pai/pai-excluded-tests.txt
Labels: component:training-core

#7287 Better error message when ORTModule used with torch.DataParallel
  orttraining/orttraining/python/training/ortmodule.py
Labels: component:ortmodule

#7305 Add Optype to type mismatch message
  onnxruntime/core/graph/graph.cc
Labels: component:training-core

#7289 Add Tile grad
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:ortmodule, component:training-core

#7188 IsInf ReduceSum transform
  onnxruntime/contrib_ops/cuda/math/isfinite.cc
  onnxruntime/contrib_ops/cuda/math/isfinite.cu
  onnxruntime/contrib_ops/cuda/math/isfinite.cuh
  onnxruntime/contrib_ops/cuda/math/isfinite.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/graph/graph_utils.cc
  onnxruntime/core/graph/graph_utils.h
  onnxruntime/core/optimizer/isinf_reducesum_fusion.cc
  onnxruntime/core/optimizer/isinf_reducesum_fusion.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/isinf_reducesum.onnx
  onnxruntime/test/testdata/transform/fusion/isinf_reducesum.py
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/training_ops/cpu/math/isfinite_ops_test.cc
  orttraining/orttraining/training_ops/cuda/math/isfinite.cc
  orttraining/orttraining/training_ops/cuda/math/isfinite.cu
  orttraining/orttraining/training_ops/cuda/math/isfinite.cuh
  orttraining/orttraining/training_ops/cuda/math/isfinite.h
  orttraining/orttraining/training_ops/cuda/optimizer/lamb.cu
Labels: component:training-core

#7359 Expose flag in PyBind API for tensor memory re-use in allocation planner.
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/allocation_planner.h
  onnxruntime/core/framework/session_options.h
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/framework/session_state.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/models/bert/main.cc
  orttraining/orttraining/models/pipeline_poc/main.cc
  orttraining/orttraining/models/runner/training_runner.cc
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager.py
Labels: component:coreruntime, component:ortmodule, component:training-core

#7353 Add logging support to Cast Propagation transformation from python
  onnxruntime/core/optimizer/propagate_cast_ops.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/propagate_cast/gen_propagate_cast.py
  onnxruntime/test/testdata/transform/propagate_cast/matmul_two_outputs.onnx
  onnxruntime/test/testdata/transform/propagate_cast/matmul_two_outputs_second_matmul.onnx
  onnxruntime/test/testdata/transform/propagate_cast/matmul_two_outputs_transpose_after_cast.onnx
  onnxruntime/test/testdata/transform/propagate_cast/matmul_two_outputs_transpose_after_cast_second_matmul.onnx
  onnxruntime/test/testdata/transform/propagate_cast/matmul_two_outputs_transpose_before_cast.onnx
  onnxruntime/test/testdata/transform/propagate_cast/matmul_two_outputs_transpose_before_cast_second_matmul.onnx
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager.py
Labels: component:training-core

#7312 Identity elimination with graph output
  onnxruntime/core/optimizer/identity_elimination.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/id-elim.onnx
  onnxruntime/test/testdata/transform/id-elim.py
  onnxruntime/test/testdata/transform/id-scan9_sum.py
  onnxruntime/test/testdata/transform/scan9_sum.onnx
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:optimizer

#7352 Modify SimplifiedLayerNormFusion to allow fusion in the presence of Casts optionally
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/layer_norm_t5_gen.py
  onnxruntime/test/testdata/transform/fusion/simplified_layer_norm_with_casts.onnx
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/session/training_session.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
Labels: component:training-core

#7348 Fix perf issue in Conv CUDA kernel
  onnxruntime/core/providers/cuda/nn/conv.cc
  onnxruntime/core/providers/cuda/nn/conv.h
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:coreruntime

#7217 Add gradient registration and tests for Min/Max
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#7163 GPT2 with one step beam search
  onnxruntime/python/tools/transformers/convert_to_onnx.py
  onnxruntime/python/tools/transformers/gpt2_beamsearch_helper.py
  onnxruntime/python/tools/transformers/gpt2_beamsearch_tester.py
Labels: model:GPT2

#7306 Gemm transpose fusion
  onnxruntime/core/optimizer/gemm_transpose_fusion.cc
  onnxruntime/core/optimizer/gemm_transpose_fusion.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/gemm_transpose_2inputs_transposed.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_transpose_gen.py
  onnxruntime/test/testdata/transform/fusion/gemm_transpose_inputs_output_transposed.onnx
  onnxruntime/test/testdata/transform/fusion/gemm_transpose_output_transposed.onnx
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: component:coreruntime, component:training-core

#7402 Build would fail when nccl is not under standard path (--nccl_home)
  cmake/onnxruntime_python.cmake
  cmake/onnxruntime_training.cmake
  cmake/onnxruntime_unittests.cmake
Labels: component:training-core

#7324 Partial graph execution made simple.
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/orttraining_partial_executor.cc
  onnxruntime/core/framework/orttraining_partial_executor.h
  onnxruntime/core/framework/partial_graph_execution_state.h
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/framework/utils.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/test/framework/execution_frame_test.cc
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/_ortmodule_graph_execution_manager.py
  orttraining/orttraining/python/training/_ortmodule_training_manager.py
  orttraining/orttraining/python/training/_ortmodule_utils.py
  orttraining/orttraining/python/training/execution_agent.py
  orttraining/orttraining/python/training/runstateinfo.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cpu/controlflow/ort_tasks.cc
  orttraining/orttraining/training_ops/cpu/controlflow/ort_tasks.h
  orttraining/orttraining/training_ops/cpu/controlflow/yield.cc
Labels: component:coreruntime, component:ortmodule, component:training-core

#7412 SqueezeGrad Bugfix
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#7438 Partial graph execution perf improvements.
  onnxruntime/core/framework/orttraining_partial_executor.cc
  onnxruntime/core/framework/partial_graph_execution_state.h
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
Labels: component:ortmodule

#7456 Fix user input order before ORTModule feed it to backend
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-frontend

#7479 Optimize cuComputeGradInput performance.
  orttraining/orttraining/training_ops/cuda/nn/layer_norm_impl.cu
Labels: component:training-core

#7473 kerne invoker api for eager mode
  cmake/CMakeLists.txt
  cmake/onnxruntime_eager.cmake
  cmake/onnxruntime_unittests.cmake
  include/onnxruntime/core/eager/ort_kernel_invoker.h
  onnxruntime/core/eager/ort_kernel_invoker.cc
  onnxruntime/core/optimizer/optimizer_execution_frame.cc
  onnxruntime/core/optimizer/optimizer_execution_frame.h
  onnxruntime/test/eager/ort_invoker_test.cc
  onnxruntime/test/eager/test_main.cc
  orttraining/orttraining/test/graph/optimizer_graph_builder_test.cc
  tools/ci_build/build.py
Labels: component:training-core

#7525 Fix unused registered buffers issue on ORTModule
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule, component:training-frontend
