Repository microsoft/onnxruntime, pull requests merged in 2022-08, with the labels that each got.

#12390 Manually add optimization flag for Android Release builds.
  cmake/CMakeLists.txt
Labels: release:1.12.1

#12376 Revert TRT EP cache refactoring
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/test/providers/tensorrt/tensorrt_basic_test.cc
Labels: release:1.12.1

#12147 Enable support of multi-level nested control flow ops model for TRT EP
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/test/framework/inference_session_test.cc
Labels: release:1.12.1

#12431 Add links to custom Android/iOS package instructions to increase discoverability.
  docs/build/android.md
  docs/build/ios.md
  docs/install/index.md
Labels: component:documentation

#12432 Set Fix Seed For SoftmaxCrossEntoryLoss Related UTs
  orttraining/orttraining/test/training_ops/cuda/cross_entropy_test.cc
Labels: component:training-core

#12422 Perform graph transformations during offline tooling
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/onnxblock/_graph_utils.py
Labels: component:training-frontend

#12330 Update script to find optimizers that potentially need supported opset updates
  docs/How_To_Update_ONNX_Dev_Notes.md
  tools/python/find_optimizer_opset_version_updates_required.py
Labels: python

#12408 Enable quant op to share quantization parameter between input and ouput
  onnxruntime/python/tools/quantization/onnx_model.py
  onnxruntime/python/tools/quantization/onnx_quantizer.py
  onnxruntime/python/tools/quantization/operators/direct_q8.py
  onnxruntime/python/tools/quantization/operators/gather.py
  onnxruntime/python/tools/quantization/qdq_quantizer.py
  onnxruntime/python/tools/quantization/quant_utils.py
  onnxruntime/python/tools/quantization/quantize.py
  onnxruntime/python/tools/quantization/registry.py
  onnxruntime/test/python/quantization/test_qat.py
  onnxruntime/test/python/quantization/test_qdq.py
Labels: python

#12361 [CUDA] BiasSoftmax Supporting New Pattern
  docs/ContribOperators.md
  onnxruntime/contrib_ops/cuda/math/bias_softmax.cc
  onnxruntime/contrib_ops/cuda/math/bias_softmax.h
  onnxruntime/contrib_ops/cuda/math/bias_softmax_impl.cu
  onnxruntime/contrib_ops/cuda/math/bias_softmax_impl.h
  onnxruntime/contrib_ops/rocm/math/bias_softmax.cc
  onnxruntime/contrib_ops/rocm/math/bias_softmax.h
  onnxruntime/contrib_ops/rocm/math/bias_softmax_impl.cu
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/optimizer/bias_softmax_fusion.cc
  onnxruntime/core/providers/cuda/shared_inc/softmax.h
  onnxruntime/core/providers/rocm/shared_inc/softmax.h
  onnxruntime/test/contrib_ops/bias_softmax_op_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  tools/ci_build/amd_hipify.py
Labels: component:training-core

#12412 CUDA kernel for ClipGradNorm for TensorSeq gradients
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/providers/cuda/multi_tensor/common.cuh
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/gradient/optimizer_ops_test.cc
  orttraining/orttraining/test/training_ops/cuda/optimizer/clip_grad_norm_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/optimizer/clip_grad_norm/clip_grad_norm.cc
  orttraining/orttraining/training_ops/cuda/optimizer/clip_grad_norm/clip_grad_norm.h
  orttraining/orttraining/training_ops/cuda/optimizer/clip_grad_norm/clip_grad_norm_impl.cu
  orttraining/orttraining/training_ops/cuda/optimizer/clip_grad_norm/clip_grad_norm_impl.h
Labels: component:training-core

#12419 Update ORTModule Default Opset Version to 15
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/training/_utils.py
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/test/python/onnxruntime_test_postprocess.py
  orttraining/orttraining/test/python/orttraining_test_onnx_ops_ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  orttraining/orttraining/test/python/orttraining_test_utils.py
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cuda113.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cuda115.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm5.1.1
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm5.2
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_3
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_5
  tools/ci_build/github/linux/docker/scripts/install_python_deps.sh
  tools/ci_build/github/pai/rocm-ci-pipeline-env.Dockerfile
Labels: component:ortmodule

#12490 Improve the compilation speed when compiling for multiple architectures.
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/setup.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cuda/fused_ops/setup.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cuda/torch_gpu_allocator/setup.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/install.py
Labels: component:ortmodule

#12499 [CUDA] Mod Op Kernel
  docs/OperatorKernels.md
  onnxruntime/core/providers/cuda/cu_inc/common.cuh
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.h
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops_impl.cu
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops_impl.h
  onnxruntime/core/providers/rocm/cu_inc/common.cuh
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
  onnxruntime/test/providers/cpu/math/element_wise_ops_test.cc
Labels: component:training-core

#12482 [CUDA] SoftmaxCrossEntropy Kernels Refactor
  onnxruntime/core/providers/cuda/cu_inc/elementwise_impl.cuh
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cc
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cu
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.h
  orttraining/orttraining/training_ops/cuda/loss/softmaxcrossentropy_impl.cu
Labels: component:training-core

#12474 Python module for dumping activation tensors when running an ONNX model
  onnxruntime/python/tools/quantization/calibrate.py
  onnxruntime/python/tools/quantization/save_activations.py
  onnxruntime/test/python/quantization/test_save_activations.py
Labels: python

#12517 Bugfix for BiasSoftmax Fusion
  onnxruntime/contrib_ops/cuda/math/bias_softmax.h
  onnxruntime/core/optimizer/bias_softmax_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
Labels: component:training-core

#12513 Add win-ci pipeline for on-device training
  onnxruntime/core/session/onnxruntime_c_api.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/training_api/trainer/trainer.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/utils.cc
  tools/ci_build/github/azure-pipelines/win-ci-pipeline.yml
Labels: component:training-core

#12552 Fix Compile Warning
  onnxruntime/contrib_ops/cuda/bert/layer_norm.cuh
  onnxruntime/contrib_ops/cuda/bert/skip_layer_norm_impl.cu
  onnxruntime/contrib_ops/rocm/bert/fast_gelu_impl_kernel.h
  onnxruntime/contrib_ops/rocm/bert/skip_layer_norm_impl.cu
Labels: component:training-core

#12539 Enable PythonOp for --enable_training_torch_interop build
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
Labels: component:ortmodule

#11957 Add Learning Rate Scheduler C API
  orttraining/orttraining/test/training_api/trainer/trainer.cc
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/include/optimizer.h
  orttraining/orttraining/training_api/include/ort_training_apis.h
  orttraining/orttraining/training_api/include/training_session.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/training_session.cc
Labels: training

#12383 Refactor with std::variant (on device training)
  orttraining/orttraining/test/training_api/common/synthetic_data_loader.cc
  orttraining/orttraining/test/training_api/common/synthetic_data_loader.h
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/trainer/trainer.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/checkpoint_property.cc
  orttraining/orttraining/training_api/include/checkpoint.h
  orttraining/orttraining/training_api/include/checkpoint_property.h
Labels: training

#12630 Add BuildError for --gen_doc and --enable_training
  tools/ci_build/build.py
Labels: documentation, training, build

#12668 Update Supporting Deepspeed Version of ORTModule's FP16_Optimizer
  orttraining/orttraining/python/training/optim/_ds_modifier.py
Labels: training

#12696 Update Supporting DS Version to 0.7.1 for ORTModule
  orttraining/orttraining/python/training/optim/_ds_modifier.py
Labels: training

#12708 upgrade cuda version on ci pipelines (training CI pipelines)
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-on-device-training.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/orttraining-linux-gpu-ortmodule-test-ci-pipeline.yml
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_gpu_training
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.12.1_cu11.6/requirements.txt
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: training

#12685 Add debug option to packaging pipeline
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cuda116.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage.yml
Labels: training

#12701 Fix segment fault for alltoall
  orttraining/orttraining/python/training/optim/fp16_optimizer.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
Labels: training

#12789 Generate windows training package
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cuda116.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage.yml
Labels: training
