Repository microsoft/onnxruntime, pull requests merged in 2022-11, with the labels that each got.

#13460 Support More Cases in NoOpElimination
  onnxruntime/core/optimizer/noop_elimination.cc
  onnxruntime/core/optimizer/noop_elimination.h
  onnxruntime/test/optimizer/graph_transform_test.cc
Labels: training

#13510 Fix on-device training ExportModelForInferencing api
  cmake/CMakeLists.txt
  orttraining/orttraining/python/training/onnxblock/model.py
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_inline.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
Labels: training

#12852 Trade subgraph recompute for memory
  docs/Memory_Optimizer.md
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/framework/memory_info.cc
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/test/testdata/transform/recompute/recompute_gelu.onnx
  onnxruntime/test/testdata/transform/recompute/recompute_test_graph_generator.py
  onnxruntime/test/testdata/transform/recompute/recompute_tile.onnx
  orttraining/orttraining/core/optimizer/memory_optimizer.cc
  orttraining/orttraining/core/optimizer/memory_optimizer.h
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/optimizer/memory_optimizer_test.cc
Labels: training

#13514 Fix pythonop training_mode in evaluation mode
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: training

#13596 Change protobuf pin in training requirements
  requirements-training.txt
Labels: training

#13599 Gather to Slice Fusion
  onnxruntime/core/optimizer/gather_fusion.cc
  onnxruntime/core/optimizer/gather_fusion.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: training

#13680 Fix wrong import path in docs
  docs/ORTModule_Training_Guidelines.md
Labels: training

#11208 [js/web] support 'pytorch_half_pixel' mode for WebGL kernel 'Resize'
  js/web/lib/onnxjs/backends/webgl/ops/resize-packed.ts
  js/web/lib/onnxjs/backends/webgl/ops/upsample.ts
  js/web/lib/onnxjs/graph.ts
Labels: platform:web

#13616 Make HF converge with lighting native amp
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#13679 Fix the tensor save for backward release problem
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: training

#13767 Skip the tests of saving tensor in backward
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: training

#13649 [QAT] Introduce FakeQuant op
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/training_ops/cuda/fake_quant_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/quantization/fake_quant.cc
  orttraining/orttraining/training_ops/cpu/quantization/fake_quant.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/quantization/fake_quant.cc
  orttraining/orttraining/training_ops/cuda/quantization/fake_quant.h
  orttraining/orttraining/training_ops/cuda/quantization/fake_quant_impl.cu
  orttraining/orttraining/training_ops/cuda/quantization/fake_quant_impl.h
Labels: quantization, training

#13771 Move a function call outside a loop in ORTModule
  orttraining/orttraining/python/training/ortmodule/_utils.py
Labels: training
