Repository microsoft/onnxruntime, pull requests merged in 2022-03, with the labels that each got.

#10718 Clarify Python package install instructions
  docs/get-started/with-python.md
Labels: component:documentation

#10748 Enable Strided Tensor for Training Only
  include/onnxruntime/core/framework/kernel_def_builder.h
  include/onnxruntime/core/framework/tensor.h
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/data_transfer.cc
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/kernel_def_builder.cc
  onnxruntime/core/framework/tensor.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/test/framework/allocation_planner_test.cc
  onnxruntime/test/framework/tensor_test.cc
Labels: component:training-core, release:1.11

#10643 Register CPU, CUDA and ROCM opset-16 kernels for some operators
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/activation/activations.cc
  onnxruntime/core/providers/cpu/controlflow/scan_9.cc
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/math/element_wise_ops.cc
  onnxruntime/core/providers/cuda/activation/activations.cc
  onnxruntime/core/providers/cuda/controlflow/scan.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/tensor/where.cc
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
  onnxruntime/test/testdata/kernel_def_hashes/onnx.cpu.json
Labels: release:1.11

#10816 Fix bug in MemcpyToHost
  include/onnxruntime/core/framework/op_kernel_context.h
  onnxruntime/core/framework/op_kernel.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/test/shared_lib/test_inference.cc
  onnxruntime/test/testdata/optional_sequence_tensor.onnx
Labels: release:1.11

#10822 [rel-1.11.0] Remove unused six dependency
  onnxruntime/python/tools/quantization/calibrate.py
Labels: release:1.11

#10819 Address performance issue with abseil flat_hash_table.
  onnxruntime/core/framework/fallback_cpu_capability.cc
  onnxruntime/core/framework/fallback_cpu_capability.h
  onnxruntime/core/providers/shared_library/provider_api.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: release:1.11

#10803 Mark end of version 11 C API.
  onnxruntime/core/session/onnxruntime_c_api.cc
Labels: release:1.11

#10835 Use separate build directories for full and mobile iOS packages.
  tools/ci_build/github/azure-pipelines/mac-ios-packaging-pipeline.yml
Labels: release:1.11

#10671 don't clear grad_fns & add test
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/torch_interop_utils.cc
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: component:ortmodule

#10796 avoid using LocalFree on FormatMessageW buffer
  onnxruntime/core/platform/windows/env.cc
Labels: release:1.11

#10841 Add support for opset 16 to transpose optimizer.
  onnxruntime/core/optimizer/transpose_optimizer/optimizer_api.h
  onnxruntime/core/optimizer/transpose_optimizer/optimizer_api_impl.cc
  onnxruntime/core/optimizer/transpose_optimizer/ort_transpose_optimizer.cc
  onnxruntime/core/optimizer/transpose_optimizer/transpose_optimizer.cc
Labels: release:1.11

#10847 Fix wrong percentile values returned during calibration
  onnxruntime/python/tools/quantization/calibrate.py
Labels: release:1.11

#10765 Update convert_onnx_models_to_ort.py to support runtime optimizations.
  cmake/onnxruntime_python.cmake
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/framework/config_options.cc
  onnxruntime/core/framework/config_options.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/test/framework/test_utils.h
  onnxruntime/test/optimizer/runtime_optimization/graph_runtime_optimization_test.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/core/session/training_session.h
  tools/python/create_reduced_build_config.py
  tools/python/util/check_onnx_model_mobile_usability.py
  tools/python/util/convert_onnx_models_to_ort.py
  tools/python/util/file_utils.py
  tools/python/util/ort_format_model/utils.py
Labels: release:1.11

#10861 Fix Reduced ops pipeline build break
  onnxruntime/test/shared_lib/test_inference.cc
Labels: triage:approved, release:1.11

#10858 Fix a couple of issues with the python package tools
  cmake/onnxruntime_python.cmake
  tools/python/util/__init__.py
  tools/python/util/__init__append.py
  tools/python/util/onnx_model_utils.py
Labels: release:1.11

#10866 Update python code to use flatbuffers 2.0 for TRT EP
  onnxruntime/python/tools/quantization/CalTableFlatBuffers/KeyValue.py
  onnxruntime/python/tools/quantization/CalTableFlatBuffers/TrtTable.py
  onnxruntime/python/tools/quantization/quant_utils.py
Labels: release:1.11

#10880 [Website] Fix broken links
  js/script.js
Labels: component:documentation

#10705 restore random states after export_model
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-frontend, component:ortmodule

#10674 [FIX] symbolic shape infer error with onnx-1.11.0
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/test/python/onnxruntime_test_python_symbolic_shape_infer.py
  onnxruntime/test/python/transformers/test_data/models/gpt2_megatron_opt.onnx
Labels: triage:approved, release:1.11

#10891 [CUDA] Optimize Transpose3DKernel
  onnxruntime/core/providers/cuda/tensor/transpose.cc
  onnxruntime/core/providers/cuda/tensor/transpose_impl.cu
  onnxruntime/core/providers/cuda/tensor/transpose_impl.h
Labels: component:training-core

#10904 Fix handling of nodes inserted by NHWC transformer.
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/session/inference_session.cc
Labels: release:1.11

#10927 [python API] Change raise import error when `C:\Windows\System32\vcruntime140_1.dll` is not found to warning
  onnxruntime/python/_pybind_state.py.in
Labels: triage:approved, release:1.11

#10906 Disable Some Einsum ORTModule Tests Due to Issue from PyTorch Exporter
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#10943 Adds missing numpy type when looking for the ort correspondance
  onnxruntime/python/onnxruntime_pybind_iobinding.cc
  onnxruntime/python/onnxruntime_pybind_mlvalue.cc
  onnxruntime/python/onnxruntime_pybind_mlvalue.h
  onnxruntime/python/onnxruntime_pybind_ortvalue.cc
  onnxruntime/python/onnxruntime_pybind_sparse_tensor.cc
  onnxruntime/test/python/onnxruntime_test_python_iobinding.py
Labels: api:Python

#10970 register custom_op_symbolic for squeeze
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core, component:ortmodule

#10307 Improve NonZero on CUDA/ROCM
  cmake/onnxruntime_providers.cmake
  docs/OperatorKernels.md
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/tensor/nonzero_impl.cu
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
  orttraining/orttraining/python/training/optim/_modifier.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cuda/fused_ops/fused_ops_frontend.cpp
  orttraining/orttraining/test/training_ops/cpu/math/isfinite_ops_test.cc
Labels: component:training-core

#10995 Add utility to get the gradient graph from GradientGraphBuilder
  orttraining/orttraining/python/orttraining_pybind_state.cc
Labels: component:training-core

#10999 [CUDA] Optimize Conv and ConvGrad for Training
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.NetCoreApp/InferenceTest.netcore.cs
  include/onnxruntime/core/providers/cuda/cuda_provider_options.h
  onnxruntime/core/providers/cuda/cuda_execution_provider.h
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider_info.h
  onnxruntime/core/providers/cuda/cuda_provider_factory.cc
  onnxruntime/core/providers/cuda/nn/conv.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/test/shared_lib/test_inference.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/training_ops/cuda/nn/conv_grad.cc
Labels: component:training-core

#10233 Fuse LayerNormalization for Apex O2
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cpu/layer_norm.cc
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/layer_norm.cc
  onnxruntime/contrib_ops/cuda/layer_norm.h
  onnxruntime/contrib_ops/cuda/layer_norm_impl.cu
  onnxruntime/contrib_ops/cuda/layer_norm_impl.h
  onnxruntime/contrib_ops/rocm/rocm_contrib_kernels.cc
  onnxruntime/core/framework/kernel_def_hash_helpers.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/test/contrib_ops/function_ops_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/kernel_def_hashes/contrib.cpu.json
  onnxruntime/test/testdata/kernel_def_hashes/training_ops.cpu.json
  onnxruntime/test/testdata/transform/fusion/layer_norm_with_cast_3.onnx
  onnxruntime/test/testdata/transform/fusion/layer_norm_with_cast_3.py
  onnxruntime/test/testdata/transform/fusion/layer_norm_with_cast_4.onnx
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/training_ops/cpu/nn/layer_norm.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/nn/layer_norm.cc
  orttraining/orttraining/training_ops/cuda/nn/layer_norm.h
  orttraining/orttraining/training_ops/cuda/nn/layer_norm_impl.cu
  orttraining/orttraining/training_ops/cuda/nn/layer_norm_impl.h
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: component:training-core

#11038 Fix SegFault for NoopElimination transformation
  onnxruntime/core/optimizer/noop_elimination.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/noop-add.onnx
  onnxruntime/test/testdata/transform/noop-add.py
Labels: component:optimizer

#10821 Implement TreeEnsemble for opset(ai.onnx.ml)==3
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/ml/ml_common.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_aggregator.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_classifier.cc
  onnxruntime/core/providers/cpu/ml/tree_ensemble_classifier.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_common.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_helper.cc
  onnxruntime/core/providers/cpu/ml/tree_ensemble_helper.h
  onnxruntime/core/providers/cpu/ml/treeregressor.cc
  onnxruntime/core/providers/cpu/ml/treeregressor.h
  onnxruntime/test/providers/cpu/ml/tree_ensembler_classifier_test.cc
  onnxruntime/test/providers/cpu/ml/treeregressor_test.cc
  onnxruntime/test/providers/cpu/ml/write_scores_test.cc
  onnxruntime/test/python/onnxruntime_test_python_mlops.py
  onnxruntime/test/testdata/kernel_def_hashes/onnx.ml.cpu.json
  onnxruntime/test/testdata/tree_ensemble_as_tensor.onnx
Labels: release:1.11
