Repository microsoft/onnxruntime, pull requests merged in 2022-05, with the labels that each got.

#11318 [Fix] Add the extra param to match gelu in PyTorch in the contrib symbolic function
  onnxruntime/python/tools/pytorch_export_contrib_ops.py
  onnxruntime/test/python/test_pytorch_export_contrib_ops.py
  tools/ci_build/github/linux/docker/scripts/training/requirements.txt
Labels: component:converter, dependencies

#11388 Change MinGrad/MaxGrad to Use Distributed Logic
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core

#11463 [js/rn] fix CI packaging for react native E2E test
  js/README.md
  js/react_native/package.json
  js/react_native/scripts/prepack-e2e.ts
  js/react_native/scripts/prepack.ts
  tools/ci_build/github/azure-pipelines/templates/react-native-ci.yml
Labels: type:ci

#11261 CKPT API Implementation (On Device Training)
  cmake/onnxruntime_training.cmake
  cmake/onnxruntime_unittests.cmake
  orttraining/orttraining/core/framework/checkpoint_common.cc
  orttraining/orttraining/core/framework/checkpoint_common.h
  orttraining/orttraining/core/framework/checkpointing.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/training_api/checkpoint/checkpoint_test.cc
  orttraining/orttraining/test/training_api/test_runner.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/checkpoint_property.cc
  orttraining/orttraining/training_api/include/checkpoint.h
  orttraining/orttraining/training_api/include/checkpoint_property.h
  orttraining/orttraining/training_api/include/interfaces.h
  orttraining/orttraining/training_api/include/module.h
  orttraining/orttraining/training_api/include/optimizer.h
  orttraining/orttraining/training_api/interfaces.h
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/optimizer.cc
Labels: component:training-core

#11499 ci(cpplint): Ignore runtime/references warnings
  .github/workflows/lint.yml
Labels: type:ci

#11372 update docs/performance: fix typo
  docs/performance/quantization.md
Labels: component:documentation

#11518 Add python static type checking in CI checks
  .github/workflows/lint.yml
  .vscode/settings.json
  pyproject.toml
Labels: type:ci

#11579 Speed Up GradientChecker Running
  orttraining/orttraining/test/gradient/gradient_checker.cc
  orttraining/orttraining/test/gradient/gradient_checker.h
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#11534 [CUDA] Implement BitmaskDropout, BitmaskBiasDropout and BitmaskDropoutGrad
  docs/ContribOperators.md
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/math/bias_dropout.cc
  onnxruntime/contrib_ops/cuda/math/bias_dropout.h
  onnxruntime/contrib_ops/cuda/math/bias_dropout_impl.cu
  onnxruntime/contrib_ops/cuda/math/bitmask_dropout.cc
  onnxruntime/contrib_ops/rocm/rocm_contrib_kernels.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/graph/contrib_ops/ms_opset.h
  onnxruntime/core/optimizer/bias_dropout_fusion.cc
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/providers/cuda/cu_inc/bitmask.cuh
  onnxruntime/core/providers/cuda/nn/dropout.cc
  onnxruntime/core/providers/cuda/nn/dropout.h
  onnxruntime/core/providers/cuda/nn/dropout_impl.cu
  onnxruntime/core/providers/cuda/nn/dropout_impl.h
  onnxruntime/core/providers/cuda/shared_inc/cuda_utils.h
  onnxruntime/test/common/tensor_op_test_utils.h
  onnxruntime/test/contrib_ops/bias_dropout_op_test.cc
  onnxruntime/test/contrib_ops/bitmask_dropout_op_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/providers/provider_test_utils.h
  onnxruntime/test/testdata/transform/fusion/bitmask_bias_dropout_fusion_basic.onnx
  onnxruntime/test/testdata/transform/fusion/bitmask_bias_dropout_fusion_residual.onnx
  onnxruntime/test/testdata/transform/fusion/bitmask_bias_dropout_replacement_basic.onnx
  onnxruntime/test/testdata/transform/fusion/bitmask_dropout_fusion_gen.py
  onnxruntime/test/testdata/transform/fusion/bitmask_dropout_replacement_basic.onnx
  onnxruntime/test/testdata/transform/fusion/bitmask_dropout_replacement_multiple_mask_uses.onnx
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/bitmask_dropout_replacement.cc
  orttraining/orttraining/core/optimizer/bitmask_dropout_replacement.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/training_ops/cuda/bitmask_dropout_grad_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout_grad.cc
  orttraining/orttraining/training_ops/cuda/nn/dropout_grad.h
  orttraining/orttraining/training_ops/cuda/nn/dropout_grad_impl.cu
  orttraining/orttraining/training_ops/cuda/nn/dropout_grad_impl.h
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: component:training-core

#11506 MTA AdamWOptimizer
  onnxruntime/core/providers/cuda/multi_tensor/common.cuh
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/test/providers/cpu/sequence/concat_from_sequence_op_test.cc
  onnxruntime/test/providers/provider_test_utils.h
  onnxruntime/test/testdata/test_data_generation/adamw_test/adamw_test_data_generator.py
  onnxruntime/test/testdata/test_data_generation/adamw_test/adamw_test_multiple_weights_mode_0.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/adamw_test_multiple_weights_mode_1.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/adamw_test_single_weight_mode_0.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/adamw_test_single_weight_mode_1.json
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/training_ops/cuda/optimizer/adamw_test.cc
  orttraining/orttraining/test/training_ops/cuda/optimizer/common.cc
  orttraining/orttraining/test/training_ops/cuda/optimizer/common.h
  orttraining/orttraining/training_ops/cpu/optimizer/common.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/optimizer/adam_impl.cu
  orttraining/orttraining/training_ops/cuda/optimizer/adamw/adamw.cc
  orttraining/orttraining/training_ops/cuda/optimizer/adamw/adamw.h
  orttraining/orttraining/training_ops/cuda/optimizer/adamw/adamw_impl.cu
  orttraining/orttraining/training_ops/cuda/optimizer/adamw/adamw_impl.h
  orttraining/orttraining/training_ops/cuda/optimizer/lamb_impl.cu
Labels: component:training-core
