Repository microsoft/onnxruntime, pull requests merged in 2022-07, with the labels that each got.

#12057 Extend lifetime of KernelDef when creating a standalone op
  onnxruntime/core/session/standalone_op_invoker.cc
Labels: release:1.12

#12016 Add targets files for new .net6 frameworks
  csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.csproj
  csharp/src/Microsoft.ML.OnnxRuntime/NativeLib.android.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeLib.ios.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeLib.net.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeLib.netstandard.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeMethods.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/targets/net6.0-android/targets.xml
  csharp/src/Microsoft.ML.OnnxRuntime/targets/net6.0-ios/targets.xml
  csharp/src/Microsoft.ML.OnnxRuntime/targets/net6.0-macos/targets.xml
  csharp/src/Microsoft.ML.OnnxRuntime/targets/netstandard/targets.xml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.12

#12059 Fix DML custom operators which set descriptor heap to command list
  onnxruntime/core/providers/dml/DmlExecutionProvider/inc/IWinmlExecutionProvider.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlCommandRecorder.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionContext.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionContext.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/MLOperatorAuthorImpl.cpp
Labels: release:1.12

#12039 Make C# runtest.sh automatically set latest opset
  csharp/test/Microsoft.ML.OnnxRuntime.EndToEndTests/runtest.sh
Labels: release:1.12

#12058 Add data type check in ConvAddRelu fusion
  onnxruntime/core/optimizer/conv_activation_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/conv_add_relu_fp16.onnx
Labels: release:1.12

#12075 Add undocumented attribute to disable generation of Java bindings from the Android AAR.
  csharp/src/Microsoft.ML.OnnxRuntime/targets/net6.0-android/targets.xml
Labels: release:1.12

#11823 enable the extensions custom build for java and android
  cmake/external/extensions.cmake
  java/src/main/native/ai_onnxruntime_OrtSession_SessionOptions.c
Labels: release:1.12

#12089 generate quantization parameter for outputs
  onnxruntime/python/tools/quantization/calibrate.py
  onnxruntime/python/tools/quantization/qdq_quantizer.py
  onnxruntime/test/python/quantization/test_calibration.py
Labels: release:1.12

#12090 DML EP Update to DML 1.9
  .pipelines/nuget_config/x64/packages.config
  .pipelines/nuget_config/x86/packages.config
  cmake/external/dml.cmake
  packages.config
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.12

#11945 [ROCm] Enable build option for autograd
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
  tools/ci_build/github/azure-pipelines/orttraining-pai-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-rocm.yml
Labels: component:build, component:ortmodule

#12099 check consumers of dq node before swap dq and transpose
  onnxruntime/core/optimizer/transpose_optimizer/transpose_optimizer.cc
  onnxruntime/test/optimizer/qdq_test_utils.cc
  onnxruntime/test/optimizer/qdq_test_utils.h
  onnxruntime/test/optimizer/qdq_transformer_test.cc
  onnxruntime/test/optimizer/transpose_optimizer_test.cc
Labels: release:1.12

#12109 Update DML EP documentation opset to 13-15
  docs/execution-providers/DirectML-ExecutionProvider.md
Labels: component:documentation

#12132 pin protobuf version to be compatible with onnx
  requirements-training.txt
Labels: release:1.12

#12136 RoiAlign CPU EP add warning for max mode with samples != 1
  onnxruntime/core/providers/cpu/object_detection/roialign.h
Labels: release:1.12

#12138 include coreml_provider_factory.h in macos build instead of coreml_ex…
  tools/ci_build/github/linux/copy_strip_binary.sh
Labels: release:1.12

#12121 Ov ep docx update 1.12
  docs/execution-providers/OpenVINO-ExecutionProvider.md
Labels: component:documentation

#12141 List 3.10 as supported python version and remove 3.6
  setup.py
Labels: release:1.12

#11900 Use updated symbolic_helper.check_training_mode
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
Labels: release:1.12

#12158 Fix GH issue 12151 by using inverse perms for updating DQ axis attribute
  onnxruntime/core/optimizer/transpose_optimizer/transpose_optimizer.cc
  onnxruntime/test/optimizer/transpose_optimizer_test.cc
  onnxruntime/test/testdata/ort_github_issue_12151.onnx
Labels: release:1.12

#12077 Remove Apex Dependency For Deepspeed FP16_Optimizer
  orttraining/orttraining/python/training/optim/_ds_modifier.py
  orttraining/orttraining/python/training/optim/_megatron_modifier.py
  orttraining/orttraining/python/training/optim/_modifier.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cuda/fused_ops/fused_ops_frontend.cpp
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cuda/fused_ops/multi_tensor_l2norm_kernel.cu
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cuda/fused_ops/setup.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cuda/fused_ops/type_shim.h
Labels: component:ortmodule

#12156 fixing positions for beam search gpt2
  onnxruntime/contrib_ops/cpu/transformers/beam_search_device_helper.cc
  onnxruntime/contrib_ops/cpu/transformers/beam_search_device_helper.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_impl_gpt.h
  onnxruntime/contrib_ops/cuda/transformers/beam_search_device_helper.cc
  onnxruntime/contrib_ops/cuda/transformers/beam_search_device_helper.h
  onnxruntime/contrib_ops/cuda/transformers/beam_search_impl.cu
Labels: release:1.12

#12201 remove wrong placed libs
  tools/ci_build/github/windows/jar_packaging.ps1
Labels: release:1.12

#12183 Add file mapping for windows platform.
  onnxruntime/core/platform/windows/env.cc
  onnxruntime/test/platform/file_io_test.cc
Labels: release:1.12

#12195 Fix bug where onnxruntime_USE_NCCL flag would default to ON
  tools/ci_build/build.py
Labels: release:1.12

#12175 [CUDA] Split/Concat Kernel Optimization
  onnxruntime/core/providers/cuda/tensor/concat.cc
  onnxruntime/core/providers/cuda/tensor/concat_impl.cu
  onnxruntime/core/providers/cuda/tensor/concat_impl.h
  onnxruntime/core/providers/cuda/tensor/split.cc
  onnxruntime/core/providers/cuda/tensor/split_impl.cu
  onnxruntime/core/providers/cuda/tensor/split_impl.h
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#12249 [ORTModule] Bugfix of torch.chunk's Custom Symbolic when chunks==1
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#12200 Fix BiasGeluGrad bug
  orttraining/orttraining/test/training_ops/cuda/activations_test.cc
  orttraining/orttraining/training_ops/cuda/activation/bias_gelu_grad_impl.cu
Labels: component:training-core

#12146 Use unregister_custom_op_symbolic to unregister torch symbolics
  onnxruntime/python/tools/pytorch_export_contrib_ops.py
Labels: python

#12266 Fix memory consumption discrepancy
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/core/graph/gradient_builder_base.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/gradient_builder_registry.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.h
Labels: component:training-core

#11978 CPU AdamW implementation
  onnxruntime/core/providers/cpu/cpu_provider_shared.cc
  onnxruntime/core/providers/cpu/cpu_provider_shared.h
  onnxruntime/core/providers/shared_library/provider_api.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/test/testdata/kernel_def_hashes/training_ops.cpu.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/adamw_test_data_generator.py
  onnxruntime/test/testdata/test_data_generation/adamw_test/cpu/adamw_test_multiple_weights_mode_0.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/cpu/adamw_test_multiple_weights_mode_1.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/cpu/adamw_test_single_weight_mode_0.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/cpu/adamw_test_single_weight_mode_1.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/cuda/adamw_test_multiple_weights_mode_0.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/cuda/adamw_test_multiple_weights_mode_1.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/cuda/adamw_test_single_weight_mode_0.json
  onnxruntime/test/testdata/test_data_generation/adamw_test/cuda/adamw_test_single_weight_mode_1.json
  orttraining/orttraining/test/training_ops/cuda/optimizer/adamw_test.cc
  orttraining/orttraining/test/training_ops/cuda/optimizer/common.cc
  orttraining/orttraining/test/training_ops/cuda/optimizer/common.h
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/optimizer/adamw/adamw.cc
  orttraining/orttraining/training_ops/cpu/optimizer/adamw/adamw.h
  orttraining/orttraining/training_ops/cpu/optimizer/adamw/adamwbase.h
  orttraining/orttraining/training_ops/cuda/optimizer/adamw/adamw.cc
  orttraining/orttraining/training_ops/cuda/optimizer/adamw/adamw.h
Labels: component:training-core

#11976 [CUDA] Add Strided Tensor Support for Expand->GatherElements for Training
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/execution_frame.h
  onnxruntime/core/framework/sequential_execution_plan.h
  onnxruntime/core/providers/cuda/shared_inc/cuda_utils.h
  onnxruntime/core/providers/cuda/tensor/expand.cc
  onnxruntime/core/providers/cuda/tensor/gather_elements.cc
  onnxruntime/core/providers/cuda/tensor/gather_elements.h
  onnxruntime/core/providers/cuda/tensor/gather_elements_impl.cu
  onnxruntime/core/providers/cuda/tensor/gather_elements_impl.h
  onnxruntime/core/providers/cuda/tensor/scatter_elements.cc
  onnxruntime/core/providers/cuda/tensor/scatter_elements_impl.h
  onnxruntime/test/common/tensor_op_test_utils.h
  onnxruntime/test/providers/cpu/tensor/expand_test.cc
  onnxruntime/test/providers/cpu/tensor/gather_elements_op_test.cc
  onnxruntime/test/providers/cpu/tensor/scatter_op_test.cc
  onnxruntime/test/providers/kernel_compute_test_utils.cc
  onnxruntime/test/providers/kernel_compute_test_utils.h
  orttraining/orttraining/test/training_ops/cuda/gather_elements_grad_test.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_elements_grad.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_elements_grad_impl.h
Labels: component:training-core

#12301 Remove aten::binary_cross_entropy_with_logits from ATen Fallback
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:ortmodule

#12320 Fix orttraining-linux-gpu-ci-pipeline (fairscale dependency)
  tools/ci_build/github/linux/docker/scripts/install_python_deps.sh
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
Labels: component:training-core

#12270 Reduce CI noise from Python lint
  .github/workflows/lint.yml
  pyproject.toml
Labels: type:ci

#12314 Add Pow-15 for LayerNorm Fusion and FastGelu Fusion
  onnxruntime/core/optimizer/fast_gelu_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.cc
Labels: component:training-core

#12317 Make memory profiler work with multiple session runs.
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/framework/memory_info.cc
  onnxruntime/core/framework/memory_info.h
  onnxruntime/core/framework/orttraining_partial_executor.cc
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/framework/session_state.h
  onnxruntime/core/framework/session_state_utils.cc
  onnxruntime/core/framework/session_state_utils.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/session/training_session.cc
  orttraining/orttraining/models/runner/training_runner.cc
Labels: component:training-core

#12363 Refine gradient accumulation (on device training)
  onnxruntime/core/framework/session_state.cc
  onnxruntime/test/providers/provider_test_utils.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_api/trainer/trainer.cc
  orttraining/orttraining/training_api/include/module.h
  orttraining/orttraining/training_ops/cuda/optimizer/common.h
  orttraining/orttraining/training_ops/cuda/optimizer/gradient_control.cc
  orttraining/orttraining/training_ops/cuda/optimizer/gradient_control_impl.cu
Labels: component:training-core
