Repository microsoft/onnxruntime, pull requests merged in 2022-02, with the labels that each got.

#9486 Contrib ops for TRT plugins: EfficientNMS and Pyramid ROI Align
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
Labels: ep:TensorRT

#10465 [ROCm] BFloat16 support
  onnxruntime/core/providers/cuda/cudnn_common.cc
  onnxruntime/core/providers/cuda/math/softmax.cc
  onnxruntime/core/providers/rocm/math/softmax.cc
  onnxruntime/core/providers/rocm/miopen_common.cc
  onnxruntime/test/contrib_ops/element_wise_ops_test.cc
  onnxruntime/test/contrib_ops/fastgelu_op_test.cc
  onnxruntime/test/contrib_ops/fused_matmul_op_test.cc
  orttraining/orttraining/test/training_ops/cpu/reduction/reduction_ops_test.cc
  orttraining/orttraining/test/training_ops/cuda/mixed_precision_scale_test.cc
  orttraining/orttraining/training_ops/cuda/math/softmax_grad.cc
  orttraining/orttraining/training_ops/rocm/math/softmax_grad.cc
Labels: component:training-core

#10455 Add Gradient for ScatterElements
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#10476 Remove BFloat16 Specialized Code for ReduceSum
  onnxruntime/core/providers/cuda/math/unary_elementwise_ops_impl.cu
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/core/providers/rocm/miopen_common.cc
  onnxruntime/core/providers/rocm/miopen_common.h
  onnxruntime/core/providers/rocm/reduction/reduction_ops.cc
Labels: component:training-core

#10481 Remove file-scope non-constant static variables to support multiple inference sessions
  onnxruntime/core/optimizer/propagate_cast_ops.cc
  onnxruntime/core/optimizer/propagate_cast_ops.h
Labels: component:training-core, component:ortmodule

#10163 Introduce load balancing dataset samplers
  cmake/onnxruntime_python.cmake
  orttraining/orttraining/python/training/utils/data/__init__.py
  orttraining/orttraining/python/training/utils/data/sampler.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_sampler.py
  setup.py
Labels: component:training-core, component:training-frontend

#10557 [ROCm] Bugfix of BFloat16-float conversion and Add FastGelu Kernel for AMD
  include/onnxruntime/core/framework/float16.h
  onnxruntime/contrib_ops/rocm/bert/fast_gelu_impl.cu
  onnxruntime/contrib_ops/rocm/rocm_contrib_kernels.cc
  onnxruntime/test/contrib_ops/fastgelu_op_test.cc
Labels: component:training-core

#10558 [ROCm] Fixing build for CIs
  onnxruntime/core/providers/cuda/cudnn_common.cc
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/core/providers/rocm/miopen_common.cc
  onnxruntime/core/providers/rocm/reduction/reduction_ops.cc
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
Labels: component:training-core

#10280 Optimize ReduceSum, ReduceMean, ReduceMin, ReduceMax
  onnxruntime/core/providers/cpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/cpu/reduction/reduction_ops.h
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
Labels: type:performance

#10060 Convert com.microsoft::ATen into org.pytorch.aten::ATen onnx op
  include/onnxruntime/core/graph/constants.h
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/providers/cpu/cpu_provider_shared.cc
  onnxruntime/core/providers/cpu/cpu_provider_shared.h
  onnxruntime/core/providers/cuda/reduction/reduction_ops.cc
  onnxruntime/core/providers/shared_library/provider_api.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/core/session/environment.cc
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/test/testdata/kernel_def_hashes/training_ops.cpu.json
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op.cc
  orttraining/orttraining/training_ops/cpu/aten_ops/aten_op.h
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/aten_ops/aten_op.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
  orttraining/tools/scripts/performance_investigation.py
Labels: component:training-core, component:operator, component:onnx, component:ortmodule, release:1.11
