Repository microsoft/onnxruntime, pull requests merged in 2022-10, with the labels that each got.

#13187 Update unsupported ORT format version error message to link to doc on rel-1.13.0 branch.
  onnxruntime/core/session/inference_session.cc
Labels: release:1.13

#13192 Add linux debug training package to nightly pipeline
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cuda116.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage.yml
Labels: training

#12723 [js/web] add 'xnnpack' to EP list
  js/common/lib/backend-impl.ts
  js/common/lib/inference-session.ts
  js/node/lib/index.ts
  js/web/lib/index.ts
  js/web/lib/wasm/binding/ort-wasm.d.ts
  js/web/lib/wasm/session-options.ts
  js/web/script/test-runner-cli-args.ts
  js/web/test/test-runner.ts
  onnxruntime/wasm/api.cc
  onnxruntime/wasm/api.h
  tools/ci_build/github/azure-pipelines/templates/win-wasm-ci.yml
Labels: release:1.13

#13150 Fix reshape fusion
  onnxruntime/python/tools/transformers/fusion_reshape.py
  onnxruntime/python/tools/transformers/onnx_model.py
Labels: release:1.13

#13191 Bug Fix - C# API order incompatibile with C API
  csharp/src/Microsoft.ML.OnnxRuntime/Training/NativeTrainingMethods.shared.cs
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
Labels: training

#12779 [ONNX] Support huggingface BART to ONNX
  onnxruntime/python/tools/transformers/models/bart/README.md
  onnxruntime/python/tools/transformers/models/bart/export.py
  onnxruntime/python/tools/transformers/models/bart/utils/chain_enc_dec_with_beamsearch.py
  onnxruntime/python/tools/transformers/models/bart/utils/export_helper.py
  onnxruntime/python/tools/transformers/models/bart/utils/export_summarization_edinit.py
  onnxruntime/python/tools/transformers/models/bart/utils/export_summarization_enc_dec_past.py
  onnxruntime/python/tools/transformers/models/bart/utils/onnx_inference.py
Labels: converter, model:transformer

#12994 Introduce Training C++ Apis
  orttraining/orttraining/test/training_api/common/synthetic_data_loader.cc
  orttraining/orttraining/test/training_api/common/synthetic_data_loader.h
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/trainer/trainer.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_inline.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/training_session.cc
Labels: training

#13233 Increase iOS packaging pipeline timeout.
  tools/ci_build/github/azure-pipelines/mac-ios-packaging-pipeline.yml
Labels: release:1.13

#12878 Share scalar constant initializer
  onnxruntime/contrib_ops/cuda/quantization/qordered_ops/qordered_attention.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/optimizer/constant_sharing.cc
  onnxruntime/core/optimizer/constant_sharing.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/insert_cast_transformer.cc
  onnxruntime/core/optimizer/utils.h
  onnxruntime/python/tools/transformers/optimizer.py
  onnxruntime/test/framework/shape_inference_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/providers/cpu/tensor/shape_inference_test_helper.h
  onnxruntime/test/util/include/test_utils.h
  onnxruntime/test/util/test_utils.cc
Labels: training

#13250 [ORTModule] Fix Custom Op Registry for Torch 1.13+
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#13263 convert singrad to function op and remove cpu kernel
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/training_ops/cpu/math/element_wise_op_grad_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/op_gradients.cc
  orttraining/orttraining/training_ops/cpu/op_gradients.h
Labels: training

#13227 implement cos gradient as a function op
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: training

#13249 [ROCm] Add ROCm5.3 to python package pipeline
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-rocm.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm5.2
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm5.2.3
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm5.3
Labels: training

#13255 [ORTModule] Fix Graph Builder for Eval Mode
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/framework/ortmodule_graph_builder.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_onnx_models.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#13293 [ORTModule] ATen Support for torch.nn.GroupNorm
  orttraining/orttraining/core/graph/gradient_builder_base.cc
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#13305 [ORTModule] Update Supported DeepSpeed Version for FP16_Optimizer
  orttraining/orttraining/python/training/optim/_ds_modifier.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#13296 [ORTModule] Use Env Variable to Set Provider Option cudnn_conv_algo_search
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#13310 fix jetson build break caused by https://github.com/microsoft/onnxruntime/pull/12949
  onnxruntime/contrib_ops/cuda/quantization/qordered_ops/qordered_common.cuh
  onnxruntime/contrib_ops/cuda/quantization/qordered_ops/qordered_qdq_impl.cu
Labels: release:1.13

#13353 Revert "Fix shape-related issues in FuseConv (#12410)"
  onnxruntime/contrib_ops/cuda/fused_conv.cc
  onnxruntime/core/providers/cuda/nn/conv.cc
  onnxruntime/core/providers/cuda/nn/conv.h
  onnxruntime/test/providers/cpu/nn/conv_op_test.cc
  onnxruntime/test/testdata/fuse_conv_bias.onnx
  onnxruntime/test/testdata/fuse_conv_bias_slice.onnx
  onnxruntime/test/testdata/fuse_conv_no_bias.onnx
Labels: release:1.13

#13347 Fixes of Hierarchical ORTModule and ORTModule PythonOp
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/experimental/hierarchical_ortmodule/_hierarchical_ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_hierarchical_ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: training

#13364 [ORTModule] ATen Support for aten::upsample_nearest
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/python/torch_cpp_extensions/aten_op_executor/aten_op_executor.cc
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#13376 Fix bug for percentile calibration module.
  onnxruntime/python/tools/quantization/calibrate.py
Labels: release:1.13

#13354 Windows build fix for on device training training.
  orttraining/orttraining/python/orttraining_pybind_state.cc
Labels: training

#13385 enable arm32/arm64 target for .net apps built against OnnxRuntime.ML.OnnxRuntime
  csharp/src/Microsoft.ML.OnnxRuntime/targets/netstandard/targets.xml
Labels: release:1.13

#13430 [ORTModule] Add Env Variable to Control Disabling Custom AutoGrad Function Support
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: training

#13345 Training API to export the eval model to an inference model
  csharp/src/Microsoft.ML.OnnxRuntime/Training/NativeTrainingMethods.shared.cs
  onnxruntime/test/testdata/training_api/eval_model.onnx
  onnxruntime/test/testdata/training_api/training_model.onnx
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/api/module.py
  orttraining/orttraining/test/python/orttraining_test_python_bindings.py
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/include/module.h
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_inline.h
  orttraining/orttraining/training_api/include/ort_training_apis.h
  orttraining/orttraining/training_api/include/training_session.h
  orttraining/orttraining/training_api/include/utils.h
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/training_session.cc
  orttraining/orttraining/training_api/utils.cc
Labels: training

#12417 QuickGelu Fusion
  docs/ContribOperators.md
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cpu/activations.cc
  onnxruntime/contrib_ops/cpu/activations.h
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/activation/activations.cc
  onnxruntime/contrib_ops/cuda/activation/activations.h
  onnxruntime/contrib_ops/cuda/activation/activations_impl.cu
  onnxruntime/contrib_ops/cuda/activation/activations_impl.h
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/rocm/rocm_contrib_kernels.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/graph/contrib_ops/ms_opset.h
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/quick_gelu_fusion.cc
  onnxruntime/core/optimizer/quick_gelu_fusion.h
  onnxruntime/core/providers/cuda/activation/activations_impl.h
  onnxruntime/core/providers/cuda/cu_inc/binary_elementwise_impl.cuh
  onnxruntime/test/contrib_ops/activation_op_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_ops/cpu/activation/activation_op_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/op_gradients.cc
  orttraining/orttraining/training_ops/cpu/op_gradients.h
  orttraining/orttraining/training_ops/cuda/activation/activations_grad.cc
  orttraining/orttraining/training_ops/cuda/activation/activations_grad.h
  orttraining/orttraining/training_ops/cuda/activation/activations_grad_impl.cu
  orttraining/orttraining/training_ops/cuda/activation/activations_grad_impl.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: training
