Repository microsoft/onnxruntime, pull requests merged in 2022-04, with the labels that each got.

#11074 Update How_To_Update_ONNX_Dev_Notes.md with right paths
  docs/How_To_Update_ONNX_Dev_Notes.md
Labels: component:documentation

#9610 Improve transfered time from ort to torch
  onnxruntime/core/dlpack/dlpack_converter.cc
  onnxruntime/core/dlpack/dlpack_converter.h
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/onnxruntime_pybind_mlvalue.cc
  onnxruntime/python/onnxruntime_pybind_mlvalue.h
  onnxruntime/python/onnxruntime_pybind_ortvalue.cc
  onnxruntime/python/onnxruntime_pybind_state_common.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_gradient_accumulation_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  orttraining/orttraining/test/python/orttraining_test_ortvalue.py
Labels: component:training-frontend, component:ortmodule

#11053 [CUDA] Tile Kernel Optimization
  onnxruntime/core/providers/cuda/tensor/tile.cc
  onnxruntime/core/providers/cuda/tensor/tile_impl.cu
  onnxruntime/core/providers/cuda/tensor/tile_impl.h
  onnxruntime/test/providers/cpu/tensor/tile_op_test.cc
Labels: component:training-core

#11170 Remove dependancy on EP TVM in unit test project
  cmake/onnxruntime_unittests.cmake
Labels: ep:tvm

#11008 Fix gradient builder for Cast
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core

#11121 MatMulScaleFusion - handling scale input
  onnxruntime/core/optimizer/matmul_scale_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/matmul_scale_gen.py
  onnxruntime/test/testdata/transform/fusion/matmul_scale_with_scale_input.onnx
Labels: component:optimizer

#10972 Add training api test runner
  cmake/CMakeLists.txt
  cmake/onnxruntime_training.cmake
  orttraining/orttraining/test/training_api/test_runner.cc
  orttraining/orttraining/training_api/interfaces.h
Labels: component:training-core

#11187 [CUDA] Rollback TileMemcpy and TileBatchedMemcpy when Block Size is Small
  onnxruntime/core/providers/cuda/tensor/tile_impl.cu
  onnxruntime/test/providers/cpu/tensor/tile_op_test.cc
Labels: component:training-core

#11316 Add python docstring linting in vscode settings
  .gitignore
  .vscode/settings.json
  docs/Coding_Conventions_and_Standards.md
  onnxruntime/.style.yapf
  onnxruntime/ReformatSourcePython.bat
  pyproject.toml
  requirements-dev.txt
Labels: type:enhancement

#11365 Add LGTM config for c++ and c#
  lgtm.yml
Labels: component:build

#11370 Set black's target version
  onnxruntime/python/tools/quantization/operators/activation.py
  onnxruntime/python/tools/quantization/operators/binary_op.py
  onnxruntime/python/tools/quantization/operators/gavgpool.py
  onnxruntime/python/tools/quantization/operators/pooling.py
  onnxruntime/test/python/contrib_ops/onnx_contrib_ops_helper.py
  onnxruntime/test/python/onnxruntime_test_ort_trainer.py
  onnxruntime/test/testdata/transform/fusion/matmul_scale_gen.py
  orttraining/orttraining/eager/test_model/mnist_fc_training.py
  orttraining/orttraining/eager/test_models/mnist_fc_training.py
  orttraining/orttraining/test/python/orttraining_test_transformers.py
  orttraining/pytorch_frontend_examples/mnist_training.py
  pyproject.toml
  tools/ci_build/get_docker_image.py
  tools/python/util/run.py
Labels: component:build
