Repository microsoft/onnxruntime, pull requests merged in 2022-06, with the labels that each got.

#11616 Optimizer - add missing supported version for BiasSoftmaxFusion
  onnxruntime/core/optimizer/bias_softmax_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/fusion/bias_softmax_fusion_bfloat16.onnx
  onnxruntime/test/testdata/transform/fusion/bias_softmax_fusion_simple_no_axis_opset13.onnx
  onnxruntime/test/testdata/transform/fusion/bias_softmax_gen.py
Labels: component:training-core, component:optimizer

#8659 Fixed markdown syntax error and modify field name to keep the style consistent
  docs/get-started/with-c.md
Labels: component:documentation

#11797 Fix Random GradientCheckerTest Failure
  orttraining/orttraining/test/gradient/gradient_checker.cc
  orttraining/orttraining/test/gradient/gradient_checker.h
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: component:training-core

#11450 Support T5 in BeamSearch operator
  docs/ContribOperators.md
  onnxruntime/contrib_ops/cpu/transformers/beam_search.cc
  onnxruntime/contrib_ops/cpu/transformers/beam_search.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_device_helper.cc
  onnxruntime/contrib_ops/cpu/transformers/beam_search_device_helper.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_impl_base.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_impl_gpt.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_impl_t5.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_parameters.cc
  onnxruntime/contrib_ops/cpu/transformers/beam_search_parameters.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_scorer.cc
  onnxruntime/contrib_ops/cpu/transformers/beam_search_scorer.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_shared.h
  onnxruntime/contrib_ops/cpu/transformers/dump_tensor.cc
  onnxruntime/contrib_ops/cpu/transformers/dump_tensor.h
  onnxruntime/contrib_ops/cpu/transformers/gpt_subgraph.cc
  onnxruntime/contrib_ops/cpu/transformers/logits_processor.cc
  onnxruntime/contrib_ops/cpu/transformers/logits_processor.h
  onnxruntime/contrib_ops/cpu/transformers/sequences.cc
  onnxruntime/contrib_ops/cpu/transformers/sequences.h
  onnxruntime/contrib_ops/cpu/transformers/subgraph_base.cc
  onnxruntime/contrib_ops/cpu/transformers/subgraph_base.h
  onnxruntime/contrib_ops/cpu/transformers/subgraph_gpt.cc
  onnxruntime/contrib_ops/cpu/transformers/subgraph_gpt.h
  onnxruntime/contrib_ops/cpu/transformers/subgraph_t5_decoder.cc
  onnxruntime/contrib_ops/cpu/transformers/subgraph_t5_decoder.h
  onnxruntime/contrib_ops/cpu/transformers/subgraph_t5_encoder.cc
  onnxruntime/contrib_ops/cpu/transformers/subgraph_t5_encoder.h
  onnxruntime/contrib_ops/cuda/transformers/beam_search.cc
  onnxruntime/contrib_ops/cuda/transformers/beam_search_device_helper.cc
  onnxruntime/contrib_ops/cuda/transformers/beam_search_device_helper.h
  onnxruntime/contrib_ops/cuda/transformers/beam_search_impl.cu
  onnxruntime/contrib_ops/cuda/transformers/beam_search_impl.h
  onnxruntime/contrib_ops/cuda/transformers/dump_cuda_tensor.cc
  onnxruntime/contrib_ops/cuda/transformers/dump_cuda_tensor.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/python/tools/transformers/__init__.py
  onnxruntime/python/tools/transformers/bert_test_data.py
  onnxruntime/python/tools/transformers/convert_beam_search.py
  onnxruntime/python/tools/transformers/models/gpt2/convert_to_onnx.py
  onnxruntime/python/tools/transformers/models/t5/convert_to_onnx.py
  onnxruntime/python/tools/transformers/models/t5/t5_decoder.py
  onnxruntime/python/tools/transformers/models/t5/t5_encoder.py
  onnxruntime/python/tools/transformers/models/t5/t5_encoder_decoder_init.py
  onnxruntime/python/tools/transformers/models/t5/t5_helper.py
  onnxruntime/python/tools/transformers/requirements.txt
  onnxruntime/test/python/transformers/test_beam_search.py
Labels: model:t5

#11176 Move OrtValueVector from onnxruntime-training to onnxruntime
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/onnxruntime_pybind_mlvalue.h
  onnxruntime/python/onnxruntime_pybind_ortvalue.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  onnxruntime/test/python/onnxruntime_test_python.py
  onnxruntime/test/python/onnxruntime_test_python_iobinding.py
  onnxruntime/test/python/onnxruntime_test_python_sparse_matmul.py
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/orttraining_python_module.cc
  orttraining/orttraining/python/training/ortmodule/_execution_agent.py
  orttraining/orttraining/python/training/ortmodule/_gradient_accumulation_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/test/python/orttraining_test_ortvalue.py
Labels: api:Python, type:performance

#11374 [CUDA] GatherElements[Grad]/ScatterElements Bugfix and Perf Improve
  onnxruntime/core/providers/cpu/tensor/scatter.cc
  onnxruntime/core/providers/cuda/tensor/gather_elements.cc
  onnxruntime/core/providers/cuda/tensor/gather_elements.h
  onnxruntime/core/providers/cuda/tensor/gather_elements_impl.cu
  onnxruntime/core/providers/cuda/tensor/gather_elements_impl.h
  onnxruntime/core/providers/cuda/tensor/scatter_elements.cc
  onnxruntime/core/providers/cuda/tensor/scatter_elements_impl.cu
  onnxruntime/core/providers/cuda/tensor/scatter_elements_impl.h
  onnxruntime/test/providers/cpu/tensor/gather_elements_op_test.cc
  onnxruntime/test/providers/cpu/tensor/scatter_op_test.cc
  orttraining/orttraining/test/training_ops/cuda/gather_elements_grad_test.cc
  orttraining/orttraining/training_ops/cpu/tensor/gather_elements_grad.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_elements_grad.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_elements_grad_impl.h
Labels: component:training-core

#11667 Fix building DNNL EP with GCC 12
  onnxruntime/core/providers/dnnl/subgraph/dnnl_reduce.cc
Labels: ep:DNNL

#11906 DML EP QuantizeLinear defer axis validation for test_quantizelinear_cpu
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorElementWise.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.h
Labels: release:1.12

#11932 Enable Pad test cases with initializer inputs only when building NNAPI EP on Android.
  onnxruntime/test/providers/cpu/tensor/pad_test.cc
Labels: release:1.12

#11908 Add .net6 support to the C# nuget package.
  csharp/OnnxRuntime.CSharp.proj
  csharp/readme.md
  csharp/sample/InferenceSample/Microsoft.ML.OnnxRuntime.InferenceSample.Forms.iOS/Microsoft.ML.OnnxRuntime.InferenceSample.Forms.iOS.csproj
  csharp/src/Microsoft.ML.OnnxRuntime/AssemblyInfo.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.csproj
  csharp/src/Microsoft.ML.OnnxRuntime/NativeMethods.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/SessionOptions.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.iOS/Microsoft.ML.OnnxRuntime.Tests.iOS.csproj
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
Labels: release:1.12

#11885 Remove Cast before and after Gelu
  onnxruntime/contrib_ops/cuda/activation/activations_impl.cu
  onnxruntime/core/optimizer/propagate_cast_ops.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/optimizer/graph_transform_test_builder.cc
  onnxruntime/test/optimizer/graph_transform_test_builder.h
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/training_ops/cuda/activation/activations_grad_impl.cu
Labels: component:training-core

#11855 fix mpi in training build
  orttraining/orttraining/core/framework/communication/mpi/mpi_context.h
  orttraining/orttraining/core/framework/communication/mpi/mpi_include.h
  orttraining/orttraining/core/framework/communication/mpi/mpi_utilities.h
  orttraining/orttraining/training_ops/cpu/communication/recv.cc
  orttraining/orttraining/training_ops/cpu/communication/send.cc
  orttraining/orttraining/training_ops/cuda/collective/nccl_common.cc
  orttraining/orttraining/training_ops/cuda/communication/nccl_service.h
  orttraining/orttraining/training_ops/cuda/communication/recv.cc
  orttraining/orttraining/training_ops/cuda/communication/send.cc
Labels: component:training-core

#11953 Dll version fix ovep4.1
  cmake/CMakeLists.txt
  onnxruntime/core/providers/openvino/backend_manager.cc
Labels: release:1.12

#11926 Optimize t5 encoder in beam search
  onnxruntime/contrib_ops/cpu/transformers/beam_search.cc
  onnxruntime/contrib_ops/cpu/transformers/beam_search.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_device_helper.cc
  onnxruntime/contrib_ops/cpu/transformers/beam_search_device_helper.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_impl_base.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_impl_t5.h
  onnxruntime/contrib_ops/cpu/transformers/subgraph_t5_decoder.cc
  onnxruntime/contrib_ops/cpu/transformers/subgraph_t5_decoder.h
  onnxruntime/contrib_ops/cpu/transformers/subgraph_t5_encoder.cc
  onnxruntime/contrib_ops/cpu/transformers/subgraph_t5_encoder.h
  onnxruntime/contrib_ops/cuda/transformers/beam_search.cc
  onnxruntime/contrib_ops/cuda/transformers/beam_search_device_helper.cc
  onnxruntime/contrib_ops/cuda/transformers/beam_search_device_helper.h
Labels: release:1.12

#11841 Allow saving on CPU usage for infrequent inference requests by reducing thread spinning
  include/onnxruntime/core/platform/EigenNonBlockingThreadPool.h
  include/onnxruntime/core/platform/threadpool.h
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/common/threadpool.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
Labels: release:1.12

#11911 fix memory profile for partial graph run
  onnxruntime/core/framework/memory_info.cc
  onnxruntime/core/framework/memory_info.h
  onnxruntime/core/framework/orttraining_partial_executor.cc
  onnxruntime/core/framework/orttraining_partial_executor.h
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/framework/utils.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_execution_agent.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
Labels: component:training-core

#11731 Restructure function inliner
  include/onnxruntime/core/graph/graph.h
  onnxruntime/core/graph/function_utils.cc
  onnxruntime/core/graph/function_utils.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/test/framework/function_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
  orttraining/orttraining/test/gradient/gradient_op_test_utils.cc
Labels: release:1.12

#11778 register signal ops for opset 17
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/contrib_ops/cpu/signal/dft.cc
  onnxruntime/contrib_ops/cpu/signal/window_functions.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/graph/signal_ops/signal_defs.cc
  onnxruntime/core/graph/signal_ops/signal_defs.h
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/signal/dft.cc
  onnxruntime/core/providers/cpu/signal/dft.h
  onnxruntime/core/providers/cpu/signal/utils.h
  onnxruntime/core/providers/cpu/signal/window_functions.cc
  onnxruntime/core/providers/cpu/signal/window_functions.h
  onnxruntime/test/contrib_ops/signal_ops_test.cc
  onnxruntime/test/providers/cpu/signal/signal_ops_test.cc
  onnxruntime/test/testdata/kernel_def_hashes/onnx.cpu.json
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
  onnxruntime/test/testdata/onnx_backend_test_series_overrides.jsonc
Labels: release:1.12

#11960 Include opset 15 in Conv+BatchNormalization fusion
  onnxruntime/core/optimizer/conv_bn_fusion.cc
Labels: release:1.12

#12006 Fix WinML Tests are still targetting deprecated (deleted) experimental signal op definitions
  winml/test/api/LearningModelSessionAPITest.cpp
Labels: release:1.12

#12010 DML EP ResNet50 opset 15 fails in ONNX checker for FusedBatchNormalization lacking training_mode attribute
  onnxruntime/core/graph/dml_ops/dml_defs.cc
Labels: release:1.12

#11539 Generalize native op creation
  include/onnxruntime/core/graph/graph.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/core/session/standalone_op_invoker.cc
  onnxruntime/test/shared_lib/custom_op_utils.cc
  onnxruntime/test/shared_lib/custom_op_utils.h
  onnxruntime/test/shared_lib/test_inference.cc
Labels: release:1.12

#11974 [DML EP] Pad operator: Handle negative pad counts
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorPadding.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorRegistration.cpp
Labels: release:1.12

#11984 Add warning about future computation change for ConvTranspose with auto_pad
  onnxruntime/core/providers/cpu/nn/conv_transpose.h
Labels: release:1.12

#12036 update roialign cuda impl to onnx opset16
  onnxruntime/core/providers/cuda/object_detection/roialign.cc
  onnxruntime/core/providers/cuda/object_detection/roialign_impl.cu
  onnxruntime/core/providers/cuda/object_detection/roialign_impl.h
Labels: release:1.12

#12033 Fix windows eager build break by pinning to torch version 1.11.0
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/torch_eager_cpu/requirements.txt
  tools/ci_build/github/windows/eager/requirements.txt
Labels: release:1.12

#12037 Disable sequence-type tests since C# infra doesn't support well
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.NetCoreApp/InferenceTest.netcore.cs
Labels: release:1.12
