Repository microsoft/onnxruntime, pull requests merged in 2022-01, with the labels that each got.

#9176 update OperatorKernels.md/ContribOperators.md
  docs/reference/operators/ContribOperators.md
  docs/reference/operators/OperatorKernels.md
Labels: component:documentation

#10116 Automate Python API docs generation
  .github/workflows/publish-python-apidocs.yml
Labels: component:documentation

#10152 Updated documentation for reduced op build process.
  docs/build/custom.md
  docs/performance/mobile-performance-tuning.md
  docs/reference/reduced-operator-config-file.md
Labels: component:documentation

#10093 Update C/C++ API docs automation to create a PR (instead of push to publish branch)
  .github/workflows/publish-c-apidocs.yml
  docs/c_cxx/README.md
  include/onnxruntime/core/session/onnxruntime_c_api.h
Labels: component:documentation

#10177 [FIX] register softmaxgrad_13/logsoftmaxgrad_13 for rocm
  orttraining/orttraining/test/training_ops/cuda/softmax_test.cc
  orttraining/orttraining/training_ops/rocm/math/softmax_grad.cc
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: component:training-core

#10252 orttraining packaging and ci pipelines to use cuda 11.3
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/orttraining-linux-gpu-ortmodule-test-ci-pipeline.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_3
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_gpu_training
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: component:training-frontend, component:ortmodule

#8822 Add float16 docs
  docs/performance/float16.md
Labels: component:documentation

#10005 Improve iobinding, faster name search
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/session/IOBinding.cc
  onnxruntime/core/session/IOBinding.h
Labels: type:performance

#10276 Update pytorch-lightning
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
Labels: component:training-frontend, component:ortmodule

#9960 fix deadlock in model.train mode forward run only
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/__init__.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/torch_interop_utils.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: component:training-core

#10230 Optimize Transpose CUDA Kernel
  onnxruntime/core/providers/cuda/tensor/transpose.cc
Labels: component:training-core

#10315 [ortmodule] Ensure contiguous tensor into forward pass
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
Labels: component:training-frontend, component:ortmodule

#10331 Fix CUDA10.2 Build Break for BFloat16 Change
  onnxruntime/core/providers/cuda/shared_inc/fpgeneric.h
Labels: component:coreruntime

#10223 Add ability to set ortmodule onnx opset version from json config
  orttraining/orttraining/python/training/ortmodule/experimental/json_config/_load_config_from_json.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_experimental_json_config.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_experimental_json_config_1.json
  orttraining/orttraining/test/python/orttraining_test_ortmodule_experimental_json_config_2.json
Labels: component:training-frontend, component:ortmodule

#10106 Add support for FusedAdam to be mathematically equivalent to pytorch/AdamW
  orttraining/orttraining/python/training/optim/__init__.py
  orttraining/orttraining/python/training/optim/fused_adam.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cuda/fused_ops/multi_tensor_adam.cu
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core, component:training-frontend

#10114 Builds onnxruntime + eager mode with the same value for _GLIBCXX_USE_CXX11_ABI as pytorch
  cmake/CMakeLists.txt
  tools/ci_build/build.py
Labels: component:training-core

#10390 Symbolic export for numpy_T
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: component:training-core, component:ortmodule

#10398 [ROCm] Enable BFloat16 for Gemm and MatMul Op
  onnxruntime/core/providers/rocm/fpgeneric.cu
  onnxruntime/core/providers/rocm/math/gemm.cc
  onnxruntime/core/providers/rocm/math/matmul.cc
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
  onnxruntime/core/providers/rocm/shared_inc/fpgeneric.h
  onnxruntime/test/providers/cpu/math/gemm_test.cc
  onnxruntime/test/providers/cpu/math/matmul_test.cc
Labels: component:training-core

#10396 Document C/C++ API documentation version info conventions.
  docs/c_cxx/README.md
Labels: component:documentation

#10394 Add some more documentation for the C/C++ API tensor creation functions.
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
Labels: component:documentation

#10416 [ROCm] BFloat16 support
  onnxruntime/core/providers/rocm/math/softmax.cc
  onnxruntime/core/providers/rocm/math/softmax_impl.cu
  onnxruntime/core/providers/rocm/reduction/reduction_ops.cc
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
  onnxruntime/test/providers/cpu/math/element_wise_ops_test.cc
  onnxruntime/test/providers/cpu/math/gemm_test.cc
  onnxruntime/test/providers/cpu/math/matmul_test.cc
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
Labels: component:training-core
