Repository microsoft/onnxruntime, pull requests merged in 2023-06, with the labels that each got.

#16078 Consolidate ORTModule logging
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/python/training/ortmodule/_fallback.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager_factory.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_logger.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_factory.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_ort.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
Labels: training

#16126 Exclude shufflenet from DNNL's model tests
  onnxruntime/test/providers/cpu/model_tests.cc
Labels: ep:oneDNN

#16182 [js/doc] allow deduplicate opset version
  js/web/script/generate-webgpu-operator-md.ts
Labels: platform:web

#16201 Fix DNNL build
  cmake/onnxruntime_providers.cmake
Labels: ep:oneDNN

#16131 [js/rn] Implement dispose native method
  js/react_native/android/src/androidTest/java/ai/onnxruntime/reactnative/OnnxruntimeModuleTest.java
  js/react_native/android/src/main/java/ai/onnxruntime/reactnative/OnnxruntimeModule.java
  js/react_native/ios/OnnxruntimeModule.h
  js/react_native/ios/OnnxruntimeModule.mm
  js/react_native/ios/OnnxruntimeModuleTest/OnnxruntimeModuleTest.mm
  js/react_native/lib/backend.ts
  js/react_native/lib/binding.ts
Labels: platform:mobile

#16286 Fix native onnxruntime library not loading in Azure App Service
  onnxruntime/core/platform/windows/env.cc
Labels: release:1.15.1

#16122 [js/web] Added Reduce operators support
  cmake/onnxruntime_providers.cmake
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/tensor.ts
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/reduce.cc
  onnxruntime/core/providers/js/operators/reduce.h
Labels: platform:web

#16353 Temporary fix to make the training pipeline green
  tools/ci_build/github/azure-pipelines/templates/orttraining-linux-gpu-ortmodule-test-ci-pipeline.yml
Labels: training

#16357 Fix for AMD GPU pipeline
  tools/ci_build/github/azure-pipelines/orttraining-pai-ci-pipeline.yml
Labels: training

#16349 Fix Reshape check
  onnxruntime/core/optimizer/compute_optimizer/upstream_reshape.cc
  onnxruntime/test/optimizer/compute_optimizer_test.cc
Labels: training

#16213 Introduce memory observer for ORTModule
  docs/ORTModule_Training_Guidelines.md
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/utils/hooks/_statistics_subscriber.py
Labels: training

#16167 Add On Device Training Tutorial with ONNX Runtime
  docs/ecosystem/index.md
  docs/execution-providers/Vitis-AI-ExecutionProvider.md
  docs/performance/olive.md
  docs/tutorials/on-device-training.md
  images/on-device-training-android-studio-project-name.png
  images/on-device-training-android-studio-setup.png
  images/on-device-training-android-studio-toolchain.png
  images/on-device-training-application-landing-page.jpg
  images/on-device-training-application-prediction-cow.jpg
  images/on-device-training-application-prediction-tom.jpg
  images/on-device-training-lib-include.png
  images/on-device-training-project-assets.png
Labels: training

#16147 Enable model subgraph execution in OVEP and setting the OpenVINO dll's to the path from the OpenVINO pypi packge in OVEP and fix OVEP windows io buffer sample
  cmake/onnxruntime_providers.cmake
  cmake/onnxruntime_python.cmake
  dockerfiles/Dockerfile.openvino
  dockerfiles/Dockerfile.openvino-csharp
  docs/python/ReadMeOV.rst
  onnxruntime/core/providers/openvino/backends/basic_backend.cc
  onnxruntime/core/providers/openvino/ov_versions/capability.cc
  onnxruntime/core/providers/openvino/ov_versions/data_ops.cc
  onnxruntime/test/providers/cpu/controlflow/loop_test.cc
  onnxruntime/test/providers/cpu/controlflow/scan_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
  tools/python/util/add_openvino_win_libs.py
Labels: ep:OpenVINO

#16141 Embedding sparsity optimization
  docs/ORTModule_Training_Guidelines.md
  onnxruntime/core/optimizer/compute_optimizer/shared_utils.cc
  onnxruntime/core/optimizer/compute_optimizer/shared_utils.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.h
  orttraining/orttraining/core/optimizer/compute_optimizer/sceloss_compute_optimization.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#16375 Adding this set_to_none flag to zero_grad to have signature parity with pytorch Adam
  orttraining/orttraining/python/training/optim/fused_adam.py
Labels: training

#8919 added support for cmake "find_package"
  cmake/CMakeLists.txt
  cmake/onnxruntime.cmake
  cmake/onnxruntime_common.cmake
  cmake/onnxruntime_framework.cmake
  cmake/onnxruntime_graph.cmake
  cmake/onnxruntime_optimizer.cmake
  cmake/onnxruntime_providers.cmake
  cmake/onnxruntime_session.cmake
Labels: build

#16394 Update DORT to follow PyTorch changes
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/session/provider_bridge_ort.cc
  orttraining/orttraining/python/training/torchdynamo/ort_backend.py
  orttraining/orttraining/python/training/torchdynamo/register_backend.py
Labels: merge at green

#16360 Add ability to create ort format models from training offline utility
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/test/python/orttraining_test_onnxblock.py
  tools/python/convert_onnx_models_to_ort.py
  tools/python/util/convert_onnx_models_to_ort.py
Labels: training

#16326 Minimal Build for On-Device Training
  .lintrunner.toml
  cmake/onnxruntime_optimizer.cmake
  cmake/onnxruntime_unittests.cmake
  java/src/test/java/ai/onnxruntime/TrainingTest.java
  onnxruntime/core/flatbuffers/checkpoint_version.h
  onnxruntime/core/flatbuffers/flatbuffers_utils.h
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/Checkpoint.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/FloatProperty.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/IntProperty.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/ModuleState.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/OptimizerGroup.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/ParameterOptimizerState.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/PropertyBag.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/StringProperty.py
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/__init__.py
  onnxruntime/core/flatbuffers/schema/README.md
  onnxruntime/core/flatbuffers/schema/compile_schema.py
  onnxruntime/core/flatbuffers/schema/ort.fbs
  onnxruntime/core/flatbuffers/schema/ort.fbs.h
  onnxruntime/core/flatbuffers/schema/ort_training_checkpoint.fbs
  onnxruntime/core/flatbuffers/schema/ort_training_checkpoint.fbs.h
  onnxruntime/core/graph/graph_flatbuffers_utils.cc
  onnxruntime/core/graph/graph_flatbuffers_utils.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/training_api/checkpoint.ckpt
  onnxruntime/test/testdata/training_api/checkpoint.ckpt/paramtrain_tensors.pbseq
  onnxruntime/test/testdata/training_api/load_checkpoint/paramfrozen_tensors.pbseq
  onnxruntime/test/testdata/training_api/load_checkpoint/paramtrain_tensors.pbseq
  onnxruntime/test/testdata/training_api/loss_1.out
  onnxruntime/test/testdata/training_api/loss_2.out
  orttraining/orttraining/core/framework/checkpoint_common.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/python/orttraining_test_onnxblock.py
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/checkpoint.h
  orttraining/orttraining/training_api/checkpoint_property.cc
  orttraining/orttraining/training_api/checkpoint_property.h
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/training_session.cc
  orttraining/orttraining/training_api/training_session.h
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
Labels: training

#16065 Eliminate safe nodes that are followed by a shape node.
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/pre_shape_node_elimination.cc
  onnxruntime/core/optimizer/pre_shape_node_elimination.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/pre_shape_node_elimination.onnx
  onnxruntime/test/testdata/transform/pre_shape_node_elimination.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: training

#16457 Load CheckpointState from a buffer
  csharp/src/Microsoft.ML.OnnxRuntime/Training/NativeTrainingMethods.shared.cs
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/core/training_capi_tests.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/checkpoint.h
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_inline.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/ort_training_apis.h
Labels: training

#16478 Support Mul and Sub in padding elimination
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#16429 Use PadAndUnflatten to replace GatherGrad for restore
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/training_ops/cuda/pad_and_unflatten_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/tensor/pad_and_unflatten.cc
  orttraining/orttraining/training_ops/cuda/tensor/pad_and_unflatten.h
  orttraining/orttraining/training_ops/cuda/tensor/pad_and_unflatten_impl.cu
  orttraining/orttraining/training_ops/cuda/tensor/pad_and_unflatten_impl.h
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: training

#16396 Manage ORTModule configurations consistently
  docs/ORTModule_Training_Guidelines.md
  orttraining/orttraining/python/training/experimental/gradient_graph/_gradient_graph_tools.py
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager_factory.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_factory.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_ort.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/debug_options.py
  orttraining/orttraining/python/training/ortmodule/experimental/hierarchical_ortmodule/_hierarchical_ortmodule.py
  orttraining/orttraining/python/training/ortmodule/experimental/json_config/_load_config_from_json.py
  orttraining/orttraining/python/training/ortmodule/options.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_bert_classifier_autocast.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_experimental_json_config.py
Labels: training

#16432 shared allocator for on device training
  onnxruntime/core/framework/session_state.cc
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/optimizer.h
Labels: training

#16488 Fix bug that accidentally disabled training op tests
  cmake/CMakeLists.txt
  cmake/onnxruntime_unittests.cmake
Labels: training, build

#16374 Objective C Training API: TrainingSession
  cmake/onnxruntime_objectivec.cmake
  objectivec/cxx_utils.h
  objectivec/cxx_utils.mm
  objectivec/include/onnxruntime_training.h
  objectivec/include/ort_checkpoint.h
  objectivec/include/ort_training_session.h
  objectivec/ort_training_session.mm
  objectivec/ort_training_session_internal.h
  objectivec/test/assertion_utils.h
  objectivec/test/ort_checkpoint_test.mm
  objectivec/test/ort_training_session_test.mm
  objectivec/test/ort_training_utils_test.mm
  objectivec/test/test_utils.h
  objectivec/test/test_utils.mm
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
Labels: training

#16485 Temporary optimizer support for ort format models in non minimal build
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/optimizer.cc
Labels: training

#16363 Support SCELossInternal/SCELossInternalGrad run with larger sized input
  onnxruntime/core/providers/cuda/cu_inc/elementwise_impl.cuh
  onnxruntime/core/providers/cuda/shared_inc/fast_divmod.h
  onnxruntime/core/providers/rocm/shared_inc/fast_divmod.h
  onnxruntime/core/util/math.h
  onnxruntime/core/util/math_cpu.cc
  onnxruntime/test/common/tensor_op_test_utils.h
  onnxruntime/test/providers/provider_test_utils.h
  onnxruntime/test/util/compare_ortvalue.cc
  onnxruntime/test/util/include/test/compare_ortvalue.h
  orttraining/orttraining/test/training_ops/cuda/cross_entropy_test.cc
  orttraining/orttraining/training_ops/cpu/loss/cross_entropy.cc
  orttraining/orttraining/training_ops/cpu/loss/cross_entropy.h
  orttraining/orttraining/training_ops/cpu/loss/softmax_cross_entropy_loss.cc
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cc
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cu
  orttraining/orttraining/training_ops/cuda/loss/softmaxcrossentropy_impl.cu
  orttraining/orttraining/training_ops/cuda/quantization/fake_quant_impl.cu
Labels: training

#16508 [JS/Web] Fixed the output indexing in the shader code when the output is 1-dim.
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
Labels: platform:web
