Repository microsoft/onnxruntime, pull requests merged in 2023-04, with the labels that each got.

#15302 log level control + fix typos
  docs/ORTModule_Convergence_Notes.md
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_logger.py
Labels: training

#15315 Miscellaneous updates to training artifact generation
  orttraining/orttraining/python/training/onnxblock/_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/_training_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/blocks.py
  orttraining/orttraining/python/training/onnxblock/loss/loss.py
  orttraining/orttraining/test/python/orttraining_test_onnxblock.py
  orttraining/orttraining/training_api/module.cc
Labels: training

#15023 Upstream reshape of merging batch/sequence
  onnxruntime/core/optimizer/compute_optimizer/shared_utils.cc
  onnxruntime/core/optimizer/compute_optimizer/shared_utils.h
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather.h
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather_actors.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather_actors.h
  onnxruntime/core/optimizer/compute_optimizer/upstream_reshape.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_reshape.h
  onnxruntime/core/optimizer/compute_optimizer/upstream_reshape_actors.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_reshape_actors.h
  onnxruntime/core/optimizer/compute_optimizer/upstream_transformer_base.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_transformer_base.h
  onnxruntime/test/optimizer/compute_optimizer_test.cc
  onnxruntime/test/testdata/transform/computation_reduction/reshape/mlm_bert_e2e.onnx
  onnxruntime/test/testdata/transform/computation_reduction/reshape/mlm_bert_e2e.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
Labels: training

#15364 Add type annotations to `onnxruntime_inference_collection.py`
  onnxruntime/python/onnxruntime_inference_collection.py
Labels: api

#15347 fix error unqualified call to 'std::move'
  orttraining/orttraining/models/mnist/mnist_data_provider.cc
  orttraining/orttraining/models/runner/training_util.cc
Labels: training

#15396 Introduce shrunken gather operator
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/contrib_ops/cpu/tensor/shrunken_gather.cc
  onnxruntime/contrib_ops/cpu/tensor/shrunken_gather.h
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/tensor/shrunken_gather.cc
  onnxruntime/contrib_ops/cuda/tensor/shrunken_gather.h
  onnxruntime/contrib_ops/rocm/rocm_contrib_kernels.cc
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/providers/cpu/cpu_provider_shared.cc
  onnxruntime/core/providers/cpu/cpu_provider_shared.h
  onnxruntime/core/providers/cpu/tensor/gather.h
  onnxruntime/core/providers/cuda/tensor/gather.h
  onnxruntime/core/providers/shared_library/provider_api.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/test/providers/cpu/tensor/gather_op_test.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
Labels: training

#7622 Implement BatchNormGradient kernel for CPU EP
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/training_ops/cpu/nn/batchnorm_internal_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/gist/gistencode_op.cc
  orttraining/orttraining/training_ops/cpu/nn/batch_norm_grad.cc
  orttraining/orttraining/training_ops/cpu/nn/batch_norm_grad.h
  orttraining/orttraining/training_ops/cpu/nn/batch_norm_internal.cc
Labels: training

#15428 [wasm] optimize default session options parsing
  js/web/lib/wasm/session-options.ts
  js/web/lib/wasm/wasm-core-impl.ts
Labels: platform:web

#15487 Remove codecov from requirements-dev.txt
  requirements-dev.txt
Labels: dependencies

#15401 Optimize SCE loss compute
  cmake/onnxruntime_optimizer.cmake
  docs/ORTModule_Training_Guidelines.md
  onnxruntime/core/optimizer/compute_optimizer/shared_utils.cc
  onnxruntime/core/optimizer/compute_optimizer/shared_utils.h
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather_actors.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_reshape.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_transformer_base.cc
  onnxruntime/test/optimizer/compute_optimizer_test.cc
  onnxruntime/test/optimizer/graph_transform_test_builder.h
  onnxruntime/test/optimizer/test_optimizer_utils.cc
  onnxruntime/test/optimizer/test_optimizer_utils.h
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/sceloss_compute_optimization.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/sceloss_compute_optimization.h
  orttraining/orttraining/core/optimizer/graph_transformer_config.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/torch_interop_utils.cc
  orttraining/orttraining/test/optimizer/compute_optimizer_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: training

#15485 disable BatchNormalizationGrad test
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: training

#15199 softmax perf improvement pr2 - import softmax bw
  orttraining/orttraining/training_ops/cuda/math/softmax_grad_impl.cu
Labels: training

#15461 Share more constant initializers
  onnxruntime/core/optimizer/constant_sharing.cc
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/utils.cc
  onnxruntime/python/tools/quantization/quant_utils.py
  onnxruntime/test/framework/inference_session_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
Labels: training

#15513 enable training tests for csharp bindings
  csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.csproj
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.NetCoreApp/Microsoft.ML.OnnxRuntime.Tests.NetCoreApp.csproj
  tools/ci_build/build.py
Labels: training

#15558 Fix lint errors missed due to new commits
  onnxruntime/core/providers/cpu/signal/dft.cc
  onnxruntime/test/contrib_ops/quantize_ops_test.cc
  onnxruntime/test/framework/kernel_type_str_resolver_utils_test.cc
  onnxruntime/test/providers/xnnpack/xnnpack_basic_test.cc
  orttraining/orttraining/test/training_ops/cuda/cross_entropy_test.cc
  orttraining/orttraining/test/training_ops/cuda/layer_norm_test.cc
Labels: merge at green

#15586 Fix lintrunner configurations
  .github/dependabot.yml
  .lintrunner.toml
  requirements-lintrunner.txt
Labels: merge at green

#15548 Add support for cuda 11.8 and python 3.11 for training
  docs/ORTModule_Training_Guidelines.md
  orttraining/orttraining/test/python/orttraining_test_ortmodule_deepspeed_pipeline_parallel.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-training-apis.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cpu.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cuda.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_8
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_gpu_training
  tools/ci_build/github/linux/docker/scripts/install_python_deps.sh
  tools/ci_build/github/linux/docker/scripts/manylinux/install_deps_aten.sh
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch2.0.0_cu11.8/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch_cpu/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
  tools/ci_build/github/linux/run_dockerbuild.sh
Labels: training

#15544 BatchnormInternal avoid setting num_channels if input shape is not known
  orttraining/orttraining/core/graph/training_op_defs.cc
Labels: training

#15604 Add link to doc for lintrunner in CI
  .github/workflows/lint.yml
Labels: merge at green

#15518 C, C++, Python, C# API update for on device training
  csharp/src/Microsoft.ML.OnnxRuntime/Training/CheckpointState.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/NativeTrainingMethods.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/OrtPropertyType.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/TrainingSession.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/TrainingTest.cs
  java/src/main/java/ai/onnxruntime/OrtTrainingSession.java
  java/src/main/native/ai_onnxruntime_OrtTrainingSession.c
  java/src/main/native/ai_onnxruntime_OrtTrainingSession_OrtCheckpointState.c
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/api/README.md
  orttraining/orttraining/python/training/api/__init__.py
  orttraining/orttraining/python/training/api/checkpoint_state.py
  orttraining/orttraining/python/training/api/lr_scheduler.py
  orttraining/orttraining/python/training/api/module.py
  orttraining/orttraining/python/training/api/optimizer.py
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/python/training/onnxblock/checkpoint_utils.py
  orttraining/orttraining/test/python/orttraining_test_ort_apis.py
  orttraining/orttraining/test/python/orttraining_test_python_bindings.py
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/core/data_utils.h
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/test/training_api/core/training_capi_tests.cc
  orttraining/orttraining/test/training_api/trainer/trainer.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/checkpoint.h
  orttraining/orttraining/training_api/checkpoint_property.h
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_inline.h
  orttraining/orttraining/training_api/lr_scheduler.h
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/optimizer.h
  orttraining/orttraining/training_api/ort_training_apis.h
  orttraining/orttraining/training_api/training_session.cc
  orttraining/orttraining/training_api/training_session.h
Labels: training

#15596 [DML EP] Add missing newline to image test logging
  winml/test/image/imageTestHelper.cpp
Labels: ep:DML

#15635 Add env to the TrainingSession constructor
  orttraining/orttraining/test/training_api/core/training_capi_tests.cc
  orttraining/orttraining/test/training_api/trainer/trainer.cc
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_inline.h
Labels: training

#15612 Training Documentation
  .github/workflows/publish-c-apidocs.yml
  docs/c_cxx/Doxyfile
  include/onnxruntime/core/session/onnxruntime_c_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
Labels: training

#15517 Implement two easier random tensor generator (RTG) for flaky tests
  onnxruntime/test/common/random_generator_test.cc
  onnxruntime/test/common/tensor_op_test_utils.cc
  onnxruntime/test/common/tensor_op_test_utils.h
Labels: merge at green

#14936 Fold shape related operation
  onnxruntime/test/optimizer/graph_transform_test_builder.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/shape_optimizer.cc
  orttraining/orttraining/core/optimizer/shape_optimizer.h
  orttraining/orttraining/test/optimizer/shape_optimizer_test.cc
Labels: training

#15499 Cumulative update on optimizers and tests (on-device training)
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/core/data_utils.h
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/optimizer.h
  orttraining/orttraining/training_api/utils.cc
  orttraining/orttraining/training_api/utils.h
Labels: training
