Repository microsoft/onnxruntime, pull requests merged in 2023-02, with the labels that each got.

#14485 [Bug Fix] Include python training apis when enable_training is enabled
  setup.py
  tools/ci_build/build.py
Labels: training, release:1.14

#14506 Including support for Deepspeed 0.8.0
  orttraining/orttraining/python/training/optim/_ds_modifier.py
Labels: release:1.14

#14527 change deepspeed version in warning from 0.7.3 to 0.8.0
  orttraining/orttraining/python/training/optim/_ds_modifier.py
Labels: training, release:1.14, triage:approved

#14509 Do not fuse DQ+Node+Q if DQ produces graph output
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_selectors.cc
  onnxruntime/test/optimizer/qdq_transformer_test.cc
Labels: release:1.14

#14520 Enable multiple step run for adamw tests (on device training)
  cmake/CMakeLists.txt
  orttraining/orttraining/test/training_ops/cuda/optimizer/adamw_test.cc
  orttraining/orttraining/test/training_ops/cuda/optimizer/common.cc
  orttraining/orttraining/test/training_ops/cuda/optimizer/common.h
Labels: training

#14530 Specify deps in deps.txt and manifest
  ThirdPartyNotices.txt
  cgmanifests/generated/cgmanifest.json
  cmake/deps.txt
  tools/ci_build/github/azure-pipelines/templates/download-deps.yml
Labels: release:1.14, triage:approved

#14100 Add support for python 3.10 for onnxruntime-training cuda and cpu
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_6
  tools/ci_build/github/linux/docker/scripts/install_rust.sh
Labels: training

#14515 GetTrainingApi to not print to stderr when not an ort training build
  csharp/src/Microsoft.ML.OnnxRuntime/Training/NativeTrainingMethods.shared.cs
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
Labels: training

#14478 Fix Gather to Split optimizer
  onnxruntime/core/optimizer/gather_fusion.cc
  onnxruntime/core/optimizer/gather_fusion.h
  onnxruntime/test/optimizer/graph_transform_test.cc
Labels: core runtime, release:1.14, triage:approved

#14544 Fix sharing scalar bug
  onnxruntime/core/optimizer/constant_sharing.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/transform/scalar_const_not_share.onnx
  onnxruntime/test/testdata/transform/scalar_const_not_share.py
Labels: release:1.14, triage:approved

#14467 link mpi when either use_mpi or use_nccl enabled
  cmake/CMakeLists.txt
  tools/ci_build/build.py
Labels: training

#14549 Enable ability to control whether or not to quantize the bias
  onnxruntime/python/tools/quantization/qdq_quantizer.py
  onnxruntime/python/tools/quantization/quantize.py
Labels: quantization, training

#14519 [ORTModule] ATen Support for upsample_bilinear
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#14592 IdentityBuilder should add Delimit for each input
  onnxruntime/core/optimizer/identical_children_consolidation.cc
Labels: release:1.14

#14606 Fix CI failure: temporarily disable real model tests from onnx repo
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.14, triage:approved

#14555 reduce cuda library binary size
  cmake/CMakeLists.txt
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cuda/transformers/beam_search_topk.cu
  onnxruntime/contrib_ops/cuda/transformers/beam_search_topk.h
  onnxruntime/contrib_ops/cuda/transformers/generation_device_helper.cc
  onnxruntime/core/providers/cuda/math/topk.cc
  onnxruntime/core/providers/cuda/math/topk_impl_i16.cu
  onnxruntime/core/providers/cuda/math/topk_impl_i8.cu
  onnxruntime/core/providers/cuda/math/topk_impl_u16.cu
  onnxruntime/core/providers/cuda/math/topk_impl_u32.cu
  onnxruntime/core/providers/cuda/math/topk_impl_u64.cu
  onnxruntime/core/providers/cuda/math/topk_impl_u8.cu
Labels: release:1.14, triage:approved

#14602 Remove Identical Children Consolidation from default transformer uitil.
  onnxruntime/core/optimizer/graph_transformer_utils.cc
Labels: release:1.14, triage:approved

#14603 Revert mimalloc from v2.0.9 to v2.0.3
  ThirdPartyNotices.txt
  cgmanifests/generated/cgmanifest.json
  cmake/deps.txt
  tools/ci_build/github/azure-pipelines/templates/download-deps.yml
Labels: release:1.14, triage:approved

#14088 Adding RunOptions synchronization behaviour to C/C++ API
  include/onnxruntime/core/framework/run_options.h
  include/onnxruntime/core/session/onnxruntime_run_options_config_keys.h
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  orttraining/orttraining/python/training/torchdynamo/ort_backend.py
Labels: release:1.14, triage:approved

#14622 Move TRT include_directories to outside scope
  cmake/onnxruntime_providers.cmake
Labels: release:1.14, triage:approved

#14630 Remove torch package from requirements.txt of stable diffusion models
  onnxruntime/python/tools/transformers/models/stable_diffusion/requirements.txt
Labels: release:1.14

#14542 Test and fix optimizers LayerNormFusion, BiasSoftmaxFusion, Transpose for opset 18
  onnxruntime/core/optimizer/bias_softmax_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/core/optimizer/transpose_optimizer/transpose_optimizer.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/optimizer/graph_transform_test_builder.cc
  onnxruntime/test/optimizer/graph_transform_test_builder.h
  onnxruntime/test/optimizer/nhwc_transformer_test.cc
  onnxruntime/test/optimizer/qdq_test_utils.h
  onnxruntime/test/optimizer/qdq_transformer_test.cc
  onnxruntime/test/optimizer/transpose_optimizer_test.cc
Labels: core runtime, release:1.14, triage:approved

#14163 fix problem of reduplicate input names
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#14649 Update typing hints to support python 3.8
  orttraining/orttraining/python/training/api/module.py
Labels: training

#14680 Stable Diffusion CUDA Optimizations Part 4
  docs/ContribOperators.md
  onnxruntime/contrib_ops/cpu/bert/multihead_attention_helper.h
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/attention_impl.h
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.cc
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.h
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_cross_attention.h
  onnxruntime/contrib_ops/cuda/quantization/attention_quantization.cc
  onnxruntime/core/graph/contrib_ops/bert_defs.cc
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/python/tools/transformers/fusion_attention_unet.py
  onnxruntime/python/tools/transformers/fusion_options.py
  onnxruntime/python/tools/transformers/models/stable_diffusion/optimize_pipeline.py
  onnxruntime/python/tools/transformers/onnx_model_unet.py
  onnxruntime/test/contrib_ops/attention_op_test_helper.cc
  onnxruntime/test/contrib_ops/attention_op_test_helper.h
  onnxruntime/test/contrib_ops/multihead_attention_op_test.cc
  onnxruntime/test/contrib_ops/multihead_attention_op_test_data_gen.py
Labels: release:1.14

#14551 Support building a QAT onnx model using onnxblock
  orttraining/orttraining/python/training/onnxblock/_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/_qat_utils.py
Labels: training

#14577 QAT POC tutorial
  orttraining/orttraining/test/python/qat_poc_example/README.md
  orttraining/orttraining/test/python/qat_poc_example/images/mnist.png
  orttraining/orttraining/test/python/qat_poc_example/images/mnist_quantized.png
  orttraining/orttraining/test/python/qat_poc_example/model.py
  orttraining/orttraining/test/python/qat_poc_example/qat.py
  orttraining/orttraining/test/python/qat_poc_example/quantize.py
  orttraining/orttraining/test/python/qat_poc_example/train.py
  orttraining/orttraining/test/python/qat_poc_example/utils.py
Labels: training

#14729 Fix random failure of ortmodule_api.py::test_unused_parameters
  orttraining/orttraining/test/python/_test_helpers.py
Labels: training

#14732 Disable fused causal attention
  onnxruntime/contrib_ops/cpu/bert/attention_common.h
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/attention.h
  onnxruntime/contrib_ops/cuda/bert/attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.cc
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.h
  onnxruntime/python/tools/transformers/benchmark_helper.py
  onnxruntime/python/tools/transformers/models/gpt2/gpt2_helper.py
  onnxruntime/test/contrib_ops/attention_op_test.cc
  onnxruntime/test/contrib_ops/multihead_attention_op_test.cc
Labels: release:1.14

#14670 Reduce memory usage for TreeEnsemble operators
  onnxruntime/core/providers/cpu/ml/ml_common.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_aggregator.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_common.h
  onnxruntime/test/providers/cpu/ml/tree_ensembler_classifier_test.cc
Labels: core runtime

#14695 Fix memory profiler
  onnxruntime/core/framework/execution_steps.cc
  onnxruntime/core/framework/memory_info.cc
  onnxruntime/core/framework/memory_info.h
  onnxruntime/core/framework/partial_graph_execution_state.cc
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/framework/sequential_executor.h
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/framework/stream_execution_context.cc
  onnxruntime/core/framework/utils.cc
Labels: training

#13972 SCELoss(SCELossGrad) support half(float) input float(half) output
  onnxruntime/core/providers/cpu/cpu_provider_shared.h
  onnxruntime/core/providers/cuda/math/softmax.cc
  onnxruntime/core/providers/cuda/math/softmax.h
  onnxruntime/core/providers/cuda/math/softmax_impl.cu
  onnxruntime/core/providers/rocm/math/softmax.cc
  onnxruntime/core/providers/rocm/math/softmax.h
  onnxruntime/core/providers/rocm/math/softmax_impl.cu
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/test/util/include/test_utils.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/test/training_ops/cuda/cross_entropy_test.cc
  orttraining/orttraining/training_api/utils.h
  orttraining/orttraining/training_ops/cpu/loss/softmax_cross_entropy_loss.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cc
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.cu
  orttraining/orttraining/training_ops/cuda/loss/softmax_cross_entropy_loss_impl.h
  orttraining/orttraining/training_ops/cuda/loss/softmaxcrossentropy_impl.cc
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: training
