Repository microsoft/onnxruntime, pull requests merged in 2023-01, with the labels that each got.

#14055 Update torch to 1.13.1 in CI and packaging pipelines for ort training
  orttraining/orttraining/test/python/_orttraining_ortmodule_models.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cuda116.yml
  tools/ci_build/github/azure-pipelines/templates/orttraining-linux-gpu-ortmodule-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/win-ci-vs-2019.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_training_cuda11_6
  tools/ci_build/github/linux/docker/scripts/install_python_deps.sh
  tools/ci_build/github/linux/docker/scripts/manylinux/install_deps_aten.sh
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.11.0_cu11.6/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch1.13.1_cu11.6/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_torch_cpu/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/requirements.txt
Labels: training

#14071 Add support for 'axes' attr of unsqueeze in opset 13 and add ut
  onnxruntime/core/optimizer/reshape_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
Labels: training

#13603 [web] utility functions for tensor<->image conversion in ORT web
  js/common/lib/tensor-impl.ts
  js/common/lib/tensor-utils.ts
  js/common/lib/tensor.ts
  js/common/tsconfig.json
  js/package-lock.json
  js/package.json
  js/tsconfig.json
  js/web/lib/wasm/proxy-wrapper.ts
  js/web/tsconfig.json
Labels: release:1.14

#14218 Some changes to Sampling Op
  docs/ContribOperators.md
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cpu/transformers/dump_tensor.cc
  onnxruntime/contrib_ops/cpu/transformers/dump_tensor.h
  onnxruntime/contrib_ops/cpu/transformers/generation_shared.h
  onnxruntime/contrib_ops/cpu/transformers/sampling_cpu_helper.h
  onnxruntime/contrib_ops/cpu/transformers/sampling_parameters.cc
  onnxruntime/contrib_ops/cpu/transformers/sampling_parameters.h
  onnxruntime/contrib_ops/cuda/transformers/dump_cuda_tensor.cc
  onnxruntime/contrib_ops/cuda/transformers/dump_cuda_tensor.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/python/tools/transformers/convert_generation.py
  onnxruntime/test/contrib_ops/sampling_test.cc
  onnxruntime/test/testdata/transformers/tiny_gpt2_sampling.onnx
Labels: release:1.14

#13835 Improves parallelization by trees for TreeEnsemble
  onnxruntime/core/providers/cpu/ml/tree_ensemble_common.h
  onnxruntime/test/providers/cpu/ml/treeregressor_test.cc
Labels: release:1.14

#14256 Add Java and Objective-C bindings for RegisterCustomOpsUsingFunction.
  java/src/main/java/ai/onnxruntime/OrtSession.java
  java/src/main/native/ai_onnxruntime_OrtSession_SessionOptions.c
  java/src/test/java/ai/onnxruntime/InferenceTest.java
  objectivec/include/ort_session.h
  objectivec/src/ort_session.mm
Labels: release:1.14

#13890 [CPU] Resize of Opset 18
  ThirdPartyNotices.txt
  cgmanifests/cgmanifest.json
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.NetCoreApp/InferenceTest.netcore.cs
  onnxruntime/core/providers/cpu/tensor/upsample.cc
  onnxruntime/core/providers/cpu/tensor/upsample_antialias.h
  onnxruntime/core/providers/cpu/tensor/upsamplebase.h
  onnxruntime/core/providers/cuda/tensor/upsample.cc
  onnxruntime/core/providers/xnnpack/nn/resize.cc
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/providers/cpu/tensor/resize_op_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.14

#14239 enable ort-extensions in wasm release builds
  cmake/external/extensions.cmake
  tools/ci_build/github/azure-pipelines/templates/web-ci.yml
Labels: release:1.14

#14215 Support flash attention on 2d attention mask for gpt2 left padding.
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/bert_padding.cu
  onnxruntime/contrib_ops/cuda/bert/bert_padding.h
Labels: release:1.14

#14328 [CUDA] Add trt cross attention kernels
  docs/ContribOperators.md
  onnxruntime/contrib_ops/cpu/bert/attention_base.cc
  onnxruntime/contrib_ops/cpu/bert/attention_common.h
  onnxruntime/contrib_ops/cuda/bert/add_bias_transpose.cu
  onnxruntime/contrib_ops/cuda/bert/add_bias_transpose.h
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/attention_impl.h
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.cc
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.h
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_cross_attention.h
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_128_sm80.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_128_sm86.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_128_sm89.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_256_sm80.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_256_sm86.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_256_sm89.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_64_sm75.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_64_sm80.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_64_sm86.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/cross_attention/fmha_mhca_fp16_128_64_sm89.cubin.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/flash_attention/fmha_flash_attention.h
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/flash_attention/sharedCubinLoader.h
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/mha_runner.h
  onnxruntime/contrib_ops/cuda/quantization/attention_quantization.cc
  onnxruntime/contrib_ops/cuda/transformers/dump_cuda_tensor.cc
  onnxruntime/contrib_ops/cuda/transformers/dump_cuda_tensor.h
  onnxruntime/core/graph/contrib_ops/bert_defs.cc
  onnxruntime/core/graph/contrib_ops/shape_inference_functions.cc
  onnxruntime/core/providers/cuda/test/greedy_search_top_one.cc
  onnxruntime/python/tools/transformers/benchmark_helper.py
  onnxruntime/test/contrib_ops/attention_op_test.cc
  onnxruntime/test/contrib_ops/attention_op_test_helper.cc
  onnxruntime/test/contrib_ops/attention_op_test_helper.h
  onnxruntime/test/contrib_ops/cross_attention_op_test.cc
  onnxruntime/test/contrib_ops/multihead_attention_op_test.cc
  onnxruntime/test/contrib_ops/multihead_attention_op_test_data_gen.py
Labels: release:1.14

#14324 Fix type mismatch when ORT_ENABLE_STREAM is off
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/test/shared_lib/test_io_types.cc
Labels: release:1.14

#13427 Custom Op runtime wrapper
  cmake/onnxruntime_unittests.cmake
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/session/abi_session_options.cc
  onnxruntime/core/session/api_utils.cc
  onnxruntime/core/session/api_utils.h
  onnxruntime/core/session/custom_ops.cc
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/python/tools/custom_op_wrapper/create_custom_op_wrapper.py
  onnxruntime/test/shared_lib/test_inference.cc
  onnxruntime/test/testdata/custom_op_openvino_wrapper_library/custom_op_lib.cc
  onnxruntime/test/testdata/custom_op_openvino_wrapper_library/custom_op_lib.def
  onnxruntime/test/testdata/custom_op_openvino_wrapper_library/custom_op_lib.h
  onnxruntime/test/testdata/custom_op_openvino_wrapper_library/custom_op_lib.lds
  onnxruntime/test/testdata/custom_op_openvino_wrapper_library/custom_op_mnist_ov_wrapper.onnx
  onnxruntime/test/testdata/custom_op_openvino_wrapper_library/openvino_wrapper.cc
  onnxruntime/test/testdata/custom_op_openvino_wrapper_library/openvino_wrapper.h
Labels: release:1.14

#14318 update gsl-lite license
  ThirdPartyNotices.txt
Labels: release:1.14

#14327 increase the time limit as more unit tests added
  tools/ci_build/github/azure-pipelines/orttraining-linux-ci-pipeline.yml
Labels: release:1.14

#14330 [objc] Fix parameter name in documentation.
  objectivec/include/ort_session.h
Labels: release:1.14

#14350 fix headers for training apis
  cmake/onnxruntime_session.cmake
  onnxruntime/core/session/onnxruntime_c_api.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/checkpoint.h
  orttraining/orttraining/training_api/checkpoint_property.cc
  orttraining/orttraining/training_api/checkpoint_property.h
  orttraining/orttraining/training_api/lr_scheduler.cc
  orttraining/orttraining/training_api/lr_scheduler.h
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/optimizer.h
  orttraining/orttraining/training_api/ort_training_apis.h
  orttraining/orttraining/training_api/training_session.cc
  orttraining/orttraining/training_api/training_session.h
  orttraining/orttraining/training_api/utils.cc
  orttraining/orttraining/training_api/utils.h
Labels: release:1.14

#14346 Fix post merge jobs pipeline build issues
  onnxruntime/core/framework/debug_node_inputs_outputs_utils.cc
  onnxruntime/core/platform/windows/debug_alloc.cc
  onnxruntime/core/providers/cpu/math/cumsum.cc
  onnxruntime/test/providers/cpu/model_tests.cc
  tools/ci_build/github/azure-pipelines/post-merge-jobs.yml
Labels: release:1.14

#14224 support ScatterND(18) and ScatterElement(18)
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/tensor/scatter.cc
  onnxruntime/core/providers/cpu/tensor/scatter_nd.cc
  onnxruntime/core/providers/cpu/tensor/scatter_nd.h
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.14

#14351 Exclude a multi-stream case from reduced ops build
  onnxruntime/test/shared_lib/test_inference.cc
Labels: release:1.14

#14348 Support muP in Attention
  docs/ContribOperators.md
  onnxruntime/contrib_ops/cpu/bert/attention_base.cc
  onnxruntime/contrib_ops/cpu/bert/attention_base.h
  onnxruntime/contrib_ops/cpu/bert/attention_common.h
  onnxruntime/contrib_ops/cpu/bert/attention_cpu_base.h
  onnxruntime/contrib_ops/cpu/bert/multihead_attention_helper.h
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.cc
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/mha_runner.cu
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/mha_runner.h
  onnxruntime/core/graph/contrib_ops/bert_defs.cc
  onnxruntime/core/graph/contrib_ops/quantization_defs.cc
  onnxruntime/test/contrib_ops/attention_op_test.cc
Labels: release:1.14

#14349 Extend ort_backend.py for another ep
  orttraining/orttraining/python/training/torchdynamo/ort_backend.py
Labels: training

#14300 Add PyTorch 2.0 to ORT transformer benchmarking
  onnxruntime/python/tools/transformers/benchmark.py
  onnxruntime/python/tools/transformers/run_benchmark.sh
Labels: release:1.14

#14385 Fix fuzz test
  cmake/onnxruntime_fuzz_test.cmake
Labels: release:1.14

#14341 Ort openvino 4.3 cli
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/openvino/backend_utils.cc
  onnxruntime/core/providers/openvino/backend_utils.h
  onnxruntime/core/providers/openvino/backends/basic_backend.cc
  onnxruntime/core/providers/openvino/contexts.h
  onnxruntime/core/providers/openvino/openvino_execution_provider.cc
  onnxruntime/core/providers/openvino/openvino_execution_provider.h
  onnxruntime/core/providers/openvino/openvino_provider_factory.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/util/include/default_providers.h
Labels: release:1.14

#14197 cpu to support bitwise ops
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/math/element_wise_ops.cc
  onnxruntime/core/providers/cpu/math/element_wise_ops.h
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.14

#14413 Update ORT format v5 change docs to cover limited backwards compatibility in 1.14.
  docs/ORT_Format_Update_in_1.13.md
  onnxruntime/core/flatbuffers/schema/README.md
  onnxruntime/core/session/inference_session.cc
Labels: release:1.14, triage:approved

#14401 Upgrade CUTLASS to v2.11 and add sequence length threshold for cutlass FMHA
  cgmanifests/generated/cgmanifest.json
  cmake/deps.txt
  cmake/external/cutlass.cmake
  onnxruntime/contrib_ops/cpu/bert/attention_common.h
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.cc
  onnxruntime/test/contrib_ops/multihead_attention_op_test.cc
  tools/ci_build/github/azure-pipelines/templates/download-deps.yml
Labels: release:1.14, triage:approved

#12311 Add Col2Im CPU op
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/tensor/col2im.cc
  onnxruntime/core/providers/cpu/tensor/col2im.h
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/providers/cpu/tensor/col2im_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.14, triage:approved

#14205 cpu support of LpPool(18)
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/nn/pool.cc
  onnxruntime/core/providers/cpu/nn/pool.h
  onnxruntime/core/providers/cpu/nn/pool_functors.h
  onnxruntime/test/providers/cpu/nn/lp_pool_test_generator.py
  onnxruntime/test/providers/cpu/nn/pool_op_test.cc
Labels: release:1.14, triage:approved
