Repository microsoft/onnxruntime, pull requests merged in 2023-08, with the labels that each got.

#16897 [js/webgpu] Check profilingMode in each run
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
Labels: ep:WebGPU

#16954 [WebNN EP] Support LpPool, GlobalLpPool, and Log ops
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.h
  onnxruntime/core/providers/webnn/builders/impl/pool_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/unary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
Labels: ep:WebNN

#16816 Save optimized pre_grad graph once ready
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
  orttraining/orttraining/core/optimizer/graph_transformer_config.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_onnx_models.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#16950 [JS/Web] Register JSEP contrib ops only once per process.
  onnxruntime/core/providers/js/js_execution_provider.cc
Labels: ep:WebGPU

#16946 [JS/Web] Added Resize kMSInternalNHWCDomain domain registration.
  js/web/docs/webgpu-operators.md
  onnxruntime/core/graph/contrib_ops/internal_nhwc_onnx_schemas.cc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/resize.cc
Labels: ep:WebGPU

#16952 [js/WebGPU] Support int32 Transpose in WebGPU
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/test/data/ops/transpose_int32_uint32.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/operators/transpose.cc
Labels: ep:WebGPU

#16882 js/webgpu: argmax,argmin,softmax support
  js/web/docs/webgpu-operators.md
  js/web/lib/onnxjs/tensor.ts
  js/web/lib/onnxjs/util.ts
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/argminmax.ts
  js/web/lib/wasm/jsep/webgpu/ops/softmax.ts
  js/web/test/suite-test-list.jsonc
  js/web/test/test-runner.ts
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/argminmax.cc
  onnxruntime/core/providers/js/operators/argminmax.h
  onnxruntime/core/providers/js/operators/softmax.cc
  onnxruntime/core/providers/js/operators/softmax.h
Labels: ep:WebGPU

#16941 More element types in AllGather and AllToAll
  onnxruntime/contrib_ops/cuda/collective/nccl_kernels.cc
  onnxruntime/core/graph/contrib_ops/collective_defs.cc
  onnxruntime/test/python/onnxruntime_test_collective.py
Labels: ep:CUDA

#16884 [js/web] Fix typo in JSEP ConvTranspose
  onnxruntime/core/providers/js/operators/conv_transpose.h
Labels: ep:WebGPU

#16829 [js/web] JSEP Expand fix for inputs with rank < 2
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
Labels: ep:WebGPU

#16855 [js/web] JSEP Gather OP
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/gather.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/gather.cc
  onnxruntime/core/providers/js/operators/gather.h
Labels: ep:WebGPU

#16979 [JS/Web] Modify Reduce, Expand and Slice to pass op and node tests.
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
  js/web/lib/wasm/jsep/webgpu/ops/slice.ts
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#16894 Refactor schema extraction and output unflattening
  cmake/onnxruntime_python.cmake
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/utils/__init__.py
  orttraining/orttraining/python/training/utils/torch_io_helper.py
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
  orttraining/orttraining/test/python/orttraining_test_utilities.py
  setup.py
Labels: training

#16945 Add Gradient for Reciprocal
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#17002 [JS/Web] Fixed ArgMin and ArgMax and refactored
  js/web/lib/wasm/jsep/webgpu/ops/argminmax.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/operators/argminmax.h
Labels: ep:WebGPU

#16893 [js/webgpu] Make sure only storage buffers are reused
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/gpu-data-manager.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
Labels: ep:WebGPU

#17019 Fix few small bugs
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_logger.py
  orttraining/orttraining/python/training/ortmodule/options.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
Labels: training

#17009 Update torch.onnx.OnnxRegistry usage in DORT tests
  orttraining/orttraining/test/python/orttraining_test_dort_custom_ops.py
Labels: converter:dynamo

#16993 Add mac and windows python packages for onnxruntime-training
  cmake/CMakeLists.txt
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/ortmodule/__init__.py
  setup.py
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cpu.yml
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cuda.yml
Labels: training

#17034 Fix orttraining_test_dort.py
  orttraining/orttraining/python/training/torchdynamo/ort_backend.py
  orttraining/orttraining/test/python/orttraining_test_dort_custom_ops.py
Labels: converter:dynamo

#16830 [js/web] JSEP LayerNormalization and InstanceNormalizations kernels
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/layer-norm.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
  js/web/lib/wasm/wasm-common.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/js_kernel.h
  onnxruntime/core/providers/js/operators/instance_norm.cc
  onnxruntime/core/providers/js/operators/instance_norm.h
  onnxruntime/core/providers/js/operators/layer_norm.cc
  onnxruntime/core/providers/js/operators/layer_norm.h
Labels: ep:WebGPU

#17021 Use full qualified name for PythonOp export
  docs/ORTModule_Training_Guidelines.md
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/utils/hooks/_subscriber_manager.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: training

#16594 Fix Resize op input check
  js/web/lib/onnxjs/graph.ts
Labels: api:Javascript

#17070 Copy to buffer for both trainable as well as non trainable parameters
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/api/module.py
  orttraining/orttraining/test/python/orttraining_test_python_bindings.py
Labels: training

#17065 [VITISAI] fix out of bound error on graph with loop
  onnxruntime/core/providers/vitisai/imp/node.cc
Labels: ep:VitisAI

#17066 [VITISAI] remove unused code
  onnxruntime/core/providers/vitisai/imp/capability.cc
Labels: ep:VitisAI

#17046 Check type for building gradient graph
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.h
  orttraining/orttraining/core/framework/ortmodule_graph_builder.cc
Labels: training

#16710 support broadcast shape for elementwise node in padding elimination
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#17023 [JS/Web] Fix Resize kMSInternalNHWCDomain
  js/web/docs/webgpu-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/optimizer/transpose_optimization/onnx_transpose_optimization.cc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/js_kernel.h
  onnxruntime/core/providers/js/operators/resize.cc
Labels: ep:WebNN, ep:WebGPU

#17099 Bump clang-format to 16.0.6 in CI
  requirements-lintrunner.txt
Labels: merge at green

#17039 LeakyRelu Gradient
  onnxruntime/test/providers/cpu/activation/activation_op_test.cc
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/training_ops/cpu/activation/activation_op_test.cc
  orttraining/orttraining/test/training_ops/cuda/activations_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/op_gradients.cc
  orttraining/orttraining/training_ops/cpu/op_gradients.h
  orttraining/orttraining/training_ops/cuda/activation/activations_grad.cc
  orttraining/orttraining/training_ops/cuda/activation/activations_grad.h
  orttraining/orttraining/training_ops/cuda/activation/activations_grad_impl.cu
  orttraining/orttraining/training_ops/cuda/activation/activations_grad_impl.h
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: training

#17103 Batchnorm training mode support in a minimal build
  onnxruntime/core/providers/cpu/nn/batch_norm.h
  onnxruntime/test/providers/cpu/nn/batch_norm_op_test.cc
Labels: training

#16957 [js/web] [webgpu] new incides helper
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/argminmax.ts
  js/web/lib/wasm/jsep/webgpu/ops/binary-op.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-grouped.ts
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/lib/wasm/jsep/webgpu/ops/gelu.ts
  js/web/lib/wasm/jsep/webgpu/ops/pool.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
  js/web/lib/wasm/jsep/webgpu/ops/slice.ts
  js/web/lib/wasm/jsep/webgpu/ops/split.ts
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
Labels: ep:WebGPU

#17124 [js/webgpu] Add C++ registration for operator Tanh in JSEP
  js/web/docs/webgpu-operators.md
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/unary.cc
Labels: ep:WebGPU

#17093 Allow defining customized PythonOp shape inferer
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/options.py
  orttraining/orttraining/python/training/utils/hooks/_subscriber_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: training

#17107 Mark end of version 16 C API
  onnxruntime/core/session/onnxruntime_c_api.cc
Labels: api

#17109 ONNX Runtime training cpu package name for ADO
  setup.py
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cpu.yml
Labels: training

#17045 [JS/WebGPU] Support Log operator
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/unary.cc
Labels: ep:WebGPU

#16828 PythonOp Enhancement: Bool and Tuple[Bool] Constants, Materialize Grads, Empty Inputs, Save In Context
  onnxruntime/core/providers/dnnl/dnnl_node_capability.cc
  orttraining/orttraining/core/framework/torch/torch_proxy.cc
  orttraining/orttraining/core/framework/torch/torch_proxy.h
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/torch_interop_utils.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.h
Labels: training

#17128 [js/web] JSEP node assignment optimization
  js/web/lib/wasm/jsep/webgpu/ops/gather.ts
  onnxruntime/core/providers/js/js_data_types.cc
  onnxruntime/core/providers/js/js_data_types.h
  onnxruntime/core/providers/js/operators/gather.cc
  onnxruntime/core/providers/js/operators/reshape.cc
  onnxruntime/core/providers/js/operators/shape_op.cc
  onnxruntime/core/providers/js/operators/squeeze.cc
  onnxruntime/core/providers/js/operators/unsqueeze.cc
Labels: ep:WebGPU

#17163 Improve comments in winml/
  winml/adapter/winml_adapter_c_api.h
  winml/test/api/LearningModelBindingAPITest.cpp
Labels: merge at green

#17171 [js/webgpu] fix a few shader errors
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
Labels: ep:WebGPU

#17113 [js/webgpu] Fix reshape int32 test case
  js/web/test/data/ops/reshape.jsonc
Labels: ep:WebGPU

#17176 [js/webgpu] update shader cache key to include input tensor datatype
  js/web/lib/wasm/jsep/backend-webgpu.ts
Labels: ep:WebGPU

#17143 [JS/Web] The bias input is optional, not required, for LayerNormalization operator
  js/web/lib/wasm/jsep/webgpu/ops/layer-norm.ts
  js/web/test/data/ops/layer-norm.jsonc
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#17137 [JS/WebGPU] Expand operator fixes
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/test/data/ops/expand.jsonc
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#17189 Move some tests from CUDA only to CPU
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/training_api/checkpoint.cc
Labels: training

#17102 [JS/Web] Added SkipLayerNormalization operator.
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/skip-layer-norm.ts
  js/web/lib/wasm/session-handler.ts
  js/web/test/data/ops/skip-layer-norm.jsonc
  js/web/test/suite-test-list.jsonc
  js/web/test/test-runner.ts
  onnxruntime/contrib_ops/js/js_contrib_kernels.cc
  onnxruntime/contrib_ops/js/skip_layer_norm.cc
  onnxruntime/contrib_ops/js/skip_layer_norm.h
Labels: ep:WebGPU

#17123 [JS/WebGPU] Support Tile operator
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/tile.ts
  js/web/test/data/ops/tile.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/tile.cc
  onnxruntime/core/providers/js/operators/tile.h
Labels: ep:WebGPU

#17085 Add SGDOptimizer in the on-device training offline tooling (onnxblock)
  onnxruntime/test/testdata/training_api/adamw.onnx
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/python/training/onnxblock/optim/__init__.py
  orttraining/orttraining/python/training/onnxblock/optim/optim.py
  orttraining/orttraining/test/python/orttraining_test_onnxblock.py
  orttraining/orttraining/test/python/orttraining_test_python_bindings.py
  orttraining/orttraining/test/training_ops/cuda/optimizer/common.cc
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_ops/cpu/optimizer/adamw/adamw.cc
  orttraining/orttraining/training_ops/cuda/optimizer/adamw/adamw.cc
Labels: training, python

#16901 [js/webgpu] Support int32 type for binary
  js/web/lib/wasm/jsep/webgpu/ops/binary-op.ts
  js/web/test/data/ops/div_int32.jsonc
  js/web/test/data/ops/pow_int32.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/operators/binary.cc
Labels: ep:WebGPU

#17153 [CoreML EP] Add Shape, Gather, and Slice ops
  include/onnxruntime/core/common/span_utils.h
  onnxruntime/core/providers/coreml/builders/helper.cc
  onnxruntime/core/providers/coreml/builders/helper.h
  onnxruntime/core/providers/coreml/builders/impl/builder_utils.cc
  onnxruntime/core/providers/coreml/builders/impl/builder_utils.h
  onnxruntime/core/providers/coreml/builders/impl/gather_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/shape_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/slice_op_builder.cc
  onnxruntime/core/providers/coreml/builders/model_builder.cc
  onnxruntime/core/providers/coreml/builders/op_builder_factory.cc
  onnxruntime/core/providers/coreml/builders/op_builder_factory.h
  onnxruntime/core/providers/coreml/coreml_execution_provider.cc
  onnxruntime/core/providers/coreml/model/model.h
  onnxruntime/core/providers/coreml/model/model.mm
  onnxruntime/core/providers/cpu/tensor/slice.cc
  onnxruntime/core/providers/cpu/tensor/slice_helper.h
  onnxruntime/test/providers/base_tester.h
  onnxruntime/test/providers/coreml/coreml_basic_test.cc
  onnxruntime/test/providers/coreml/dynamic_input_test.cc
  onnxruntime/test/providers/cpu/tensor/gather_op_test.cc
  onnxruntime/test/providers/cpu/tensor/slice_op.test.cc
  onnxruntime/test/providers/nnapi/nnapi_basic_test.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.cc
  onnxruntime/test/providers/xnnpack/xnnpack_basic_test.cc
  onnxruntime/test/testdata/gather_with_scalar_indices_then_shape.onnx
  onnxruntime/test/testdata/gather_with_scalar_indices_then_shape.py
  onnxruntime/test/testdata/shape_then_slice_and_gather.onnx
  onnxruntime/test/testdata/shape_then_slice_and_gather.py
  onnxruntime/test/util/include/test_utils.h
  onnxruntime/test/util/test_utils.cc
  tools/ci_build/github/apple/coreml_supported_ops.md
Labels: merge at green

#17126 check in build script for webgpu
  js/build_jsep.bat
Labels: ep:WebGPU

#16489 [js/webgpu] support Cast operator
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
  js/web/test/data/ops/cast.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/cast.cc
  onnxruntime/core/providers/js/operators/cast.h
Labels: ep:WebGPU

#17236 [C#]Fix API Comment
  csharp/src/Microsoft.ML.OnnxRuntime/OrtValue.shared.cs
Labels: release:1.16

#17238 Avoid pushing cpu package to https://download.onnxruntime.ai/
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cpu.yml
Labels: release:1.16

#17258 fix webgpu split
  js/web/lib/wasm/jsep/webgpu/ops/split.ts
  onnxruntime/core/providers/js/operators/split.h
Labels: ep:WebGPU

#16936 [js/web] JSEP Gemm for opset 13
  js/web/docs/webgpu-operators.md
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/gemm.cc
Labels: ep:WebGPU

#16417 On-Device Training - Enable loading from buffer
  csharp/src/Microsoft.ML.OnnxRuntime/Training/NativeTrainingMethods.shared.cs
  onnxruntime/core/framework/utils.h
  onnxruntime/test/testdata/training_api/ort_format/checkpoint
  onnxruntime/test/testdata/training_api/ort_format/eval_model.ort
  onnxruntime/test/testdata/training_api/ort_format/optimizer_model.ort
  onnxruntime/test/testdata/training_api/ort_format/prepare_artifacts.py
  onnxruntime/test/testdata/training_api/ort_format/training_model.ort
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/test/training_api/core/training_capi_tests.cc
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_inline.h
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/optimizer.h
  orttraining/orttraining/training_api/ort_training_apis.h
  orttraining/orttraining/training_api/training_session.cc
  orttraining/orttraining/training_api/training_session.h
  orttraining/orttraining/training_api/utils.h
Labels: training

#17252 [VITISAI] fix compile error for onnxruntime
  onnxruntime/core/providers/vitisai/imp/graph.cc
Labels: release:1.16

#17000 Two fixes involving minimal builds
  include/onnxruntime/core/framework/ort_value.h
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/test/framework/ort_model_only_test.cc
  onnxruntime/test/testdata/ort_github_issue_17000.onnx
  onnxruntime/test/testdata/ort_github_issue_17000.ort
  onnxruntime/test/testdata/ort_github_issue_17000.py
  onnxruntime/test/testdata/required_ops.config
  onnxruntime/test/testdata/required_ops_and_types.config
Labels: release:1.16

#17193 [js/webgpu] make IndicesHelper implementation implicit
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/binary-op.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-grouped.ts
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/layer-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/pool.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
  js/web/lib/wasm/jsep/webgpu/ops/slice.ts
  js/web/lib/wasm/jsep/webgpu/ops/split.ts
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
  js/web/lib/wasm/wasm-common.ts
Labels: ep:WebGPU

#17267 Disable local symbol table for function shape inferencing.
  onnxruntime/core/graph/function_utils.cc
Labels: release:1.16

#17270 Make batchnorm training mode available in inference only package
  onnxruntime/core/providers/cpu/nn/batch_norm.h
  onnxruntime/test/providers/cpu/nn/batch_norm_op_test.cc
Labels: release:1.16

#17265 ORT_ENFORCE on the iterator must come before iterator is dereferenced.
  onnxruntime/core/framework/session_state_utils.cc
Labels: release:1.16

#17240 Build gradient graph starting at the loss alone
  orttraining/orttraining/python/training/onnxblock/_training_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/onnxblock.py
Labels: training

#17201 ConvTransposeGrad CUDA Kernel
  cmake/onnxruntime_rocm_hipify.cmake
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/training_ops/cuda/conv_transpose_grad_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/nn/conv_grad.cc
  orttraining/orttraining/training_ops/cuda/nn/conv_grad.h
  orttraining/orttraining/training_ops/cuda/nn/conv_shared.cc
  orttraining/orttraining/training_ops/cuda/nn/conv_shared.h
  orttraining/orttraining/training_ops/cuda/nn/conv_transpose_grad.cc
  orttraining/orttraining/training_ops/cuda/nn/conv_transpose_grad.h
Labels: training

#17006 Introduce ZeROOffloadSubscriber for ORTModule
  docs/ORTModule_Convergence_Notes.md
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/options.py
  orttraining/orttraining/python/training/utils/__init__.py
  orttraining/orttraining/python/training/utils/hooks/__init__.py
  orttraining/orttraining/python/training/utils/hooks/_statistics_subscriber.py
  orttraining/orttraining/python/training/utils/hooks/_subscriber_base.py
  orttraining/orttraining/python/training/utils/hooks/_subscriber_manager.py
  orttraining/orttraining/python/training/utils/hooks/_zero_offload_subscriber.py
  orttraining/orttraining/python/training/utils/torch_type_map.py
  orttraining/orttraining/test/python/orttraining_test_hooks.py
Labels: training

#17255 Fix layernorm and softmax axis after upstream
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather_actors.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather_actors.h
  onnxruntime/test/optimizer/compute_optimizer_test.cc
Labels: training, triage:approved, release:1.16

#17217 Add support for more ops for padding elimination
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#17232 [JS/Web] Fix ConvTranspose shader code compilation errors.
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/test/data/ops/conv-transpose.jsonc
Labels: ep:WebGPU

#17260 [js/webgpu] support error pop and kernel name
  cmake/onnxruntime_webassembly.cmake
  js/web/lib/wasm/binding/ort-wasm.d.ts
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
  js/web/lib/wasm/wasm-core-impl.ts
  onnxruntime/core/providers/js/js_export.cc
  onnxruntime/core/providers/js/js_export.h
  onnxruntime/core/providers/js/js_kernel.h
  onnxruntime/wasm/api.cc
  onnxruntime/wasm/js_internal_api.js
Labels: ep:WebGPU

#17296 [js/webgpu] support Greater and Less operators
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/binary-op.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/binary.cc
Labels: ep:WebGPU

#17291 [js/webgpu] add label for some webgpu APIs
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
Labels: ep:WebGPU

#17300 [js/webgpu] fix jsepOnRunEnd
  js/web/lib/wasm/binding/ort-wasm.d.ts
  js/web/lib/wasm/wasm-core-impl.ts
  onnxruntime/wasm/js_internal_api.js
Labels: ep:WebGPU

#17315 Increase max error tolerance for ConvTransposeGrad test
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
Labels: training, release:1.16

#17293 Sign CUDA Kernel
  docs/OperatorKernels.md
  onnxruntime/core/providers/cuda/cu_inc/common.cuh
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/cuda/math/unary_elementwise_ops.cc
  onnxruntime/core/providers/cuda/math/unary_elementwise_ops.h
  onnxruntime/core/providers/cuda/math/unary_elementwise_ops_impl.cu
  onnxruntime/core/providers/cuda/math/unary_elementwise_ops_impl.h
  onnxruntime/core/providers/rocm/cu_inc/common.cuh
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
  onnxruntime/test/providers/cpu/math/sign_test.cc
Labels: training

#17164 Fix compilation with newer flatbuffers
  cmake/onnxruntime_providers.cmake
  include/onnxruntime/core/graph/graph.h
  onnxruntime/core/flatbuffers/flatbuffers_utils.h
  onnxruntime/core/framework/kernel_type_str_resolver.h
  onnxruntime/core/framework/session_state.h
  onnxruntime/core/graph/graph_flatbuffers_utils.h
  onnxruntime/core/graph/model.h
  onnxruntime/core/graph/op_identifier_utils.h
  onnxruntime/core/graph/runtime_optimization_record_container.h
Labels: platform:mobile

#16969 [js/webgpu] Optimize matmul
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv2d_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmul.ts
  js/web/test/data/ops/matmul.jsonc
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#17326 Fix a memleak in RunAsync python
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  onnxruntime/python/onnxruntime_pybind_state.cc
Labels: release:1.16

#17325 [WebNN EP] Fix bug in interpreting ONNX's pads into WebNN's padding
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pool_op_builder.cc
Labels: ep:WebNN

#17320 Fix SkipLayerNorm fusion in transformer optimizer
  onnxruntime/python/tools/transformers/fusion_skiplayernorm.py
  onnxruntime/test/python/transformers/test_data/models/attention_mha.onnx
  onnxruntime/test/python/transformers/test_data/models/attention_opt.onnx
  onnxruntime/test/python/transformers/test_data/models/attention_with_varied_qkv_opt.onnx
  onnxruntime/test/python/transformers/test_data/models/bert_3d_attention_opt.onnx
  onnxruntime/test/python/transformers/test_data/models/gpt2_attention_add_opt_no_skiplayernorm.onnx
  onnxruntime/test/python/transformers/test_data/models/gpt2_attention_add_opt_skiplayernorm.onnx
  onnxruntime/test/python/transformers/test_data/models/gpt2_attention_opt_no_skiplayernorm.onnx
  onnxruntime/test/python/transformers/test_data/models/gpt2_attention_opt_skiplayernorm.onnx
  onnxruntime/test/python/transformers/test_data/models/gpt2_megatron_opt_no_skiplayernorm.onnx
  onnxruntime/test/python/transformers/test_data/models/gpt2_megatron_opt_skiplayernorm.onnx
  onnxruntime/test/python/transformers/test_data/models/pruned_attention_opt.onnx
  onnxruntime/test/python/transformers/test_data/models/whisper/decoder_attention_with_sln_fused.onnx
  onnxruntime/test/python/transformers/test_data/models/whisper/decoder_mha_fused.onnx
  onnxruntime/test/python/transformers/test_data/models/whisper/decoder_mha_split_bias_fused.onnx
  onnxruntime/test/python/transformers/test_data/models/whisper/decoder_with_past_cross_mha_fused.onnx
  onnxruntime/test/python/transformers/test_data/models/whisper/decoder_with_past_cross_mha_split_bias_fused.onnx
  onnxruntime/test/python/transformers/test_data/models/whisper/decoder_with_past_self_mha_fused.onnx
  onnxruntime/test/python/transformers/test_data/models/whisper/decoder_with_past_self_mha_split_bias_fused.onnx
  onnxruntime/test/python/transformers/test_data/models/whisper/encoder_attention_with_sln_fused.onnx
  onnxruntime/test/python/transformers/test_skip_layer_norm_fusion.py
Labels: release:1.16

#17342 [js/webgpu] Add input/output shapes information to profiling
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
Labels: ep:WebGPU

#17359 [js/webgpu] Adding support for abs with int32 type
  js/web/test/data/ops/abs_int32.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/operators/unary.cc
Labels: ep:WebGPU

#17367 [WebNN EP] Fix compilation with newer flatbuffers
  cmake/onnxruntime_providers.cmake
Labels: ep:WebNN

#17227 Flash Attention v2 MHA
  ThirdPartyNotices.txt
  cmake/CMakeLists.txt
  cmake/external/cutlass.cmake
  cmake/onnxruntime_providers.cmake
  onnxruntime/contrib_ops/cpu/bert/attention_common.h
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/attention.h
  onnxruntime/contrib_ops/cuda/bert/attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/attention_impl.h
  onnxruntime/contrib_ops/cuda/bert/cutlass_fmha/fmha_launch_template.h
  onnxruntime/contrib_ops/cuda/bert/cutlass_fmha/fmha_sm50.cu
  onnxruntime/contrib_ops/cuda/bert/cutlass_fmha/fmha_sm70.cu
  onnxruntime/contrib_ops/cuda/bert/cutlass_fmha/fmha_sm75.cu
  onnxruntime/contrib_ops/cuda/bert/cutlass_fmha/fmha_sm80.cu
  onnxruntime/contrib_ops/cuda/bert/cutlass_fmha/memory_efficient_attention.cu
  onnxruntime/contrib_ops/cuda/bert/cutlass_fmha/memory_efficient_attention.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/block_info.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_api.cc
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_api.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_hdim128_fp16_sm80.cu
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_hdim160_fp16_sm80.cu
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_hdim192_fp16_sm80.cu
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_hdim224_fp16_sm80.cu
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_hdim256_fp16_sm80.cu
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_hdim32_fp16_sm80.cu
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_hdim64_fp16_sm80.cu
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_hdim96_fp16_sm80.cu
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_kernel.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_launch_template.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/kernel_traits.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/softmax.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/static_switch.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/utils.h
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.cc
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.h
  onnxruntime/contrib_ops/cuda/bert/packed_attention.cc
  onnxruntime/contrib_ops/cuda/bert/packed_attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/packed_attention_impl.h
  onnxruntime/contrib_ops/cuda/bert/packed_multihead_attention.cc
  onnxruntime/contrib_ops/cuda/bert/packed_multihead_attention.h
  onnxruntime/contrib_ops/cuda/bert/packed_multihead_attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/packed_multihead_attention_impl.h
  onnxruntime/contrib_ops/cuda/bert/tensorrt_fused_multihead_attention/fused_multihead_attention_v2.h
  onnxruntime/contrib_ops/cuda/quantization/attention_quantization.cc
  onnxruntime/python/tools/transformers/io_binding_helper.py
  onnxruntime/test/contrib_ops/attention_op_test.cc
  onnxruntime/test/contrib_ops/multihead_attention_op_test.cc
  onnxruntime/test/contrib_ops/packed_attention_op_test.cc
  onnxruntime/test/contrib_ops/packed_multihead_attention_op_test.cc
  onnxruntime/test/python/transformers/benchmark_mha.py
  onnxruntime/test/python/transformers/benchmark_mha.sh
  onnxruntime/test/python/transformers/bert_padding.py
  onnxruntime/test/python/transformers/test_flash_attn.py
  onnxruntime/test/testdata/attention_no_mask_fp16.onnx
  tools/ci_build/build.py
  tools/ci_build/github/linux/build_cuda_c_api_package.sh
  tools/ci_build/github/linux/build_linux_arm64_python_package.sh
  tools/ci_build/requirements.txt
Labels: release:1.16

#17358 Fix NNAPI optional input handling checks and unblock Android CI pipeline test failures
  onnxruntime/core/providers/nnapi/nnapi_builtin/builders/impl/base_op_builder.cc
  onnxruntime/core/providers/nnapi/nnapi_builtin/builders/impl/reduction_op_builder.cc
  onnxruntime/core/providers/nnapi/nnapi_builtin/builders/impl/resize_op_builder.cc
  onnxruntime/test/providers/checkers.cc
Labels: release:1.16
