Repository microsoft/onnxruntime, pull requests merged in 2023-10, with the labels that each got.

#17161 [js/web] BiasSplitGelu and BiasAdd kernels
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/bias-add.ts
  js/web/lib/wasm/jsep/webgpu/ops/bias-split-gelu.ts
  js/web/test/data/ops/bias-add.jsonc
  js/web/test/data/ops/bias-split-gelu.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/contrib_ops/js/bias_add.cc
  onnxruntime/contrib_ops/js/bias_add.h
  onnxruntime/contrib_ops/js/bias_split_gelu.cc
  onnxruntime/contrib_ops/js/bias_split_gelu.h
  onnxruntime/contrib_ops/js/js_contrib_kernels.cc
Labels: ep:WebGPU

#17768 Cancel EP check in python for 1.16.1
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/test/python/onnxruntime_test_python.py
Labels: release:1.16.1

#17775 [js/webgpu] fix pad operator
  js/web/lib/wasm/jsep/webgpu/ops/pad.ts
Labels: ep:WebGPU

#17544 [js/webgpu] Support where
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/where.ts
  js/web/test/data/ops/where.jsonc
  js/web/test/data/ops/where_broadcast.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/where.cc
Labels: ep:WebGPU

#17717 [js/webgpu] Enable the NCHW ConvMatMul path
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv2d_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmul.ts
  js/web/test/data/ops/conv.jsonc
Labels: ep:WebGPU

#17643 [webgpu]: add a simple GetCapability implementation
  onnxruntime/core/providers/js/js_execution_provider.cc
Labels: ep:WebGPU

#17685 Fix convergence for dolly+stage3 training
  orttraining/orttraining/core/framework/torch/torch_proxy.cc
  orttraining/orttraining/core/framework/torch/torch_proxy.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/_zero_stage3_compatibility.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/torch_interop_utils.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.h
Labels: training

#17807 Fix Pad's quantization
  onnxruntime/python/tools/quantization/onnx_quantizer.py
  onnxruntime/python/tools/quantization/operators/pad.py
  onnxruntime/test/python/quantization/test_op_pad.py
Labels: quantization, merge at green

#17830 Upgrade transformers to fix CI
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
Labels: training

#17803 [js/webgpu] support using uniform buffer
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/gpu-data-manager.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv2d_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/argminmax.ts
  js/web/lib/wasm/jsep/webgpu/ops/bias-add.ts
  js/web/lib/wasm/jsep/webgpu/ops/bias-split-gelu.ts
  js/web/lib/wasm/jsep/webgpu/ops/binary-op.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-grouped.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-transpose.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv2d-mm.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv2dtranspose-mm.ts
  js/web/lib/wasm/jsep/webgpu/ops/einsum.ts
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/lib/wasm/jsep/webgpu/ops/gather-elements.ts
  js/web/lib/wasm/jsep/webgpu/ops/gather.ts
  js/web/lib/wasm/jsep/webgpu/ops/gemm.ts
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/layer-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmul.ts
  js/web/lib/wasm/jsep/webgpu/ops/pad.ts
  js/web/lib/wasm/jsep/webgpu/ops/pool.ts
  js/web/lib/wasm/jsep/webgpu/ops/range.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
  js/web/lib/wasm/jsep/webgpu/ops/skip-layer-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/slice.ts
  js/web/lib/wasm/jsep/webgpu/ops/softmax.ts
  js/web/lib/wasm/jsep/webgpu/ops/split.ts
  js/web/lib/wasm/jsep/webgpu/ops/tile.ts
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
  js/web/lib/wasm/jsep/webgpu/ops/where.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
Labels: ep:WebGPU

#17855 create patch for allgather fn for deepspeed stage 3
  orttraining/orttraining/python/training/utils/hooks/_zero_offload_subscriber.py
Labels: training

#17687 Support inplace update for PythonOp/Grad
  cmake/onnxruntime_optimizer.cmake
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/core/framework/torch/custom_function_register.cc
  orttraining/orttraining/core/framework/torch/custom_function_register.h
  orttraining/orttraining/core/framework/torch/torch_proxy.cc
  orttraining/orttraining/core/framework/torch/torch_proxy.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/pythonop_rewriter.cc
  orttraining/orttraining/core/optimizer/pythonop_rewriter.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_zero_stage3_compatibility.py
  orttraining/orttraining/python/training/utils/hooks/_statistics_subscriber.py
  orttraining/orttraining/python/training/utils/hooks/_subscriber_manager.py
  orttraining/orttraining/python/training/utils/hooks/_zero_offload_subscriber.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
Labels: training

#17901 Fix missing attribute on C# DOrtGetResizedStringTensorElementBuffer delegate
  csharp/src/Microsoft.ML.OnnxRuntime/NativeMethods.shared.cs
Labels: release:1.16.2

#17630 [js/web] FP16 LayerNorm, InstanceNorm, SkipLayerNorm
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/layer-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/skip-layer-norm.ts
  onnxruntime/contrib_ops/js/skip_layer_norm.cc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/instance_norm.cc
  onnxruntime/core/providers/js/operators/layer_norm.cc
  onnxruntime/core/providers/js/operators/layer_norm.h
Labels: ep:WebGPU

#17772 ResizeGrad CUDA/ROCM kernel implementation
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/training/ortmodule/_custom_gradient_registry.py
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/gradient/gradient_ops_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/training_ops/cuda/resize_grad_test.cc
  orttraining/orttraining/training_ops/cuda/cuda_training_kernels.cc
  orttraining/orttraining/training_ops/cuda/tensor/resize_grad.cc
  orttraining/orttraining/training_ops/cuda/tensor/resize_grad.h
  orttraining/orttraining/training_ops/cuda/tensor/resize_grad_impl.cu
  orttraining/orttraining/training_ops/cuda/tensor/resize_grad_impl.h
  orttraining/orttraining/training_ops/rocm/rocm_training_kernels.cc
Labels: training, release:1.16.2

#18026 [TensorRT EP] Add stream sync after enqueue
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
Labels: release:1.16.2

#17934 Avoid one time clone to save memory peak
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
Labels: training

#18027 [js/webgpu] Fix the transpose error when dims > 4D
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-transpose.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/test/data/ops/transpose.jsonc
Labels: ep:WebGPU

#17973 [JS/Web] Enabled 1d spacial input to GlobalAveragePool
  js/web/lib/wasm/jsep/webgpu/ops/pool.ts
Labels: ep:WebGPU

#18035 [js/webgpu] FP16 Cast, Resize
  onnxruntime/core/providers/js/operators/cast.cc
  onnxruntime/core/providers/js/operators/resize.cc
Labels: ep:WebGPU

#18084 FP16 optimizer automatically detect DeepSpeed compatibility
  .lintrunner.toml
  orttraining/orttraining/python/training/optim/_ds_code_store.py
  orttraining/orttraining/python/training/optim/_ds_modifier.py
  orttraining/orttraining/python/training/optim/_modifier_registry.py
  orttraining/orttraining/python/training/optim/fp16_optimizer.py
Labels: training

#18066 Add MatMul FP4 and NF4 Support
  cmake/onnxruntime_rocm_hipify.cmake
  docs/ContribOperators.md
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/contrib_ops/cpu/quantization/blockwise_quant_block_bnb4.h
  onnxruntime/contrib_ops/cpu/quantization/dequantize_blockwise_bnb4.h
  onnxruntime/contrib_ops/cpu/quantization/matmul_bnb4.cc
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/quantization/dequantize_blockwise_bnb4.cu
  onnxruntime/contrib_ops/cuda/quantization/dequantize_blockwise_bnb4.cuh
  onnxruntime/contrib_ops/cuda/quantization/matmul_bnb4.cc
  onnxruntime/contrib_ops/cuda/quantization/matmul_bnb4.cu
  onnxruntime/contrib_ops/cuda/quantization/matmul_bnb4.cuh
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/python/onnxruntime_pybind_quant.cc
  onnxruntime/python/tools/kernel_explorer/kernels/cuda/dequant_blockwise_bnb4.cu
  onnxruntime/python/tools/kernel_explorer/kernels/cuda/matmul_bnb4.cu
  onnxruntime/python/tools/kernel_explorer/kernels/dequantize_blockwise_bnb4.py
  onnxruntime/python/tools/kernel_explorer/kernels/matmul_bnb4.py
  onnxruntime/python/tools/quantization/matmul_bnb4_quantizer.py
  onnxruntime/test/contrib_ops/matmul_bnb4_test.cc
  onnxruntime/test/python/quantization/test_op_matmul_bnb4.py
  onnxruntime/test/python/quantization/test_quantizeblockwise_bnb4.py
Labels: triage:approved, release:1.16.2, sdxl_llama

#18108 [js/webgpu] Change timestamp-query-in-passes to timestamp-query
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
Labels: ep:WebGPU

#18076 Add updates to LLaMA scripts
  onnxruntime/python/tools/transformers/convert_generation.py
  onnxruntime/python/tools/transformers/models/llama/README.md
  onnxruntime/python/tools/transformers/models/llama/benchmark.py
  onnxruntime/python/tools/transformers/models/llama/convert_to_onnx.py
  onnxruntime/python/tools/transformers/models/llama/llama_parity.py
  onnxruntime/python/tools/transformers/models/llama/requirements-cpu.txt
  onnxruntime/python/tools/transformers/models/llama/requirements-cuda.txt
Labels: triage:approved, release:1.16.2, sdxl_llama

#18096 Replace Transpose with Replace if they are equivalent
  onnxruntime/test/testdata/transform/transpose_graph_gen.py
  onnxruntime/test/testdata/transform/transpose_to_reshape_invalid.onnx
  onnxruntime/test/testdata/transform/transpose_to_reshape_valid.onnx
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/transpose_replacement..cc
  orttraining/orttraining/core/optimizer/transpose_replacement.h
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
Labels: training

#18138 optimize SLN with large dimension
  onnxruntime/contrib_ops/cuda/bert/skip_layer_norm_impl.cu
Labels: release:1.16.2

#18153 [js/webgpu] Optimize softmax by vector
  js/web/lib/wasm/jsep/webgpu/ops/softmax.ts
Labels: ep:WebGPU

#18091 [CUDA] Update GroupNorm and Add SkipGroupNorm
  docs/ContribOperators.md
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/diffusion/group_norm.cc
  onnxruntime/contrib_ops/cuda/diffusion/group_norm.h
  onnxruntime/contrib_ops/cuda/diffusion/group_norm_impl.cu
  onnxruntime/contrib_ops/cuda/diffusion/group_norm_impl.h
  onnxruntime/contrib_ops/rocm/diffusion/group_norm.cc
  onnxruntime/core/graph/contrib_ops/diffusion_defs.cc
  onnxruntime/core/graph/contrib_ops/ms_opset.h
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/python/tools/transformers/io_binding_helper.py
  onnxruntime/test/contrib_ops/skip_group_norm_op_test.cc
  onnxruntime/test/python/transformers/test_group_norm.py
Labels: triage:approved, release:1.16.2, sdxl_llama
