Repository microsoft/onnxruntime, pull requests merged in 2023-05, with the labels that each got.

#15720 C# training api updates for on device training
  csharp/src/Microsoft.ML.OnnxRuntime/Training/CheckpointState.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/NativeTrainingMethods.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/OrtPropertyType.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/TrainingSession.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/TrainingTest.cs
Labels: training, api:CSharp

#15712 Creating Nuget and Android packages for Training
  cmake/onnxruntime.cmake
  cmake/onnxruntime_unittests.cmake
  csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.csproj
  java/build-android.gradle
  java/build.gradle
  orttraining/orttraining/test/training_ops/cpu/tensor/gather_nd_grad_op_test.cc
  tools/ci_build/github/android/build_aar_package.py
  tools/ci_build/github/android/training_full_aar_build_settings.json
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/test_linux.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/test_win.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-linux-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/linux-cpu-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/ondevice-training-cpu-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/publish-nuget.yml
  tools/ci_build/github/azure-pipelines/templates/win-ci.yml
  tools/ci_build/github/windows/extract_nuget_files.ps1
  tools/nuget/generate_nuspec_for_native_nuget.py
  tools/nuget/validate_package.py
Labels: training

#15765 Python documentation for onnxruntime-training
  .github/workflows/publish-python-apidocs.yml
  docs/python/ONNX_Runtime_icon.png
  docs/python/api_summary.rst
  docs/python/conf.py
  docs/python/examples/README.txt
  docs/python/examples/Sannosawa1.jpg
  docs/python/examples/plot_backend.py
  docs/python/examples/plot_common_errors.py
  docs/python/examples/plot_convert_pipeline_vectorizer.py
  docs/python/examples/plot_load_and_predict.py
  docs/python/examples/plot_metadata.py
  docs/python/examples/plot_pipeline.py
  docs/python/examples/plot_profiling.py
  docs/python/examples/plot_train_convert_predict.py
  docs/python/examples_md.rst
  docs/python/index.rst
  docs/python/learning_on_the_edge/overview.rst
  docs/python/learning_on_the_edge/training_api.rst
  docs/python/learning_on_the_edge/training_artifacts.rst
  docs/python/notebooks/onnx-inference-byoc-gpu-cpu-aks.ipynb
  docs/python/notebooks/onnxruntime-tvm-tutorial.ipynb
  docs/python/ortmodule/api.rst
  docs/python/ortmodule/overview.rst
  docs/python/requirements.txt
  docs/python/training/conf.py
  docs/python/training/content.rst
  docs/python/training/index.rst
  docs/python/tutorial.rst
  orttraining/orttraining/python/training/api/checkpoint_state.py
  orttraining/orttraining/python/training/api/module.py
  orttraining/orttraining/python/training/api/optimizer.py
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/python/training/onnxblock/onnxblock.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  tools/doc/builddoc.sh
Labels: documentation, training, api, python

#15770 update docs for a new cuda provider option: enable_skip_layer_norm_strict_mode
  docs/execution-providers/CUDA-ExecutionProvider.md
  docs/performance/transformers-optimization.md
Labels: documentation

#15779 Exclude cases from reduced build
  onnxruntime/test/shared_lib/test_inference.cc
Labels: release:1.15

#15795 Avoid generating training documentation during packaging
  tools/ci_build/github/azure-pipelines/templates/rocm.yml
  tools/ci_build/github/pai/wrap_rocm_python_doc_publisher.sh
Labels: training, release:1.15

#15793 [wasm] revert emsdk to v3.1.19
  cmake/onnxruntime_unittests.cmake
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/templates/win-wasm-ci.yml
Labels: release:1.15

#15780 [js/web] add target ort.webgpu.min.js
  js/web/.gitignore
  js/web/.npmignore
  js/web/karma.conf.js
  js/web/lib/wasm/wasm-factory.ts
  js/web/package.json
  js/web/script/pull-prebuilt-wasm-artifacts.ts
  js/web/types.d.ts
  js/web/webpack.config.js
  tools/ci_build/github/azure-pipelines/templates/web-ci.yml
  tools/ci_build/github/azure-pipelines/templates/win-wasm-ci.yml
Labels: release:1.15

#15688 update ort extensions to 94142d8391c9791ec71c38336436319a2d4ac7a0
  cgmanifests/generated/cgmanifest.json
  cmake/deps.txt
  tools/ci_build/github/azure-pipelines/templates/download-deps.yml
Labels: release:1.15

#15823 Fix segfault for multiple GPU run (regression)
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/core/providers/cann/cann_execution_provider.cc
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
  onnxruntime/core/providers/rocm/rocm_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
Labels: release:1.15

#15842 Fix symbolic shape infer empty value_info
  onnxruntime/python/tools/symbolic_shape_infer.py
  onnxruntime/python/tools/transformers/onnx_model.py
Labels: release:1.15

#15829 Add CPU allocation test for multiple GPU distributed run
  orttraining/orttraining/test/python/orttraining_test_ortmodule_pytorch_ddp.py
Labels: training

#15812 User/linneamay/roi align 16
  docs/OperatorKernels.md
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorRoiAlign.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorRegistration.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorVersions.h
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/providers/cpu/object_detection/roialign_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.15

#15865 Fix release version suffix for RC builds
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/ondevice-training-cpu-packaging-pipeline.yml
Labels: release:1.15

#15803 Refine a bit (on device training)
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/optimizer.h
  orttraining/orttraining/training_api/utils.cc
  orttraining/orttraining/training_api/utils.h
Labels: training

#15880 Address OOM Issue when exporting Whisper
  onnxruntime/python/tools/transformers/models/whisper/whisper_decoder.py
  onnxruntime/python/tools/transformers/models/whisper/whisper_encoder.py
  onnxruntime/python/tools/transformers/models/whisper/whisper_encoder_decoder_init.py
Labels: release:1.15

#15897 fix: setting builder optimization level to TRT 8.6 default
  include/onnxruntime/core/providers/tensorrt/tensorrt_provider_options.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.h
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/providers/cpu/model_tests.cc
  onnxruntime/test/providers/tensorrt/tensorrt_basic_test.cc
Labels: release:1.15

#15921 Adust GetVersionString() GetBuildInfoString() signatures and move them to OrtApi
  cmake/onnxruntime_config.h.in
  csharp/src/Microsoft.ML.OnnxRuntime/NativeMethods.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/OrtEnv.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/OrtEnvTests.cs
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  java/src/main/native/ai_onnxruntime_OnnxRuntime.c
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/shared_lib/test_inference.cc
Labels: release:1.15

#15597 support AveragePool19 and Pad19
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/fp16/fp16_pool.cc
  onnxruntime/core/providers/cpu/nn/pool.cc
  onnxruntime/core/providers/cpu/nn/pool.h
  onnxruntime/core/providers/cpu/nn/pool_functors.h
  onnxruntime/core/providers/cpu/tensor/pad.cc
  onnxruntime/core/providers/cpu/tensor/padbase.h
  onnxruntime/test/providers/cpu/nn/pool_op_test.cc
  onnxruntime/test/providers/cpu/tensor/pad_test.cc
Labels: release:1.15

#15935 Add C# API documentation for training (and some other changes)
  .github/workflows/publish-csharp-apidocs.yml
  csharp/ApiDocs/docfx.json
  csharp/ApiDocs/filterConfig.yml
  csharp/src/Microsoft.ML.OnnxRuntime/Training/CheckpointState.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/TrainingSession.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/TrainingTest.cs
  docs/python/index.rst
  docs/python/on_device_training/overview.rst
  docs/python/on_device_training/training_api.rst
  docs/python/on_device_training/training_artifacts.rst
  include/onnxruntime/core/session/onnxruntime_c_api.h
Labels: documentation, training

#15900 Training related changes to the onnxruntime website
  docs/api/index.md
  docs/api/python/index.html
  docs/api/python/on_device_training/training_artifacts.html
  docs/build/training.md
  docs/get-started/training-on-device.md
  docs/get-started/training-pytorch.md
  docs/get-started/with-c.md
  docs/get-started/with-cpp.md
  docs/get-started/with-csharp.md
  docs/get-started/with-python.md
  docs/index.md
  docs/install/index.md
  docs/reference/operators/ContribOperators.md
  index.html
Labels: documentation, training

#15993 [CoreML EP] Minor changes to allow CoreML EP to handle more nodes and models.
  onnxruntime/core/providers/coreml/builders/helper.cc
Labels: release:1.15

#15999 android package fix
  cmake/onnxruntime.cmake
Labels: release:1.15

#16011 [DML EP] Update DirectML version to 1.12.0
  .pipelines/nuget_config/x64/packages.config
  .pipelines/nuget_config/x86/packages.config
  cmake/external/dml.cmake
  docs/OperatorKernels.md
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorRegistration.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorUtility.cpp
  packages.config
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: triage:approved, release:1.15

#14834 Implement mutex-free spin lock for task queue
  cmake/CMakeLists.txt
  include/onnxruntime/core/platform/EigenNonBlockingThreadPool.h
  include/onnxruntime/core/platform/ort_spin_lock.h
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/win-ci-pipeline.yml
Labels: triage:approved, release:1.15

#15727 [DML EP] Add MultiHeadAttention and fix Attention
  docs/OperatorKernels.md
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/ApiHelpers.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/ApiTraits.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/DirectMLSchema.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/DirectMLX.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/GeneratedSchemaHelpers.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorAttention.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorMultiHeadAttention.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorRegistration.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/Attributes.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorVersions.h
  onnxruntime/test/contrib_ops/attention_op_test.cc
  onnxruntime/test/contrib_ops/attention_op_test_helper.cc
  onnxruntime/test/contrib_ops/attention_op_test_helper.h
  onnxruntime/test/contrib_ops/multihead_attention_op_test.cc
  onnxruntime/test/providers/provider_test_utils.cc
Labels: triage:approved, release:1.15

#15919 Fix fusion for two LayerNorm sharing same input but with different weights
  onnxruntime/test/optimizer/graph_transform_test_layernorm.cc
  onnxruntime/test/testdata/transform/fusion/layer_norm_shared_input.onnx
  onnxruntime/test/testdata/transform/fusion/layer_norm_shared_input.py
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: training

#15855 Use node name to uniquify the subgraph nodes.
  onnxruntime/core/graph/graph.cc
Labels: core runtime

#16023 Fix python pipeline for AzureEP without using root
  cmake/external/triton.cmake
  cmake/onnxruntime_framework.cmake
  setup.py
  tools/ci_build/github/linux/build_linux_arm64_python_package.sh
  tools/ci_build/github/linux/docker/inference/x64/python/cpu/scripts/install_centos.sh
Labels: release:1.15

#16022 [Bug Fix] Incorrect comparison for FromBuffer in TrainingSession.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/TrainingSession.shared.cs
Labels: training

#15938 Type hint for ORTModule
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager_factory.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_onnx_models.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
Labels: training

#16024 [JS/WebGPU] Squeeze operator implementation
  js/web/docs/webgpu-operators.md
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/squeeze.cc
  onnxruntime/core/providers/js/operators/squeeze.h
Labels: platform:web

#16129 eigen.cmake use url info from deps.txt
  cmake/external/eigen.cmake
Labels: build

#16119 Copy missing training header files to the package archive
  tools/ci_build/github/azure-pipelines/templates/c-api-artifacts-package-and-publish-steps-windows.yml
  tools/ci_build/github/linux/copy_strip_binary.sh
Labels: training
