Repository microsoft/onnxruntime, pull requests merged in 2023-12, with the labels that each got.

#18645 Fixed bug in Flatten's axis
  onnxruntime/core/providers/webnn/builders/impl/flatten_op_builder.cc
Labels: ep:WebNN

#18546 [js/webgpu] Add multidimensional(>4) uniform support
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/slice.ts
Labels: ep:WebGPU

#18638 [WebNN EP] Fixed bug in op checking
  onnxruntime/core/providers/webnn/builders/helper.h
Labels: ep:WebNN

#18646 Support MatMulBnb4 in PaddingElimination
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
Labels: training

#18516 [Dort] Run type promotion pass to resolve dtype discrepancy
  orttraining/orttraining/python/training/torchdynamo/ort_backend.py
Labels: converter, converter:dynamo

#17813 Fix typo in the TensorShape
  onnxruntime/core/framework/tensor_shape.cc
Labels: merge at green

#18658 [js/webgpu] Use the naive convTranspose when in/out channels are both 1
  js/web/lib/wasm/jsep/webgpu/ops/conv-transpose.ts
Labels: ep:WebGPU

#18637 [JS/Web] Added CumSum operator to JSEP
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/cumsum.ts
  js/web/test/data/ops/cumsum.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/cumsum.cc
  onnxruntime/core/providers/js/operators/cumsum.h
Labels: ep:WebGPU

#18670 [JS/Web] AddedUniforms in GatherElements.
  js/web/lib/wasm/jsep/webgpu/ops/gather-elements.ts
Labels: ep:WebGPU

#18663 Skip module clone for preparing large model export
  docs/ORTModule_Training_Guidelines.md
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/options.py
Labels: training

#18657 Rename op elementwiseIf to where
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/ternary_op_builder.cc
Labels: ep:WebNN

#18729 [WebNN EP] Skip split initializer
  onnxruntime/core/providers/webnn/builders/impl/split_op_builder.cc
Labels: ep:WebNN

#18687 [WebNN EP] Don't covert all inputs except the 0th input for Resize
  onnxruntime/core/optimizer/layout_transformation/layout_transformation.cc
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
Labels: ep:WebNN

#18566 Allow layer-wise recompute
  docs/Memory_Optimizer.md
  docs/ORTModule_Training_Guidelines.md
  include/onnxruntime/core/graph/constants.h
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/graph/graph_viewer.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/test/testdata/transform/recompute/3layer_bloom_optimized_training.onnx
  onnxruntime/test/testdata/transform/recompute/3layer_bloom_optimized_training.py
  orttraining/orttraining/core/optimizer/memory_optimizer/common.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/common.h
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_insight.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_insight.h
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.h
  orttraining/orttraining/core/optimizer/memory_optimizer/optimization_planner.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/optimization_planner.h
  orttraining/orttraining/core/optimizer/memory_optimizer/recompute_analysis.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/recompute_analysis.h
  orttraining/orttraining/core/optimizer/memory_optimizer/transformer_specific.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/transformer_specific.h
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_onnx_models.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/options.py
  orttraining/orttraining/python/training/utils/ptable.py
  orttraining/orttraining/test/optimizer/memory_optimizer_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#18779 [js/webgpu] Fix shader compilation errors in cumsum
  js/web/lib/wasm/jsep/webgpu/ops/cumsum.ts
  js/web/test/data/ops/cumsum.jsonc
Labels: ep:WebGPU

#18768 [JS/WebGPU] Added uniforms to Tile and Where Ops
  js/web/lib/wasm/jsep/webgpu/ops/tile.ts
  js/web/lib/wasm/jsep/webgpu/ops/where.ts
Labels: ep:WebGPU

#18727 [JS/Web] Added uniforms to Reduce, Resize and Split Ops.
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/argminmax.ts
  js/web/lib/wasm/jsep/webgpu/ops/cumsum.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
  js/web/lib/wasm/jsep/webgpu/ops/slice.ts
  js/web/lib/wasm/jsep/webgpu/ops/split.ts
Labels: ep:WebGPU

#18703 [WebNN EP] WebNN only supports 4-D input and weight for Conv/ConvTranspose
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
Labels: ep:WebNN

#18688 [WebNN EP] Use explicit padding
  onnxruntime/core/providers/webnn/builders/impl/builder_utils.cc
  onnxruntime/core/providers/webnn/builders/impl/builder_utils.h
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pool_op_builder.cc
Labels: ep:WebNN

#18099 Improve perf for stage3 training
  orttraining/orttraining/core/framework/torch/custom_function_register.cc
  orttraining/orttraining/core/framework/torch/custom_function_register.h
  orttraining/orttraining/core/framework/torch/torch_proxy.cc
  orttraining/orttraining/core/framework/torch/torch_proxy.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/_zero_stage3_compatibility.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/ctx_pool.cc
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/ctx_pool.h
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_bw.cc
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_bw.h
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_fw.cc
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_fw.h
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_shared.cc
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_shared.h
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/fake_ctx.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/setup.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/torch_interop_utils.cc
  orttraining/orttraining/python/training/utils/__init__.py
  orttraining/orttraining/python/training/utils/hooks/_zero_offload_subscriber.py
  orttraining/orttraining/python/training/utils/torch_io_helper.py
  orttraining/orttraining/python/training/utils/torch_profile_utils.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.h
  setup.py
Labels: training

#18839 [js/webgpu] Fix f16 errors in unary
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
Labels: ep:WebGPU

#18123 [js/webgpu] Optimize NCHW layout for InstanceNormalization
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
Labels: ep:WebGPU

#18799 [JS/WebGPU] fix an error in Clip
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/gemm.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce-shared.ts
  js/web/lib/wasm/jsep/webgpu/ops/softmax.ts
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
Labels: ep:WebGPU

#18877 Move some QNN EP provider options to session options
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
  onnxruntime/test/util/default_providers.cc
  onnxruntime/test/util/include/default_providers.h
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
Labels: ep:QNN

#18888 Update QNN docs according to context cache configuration changes
  docs/execution-providers/QNN-ExecutionProvider.md
Labels: ep:QNN

#18728 [js/webgpu] Refactor attributes of pool
  js/web/lib/wasm/jsep/webgpu/ops/pool.ts
Labels: ep:WebGPU

#18914 [js/webgpu] fix heap access > 2GB
  js/web/lib/wasm/jsep/init.ts
  onnxruntime/core/providers/js/js_kernel.h
Labels: ep:WebGPU

#18842 [JS/WebGPU] Add trilinear interpolation to Resize; activation_params attribute is optional for FusedConv also.
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
  js/web/test/data/ops/upsample.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/operators/conv.h
Labels: ep:WebGPU

#18949 Minor fixes
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_fw.cc
  orttraining/orttraining/python/training/utils/hooks/_statistics_subscriber.py
Labels: training

#18947 [js/webgpu] Fix shader compilation errors in Resize
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
Labels: ep:WebGPU

#18940 [js/webgpu] only declare shape and strides in shader when necessary
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
Labels: ep:WebGPU

#18936 [WebNN EP] Rename op logicalNot to not
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/unary_op_builder.cc
Labels: ep:WebNN

#18930 [WebNN EP] Decompose Concat with input number > 4 for CPU backend
  onnxruntime/core/providers/webnn/builders/impl/concat_op_builder.cc
Labels: ep:WebNN

#18954 [JS/Web] Sajandhy/webgpu resize scales rank check
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
  js/web/test/data/ops/resize.jsonc
Labels: ep:WebGPU
