Repository microsoft/onnxruntime, pull requests merged in 2023-03, with the labels that each got.

#14563 Del ort_model._modules to foward its accessing to torch_model._modules
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#14652 Introduce padding inspector in ORTModule
  docs/ORTModule_Training_Guidelines.md
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
Labels: training

#14868 Introduce RemovableAttributes
  include/onnxruntime/core/framework/op_kernel.h
  include/onnxruntime/core/graph/graph.h
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/framework/session_state.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/providers/cpu/ml/tree_ensemble_classifier.cc
  onnxruntime/core/providers/cpu/ml/tree_ensemble_classifier.h
  onnxruntime/core/providers/cpu/ml/treeregressor.cc
  onnxruntime/core/providers/cpu/ml/treeregressor.h
  onnxruntime/core/session/inference_session.cc
Labels: core runtime

#14839 Fix tree implementation when left, right node have lower index
  onnxruntime/core/providers/cpu/ml/tree_ensemble_aggregator.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_common.h
  onnxruntime/test/providers/cpu/ml/treeregressor_test.cc
Labels: regression

#14866 Fix simplified layer norm fusion for training
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/core/optimizer/layer_norm_fusion.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: training

#14027 [Java] Initial on device training support
  cmake/onnxruntime_java.cmake
  cmake/onnxruntime_java_unittests.cmake
  cmake/onnxruntime_unittests.cmake
  java/build.gradle
  java/src/main/java/ai/onnxruntime/OnnxRuntime.java
  java/src/main/java/ai/onnxruntime/OrtEnvironment.java
  java/src/main/java/ai/onnxruntime/OrtSession.java
  java/src/main/java/ai/onnxruntime/OrtTrainingSession.java
  java/src/main/java/ai/onnxruntime/providers/package-info.java
  java/src/main/native/ai_onnxruntime_OnnxRuntime.c
  java/src/main/native/ai_onnxruntime_OrtSession_RunOptions.c
  java/src/main/native/ai_onnxruntime_OrtTrainingSession.c
  java/src/main/native/ai_onnxruntime_OrtTrainingSession_OrtCheckpointState.c
  java/src/test/java/ai/onnxruntime/InferenceTest.java
  java/src/test/java/ai/onnxruntime/SparseTensorTest.java
  java/src/test/java/ai/onnxruntime/TestHelpers.java
  java/src/test/java/ai/onnxruntime/TrainingTest.java
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-training-apis.yml
Labels: training

#14988 Address issue with uninitialized variable
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
Labels: training

#14992 [CUDA] Optimize Perf for AtomicAdd of Half Type
  onnxruntime/core/providers/cuda/atomic/common.cuh
  onnxruntime/core/providers/cuda/tensor/gather_elements_impl.cu
  onnxruntime/core/providers/rocm/atomic/common.cuh
Labels: training

#14832 Op slicing upstream refactor
  onnxruntime/core/optimizer/compute_optimizer/compute_optimizer.cc
  onnxruntime/core/optimizer/compute_optimizer/compute_optimizer.h
  onnxruntime/core/optimizer/compute_optimizer/shared_utils.cc
  onnxruntime/core/optimizer/compute_optimizer/shared_utils.h
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather_actors.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather_actors.h
  onnxruntime/core/optimizer/compute_optimizer/upstream_transformer_base.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_transformer_base.h
  onnxruntime/test/optimizer/compute_optimizer_test.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: training

#15015 Renaming files
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather.h
  onnxruntime/test/optimizer/compute_optimizer_test.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
Labels: training

#15034 LSTM and LSTM gradient implementation for training
  onnxruntime/core/providers/cpu/rnn/uni_directional_lstm.cc
  onnxruntime/core/providers/cpu/rnn/uni_directional_lstm.h
  orttraining/orttraining/core/graph/gradient_builder.cc
  orttraining/orttraining/core/graph/gradient_builder.h
  orttraining/orttraining/core/graph/gradient_builder_registry.cc
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/core/optimizer/lstm_replacement.cc
  orttraining/orttraining/core/optimizer/lstm_replacement.h
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
  orttraining/orttraining/test/python/orttraining_ortmodule_tests.py
  orttraining/orttraining/test/python/orttraining_test_lstm.py
  orttraining/orttraining/test/training_ops/cpu/rnn/lstm_test.cc
  orttraining/orttraining/training_ops/cpu/cpu_training_kernels.cc
  orttraining/orttraining/training_ops/cpu/rnn/lstm.cc
  orttraining/orttraining/training_ops/cpu/rnn/lstm.h
  orttraining/orttraining/training_ops/cpu/rnn/lstm_grad.cc
  orttraining/orttraining/training_ops/cpu/rnn/lstm_grad.h
  orttraining/orttraining/training_ops/cpu/rnn/lstm_grad_compute.cc
  orttraining/orttraining/training_ops/cpu/rnn/lstm_grad_compute.h
  orttraining/orttraining/training_ops/cpu/rnn/lstm_io_utils.cc
  orttraining/orttraining/training_ops/cpu/rnn/lstm_io_utils.h
Labels: training

#15121 Fix reference count for autograd.Function
  orttraining/orttraining/core/framework/torch/custom_function_register.cc
  orttraining/orttraining/core/framework/torch/custom_function_register.h
  orttraining/orttraining/core/framework/torch/refcount_tracker.cc
  orttraining/orttraining/core/framework/torch/torch_proxy.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.h
Labels: training

#15135 Fixing CUDA12 build
  cmake/CMakeLists.txt
Labels: ep:CUDA

#15157 Fixed some warnings that were treated as errors when compiling with D…
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/BucketizedBufferAllocator.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlDFT.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorConcatFromSequence.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlSTFT.h
Labels: ep:DML

#14340 Add a page in the documentation for every operator in onnxruntime
  docs/python/_common/onnx_sphinx.py
  docs/python/inference/api_summary.rst
  docs/python/inference/conf.py
  docs/python/inference/examples/plot_convert_pipeline_vectorizer.py
  docs/python/inference/examples/plot_pipeline.py
  docs/python/inference/examples/plot_train_convert_predict.py
  docs/python/inference/index.rst
Labels: documentation

#15212 Refining the offline tooling for training artifact generation
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/python/training/onnxblock/README.md
  orttraining/orttraining/python/training/onnxblock/__init__.py
  orttraining/orttraining/python/training/onnxblock/_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/_qat_utils.py
  orttraining/orttraining/python/training/onnxblock/_training_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/blocks.py
  orttraining/orttraining/python/training/onnxblock/checkpoint_utils.py
  orttraining/orttraining/python/training/onnxblock/loss/__init__.py
  orttraining/orttraining/python/training/onnxblock/loss/loss.py
  orttraining/orttraining/python/training/onnxblock/model.py
  orttraining/orttraining/python/training/onnxblock/model_accessor.py
  orttraining/orttraining/python/training/onnxblock/onnxblock.py
  orttraining/orttraining/python/training/onnxblock/optim/__init__.py
  orttraining/orttraining/python/training/onnxblock/optim/optim.py
  orttraining/orttraining/test/python/orttraining_test_onnxblock.py
  orttraining/orttraining/training_api/checkpoint.cc
Labels: training
