Repository microsoft/onnxruntime, pull requests merged in 2023-07, with the labels that each got.

#16569 Fix orttraining-ortmodule-distributed CI
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
Labels: training, build

#16543 [Web/JS] Support WebGPU Concat operator
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/concat.cc
  onnxruntime/core/providers/js/operators/concat.h
Labels: platform:web

#16198 [java] Adding addExternalInitializers and addInitializer to OrtSession.SessionOptions
  java/src/main/java/ai/onnxruntime/OrtSession.java
  java/src/main/native/ai_onnxruntime_OrtSession_SessionOptions.c
  java/src/test/java/ai/onnxruntime/InferenceTest.java
  java/src/test/java/ai/onnxruntime/ModelGenerators.java
  java/src/test/java/ai/onnxruntime/SparseTensorTest.java
  java/src/test/java/ai/onnxruntime/TestHelpers.java
  java/src/test/resources/external-matmul.out
  java/src/test/resources/java-external-matmul.onnx
  java/src/test/resources/java-matmul.onnx
Labels: api:Java

#16608 [CUDA] Optimize BiasGelu/BiasGeluGrad Kernel
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/math/bias_gelu.cc
  onnxruntime/contrib_ops/cuda/math/bias_gelu.h
  onnxruntime/contrib_ops/cuda/math/bias_gelu_impl.cu
  onnxruntime/contrib_ops/cuda/math/bias_gelu_impl.h
  onnxruntime/contrib_ops/cuda/math/binary_elementwise_ops.cc
  onnxruntime/contrib_ops/cuda/math/binary_elementwise_ops_impl.cu
  onnxruntime/contrib_ops/cuda/math/binary_elementwise_ops_impl.h
  onnxruntime/contrib_ops/rocm/rocm_contrib_kernels.cc
  onnxruntime/core/optimizer/bias_gelu_fusion.cc
  onnxruntime/core/providers/cuda/cu_inc/common.cuh
  onnxruntime/test/contrib_ops/element_wise_ops_test.cc
  orttraining/orttraining/test/training_ops/cpu/activation/activation_op_test.cc
  orttraining/orttraining/training_ops/cuda/activation/bias_gelu_grad_impl.cu
  orttraining/orttraining/training_ops/cuda/activation/gelu_grad_impl_common.cuh
Labels: training

#16580 [Web/JS] Added missing L1Reduce and L2Reduce oprator kernels.
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/reduce.cc
Labels: ep:WebGPU

#16567 [Web/JS] Added Split operator support.
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/split.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/split.cc
  onnxruntime/core/providers/js/operators/split.h
Labels: ep:WebGPU

#16433 [Web/JS] Add ConvTranspose support
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-transpose.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/conv_transpose.cc
  onnxruntime/core/providers/js/operators/conv_transpose.h
Labels: ep:WebGPU

#16410 Allow upstream for Slice on single axis
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather.cc
  onnxruntime/test/optimizer/compute_optimizer_test.cc
Labels: training

#16486 add steps to write modulewithloss wrapper
  docs/ORTModule_ModuleWithLoss_Wrapper.md
  docs/ORTModule_Training_Guidelines.md
Labels: training

#16571 Warn the user when nondet kernels are invoked in det mode
  onnxruntime/contrib_ops/cuda/diffusion/group_norm.cc
  onnxruntime/contrib_ops/cuda/transformers/generation_device_helper.cc
  onnxruntime/contrib_ops/rocm/diffusion/group_norm.cc
  onnxruntime/core/providers/cuda/math/topk.cc
  onnxruntime/core/providers/cuda/math/topk_impl.cuh
  onnxruntime/core/providers/cuda/math/topk_impl.h
  onnxruntime/core/providers/cuda/tensor/gather_elements_impl.cu
  orttraining/orttraining/training_ops/cuda/optimizer/lamb.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_elements_grad.cc
  orttraining/orttraining/training_ops/cuda/tensor/gather_elements_grad_impl.h
  orttraining/orttraining/training_ops/cuda/tensor/gather_nd_grad.cc
Labels: training

#16529 Log ORTModule initialization overhead
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_logger.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
Labels: training

#16577 [Web/JS] Added Expand operator support.
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/expand.cc
  onnxruntime/core/providers/js/operators/expand.h
Labels: ep:WebGPU

#16665 Use autograd_inlining for model export
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
Labels: training

#16679 [WinML] Fix warnings in OnnxruntimeEngine and OnnxruntimeEngineBuilder
  winml/lib/Api.Ort/OnnxruntimeEngine.cpp
  winml/lib/Api.Ort/OnnxruntimeEngineBuilder.cpp
Labels: merge at green

#16601 Add support for training apis to support custom ops
  onnxruntime/test/testdata/training_api/custom_ops/checkpoint
  onnxruntime/test/testdata/training_api/custom_ops/training_model.onnx
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/api/module.py
  orttraining/orttraining/python/training/api/optimizer.py
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/python/training/onnxblock/__init__.py
  orttraining/orttraining/python/training/onnxblock/_training_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/blocks.py
  orttraining/orttraining/python/training/onnxblock/model_accessor.py
  orttraining/orttraining/python/training/onnxblock/onnxblock.py
  orttraining/orttraining/test/python/orttraining_test_python_bindings.py
  orttraining/orttraining/test/training_api/core/training_capi_tests.cc
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/optimizer.h
  orttraining/orttraining/training_api/training_session.cc
  orttraining/orttraining/training_api/training_session.h
Labels: training

#16699 [DORT] Enable aten::full by implementing extra logics to select EP
  orttraining/orttraining/python/training/torchdynamo/ort_backend.py
  orttraining/orttraining/test/python/orttraining_test_dort.py
Labels: training, build

#16764 Objective-C Add Support to Create and Query String ORTValues
  Package.swift
  objectivec/include/ort_enums.h
  objectivec/include/ort_value.h
  objectivec/ort_enums.mm
  objectivec/ort_value.mm
  objectivec/test/ort_session_test.mm
  objectivec/test/ort_value_test.mm
  objectivec/test/testdata/identity_string.ort
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/optimizer.cc
  tools/ci_build/github/apple/objectivec/assemble_objc_pod_package.py
Labels: platform:mobile, api

#16758 Replace call to deprecated torch.norm
  orttraining/orttraining/python/training/optim/_modifier.py
Labels: training

#16820 Fix orttraining-linux-gpu-ci-pipeline - LargeSizeTensorUInt64Index tests
  orttraining/orttraining/test/training_ops/cuda/cross_entropy_test.cc
Labels: training

#16343 Bug fix for nested control flow ops for TRT EP
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_helper.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/test/python/onnxruntime_test_python_nested_control_flow_op.py
  tools/ci_build/build.py
Labels: ep:TensorRT

#16753 [DORT] Enable Dynamic Shape in DORT and Use Different InferenceSession's when Inputs Are Not Compatible
  orttraining/orttraining/python/training/torchdynamo/ort_backend.py
  orttraining/orttraining/python/training/torchdynamo/register_backend.py
  orttraining/orttraining/test/python/orttraining_test_dort.py
  orttraining/orttraining/test/python/orttraining_test_dort_custom_ops.py
Labels: merge at green

#16818 Fix slice upstream - Incompatible dimensions
  onnxruntime/core/optimizer/compute_optimizer/shared_utils.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather_actors.h
  onnxruntime/test/optimizer/compute_optimizer_test.cc
Labels: training

#16811 [Web/JS] Added Slice operator in JSEP.
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/tensor.ts
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/slice.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/slice.cc
  onnxruntime/core/providers/js/operators/slice.h
  onnxruntime/core/providers/js/operators/split.h
Labels: ep:WebGPU

#16795 ORTModule log clean up
  onnxruntime/core/optimizer/concat_slice_elimination.cc
  onnxruntime/core/optimizer/constant_sharing.cc
  onnxruntime/core/optimizer/reshape_fusion.cc
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager_factory.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_logger.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/python/training/ortmodule/_torch_module_ort.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/options.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
Labels: training

#16860 [JS/WebGPU] Added Flatten operator support.
  js/web/docs/webgpu-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/flatten.cc
  onnxruntime/core/providers/js/operators/flatten.h
Labels: ep:WebGPU

#16797 Allow creating ConstantScalarNode for double type
  orttraining/orttraining/core/graph/gradient_builder_base.h
Labels: training

#16680 [JS/WebGPU] Add Resize operator
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
  js/web/lib/wasm/jsep/webgpu/ops/slice.ts
  js/web/script/generate-webgpu-operator-md.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/js_kernel.h
  onnxruntime/core/providers/js/operators/resize.cc
  onnxruntime/core/providers/js/operators/resize.h
Labels: ep:WebGPU
