Repository microsoft/onnxruntime, pull requests merged in 2023-09, with the labels that each got.

#17380 Change RuntimeError to ImportError
  orttraining/orttraining/python/training/ortmodule/__init__.py
Labels: training, release:1.16

#17419 Set proper nvcc threads to avoid OOM
  tools/ci_build/build.py
Labels: release:1.16

#16968 [js/webgpu] Support slice int32
  js/web/test/data/ops/slice.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/operators/slice.cc
Labels: ep:WebGPU

#17411 [ORTModule] Add Manual Seed to Fix UT Failure
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: release:1.16

#17335 [js/webgpu] add matmul broadcast tests
  js/web/test/data/ops/matmul-broadcast.jsonc
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#17374 [js/webgpu] Include Support for neg.int32
  js/web/test/data/ops/abs-int32.jsonc
  js/web/test/data/ops/neg-int32.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/operators/unary.cc
Labels: ep:WebGPU

#16940 Fix float 8 rounding on CPU
  include/onnxruntime/core/framework/float8.h
  onnxruntime/test/framework/float_8_test.cc
  onnxruntime/test/python/onnxruntime_test_float8.py
  onnxruntime/test/testdata/float8/te.cast_fp8_1_fp32.onnx
  onnxruntime/test/testdata/float8/te.cast_fp8_1_fp32_input.npy
Labels: release:1.16

#17439 Eliminate hashmap copies during function inlining
  onnxruntime/core/graph/function_utils.cc
  onnxruntime/core/graph/function_utils.h
  onnxruntime/core/graph/model.cc
  onnxruntime/core/graph/model.h
Labels: release:1.16

#17310 [js/webgpu] support GreaterOrEqual and LessOrEqual operators
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/binary-op.ts
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/binary.cc
Labels: ep:WebGPU

#17463 [rel-1.16.0] Disable QNN QDQ test for release branch
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
Labels: triage:approved, release:1.16

#17461 Remove 52 from CMAKE_CUDA_ARCHITECTURES to reduce Nuget package size
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/templates/linux-gpu-tensorrt-packaging-pipeline.yml
  tools/ci_build/github/linux/build_cuda_c_api_package.sh
Labels: triage:approved, release:1.16

#17401 [JS/Web] Added Einsum operator support.
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/einsum.ts
  js/web/test/data/ops/einsum.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/js_export.cc
  onnxruntime/core/providers/js/operators/einsum.cc
  onnxruntime/core/providers/js/operators/einsum.h
Labels: ep:WebGPU

#17494 [js/web] FP16 Gemm, Softmax & Transpose
  js/web/lib/wasm/jsep/webgpu/ops/gemm.ts
  js/web/lib/wasm/jsep/webgpu/ops/softmax.ts
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  onnxruntime/core/providers/js/js_data_types.cc
  onnxruntime/core/providers/js/js_data_types.h
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/js_kernel.h
  onnxruntime/core/providers/js/operators/gemm.cc
  onnxruntime/core/providers/js/operators/gemm.h
  onnxruntime/core/providers/js/operators/softmax.cc
  onnxruntime/core/providers/js/operators/softmax.h
  onnxruntime/core/providers/js/operators/transpose.cc
Labels: ep:WebGPU

#17507 [TRT EP] Fix multithreading bug of getting the corrupted trt engine instance
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
Labels: release:1.16

#17523 Revert "[ROCm][MIGraphX] for googletest dep, set OVERRIDE_FIND_PACKAGE (#16715)"
  cmake/external/onnxruntime_external_deps.cmake
Labels: release:1.16

#17003 [JS/WebGPU] support Concat.int32 operator
  js/web/test/data/ops/concat_int32.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/operators/concat.cc
Labels: ep:WebGPU

#17493 [js/webgpu] FP16 extension registration
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
Labels: ep:WebGPU

#16928 [WebGPU/JS] Added Pad operator support
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/pad.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/pad.cc
  onnxruntime/core/providers/js/operators/pad.h
Labels: ep:WebGPU

#17491 [js/webgpu] Optimize InstanceNormalization
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
  js/web/test/data/ops/instance-norm.jsonc
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#17515 [js/web] FP16 binary and unary ops
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
  onnxruntime/core/providers/js/operators/binary.cc
  onnxruntime/core/providers/js/operators/unary.cc
Labels: ep:WebGPU

#17550 Remove reference to internals in torch.onnx in test
  onnxruntime/test/python/test_pytorch_export_contrib_ops.py
Labels: merge at green

#17599 Pin beartype version
  tools/ci_build/github/linux/docker/scripts/manylinux/install_deps_lort.sh
Labels: merge at green

#17478 [JS/WebGPU] Support If on WebGPU
  js/web/docs/webgpu-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/if.cc
  onnxruntime/core/providers/js/operators/if.h
Labels: ep:WebGPU

#17614 Layer norm fusion deepspeed stage3 changes
  onnxruntime/core/optimizer/layer_norm_fusion.cc
  onnxruntime/test/optimizer/graph_transform_test_layernorm.cc
  onnxruntime/test/testdata/transform/fusion/layer_norm_fusion_scale_bias.onnx
  onnxruntime/test/testdata/transform/fusion/layer_norm_fusion_scale_bias.py
Labels: training

#17512 [js/web] fp16 Pool & Reduce
  js/web/lib/wasm/jsep/webgpu/ops/pool.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/pool.cc
  onnxruntime/core/providers/js/operators/pool.h
  onnxruntime/core/providers/js/operators/reduce.cc
  onnxruntime/core/providers/js/operators/reduce.h
Labels: ep:WebGPU

#17187 Model post process for zero stage3 training
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_runner.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_zero_stage3_compatibility.py
  orttraining/orttraining/python/training/utils/__init__.py
  orttraining/orttraining/python/training/utils/hooks/_statistics_subscriber.py
  orttraining/orttraining/python/training/utils/hooks/_subscriber_manager.py
  orttraining/orttraining/python/training/utils/hooks/_zero_offload_subscriber.py
  orttraining/orttraining/python/training/utils/torch_type_map.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
Labels: training

#17660 [JSEP] allow JsCustomAllocator to deal with zero sized input
  onnxruntime/core/providers/js/allocator.cc
Labels: ep:WebGPU

#17661 [JSEP] allow DataTransfer to deal with zero sized input
  onnxruntime/core/providers/js/data_transfer.cc
Labels: ep:WebGPU

#17658 [js/web] update browser launch cmd flags
  js/web/script/test-runner-cli.ts
Labels: ep:WebGPU

#17364 [On-Device Training] Expose Parameters through the Training API
  csharp/src/Microsoft.ML.OnnxRuntime/Training/CheckpointState.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/NativeTrainingMethods.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/Training/TrainingSession.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/TrainingTest.cs
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/api/checkpoint_state.py
  orttraining/orttraining/test/python/orttraining_test_python_bindings.py
  orttraining/orttraining/test/training_api/core/training_capi_tests.cc
  orttraining/orttraining/training_api/checkpoint_property.h
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_inline.h
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/ort_training_apis.h
Labels: training

#17690 [TensorRT EP] Back out the PerThreadContext
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
Labels: release:1.16.1

#17659 Stop throwing exception on python binding when multiple EP available
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/test/python/onnxruntime_test_python.py
Labels: release:1.16.1

#17665 [WebNN EP] Fix bug in Softmax
  onnxruntime/core/providers/webnn/builders/impl/softmax_op_builder.cc
Labels: ep:WebNN

#17573 [JS/Web] Add ConvTranspose implementation using MatMul
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-transpose.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv2dtranspose-mm.ts
  js/web/test/data/ops/conv-transpose.jsonc
  onnxruntime/core/providers/js/operators/conv_transpose.h
Labels: ep:WebGPU

#17480 [js/webgpu] support IO binding
  js/web/lib/wasm/binding/ort-wasm.d.ts
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/gpu-data-manager.ts
  js/web/lib/wasm/proxy-messages.ts
  js/web/lib/wasm/proxy-wrapper.ts
  js/web/lib/wasm/session-handler.ts
  js/web/lib/wasm/wasm-common.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/script/test-runner-cli-args.ts
  js/web/script/test-runner-cli.ts
  js/web/test/test-runner.ts
  js/web/test/test-types.ts
  onnxruntime/core/providers/js/js_kernel.h
  onnxruntime/wasm/api.cc
  onnxruntime/wasm/api.h
  onnxruntime/wasm/js_internal_api.js
  tools/ci_build/github/azure-pipelines/templates/win-web-ci.yml
Labels: ep:WebGPU

#17739 Fix react native load from Uint8Array buffer bug
  js/react_native/lib/backend.ts
Labels: release:1.16.1

#17514 [js/web] FP16 Conv, ConvTranspose and MatMul
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/activation_util.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv2d_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-transpose.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmul.ts
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/conv.cc
  onnxruntime/core/providers/js/operators/conv.h
  onnxruntime/core/providers/js/operators/conv_transpose.cc
  onnxruntime/core/providers/js/operators/conv_transpose.h
  onnxruntime/core/providers/js/operators/matmul.cc
Labels: ep:WebGPU

#17233 [JS/WebGPU] support Range operator
  js/common/lib/env.ts
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/range.ts
  js/web/script/test-runner-cli-args.ts
  js/web/test/suite-test-list.jsonc
  js/web/test/test-main.ts
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/range.cc
  onnxruntime/core/providers/js/operators/range.h
Labels: ep:WebGPU
