Repository microsoft/onnxruntime, pull requests merged in 2024-11, with the labels that each got.

#22577 [js/webgpu] Optimize MatMul with M = 1
  js/web/lib/wasm/jsep/webgpu/ops/matmul.ts
  js/web/test/data/ops/matmul.jsonc
Labels: ep:WebGPU

#22696 [CI] Set up proper permissions for linting workflow
  .github/workflows/lint.yml
Labels: merge on green

#22616 [WebNN EP] Support Sign and CumSum operators
  js/web/docs/webnn-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/cumsum_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/unary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#22706 [js/webgpu] Optimize Gemm
  js/web/lib/wasm/jsep/webgpu/ops/gemm.ts
Labels: ep:WebGPU

#22709 [js/webgpu] Increase workgroupSize if only one workgroup is dispached
  js/web/lib/wasm/jsep/webgpu/ops/reduce-shared.ts
  js/web/lib/wasm/jsep/webgpu/ops/softmax.ts
Labels: ep:WebGPU

#22724 support Qnn 2 28
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/test/providers/qnn/gather_op_htp_test.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/py-cpu-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: triage:approved, ep:QNN, release:1.20.1

#22677 [Quant Tool] Introduce get_qdq_config() helper to get QDQ configurations
  onnxruntime/python/tools/quantization/__init__.py
  onnxruntime/python/tools/quantization/quant_utils.py
  onnxruntime/python/tools/quantization/quantize.py
  onnxruntime/test/python/quantization/test_get_qdq_config.py
Labels: triage:approved, release:1.20.1

#22020 [Quant Tool] Prevent int32 quantized bias from clipping by adjusting the weight's scale
  onnxruntime/python/tools/quantization/base_quantizer.py
  onnxruntime/python/tools/quantization/onnx_model.py
  onnxruntime/python/tools/quantization/qdq_quantizer.py
  onnxruntime/python/tools/quantization/quant_utils.py
  onnxruntime/python/tools/quantization/quantize.py
  onnxruntime/python/tools/quantization/tensor_quant_overrides.py
  onnxruntime/test/python/quantization/test_qdq.py
  onnxruntime/test/python/quantization/test_quant_util.py
  onnxruntime/test/python/quantization/test_tensor_quant_overrides_option.py
Labels: quantization, triage:approved, ep:QNN, release:1.20.1

#22676 [Quant Tool] Update QDQ Pad, Slice, Softmax
  onnxruntime/python/tools/quantization/base_quantizer.py
  onnxruntime/python/tools/quantization/operators/pad.py
  onnxruntime/python/tools/quantization/registry.py
  onnxruntime/test/python/quantization/op_test_utils.py
  onnxruntime/test/python/quantization/test_op_pad.py
  onnxruntime/test/python/quantization/test_op_slice.py
  onnxruntime/test/python/quantization/test_op_softmax.py
Labels: triage:approved, release:1.20.1

#22536 WebGPU JSEP: Make shader code not depend on input broadcasting patterns
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmul-shaders.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmul.ts
  js/web/test/data/ops/matmul.jsonc
Labels: ep:WebGPU

#22652 [js/webgpu] support GridSample operator
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/grid-sample.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/grid_sample.cc
  onnxruntime/core/providers/js/operators/grid_sample.h
Labels: ep:WebGPU

#22781 Ignore all whitespace lint messages for cpplint
  CPPLINT.cfg
  onnxruntime/core/providers/dml/CPPLINT.cfg
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/CPPLINT.cfg
Labels: merge on green

#22073 [VitisAI] Cache node subgraph when necessary
  cmake/onnxruntime_providers_vitisai.cmake
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/providers/vitisai/imp/global_api.cc
  onnxruntime/core/providers/vitisai/include/vaip/custom_op.h
  onnxruntime/core/providers/vitisai/include/vaip/my_ort.h
  onnxruntime/core/providers/vitisai/include/vaip/vaip_ort_api.h
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.cc
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.h
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: ep:VitisAI

#22721 [WebNN] QDQ's axis should be used for broadcasting
  onnxruntime/core/providers/webnn/builders/impl/qdq_op_builder.cc
Labels: ep:WebNN

#22708 [WebNN] Support steps >= 1 for slice operator
  js/web/docs/webnn-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/webnn/builders/impl/slice_op_builder.cc
Labels: ep:WebNN

#22685 Reland "[WebNN] Fallback the node when its output doesn't have shape info"
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.h
  onnxruntime/core/providers/webnn/builders/model_builder.cc
Labels: ep:WebNN

#22719 Update skip layer norm
  onnxruntime/contrib_ops/cpu/skip_layer_norm.cc
  onnxruntime/contrib_ops/cpu/skip_layer_norm.h
  onnxruntime/contrib_ops/cpu/skip_layer_norm_helper.h
  onnxruntime/test/contrib_ops/skiplayernorm_op_test.cc
Labels: triage:approved, release:1.20.1

#22774 [js/webgpu] Optimize ConvTranspose
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-transpose.ts
Labels: ep:WebGPU

#22752 [js/webgpu] Optimize Expand
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/test/data/ops/expand.jsonc
Labels: ep:WebGPU

#22755 [js/webgpu] Add scatterND
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/scatter-nd.ts
  js/web/test/data/ops/scatternd.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/scatter_nd.cc
  onnxruntime/core/providers/js/operators/scatter_nd.h
Labels: ep:WebGPU

#22811 [WebNN] Remove validation for coordinate_transformation_mode
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
Labels: ep:WebNN

#22681 [TensorRT EP] Add new provider option to exclude nodes from running on TRT
  include/onnxruntime/core/providers/tensorrt/tensorrt_provider_options.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.h
  onnxruntime/core/providers/tensorrt/tensorrt_provider_factory.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/providers/tensorrt/tensorrt_basic_test.cc
Labels: triage:approved, release:1.20.1

#22633 [Quant tool] Handle input models with pre-quantized weights
  onnxruntime/python/tools/quantization/base_quantizer.py
  onnxruntime/python/tools/quantization/qdq_quantizer.py
  onnxruntime/test/python/quantization/test_qdq.py
Labels: release:1.20.0

#19558 [WebNN EP] Support Einsum op
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/einsum_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#22862 Refactor SkipLayerNorm and handle beta properly
  onnxruntime/contrib_ops/cpu/skip_layer_norm.cc
Labels: triage:approved, release:1.20.1

#22870 [js/webgpu] Optimize transpose as reshape when suitable
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/test/data/ops/transpose.jsonc
Labels: ep:WebGPU

#22875 [TensorRT EP] Exclude DDS ops from running on TRT
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
Labels: triage:approved, release:1.20.1

#22844 [QNN EP] QNN SDK 2.28.2
  onnxruntime/core/providers/qnn/builder/opbuilder/layer_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/test/providers/qnn/gather_op_htp_test.cc
  onnxruntime/test/providers/qnn/layer_norm_test.cc
  onnxruntime/test/providers/qnn/matmul_test.cpp
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/py-cpu-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: triage:approved, release:1.20.1

#22884 [WebNN] Check split's output name
  onnxruntime/core/providers/webnn/builders/impl/split_op_builder.cc
Labels: ep:WebNN

#22125 Fix MlasSgemmKernel: properly process more than 2 rows
  onnxruntime/core/mlas/lib/scalar/SgemmKernelScalar.cpp
Labels: quantization

#22871 [WebNN] Support negative steps for slice
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/slice_op_builder.cc
Labels: ep:WebNN

#22636 [QNN] ReduceL2 Support
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/reduce_op_builder.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.cc
  onnxruntime/test/providers/qnn/reduce_op_test.cc
Labels: ep:QNN
