Repository microsoft/onnxruntime, pull requests merged in 2024-05, with the labels that each got.

#20506 [TensorRT EP] support TensorRT 10-GA
  cmake/deps.txt
  onnxruntime/python/tools/tensorrt/perf/build/build_image.py
  onnxruntime/test/providers/cpu/math/element_wise_ops_test.cc
  onnxruntime/test/providers/cpu/model_tests.cc
  onnxruntime/test/providers/cpu/tensor/isnan_test.cc
  onnxruntime/test/providers/cpu/tensor/quantize_linear_test.cc
  onnxruntime/test/providers/cpu/tensor/tile_op_test.cc
  tools/ci_build/github/azure-pipelines/bigmodels-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/cuda-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-gpu-tensorrt-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-gpu-tensorrt-daily-perf-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-multi-gpu-tensorrt-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/test_linux.yml
  tools/ci_build/github/azure-pipelines/post-merge-jobs.yml
  tools/ci_build/github/azure-pipelines/stages/jobs/py-linux-cuda-package-test-job.yml
  tools/ci_build/github/azure-pipelines/stages/nuget-linux-cuda-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/stages/py-cuda-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_gpu_library.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/set-winenv.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/win-ci-prebuild-steps.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/win-ci-vs-2022-job.yml
  tools/ci_build/github/azure-pipelines/templates/linux-gpu-tensorrt-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-gpu.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-linux-test-cuda.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-selectable-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-gpu.yml
  tools/ci_build/github/azure-pipelines/win-gpu-tensorrt-ci-pipeline.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2_28_cuda
  tools/ci_build/github/linux/docker/Dockerfile.package_ubi8_cuda_tensorrt10_0
  tools/ci_build/github/linux/docker/Dockerfile.package_ubuntu_2004_gpu
  tools/ci_build/github/linux/docker/Dockerfile.package_ubuntu_2004_gpu_ffmpeg
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_cuda11_8_tensorrt10_0
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_cuda12_4_tensorrt10_0
  tools/ci_build/github/windows/setup_env_gpu.bat
  tools/ci_build/github/windows/setup_env_trt.bat
Labels: ep:TensorRT, release:1.18.0

#20529 Remove usage of 'required reason' iOS API from protobuf
  cmake/patches/protobuf/protobuf_cmake.patch
  tools/ci_build/github/apple/build_host_protoc.sh
Labels: release:1.18.0

#20531 [CUDA] Add SparseAttention kernel for sm=75
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_impl.cu
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/compile_sparse_attention.py
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_common.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_dispatcher_fp16_sm75.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_api.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_api.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_fp16_m16_0_n64_0_d64_2_sm75.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_fp16_m16_0_n64_1_d64_2_sm75.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_fp16_m16_1_n64_0_d64_2_sm75.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_fp16_m16_1_n64_1_d64_2_sm75.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_fp16_m64_0_n64_0_d64_2_sm75.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_fp16_m64_0_n64_1_d64_2_sm75.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_fp16_m64_1_n64_0_d64_2_sm75.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_v1_fp16_m64_1_n64_1_d64_2_sm75.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v2/compile_sparse_attention_v2.py
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v2/sparse_attention_v2_api.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v2/sparse_attention_v2_api.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v2/sparse_attention_v2_common.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v2/sparse_attention_v2_dispatcher_fp16_sm75.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v2/sparse_attention_v2_fp16_d128_m64_16_n64_b1_sm75.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v2/sparse_attention_v2_fp16_d128_m64_64_n64_b1_sm75.cc
  onnxruntime/test/python/transformers/test_sparse_attention.py
Labels: release:1.18.0

#20534 [QNN EP] Update QNN SDK to 2.21
  onnxruntime/core/providers/qnn/builder/opbuilder/resize_op_builder.cc
  onnxruntime/test/providers/qnn/resize_test.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN, release:1.18.0

#20530 Add tensor v2 support
  onnxruntime/core/providers/qnn/builder/qnn_def.cc
Labels: ep:QNN

#20508 [QNN EP] Support HardSigmoid
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/shared/utils.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.h
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/batch_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/cast_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/convert_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/gather_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/gemm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/hard_sigmoid_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/instance_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/softmax_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/transpose_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_def.h
  onnxruntime/core/providers/qnn/builder/qnn_fusions.cc
  onnxruntime/core/providers/qnn/builder/qnn_fusions.h
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
Labels: ep:QNN

#20507 [QNN EP] Conv ConvTranspose 3D support
  onnxruntime/core/providers/common.h
  onnxruntime/core/providers/cpu/nn/conv_transpose_attributes.h
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_def.h
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/providers/qnn/conv_test.cc
Labels: ep:QNN

#20547 check rotary_embedding with seq length
  onnxruntime/contrib_ops/cpu/bert/group_query_attention_helper.h
  onnxruntime/contrib_ops/cuda/bert/group_query_attention_helper.h
Labels: release:1.18.0

#20557 Update setup.py: update TRT version
  setup.py
Labels: ep:TensorRT, release:1.18.0

#20560 Return ENGINE_ERROR for QNN NPU SSR issue
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
Labels: ep:QNN, release:1.18.0

#20549 [java] CUDA & TensorRT options fix
  include/onnxruntime/core/session/onnxruntime_c_api.h
  java/src/main/android/ai/onnxruntime/platform/Fp16Conversions.java
  java/src/main/java/ai/onnxruntime/OrtProviderOptions.java
  java/src/main/java/ai/onnxruntime/OrtSession.java
  java/src/main/java/ai/onnxruntime/providers/OrtCUDAProviderOptions.java
  java/src/main/java/ai/onnxruntime/providers/OrtTensorRTProviderOptions.java
  java/src/main/java/ai/onnxruntime/providers/StringConfigProviderOptions.java
  java/src/main/jvm/ai/onnxruntime/platform/Fp16Conversions.java
  java/src/main/native/ai_onnxruntime_providers_OrtCUDAProviderOptions.c
  java/src/main/native/ai_onnxruntime_providers_OrtTensorRTProviderOptions.c
  java/src/test/java/ai/onnxruntime/InferenceTest.java
  java/src/test/java/ai/onnxruntime/providers/ProviderOptionsTest.java
Labels: api:Java, ep:CUDA, ep:TensorRT, release:1.18.0

#20497 Fix missing node during mem efficient topo sort
  onnxruntime/core/graph/graph.cc
  onnxruntime/test/ir/graph_test.cc
Labels: training, release:1.18.0

#20541 MoE Gemm perf tuning
  onnxruntime/contrib_ops/cuda/moe/cutlass_extensions/gemm_configs.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/cutlass_heuristic.cc
  onnxruntime/contrib_ops/cuda/moe/ft_moe/cutlass_heuristic.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_gemm_kernels.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_gemm_kernels_template.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_kernel.cu
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_kernel.h
  onnxruntime/contrib_ops/cuda/moe/moe.cc
Labels: release:1.18.0

#20550 [TensorRT] adapt for TRT lib name change after TRT 10 GA (update)
  cmake/onnxruntime_providers_tensorrt.cmake
  tools/ci_build/build.py
Labels: ep:TensorRT, triage:approved, release:1.18.0

#20555 fix bug: input q/k/v should not be modified by operator
  onnxruntime/contrib_ops/cpu/bert/group_query_attention.cc
Labels: triage:approved, release:1.18.0

#20579 Add error handling session in QNN doc
  docs/execution-providers/QNN-ExecutionProvider.md
Labels: ep:QNN

#20591 Fix Sparse Attention with Packed QKV inputs
  onnxruntime/contrib_ops/cuda/bert/group_query_attention_impl.cu
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_impl.cu
  onnxruntime/test/python/transformers/test_sparse_attention.py
Labels: release:1.18.0

#20536 Dev/mookerem/arm64x update
  cmake/CMakeLists.txt
  cmake/arm64x.cmake
Labels: platform:windows

#20520 MIGraphX EP: Add set_false_math to false by default
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
Labels: ep:MIGraphX

#20551 optimize skiplayernorm
  js/web/lib/wasm/jsep/webgpu/ops/skip-layer-norm.ts
Labels: ep:WebGPU

#20604 Revert compute queue default for DML
  onnxruntime/core/providers/dml/dml_provider_factory.cc
Labels: release:1.18.0

#20598 optimize gqa cpu
  onnxruntime/contrib_ops/cpu/bert/attention_helper.h
  onnxruntime/contrib_ops/cpu/bert/gqa_attention_base.h
  onnxruntime/test/python/transformers/test_gqa_cpu.py
Labels: triage:approved, release:1.18.0

#20607 support --arm64ec for qnn ep build
  cmake/CMakeLists.txt
Labels: triage:approved, ep:QNN, release:1.18.0

#20609 Fix SparseAttention cos/sin cache dimension checks
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_helper.h
Labels: triage:approved, release:1.18.0

#20608 Update CocoaPods package release script.
  tools/ci_build/github/apple/package_release_tasks.py
  tools/ci_build/github/apple/upload_pod_archive_and_update_podspec.sh
  tools/ci_build/github/azure-pipelines/templates/stages/mac-ios-packaging-build-stage.yml
Labels: triage:approved, release:1.18.0

#20614 [CUDA] Sparse Attention support 128k sequence length
  onnxruntime/contrib_ops/cuda/sparse/block_mask.cu
  onnxruntime/test/python/transformers/test_sparse_attention.py
Labels: triage:approved, release:1.18.0

#20576 Enable QNN HTP support for Node
  cmake/onnxruntime_common.cmake
  cmake/onnxruntime_nodejs.cmake
  js/common/lib/inference-session.ts
  js/node/CMakeLists.txt
  js/node/script/build.ts
  js/node/src/inference_session_wrap.cc
  js/node/src/session_options_helper.cc
Labels: ep:QNN

#20618 Migrate training storage from SAS to managed identity
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_training_test_data.yml
  tools/ci_build/github/azure-pipelines/templates/orttraining-linux-gpu-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage-steps.yml
Labels: release:1.18.1

#20480 Improve perf for mem efficient grad mgmt
  onnxruntime/core/graph/graph.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_mem_efficient_grad_mgmt.py
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_bw.cc
Labels: training

#20634 [qnn ep] sign onnxruntime.dll/pyd for qnn packages
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
Labels: release:1.18.0

#20625 Update SparseAttention op spec to make it more flexible
  docs/ContribOperators.md
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cpu/bert/attention_common.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_helper.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_impl.cu
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_impl.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v1/sparse_attention_common.h
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention_v2/sparse_attention_v2_common.h
  onnxruntime/core/graph/contrib_ops/bert_defs.cc
  onnxruntime/test/python/transformers/test_sparse_attention.py
Labels: release:1.18.0

#20636 Generalize label input sparsity check and refactor
  docs/ORTModule_Training_Guidelines.md
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.h
  orttraining/orttraining/core/optimizer/compute_optimizer/sceloss_compute_optimization.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/sceloss_compute_optimization.h
  orttraining/orttraining/core/optimizer/graph_transformer_config.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/options.py
  orttraining/orttraining/test/optimizer/compute_optimizer_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#20583 Java CUDA 12 support
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/cuda-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/java-cuda-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/stages/jobs/linux-gpu-tensorrt-packaging-job.yml
  tools/ci_build/github/azure-pipelines/stages/nuget-combine-cuda-stage.yml
  tools/ci_build/github/azure-pipelines/stages/nuget-linux-cuda-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/stages/nuget-win-cuda-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/linux-gpu-tensorrt-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/win-ci.yml
Labels: triage:approved, release:1.18.0

#20650 Allow path pattern to be specified in package_release_tasks.py.
  tools/ci_build/github/apple/package_release_tasks.py
Labels: release:1.18.0

#20237 [js/webgpu] Support GroupQueryAttention
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/group-query-attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/multihead-attentiion.ts
  js/web/lib/wasm/jsep/webgpu/ops/tile.ts
  js/web/test/data/ops/group-query-attention.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/contrib_ops/js/bert/group_query_attention.cc
  onnxruntime/contrib_ops/js/bert/group_query_attention.h
  onnxruntime/contrib_ops/js/js_contrib_kernels.cc
Labels: ep:WebGPU

#20662 Enable Qnn nuget nightly
  cmake/onnxruntime_unittests.cmake
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/publish-nuget.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
Labels: ep:QNN

#20635 [WebNN EP] Remove activation fusion
  onnxruntime/core/providers/webnn/builders/impl/activation_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/clip_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
Labels: ep:WebNN

#20678 Fix bug when Embedding has >2 output
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
Labels: training

#20716 [CUDA] Fix SparseAttention Kernel
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention.cc
  onnxruntime/contrib_ops/cuda/sparse/sparse_attention.h
Labels: release:1.18.1

#20685 Layout transform: Fix-up QDQ units and add constant folding
  onnxruntime/core/optimizer/transpose_optimization/onnx_transpose_optimization.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/test/optimizer/transpose_optimizer_test.cc
  onnxruntime/test/testdata/layout_transform_const_folding.qdq.onnx
  onnxruntime/test/testdata/layout_transform_fix_transpose_without_dq.qdq.onnx
  onnxruntime/test/testdata/make_qdq_layout_transform_const_folding.py
Labels: ep:QNN

#20603 Flash attention recompute
  cmake/onnxruntime_optimizer.cmake
  docs/Memory_Optimizer.md
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/session/inference_session.cc
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/core/optimizer/memory_optimizer/common.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/common.h
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_insight.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_insight.h
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.h
  orttraining/orttraining/core/optimizer/memory_optimizer/recompute_analysis.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/recompute_analysis.h
  orttraining/orttraining/core/optimizer/memory_optimizer/transformer_specific.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_execution_agent.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/options.py
  orttraining/orttraining/test/optimizer/memory_optimizer_test.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
Labels: training

#19267 [js/webgpu] Support shared memory for transpose 2d
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/test/data/ops/transpose.jsonc
Labels: ep:WebGPU

#20769 Add some CPU feature detection for Apple platforms.
  onnxruntime/core/common/cpuid_info.cc
  onnxruntime/core/common/cpuid_info.h
Labels: release:1.18.1

#20791 [js/webgpu] enable fp16 for tile
  onnxruntime/core/providers/js/operators/tile.cc
Labels: ep:WebGPU

#20556 Eliminate explicit Concat operations in Attention
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  js/web/test/data/ops/multihead-attention.jsonc
Labels: ep:WebGPU

#20758 [TensorRT EP] Use latest commit of onnx-tensorrt parser
  cmake/deps.txt
Labels: release:1.18.1

#20412 [TensorRT EP] Weightless API integration
  docs/ContribOperators.md
  include/onnxruntime/core/providers/tensorrt/tensorrt_provider_options.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/providers/tensorrt/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/tensorrt/onnx_ctx_model_helper.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.h
  onnxruntime/core/providers/tensorrt/tensorrt_provider_factory.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/perftest/command_args_parser.cc
Labels: release:1.18.1

#20669 [TensorRT EP] Support engine hardware compatibility
  include/onnxruntime/core/providers/tensorrt/tensorrt_provider_options.h
  onnxruntime/core/providers/tensorrt/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.h
  onnxruntime/core/providers/tensorrt/tensorrt_provider_factory.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/perftest/command_args_parser.cc
Labels: release:1.18.1

#20783 [WebNN EP] Remove legacy MLOperandDescriptor.type
  onnxruntime/core/providers/webnn/builders/helper.cc
Labels: ep:WebNN

#20834 adding publishing stage to publish java CUDA 12 pkg to ado
  java/build.gradle
  java/settings.xml
  tools/ci_build/github/azure-pipelines/nuget-cuda-publishing-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/java-cuda-publishing-stage.yml
Labels: release:1.18.1

#20816 [js/webnn] update API of session options for WebNN
  js/common/lib/inference-session.ts
  js/web/lib/wasm/session-options.ts
Labels: ep:WebNN
