Repository microsoft/onnxruntime, pull requests merged in 2024-12, with the labels that each got.

#22861 Refactor emulator start and stop functions for clarity and efficiency
  tools/python/util/android/android.py
Labels: platform:mobile

#22658 [WebGPU EP] Support GroupQueryAttention
  onnxruntime/contrib_ops/cpu/bert/group_query_attention_helper.h
  onnxruntime/contrib_ops/webgpu/bert/attention.cc
  onnxruntime/contrib_ops/webgpu/bert/attention.h
  onnxruntime/contrib_ops/webgpu/bert/attention_common.h
  onnxruntime/contrib_ops/webgpu/bert/group_query_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/group_query_attention.h
  onnxruntime/contrib_ops/webgpu/bert/multihead_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/multihead_attention.h
  onnxruntime/contrib_ops/webgpu/webgpu_contrib_kernels.cc
Labels: ep:WebGPU

#22964 [WebGPU EP] Flatten implementation
  onnxruntime/core/providers/webgpu/tensor/flatten.cc
  onnxruntime/core/providers/webgpu/tensor/flatten.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#22847 [js/webgpu] Add GatherND
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/gather-nd.ts
  js/web/test/data/ops/gather-nd.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/gather_nd.cc
  onnxruntime/core/providers/js/operators/gather_nd.h
Labels: ep:WebGPU

#22853 Enable QNN HTP spill fill buffer setting to save RAM usage.
  docs/ContribOperators.md
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.h
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/qnn_ctx_gen/command_args_parser.cc
Labels: ep:QNN

#23052 [webgpu] Optimize Expand
  onnxruntime/core/providers/webgpu/tensor/expand.cc
  onnxruntime/test/providers/cpu/tensor/expand_test.cc
Labels: ep:WebGPU

#23058 Implement 2d tiled matmulnbits specialized for prefill
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
Labels: ep:WebGPU

#23070 disable the EP context embed model by default in session option
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/providers/openvino/contexts.h
  onnxruntime/core/providers/openvino/openvino_execution_provider.h
  onnxruntime/core/providers/openvino/openvino_provider_factory.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.h
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/test/onnx/main.cc
Labels: ep:OpenVINO, ep:TensorRT, ep:VitisAI, ep:QNN

#23095 Backward compatible with old QNN version
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
Labels: ep:QNN

#23097 Fix the ctx_gen tool to make sure all generated ctx.onnx have max_size
  onnxruntime/test/qnn_ctx_gen/main.cc
Labels: ep:QNN

#23102 [webgpu] Optimize matmulnbits with M > 1
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
Labels: ep:WebGPU

#23100 [WebNN] Fixes MLTensor caching across different contexts
  js/web/lib/wasm/jsep/webnn/tensor-manager.ts
Labels: ep:WebNN

#23076 [WebNN] Add limit to QDQ ops
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/impl/qdq_op_builder.cc
Labels: ep:WebNN

#23137 gather elements webgpu implementation
  onnxruntime/core/providers/webgpu/tensor/gather_elements.cc
  onnxruntime/core/providers/webgpu/tensor/gather_elements.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/test/providers/cpu/tensor/gather_elements_op_test.cc
Labels: ep:WebGPU

#23144 [WebGPU EP] allows GPUDevice to be released after use
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.h
  onnxruntime/core/providers/webgpu/webgpu_provider_factory.cc
Labels: ep:WebGPU

#23140 [webgpu] Always use tile matmulnbits for block_size = 32
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
Labels: ep:WebGPU

#23139 [webgpu] fix compiling error
  onnxruntime/core/providers/webgpu/buffer_manager.cc
  onnxruntime/core/providers/webgpu/webgpu_context.cc
Labels: ep:WebGPU

#23151 [WebNN] Support SkipSimplifiedLayerNormalization op
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/einsum_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gru_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/lstm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/qdq_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/slice_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
Labels: ep:WebNN
