Repository microsoft/onnxruntime, pull requests merged in 2024-09, with the labels that each got.

#21911 [VitisAI] Fix model path
  onnxruntime/core/providers/vitisai/imp/tensor_proto.cc
  onnxruntime/core/providers/vitisai/imp/tensor_proto.h
  onnxruntime/core/providers/vitisai/include/vaip/vaip_ort_api.h
Labels: ep:VitisAI

#21963 Update vsinpu ep cross-compiling patch
  onnxruntime/core/providers/vsinpu/patches/mlas_crosscompiling.patch
Labels: ep:vsinpu

#21950 [VitisAI] Bug fixes in model_clone
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/providers/vitisai/imp/graph.cc
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: ep:VitisAI

#21336 [VitisAI] add registered custom op for perf test
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/perftest/test_configuration.h
Labels: ep:VitisAI

#21964 [js/webgpu] Optimize transpose
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/test/data/ops/transpose.jsonc
Labels: ep:WebGPU

#21892 [js/webgpu] Optimize grouped conv
  js/web/lib/wasm/jsep/webgpu/ops/conv-grouped.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
  js/web/test/data/ops/conv.jsonc
Labels: ep:WebGPU

#21974 [WebNN EP] Use identity for one input of Max/Min
  onnxruntime/core/providers/webnn/builders/impl/max_min_op_builder.cc
Labels: ep:WebNN

#21839 [VitisAI] Add processing for sessionOptions.AppendExecutionProvider("VitisAI", options)
  onnxruntime/core/session/provider_registration.cc
Labels: ep:VitisAI

#21972 [Quantization] Apply workaround for crash when using histogram-based calibrators
  onnxruntime/python/tools/quantization/calibrate.py
  onnxruntime/test/python/quantization/test_calibration.py
Labels: quantization, ep:QNN

#20405 [WebNN EP] Support GRU operator
  js/web/docs/webnn-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/shared/utils/utils.cc
  onnxruntime/core/providers/shared/utils/utils.h
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/gru_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#22055 [Fuzzer] Add two new ORT libfuzzer (Linux clang support for now)
  cmake/onnxruntime_fuzz_test.cmake
  onnxruntime/test/fuzzing/ort_libfuzzer/OrtLibfuzzer.cpp
  onnxruntime/test/fuzzing/ort_libfuzzer/OrtProtoLibfuzzer.cpp
Labels: build

#22025 [WebNN EP] Use opSupportLimits to dynamically check data type support
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/activation_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/argmax_min_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.h
  onnxruntime/core/providers/webnn/builders/impl/binary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/cast_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/clip_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/concat_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gather_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gru_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/logical_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/max_min_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pad_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/reduction_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/shape_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/slice_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/softmax_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/ternary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/transpose_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/unary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/core/providers/webnn/builders/op_builder.h
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
  onnxruntime/core/providers/webnn/webnn_execution_provider.h
Labels: ep:WebNN

#22097 [WebNN EP] Support QuantizeLinear and DequantizeLinear ops
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/dequantizeLinear_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/qdq_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#22048 Speedup `CumSum` for large arrays
  onnxruntime/core/providers/cpu/math/cumsum.cc
  onnxruntime/test/providers/cpu/math/cumsum_test.cc
Labels: core runtime

#22127 [doc] Update MLTensorUsage
  docs/tutorials/web/ep-webnn.md
Labels: ep:WebNN

#22121 [WebNN EP] Use both MLOperandDescriptor.dimensions and MLOperandDescriptor.shape
  onnxruntime/core/providers/webnn/builders/impl/dropout_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/shape_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
Labels: ep:WebNN

#22160 Fix QNN random crash for UT with multi-thread run
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
Labels: ep:QNN

#22170 Fix an issue that QNN models shared from other session use the session logger from that session
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.h
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
Labels: ep:QNN

#21641 Make argmin/armax support identical data types and add int64 support
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/reduction/reduction_ops.cc
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
Labels: merge at green

#22186 Set enable_htp_fp16_precision default to true
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/providers/qnn/cast_test.cc
  onnxruntime/test/providers/qnn/clip_op_test.cc
  onnxruntime/test/providers/qnn/matmul_test.cpp
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
  onnxruntime/test/providers/qnn/transpose_htp_test.cc
  onnxruntime/test/qnn_ctx_gen/command_args_parser.cc
Labels: ep:QNN

#22029 [VitisAI] support run_options in vitisai EP end
  onnxruntime/core/providers/vitisai/imp/global_api.cc
  onnxruntime/core/providers/vitisai/include/vaip/global_api.h
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.cc
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.h
Labels: ep:VitisAI

#22172 Remove empty (DQ -> Q -> graph output) sequence in TransposeOptimizer
  onnxruntime/core/optimizer/transpose_optimization/onnx_transpose_optimization.cc
  onnxruntime/test/optimizer/transpose_optimizer_test.cc
  onnxruntime/test/testdata/make_transpose_optimizer_empty_dq_q_at_output_model.py
  onnxruntime/test/testdata/transpose_optimizer_empty_dq_q_at_graph_output.onnx
Labels: ep:QNN

#22209 change shared_ptr to unique_ptr to make the ownership clear
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
Labels: ep:QNN

#22222 Update code regarding some QNN bug fixes
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
Labels: ep:QNN

#20293 [WebNN EP] Support LSTM op
  js/web/docs/webnn-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/lstm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#21301 [WebNN EP] Enable IO Bindings with MLTensor
  include/onnxruntime/core/framework/allocator.h
  js/common/lib/tensor-factory-impl.ts
  js/common/lib/tensor-factory.ts
  js/common/lib/tensor-impl.ts
  js/common/lib/tensor-utils-impl.ts
  js/common/lib/tensor.ts
  js/web/lib/wasm/jsep/backend-webnn.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webnn/tensor-manager.ts
  js/web/lib/wasm/jsep/webnn/webnn.d.ts
  js/web/lib/wasm/proxy-messages.ts
  js/web/lib/wasm/session-handler-inference.ts
  js/web/lib/wasm/wasm-common.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/lib/wasm/wasm-types.ts
  js/web/script/test-runner-cli-args.ts
  js/web/script/test-runner-cli.ts
  js/web/test/test-runner.ts
  js/web/test/test-types.ts
  onnxruntime/core/framework/allocator.cc
  onnxruntime/core/providers/webnn/allocator.cc
  onnxruntime/core/providers/webnn/allocator.h
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/model.cc
  onnxruntime/core/providers/webnn/builders/model.h
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/data_transfer.cc
  onnxruntime/core/providers/webnn/data_transfer.h
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
  onnxruntime/core/providers/webnn/webnn_execution_provider.h
  onnxruntime/wasm/api.cc
  onnxruntime/wasm/pre-jsep.js
Labels: ep:WebNN
