Repository microsoft/onnxruntime, pull requests merged in 2024-06, with the labels that each got.

#20879 [DML EP] Improve memory usage and fix memory leak in graph capture
  onnxruntime/core/providers/dml/DmlExecutionProvider/inc/DmlExecutionProvider.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/BucketizedBufferAllocator.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlGraphFusionHelper.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlGraphFusionHelper.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlReusedCommandListState.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlRuntimeFusedGraphKernel.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionContext.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/FusedGraphKernel.cpp
  onnxruntime/core/providers/dml/dml_provider_factory.cc
  onnxruntime/core/providers/dml/dml_session_options_config_keys.h
Labels: release:1.18.1

#20862 [WebNN EP] TFLite backend only supports Elu with default alpha
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/impl/activation_op_builder.cc
Labels: ep:WebNN

#20865 [WebNN EP] Enable ArgMax and ArgMin for CPU backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/argmax_min_op_builder.cc
Labels: ep:WebNN

#20921 fix integer overflow in Attention
  onnxruntime/contrib_ops/cpu/bert/attention_cpu_base.h
  onnxruntime/contrib_ops/cpu/bert/gqa_attention_base.h
  onnxruntime/test/python/transformers/test_gqa_cpu.py
Labels: release:1.18.1

#20935 [Quant tool] Improve performance of int4 weight quantization
  onnxruntime/python/tools/quantization/base_quantizer.py
  onnxruntime/python/tools/quantization/quant_utils.py
  onnxruntime/test/python/quantization/test_quant_util.py
Labels: quantization, python, ep:QNN

#20628 [QNN EP] Update to QNN SDK 2.22
  onnxruntime/test/onnx/TestCase.cc
  onnxruntime/test/providers/cpu/math/matmul_test.cc
  onnxruntime/test/providers/qnn/batch_norm_htp_test.cc
  onnxruntime/test/providers/qnn/conv_test.cc
  onnxruntime/test/providers/qnn/gemm_op_test.cc
  onnxruntime/test/providers/qnn/layer_norm_test.cc
  onnxruntime/test/providers/qnn/lrn_op_test.cc
  onnxruntime/test/providers/qnn/matmul_test.cpp
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN, release:1.18.1

#20939 webgpu quickgelu
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
  js/web/test/data/ops/quick-gelu.jsonc
  onnxruntime/contrib_ops/js/js_contrib_kernels.cc
  onnxruntime/contrib_ops/js/quick_gelu.cc
  onnxruntime/contrib_ops/js/quick_gelu.h
Labels: ep:WebGPU

#20863 [WebNN EP] TFLite backend only supports limit ranges for Clip
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/impl/clip_op_builder.cc
Labels: ep:WebNN

#20900 [WebNN EP] Remove some constraints for CPU backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/impl/concat_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/split_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
Labels: ep:WebNN

#20930 Support loading from model with multiple QNN context binary
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.h
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/batch_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/cast_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/reduce_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/split_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
  onnxruntime/test/testdata/qnn_ctx/add_add_1_quant.onnx_ctx.onnx_QNNExecutionProvider_QNN_13756297062807309455_1_0.bin
  onnxruntime/test/testdata/qnn_ctx/add_output_quant.onnx_ctx.onnx_QNNExecutionProvider_QNN_14402433416346871126_1_0.bin
  onnxruntime/test/testdata/qnn_ctx/qnn_multi_ctx_embed.onnx
  onnxruntime/test/testdata/qnn_ctx/qnn_multi_ctx_external.onnx
Labels: ep:QNN

#20962 Update abseil-cpp.cmake: add version check
  cmake/external/abseil-cpp.cmake
Labels: build

#20956 Enable Hardsigmoid for QNN EP using SDK support direct support
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/hard_sigmoid_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
Labels: ep:QNN

#20827 [WebNN EP] Support latest WebNN softmax op
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/impl/softmax_op_builder.cc
Labels: ep:WebNN

#20925 Updating cudnn from 8 to 9 on exsiting cuda 12 docker image
  setup.py
  tools/ci_build/github/azure-pipelines/linux-gpu-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-gpu-tensorrt-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/nuget/templates/test_linux.yml
  tools/ci_build/github/azure-pipelines/stages/java-cuda-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/stages/jobs/py-linux-cuda-package-test-job.yml
  tools/ci_build/github/azure-pipelines/stages/py-cuda-packaging-stage.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2_28_training_cuda12_2
  tools/ci_build/github/linux/docker/Dockerfile.package_ubuntu_2004_gpu
  tools/ci_build/github/linux/docker/inference/x86_64/default/cuda12/Dockerfile
Labels: ep:CUDA, release:1.18.1

#20940 [CUDA] upgrade cutlass to 3.5.0
  cgmanifests/generated/cgmanifest.json
  cmake/CMakeLists.txt
  cmake/deps.txt
  cmake/external/cutlass.cmake
  cmake/onnxruntime_providers_cuda.cmake
  cmake/patches/cutlass/cutlass_3.5.0.patch
  onnxruntime/contrib_ops/cuda/bert/attention.cc
  onnxruntime/contrib_ops/cuda/bert/cutlass_fmha/fmha_launch_template.h
  onnxruntime/contrib_ops/cuda/bert/cutlass_fmha/memory_efficient_attention.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/flash_fwd_kernel.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/kernel_traits.h
  onnxruntime/contrib_ops/cuda/bert/flash_attention/utils.h
  onnxruntime/contrib_ops/cuda/bert/group_query_attention.cc
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.cc
  onnxruntime/contrib_ops/cuda/bert/packed_attention.cc
  onnxruntime/contrib_ops/cuda/bert/packed_multihead_attention.cc
  onnxruntime/core/mickey/cutlass_ext/q4gemm/threadblock/quantb_mma_multistage.h
  onnxruntime/core/providers/tensorrt/nv_includes.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_custom_ops.cc
  onnxruntime/test/unittest_main/test_main.cc
  tools/ci_build/github/azure-pipelines/templates/download-deps.yml
Labels: release:1.18.1

#21005 Define _DISABLE_CONSTEXPR_MUTEX_CONSTRUCTOR
  tools/ci_build/build.py
Labels: release:1.18.1

#20968 [VitisAI] Fix duplicate onnxruntime_vitisai_ep.dll loaded
  onnxruntime/core/providers/vitisai/imp/global_api.cc
Labels: ep:VitisAI

#20804 Release backward inputs per static graph ref count
  include/onnxruntime/core/framework/kernel_def_builder.h
  onnxruntime/core/framework/allocation_planner.cc
  onnxruntime/core/framework/partial_graph_execution_state.cc
  onnxruntime/core/framework/partial_graph_execution_state.h
  onnxruntime/core/framework/sequential_executor.cc
  onnxruntime/core/framework/sequential_executor.h
  onnxruntime/core/framework/utils.cc
  onnxruntime/core/framework/utils.h
  onnxruntime/core/optimizer/gemm_sum_fusion.cc
  onnxruntime/core/optimizer/matmul_add_fusion.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/test/framework/allocation_planner_test.cc
  orttraining/orttraining/core/agent/training_agent.cc
  orttraining/orttraining/core/agent/training_agent.h
  orttraining/orttraining/python/orttraining_pybind_state.cc
Labels: training

#21038 Fix Reduced Op build with empty FP16 kernel function tables
  cmake/onnxruntime_unittests.cmake
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
Labels: ep:QNN

#20912 [WebNN EP] Update data type constraints for Reduction ops
  onnxruntime/core/providers/webnn/builders/impl/reduction_op_builder.cc
Labels: ep:WebNN

#21016 [QNN EP] Add quantization axis checks for Conv/ConvTranspose/Q/DQ ops
  onnxruntime/core/framework/node_unit.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/test/providers/qnn/conv_test.cc
Labels: ep:QNN

#21065 [js/webgpu] Prefer adapter.info to adapter.requestAdapterInfo
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/package-lock.json
  js/web/package.json
Labels: ep:WebGPU

#21088 Fix onebranch exception in code signing
  .pipelines/OneBranch.Nuget-WindowsAI-Pipeline.Official.yml
Labels: release:1.18.1

#20847 [WebNN EP] Enable several ops for WebNN CPU backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
Labels: ep:WebNN

#20864 [WebNN EP] Enable Cast op for WebNN CPU backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/cast_op_builder.cc
Labels: ep:WebNN

#21008 [QNN EP] Update QNN SDK to 2.23.0
  onnxruntime/core/providers/qnn/builder/opbuilder/argmax_min_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/topk.cc
  onnxruntime/test/providers/qnn/argmaxmin_op_test.cc
  onnxruntime/test/providers/qnn/cast_test.cc
  onnxruntime/test/providers/qnn/topk_op_test.cc
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#21101 Add support for INT64 types in TensorRT constant layer calibration
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
Labels: ep:TensorRT, triage:approved, release:1.18.1, 1.18.1 essential

#20878 [WebNN EP] Update Prelu restriction for CPU backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/impl/binary_op_builder.cc
Labels: ep:WebNN

#21114 DML EP EinSum make more generic to avoid EP fallback
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlCommon.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlCommon.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorEinSum.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/TensorDesc.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/TensorDesc.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.h
  onnxruntime/test/providers/cpu/math/einsum_test.cc
Labels: ep:DML

#21144 Add UsePython Task in Nuget Publish workflow
  tools/ci_build/github/azure-pipelines/publish-nuget.yml
Labels: 1.18.1 essential

#21134 [WebNN EP] Support 4 more ops for TFLite backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
Labels: ep:WebNN

#21151 [WebNN EP] Support more Normalization ops for TFLite backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
Labels: ep:WebNN

#21135 [WebNN EP] Support rest Reduction ops for TFLite backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
Labels: ep:WebNN

#21163 [WebNN EP] Fixed bug in Expand implementation
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/expand_op_builder.cc
Labels: ep:WebNN

#21121 support for layernorm in webgpu pre opset-17
  js/web/docs/webgpu-operators.md
  onnxruntime/contrib_ops/js/js_contrib_kernels.cc
  onnxruntime/contrib_ops/js/layer_norm.cc
Labels: ep:WebGPU

#21085 Add compatibility for NumPy 2.0
  cmake/CMakeLists.txt
  cmake/onnxruntime_python.cmake
  onnxruntime/test/onnx/gen_test_models.py
  onnxruntime/test/python/quantization/test_quant_util.py
  onnxruntime/test/python/quantization/test_quantizeblockwise_bnb4.py
  requirements.txt
  tools/ci_build/github/azure-pipelines/templates/py-packaging-selectable-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-gpu.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/linux/docker/inference/aarch64/python/cpu/scripts/requirements.txt
  tools/ci_build/github/linux/docker/inference/x86_64/python/cpu/scripts/requirements.txt
  tools/ci_build/github/linux/docker/inference/x86_64/python/cuda/scripts/requirements.txt
  tools/ci_build/github/linux/docker/scripts/lort/requirements.txt
  tools/ci_build/github/linux/docker/scripts/manylinux/requirements.txt
  tools/ci_build/github/linux/docker/scripts/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/requirements_rocm/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage1/torch_eager_cpu/requirements.txt
  tools/ci_build/github/linux/docker/scripts/training/ortmodule/stage2/requirements.txt
  tools/ci_build/github/linux/test_custom_ops_pytorch_export.sh
  tools/ci_build/github/windows/eager/requirements.txt
  tools/ci_build/github/windows/helpers.ps1
Labels: python

#21142 Add QNN UTs for QNN Pad Op with FP16 data on HTP backend
  onnxruntime/core/providers/qnn/builder/opbuilder/pad_op_builder.cc
  onnxruntime/test/providers/qnn/pad_op_test.cpp
  onnxruntime/test/providers/qnn/reduce_op_test.cc
Labels: ep:QNN

#21166 OVEP options to disable CPU fallback at compile time
  cmake/CMakeLists.txt
  onnxruntime/core/framework/config_options.cc
  onnxruntime/core/graph/graph_proto_serializer.cc
  onnxruntime/core/providers/openvino/backend_manager.cc
  onnxruntime/core/providers/openvino/backends/basic_backend.cc
  onnxruntime/core/providers/openvino/contexts.h
  onnxruntime/core/providers/openvino/openvino_execution_provider.cc
  onnxruntime/core/providers/openvino/openvino_execution_provider.h
  onnxruntime/core/providers/openvino/openvino_provider_factory.cc
  onnxruntime/core/providers/openvino/openvino_provider_factory_creator.h
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/core/session/provider_registration.cc
  onnxruntime/python/onnxruntime_pybind_schema.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/util/default_providers.cc
  tools/ci_build/build.py
Labels: ep:OpenVINO
