Repository microsoft/onnxruntime, pull requests merged in 2024-10, with the labels that each got.

#22231 [js/webgpu] Remove the limitation on axis in softmax
  js/web/lib/wasm/jsep/webgpu/ops/softmax.ts
  js/web/test/data/ops/softmax.jsonc
Labels: ep:WebGPU

#22214 [js/webgpu] Manage model download with a specific unittest option
  js/web/script/test-runner-cli-args.ts
  js/web/script/test-runner-cli.ts
  js/web/test/test-main.ts
  js/web/test/test-runner.ts
  js/web/test/test-types.ts
Labels: ep:WebGPU

#22277 Fixes a crash on macOS 15 when using CoreML.
  onnxruntime/core/providers/coreml/model/model.mm
Labels: ep:CoreML

#21545 ThreadPool: Spend less time busy waiting.
  include/onnxruntime/core/platform/EigenNonBlockingThreadPool.h
  include/onnxruntime/core/platform/threadpool.h
  onnxruntime/core/common/threadpool.cc
Labels: core runtime

#22358 Fix the QNN nuget package issue
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
Labels: ep:QNN

#22115 Create suggestions to autofix files
  .github/workflows/lint.yml
Labels: merge on green

#22420 [js/webgpu] Optimize MultiHeadAttention|Transpose
  js/web/lib/wasm/jsep/webgpu/ops/multihead-attention.ts
Labels: ep:WebGPU

#22360 [js/webgpu] Optimize matmulnbits
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmulnbits.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
Labels: ep:WebGPU

#22414 Fix training artifacts for 2GB+ models and `MSELoss`
  orttraining/orttraining/python/training/onnxblock/blocks.py
  orttraining/orttraining/test/python/orttraining_test_ort_apis_onnxblock.py
Labels: training

#22417 [DML EP] Support partial rotary embedding
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorRotaryEmbedding.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/Attributes.h
  onnxruntime/test/contrib_ops/rotary_embedding_op_test.cc
Labels: release:1.20.0

#22436 [QNN EP] Add provider option to offload graph I/O quantization/dequantization to the CPU EP
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.h
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
  onnxruntime/test/qnn_ctx_gen/command_args_parser.cc
Labels: ep:QNN

#22471 Update QNN default version to 2.27 in CI pipeline
  onnxruntime/core/providers/qnn/builder/opbuilder/layer_norm_op_builder.cc
  onnxruntime/test/providers/qnn/layer_norm_test.cc
  onnxruntime/test/providers/qnn/matmul_test.cpp
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#22464 [WebNN EP] Remove the numThreads option
  js/web/lib/wasm/jsep/webnn/webnn.d.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/test/test-runner.ts
Labels: ep:WebNN

#22479 fix LayerNorm f16 CPU implementation
  onnxruntime/core/providers/cpu/nn/layer_norm_impl.cc
  onnxruntime/core/providers/cpu/nn/layer_norm_impl.h
  onnxruntime/test/contrib_ops/layer_norm_op_test.cc
  onnxruntime/test/onnx/microbenchmark/layer_normalization.cc
Labels: release:1.20.0

#22341 Update the python wrapper script to support weight sharing case
  onnxruntime/python/tools/qnn/gen_qnn_ctx_onnx_model.py
Labels: ep:QNN

#22497 [WebNN EP] Use boolean flags instead of MLTensorUsage
  js/web/lib/wasm/jsep/webnn/tensor-manager.ts
  js/web/lib/wasm/jsep/webnn/webnn.d.ts
  js/web/test/test-runner.ts
Labels: ep:WebNN

#22384 [WebNN EP] Fixed a minor bug in ConvTranspose
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
Labels: ep:WebNN

#20946 [JS/WebGPU] GroupQueryAttention rewrite
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/group-query-attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/multihead-attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/split.ts
  js/web/test/data/ops/group-query-attention.jsonc
  onnxruntime/contrib_ops/js/bert/group_query_attention.h
Labels: ep:WebGPU

#22490 Clears GPU Cache when there are no more active sessions
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/gpu-data-manager.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/lib/wasm/wasm-types.ts
  onnxruntime/wasm/pre-jsep.js
Labels: ep:WebGPU

#22344 [WebNN EP] Allow 0D input/output for Reshape and Expand
  onnxruntime/core/providers/webnn/builders/impl/expand_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/reshape_op_builder.cc
Labels: ep:WebNN

#21836 [JS/WebGPU] Support WASM64
  cmake/CMakeLists.txt
  cmake/adjust_global_compile_flags.cmake
  cmake/onnxruntime_webassembly.cmake
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/util.ts
  js/web/lib/wasm/jsep/webgpu/gpu-data-manager.ts
  js/web/lib/wasm/jsep/webgpu/ops/binary-op.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/session-options.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/lib/wasm/wasm-types.ts
  js/web/lib/wasm/wasm-utils.ts
  onnxruntime/core/framework/external_data_loader.cc
  onnxruntime/core/graph/model.cc
  onnxruntime/core/providers/js/data_transfer.cc
  onnxruntime/core/providers/js/js_export.cc
  onnxruntime/core/providers/js/js_kernel.h
  onnxruntime/core/providers/js/operators/conv.h
  onnxruntime/core/providers/js/operators/conv_transpose.h
  onnxruntime/core/providers/js/operators/gather.cc
  onnxruntime/core/providers/js/operators/pad.h
  onnxruntime/core/providers/js/operators/pool.h
  onnxruntime/core/providers/js/operators/reduce.h
  onnxruntime/core/providers/js/operators/resize.h
  onnxruntime/core/providers/js/operators/slice.h
  onnxruntime/core/providers/js/operators/split.h
  onnxruntime/core/providers/js/operators/transpose.h
  onnxruntime/wasm/api.cc
  onnxruntime/wasm/api.h
  onnxruntime/wasm/js_post_js.js
  onnxruntime/wasm/js_post_js_64.js
  tools/ci_build/build.py
Labels: ep:WebGPU

#22547 DML EP Register Opset 21
  docs/OperatorKernels.md
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorCast.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorPadding.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorRegistration.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorVersions.h
Labels: ep:DML

#22556 [WebNN] Fallback the node when its output doesn't have shape info
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.h
  onnxruntime/core/providers/webnn/builders/model_builder.cc
Labels: ep:WebNN

#22575 [WebNN] Support int4 and uint4 data types
  js/common/lib/tensor-impl.ts
  js/common/lib/tensor.ts
  js/web/lib/wasm/jsep/backend-webnn.ts
  js/web/lib/wasm/jsep/webnn/webnn.d.ts
  js/web/lib/wasm/wasm-common.ts
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/cast_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
Labels: ep:WebNN

#22181 [WebNN EP] Support GatherND and ScatterND op
  js/web/docs/webnn-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/gatherND_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/scatterND_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#22637 [js/webgpu] Optimize InstanceNorm in some shapes
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
Labels: ep:WebGPU

#22573 [WebNN EP] Check if the tensor shape has 0 dimension
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/impl/expand_op_builder.cc
Labels: ep:WebNN

#22534 [WebNN] Add ScatterElements and GatherElements
  js/web/docs/webnn-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/gatherElements_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/scatterElements_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#22598 [WebNN] Support And, Or and Xor ops
  js/web/docs/webnn-operators.md
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/logical_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
Labels: ep:WebNN

#22647 add instruction to enable new Ops for QNN EP
  docs/execution-providers/QNN-ExecutionProvider.md
  images/quantization_mixed_precision_1.png
  images/quantization_mixed_precision_2.png
Labels: documentation, ep:QNN
