Repository microsoft/onnxruntime, pull requests merged in 2024-08, with the labels that each got.

#21582 [QNN EP] Improve INT4 accuracy
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/test/providers/qnn/conv_test.cc
  onnxruntime/test/providers/qnn/matmul_test.cpp
Labels: ep:QNN, release:1.19.0

#21551 Add CUDA custom op header files to Linux tarball
  cmake/onnxruntime.cmake
  cmake/onnxruntime_providers_cpu.cmake
  cmake/onnxruntime_providers_cuda.cmake
  cmake/onnxruntime_providers_rocm.cmake
Labels: merge at green

#21514 [WebNN EP] Create MLGraphBuilder for every model builder
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
  onnxruntime/core/providers/webnn/webnn_execution_provider.h
Labels: ep:WebNN

#21537 [QNN EP] Support Conv + Clip/Relu fusion
  onnxruntime/core/framework/node_unit.cc
  onnxruntime/core/framework/node_unit.h
  onnxruntime/core/providers/qnn/builder/qnn_fusions.cc
  onnxruntime/core/providers/qnn/builder/qnn_fusions.h
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/conv_activation_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/conv_activation_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/dq_q_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/dq_q_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/hardsigmoid_mul_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/hardsigmoid_mul_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/utils.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/providers/qnn/conv_test.cc
Labels: ep:QNN

#21586 [WebNN EP] Support Dropout op
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/dropout_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#21625 Fix typos so to call correct vnni functions under vnni condition
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512_int8_blklen16.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512_int8_blklen32.h
Labels: release:1.19.0

#21626 Fix usability checker CoreML config file path.
  tools/python/util/mobile_helpers/usability_checker.py
Labels: release:1.19.0

#21662 Unblock migraphx and linux GPU training ci pipelines
  onnxruntime/core/providers/migraphx/migraphx_execution_provider.cc
  onnxruntime/test/onnx/TestCase.cc
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_onnx_ops.py
  tools/ci_build/github/azure-pipelines/orttraining-linux-gpu-ortmodule-distributed-test-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/orttraining-linux-gpu-test-ci-pipeline.yml
Labels: release:1.19.0

#21663 Use zipped xcframework in nuget package
  csharp/src/Microsoft.ML.OnnxRuntime/targets/net8.0-ios/targets.xml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/windows/extract_nuget_files.ps1
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.19.0

#21655 [CUDA] Fix MHA mask
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.cc
  onnxruntime/test/python/transformers/benchmark_mha.py
  onnxruntime/test/python/transformers/test_mha.py
Labels: release:1.19.0

#21640 Fuse Pad even if Cast is present in-between
  onnxruntime/core/optimizer/pad_fusion.cc
Labels: release:1.19.0, release:1.18.2

#21347 Fix wrong per-tensor quantized weight type for matmul
  onnxruntime/python/tools/quantization/operators/matmul.py
Labels: quantization

#21693 When quantize 4bit mamtul, force upgrade onnx domain opset to 21
  onnxruntime/python/tools/quantization/matmul_4bits_quantizer.py
  onnxruntime/test/python/quantization/test_op_matmul_4bits.py
Labels: release:1.19.0

#21675 fix handling of multiple QuantizeLinear nodes
  onnxruntime/core/providers/openvino/qdq_transformations/qdq_stripping.cc
Labels: release:1.19.0

#21642 [JS/WebGPU] Add Dequantizelinear operator
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/quantize-linear.ts
  js/web/test/data/ops/dequantizelinear.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/quantize_linear.cc
  onnxruntime/core/providers/js/operators/quantize_linear.h
Labels: ep:WebGPU

#21656 [QNN Quant tool] Fix validation of per-channel overrides for models with external data
  onnxruntime/python/tools/quantization/qdq_quantizer.py
  onnxruntime/python/tools/quantization/tensor_quant_overrides.py
  onnxruntime/test/python/quantization/test_tensor_quant_overrides_option.py
Labels: ep:QNN

#21643 [TensorRT EP] No workspace size limit to TRT memory pool
  include/onnxruntime/core/providers/tensorrt/tensorrt_provider_options.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.h
Labels: ep:TensorRT, release:1.19.0

#21608 Security Fuzz Test Fixes
  onnxruntime/core/framework/tensorprotoutils.cc
  onnxruntime/core/optimizer/unsqueeze_elimination.cc
  onnxruntime/core/providers/cpu/quantization/qlinearconv.cc
Labels: release:1.19.0

#21714 Replace usage of jcenter in React Native build.gradle files
  js/react_native/android/build.gradle
  js/react_native/e2e/android/build.gradle
Labels: release:1.19.0

#21736 [doc] Add page for using WebNN EP
  docs/tutorials/web/classify-images-nextjs-github-template.md
  docs/tutorials/web/deploy.md
  docs/tutorials/web/env-flags-and-session-options.md
  docs/tutorials/web/ep-webnn.md
  docs/tutorials/web/excel-addin-bert-js.md
  docs/tutorials/web/large-models.md
  docs/tutorials/web/performance-diagnosis.md
  docs/tutorials/web/trouble-shooting.md
Labels: ep:WebNN

#21725 add Gelu opset-20 to webgpu
  js/web/docs/webgpu-operators.md
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/unary.cc
Labels: ep:WebGPU

#21745 Move Python Training CUDA 12.2 pipeline to another pool.
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cuda12.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-training-cuda-stage-steps.yml
Labels: release:1.19.0

#21704 [WebNN EP] Remove workaround for scalar
  onnxruntime/core/providers/webnn/builders/model.cc
  onnxruntime/core/providers/webnn/builders/model.h
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
Labels: ep:WebNN

#21585 [js/webgpu] fix conv1d error
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
Labels: ep:WebGPU

#21789 Upgrade pytorch_lightning to 2.3.3 to fix orttraining_amd_gpu_ci_pipeline
  tools/ci_build/github/pai/rocm-ci-pipeline-env.Dockerfile
Labels: merge at green

#21782 [JS/WebGPU] Avoid producing presentKey/presentValue outputs if pastKey/pastValue …
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/multihead-attention.ts
  js/web/test/data/ops/multihead-attention.jsonc
Labels: ep:WebGPU

#21795 [QNN EP] Fix compile error for QNN EP on Windows x64 due to missing /bigobj flag
  cmake/onnxruntime_unittests.cmake
Labels: ep:QNN

#21764 [QNN EP] Apply workaround for Conv validation bug when bias input is implicit
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/layer_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/test/providers/qnn/conv_test.cc
Labels: ep:QNN

#19388 [js/webgpu] Optimize conv1d by conv2d
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv2d_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-grouped.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmul.ts
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/test/data/ops/conv1d.jsonc
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#21747 [js/webgpu] optimize MatmulNBits
  js/web/lib/wasm/jsep/webgpu/ops/matmulnbits.ts
Labels: ep:WebGPU

#21734 [JS/WebGPU] Add GatherBlockQuantized op support
  js/common/lib/tensor-impl.ts
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/gather-block-quantized.ts
  js/web/lib/wasm/jsep/webgpu/ops/multihead-attention.ts
  js/web/lib/wasm/wasm-common.ts
  js/web/script/generate-webgpu-operator-md.ts
  js/web/test/data/ops/dequantize-linear-int4.jsonc
  js/web/test/data/ops/gather-block-quantized.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/contrib_ops/js/js_contrib_kernels.cc
  onnxruntime/contrib_ops/js/quantization/gather_block_quantized.cc
  onnxruntime/contrib_ops/js/quantization/gather_block_quantized.h
Labels: ep:WebGPU

#21688 [VitisAI] add OpSchema, VitisAI use IKernelLookup to check supported ops, VitisAI def_builder adds TypeConstraint related processing
  onnxruntime/core/providers/shared_library/provider_api.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/providers/vitisai/imp/capability.cc
  onnxruntime/core/providers/vitisai/imp/global_api.cc
  onnxruntime/core/providers/vitisai/imp/register_xir_ops.cc
  onnxruntime/core/providers/vitisai/include/vaip/capability.h
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.cc
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.h
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: ep:VitisAI

#21570 [WebNN EP] Remove NHWC preferred layout
  onnxruntime/core/providers/webnn/builders/impl/builder_utils.cc
  onnxruntime/core/providers/webnn/builders/impl/builder_utils.h
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pool_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
  onnxruntime/core/providers/webnn/webnn_execution_provider.h
Labels: ep:WebNN

#21584 [js/webgpu] support float16 for Clip
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/tensor-view.ts
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
  js/web/test/data/ops/clip.jsonc
Labels: ep:WebGPU

#21903 remove duplicate function definition
  js/web/lib/wasm/jsep/init.ts
Labels: ep:WebGPU

#21234 [js/webgpu] Enable conv+clip fuse on mobilenetv2-12-f16
  onnxruntime/core/optimizer/conv_activation_fusion.cc
Labels: ep:WebGPU

#21331 [VitisAI] Remove shape infer from bridge ort
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/vitisai/imp/register_xir_ops.cc
  onnxruntime/core/providers/vitisai/include/vaip/vaip_ort_api.h
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: ep:VitisAI
