Repository microsoft/onnxruntime, pull requests merged in 2024-07, with the labels that each got.

#19007 ORTModule GraphTransitionManager
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_graph_transition_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_io.py
  orttraining/orttraining/python/training/ortmodule/_logger.py
  orttraining/orttraining/python/training/ortmodule/_mem_efficient_grad_mgmt.py
  orttraining/orttraining/python/training/ortmodule/_onnx_models.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/_utils.py
  orttraining/orttraining/python/training/ortmodule/_zero_stage3_compatibility.py
  orttraining/orttraining/python/training/ortmodule/ortmodule.py
  orttraining/orttraining/python/training/utils/torch_io_helper.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_autograd.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_fallback.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_onnx_ops.py
Labels: training

#21216 Use cuda memset async
  orttraining/orttraining/training_ops/cuda/tensor/pad_and_unflatten.cc
Labels: training

#21125 Java API Docs for GenerateAPI
  docs/genai/api/java.md
  docs/genai/howto/build-from-source.md
Labels: documentation

#21237 [WebNN EP] Remove constraint for conv ops on CPU backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
Labels: ep:WebNN

#20600 [js/webnn] Enable user-supplied MLContext
  js/web/lib/wasm/jsep/webnn/webnn.d.ts
  js/web/lib/wasm/session-options.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/lib/wasm/wasm-types.ts
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
  onnxruntime/core/providers/webnn/webnn_execution_provider.h
  onnxruntime/core/providers/webnn/webnn_provider_factory.cc
  onnxruntime/core/session/provider_registration.cc
Labels: ep:WebNN

#21200 [WebNN EP] Release WebNN MLGraphBuilder after Compile to free memory
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
  onnxruntime/core/providers/webnn/webnn_execution_provider.h
Labels: ep:WebNN

#21175 [build] allow MPI on Unix when NCCL is disabled
  cmake/CMakeLists.txt
Labels: training, merge at green

#21263 [Fix] InterOpNumThreads Session Option for ONNX ReactNative Package
  js/react_native/android/src/main/java/ai/onnxruntime/reactnative/OnnxruntimeModule.java
Labels: platform:mobile

#21171 [QNN EP] Initial INT4 support
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_quant_params_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_quant_params_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/test/optimizer/graph_transform_test_builder.h
  onnxruntime/test/providers/qnn/conv_test.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
  onnxruntime/test/testdata/conv.int4_weights.qdq.onnx
  onnxruntime/test/testdata/make_conv_int4_weights_model.py
Labels: ep:QNN

#21312 [js/webgpu] Remove unnecessary initialization of var
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
Labels: ep:WebGPU

#21385 [WebNN EP] Add outputDataType option for the ArgMax/ArgMin ops
  onnxruntime/core/providers/webnn/builders/impl/argmax_min_op_builder.cc
Labels: ep:WebNN

#21292 [WebNN EP] ConvTranspose should calculate the pads or output shape
  onnxruntime/core/providers/webnn/builders/impl/builder_utils.cc
  onnxruntime/core/providers/webnn/builders/impl/builder_utils.h
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
Labels: ep:WebNN

#21458 [QNN EP] Improve QNN error reporting using the error message
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
Labels: ep:QNN

#21463 [QNN EP] Update to QNN SDK 2.24.0
  onnxruntime/core/providers/qnn/builder/opbuilder/layer_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_quant_params_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_quant_params_wrapper.h
  onnxruntime/test/providers/qnn/conv_test.cc
  onnxruntime/test/providers/qnn/layer_norm_test.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#21313 Extend QDQPropagation transformer to handle multiple consumers
  onnxruntime/core/optimizer/qdq_transformer/qdq_propagation.cc
  onnxruntime/test/optimizer/graph_transform_test_builder.cc
  onnxruntime/test/optimizer/qdq_transformer_test.cc
Labels: quantization, ep:QNN

#21477 Ignore ruff rule `N813`
  onnxruntime/test/python/onnxruntime_test_python_backend_mlops.py
  pyproject.toml
Labels: merge at green

#21474 [VitisAI] use binary mode for context ep
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.cc
Labels: ep:VitisAI

#21469 Qnn batchnorm support input with rank 2
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_selectors.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/batch_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/expand_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.h
  onnxruntime/python/tools/quantization/operators/norm.py
  onnxruntime/python/tools/quantization/registry.py
  onnxruntime/test/providers/qnn/batch_norm_htp_test.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
Labels: ep:QNN

#21491 Allow cpplint to always be green
  .github/workflows/lint.yml
Labels: merge at green

#21452 [WebNN EP] Update argMax/argMin to adapt to latest spec
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/impl/argmax_min_op_builder.cc
Labels: ep:WebNN

#21489 Update text formatting in generate_cgmanifest.py
  cgmanifests/generate_cgmanifest.py
Labels: merge at green

#21236 Add QNN EP option context_node_name_prefix to set EPContext node name prefix
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
Labels: ep:QNN

#21506 [VitisAI] support vaip create ep context nodes & bug fix
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/providers/vitisai/imp/global_api.cc
  onnxruntime/core/providers/vitisai/include/vaip/custom_op.h
  onnxruntime/core/providers/vitisai/include/vaip/global_api.h
  onnxruntime/core/providers/vitisai/include/vaip/vaip_ort_api.h
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.cc
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: ep:VitisAI

#21466 [js/webgpu] Add activation for conv3d naive
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv3d_naive_webgpu.ts
  js/web/test/data/ops/fused-conv3dncdhw.jsonc
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#21516 [WebNN EP] Add labels for all WebNN operators
  onnxruntime/core/providers/webnn/builders/impl/activation_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/argmax_min_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/binary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/cast_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/clip_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/concat_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/dequantizeLinear_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/dynamicQuantizeLinear_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/expand_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/flatten_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gather_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/logical_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/max_min_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pad_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pool_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/reduction_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/reshape_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/shape_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/slice_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/softmax_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/split_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/squeeze_unsqueeze_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/ternary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/transpose_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/triangular_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/unary_op_builder.cc
Labels: ep:WebNN

#21387 Add support tensor element type for register custom op shape infer function
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/session/custom_ops.cc
Labels: ep:VitisAI

#21540 [js/webgpu] Add activation Tanh
  js/web/lib/wasm/jsep/webgpu/ops/fuse-utils.ts
  js/web/test/data/ops/fused-conv.jsonc
Labels: ep:WebGPU

#21291 [WebNN EP] Support ConvTranspose for TFLite backend
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
Labels: ep:WebNN

#21569 [WebNN EP] Fixed bug in ConvTranspose
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
Labels: ep:WebNN

#21581 Fix quant_format argument for 4bit quantizer
  onnxruntime/python/tools/quantization/matmul_4bits_quantizer.py
Labels: release:1.19.0
