Repository microsoft/onnxruntime, pull requests merged in 2024-03, with the labels that each got.

#19713 [WebNN EP] Add contraints for MatMul
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
Labels: ep:WebNN

#19715 Fix seed for recomputed Dropout
  docs/Memory_Optimizer.md
  docs/ORTModule_Training_Guidelines.md
  onnxruntime/core/common/string_utils.h
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_insight.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.h
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/python/training/ortmodule/options.py
Labels: training

#19757 Adapt memory optimizer to fit PHI2
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_insight.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/recompute_analysis.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/transformer_specific.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/transformer_specific.h
Labels: training

#19722 Define recomputable op list with domain/opset
  onnxruntime/core/common/string_utils.h
  onnxruntime/core/optimizer/compute_optimizer/upstream_gather.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_reshape.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_transformer_base.cc
  onnxruntime/core/optimizer/compute_optimizer/upstream_transformer_base.h
  orttraining/orttraining/core/optimizer/memory_optimizer/recompute_analysis.cc
Labels: training

#19737 [JS/WebGPU] Preserve zero size input tensor dims.
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  js/web/test/data/ops/concat_zero-sized.jsonc
Labels: ep:WebGPU

#19825 Fix Clip op builder for FP16 support
  onnxruntime/core/providers/qnn/builder/opbuilder/clip_op_builder.cc
  onnxruntime/test/providers/qnn/clip_op_test.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
Labels: ep:QNN

#19847 Fix and enable few ORTModule Unit Tests
  docs/ORTModule_Convergence_Notes.md
  orttraining/orttraining/python/training/utils/hooks/_statistics_subscriber.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#19842 Fix torch cpp extension build warnings
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.cc
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_bw.cc
  orttraining/orttraining/python/training/ortmodule/torch_cpp_extensions/cpu/torch_interop_utils/custom_function_fw.cc
Labels: training

#19858 [Apple framework] Fix minimal build with training enabled.
  cmake/onnxruntime_graph.cmake
  onnxruntime/core/providers/cpu/ml/tree_ensemble_helper.cc
  onnxruntime/core/providers/cpu/ml/tree_ensemble_helper.h
  onnxruntime/core/session/environment.cc
  tools/ci_build/github/apple/test_minimal_training_ios_simulator_framework_build_settings.json
  tools/ci_build/github/azure-pipelines/post-merge-jobs.yml
Labels: release:1.17.3

#19857 [js/webgpu] expose a few properties in WebGPU API
  js/common/lib/env.ts
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/wasm-core-impl.ts
Labels: ep:WebGPU

#19791 [js/webgpu] Enable GroupedConvVectorize path
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
Labels: ep:WebGPU

#19863 Enable float32 model with FP16 precision for QNN HTP backend
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
Labels: ep:QNN

#19852 [JS/WebGPU] Optimize MatMulNBits
  js/web/lib/wasm/jsep/webgpu/ops/matmulnbits.ts
  js/web/test/data/ops/matmulnbits.jsonc
Labels: ep:WebGPU

#19901 Add support for SGD optimizer in minimal build
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/test/python/orttraining_test_ort_apis_onnxblock.py
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/optimizer.h
Labels: training

#19922 Update install_deps_lort.sh to fix onnxscript installation
  tools/ci_build/github/linux/docker/scripts/manylinux/install_deps_lort.sh
Labels: merge at green

#19735 [js/web] rewrite backend resolve to allow multiple EPs
  js/common/lib/backend-impl.ts
  js/common/lib/inference-session-impl.ts
  js/common/lib/training-session-impl.ts
  js/web/lib/wasm/binding/ort-wasm.d.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/proxy-wrapper.ts
  js/web/lib/wasm/wasm-core-impl.ts
  onnxruntime/wasm/js_internal_api.js
Labels: release:1.17.3

#19845 fix: "UserWarning: Unsupported Windows version (11). ONNX Runtime sup…
  onnxruntime/python/onnxruntime_validation.py
Labels: release:1.17.3

#19939 Enable code in QNN UT to verify the fix for partition issue
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
Labels: ep:QNN

#19868 accumulate in fp32 for Reduce*
  js/web/lib/wasm/jsep/webgpu/ops/reduce-shared.ts
Labels: ep:WebGPU

#19969 handle fp16 for where op
  onnxruntime/core/providers/js/operators/where.cc
Labels: ep:WebGPU

#19971 Add option to enable FP16 precision for QNN EP
  docs/execution-providers/QNN-ExecutionProvider.md
Labels: ep:QNN

#19387 [js/webgpu] Fix NAN caused by un-initialized buffer in instance-norm
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
  js/web/test/data/ops/instance-norm.jsonc
Labels: ep:WebGPU

#19972 Exclude TRT provider in tests crashed in A100
  onnxruntime/test/common/cuda_op_test_utils.cc
  onnxruntime/test/common/cuda_op_test_utils.h
  onnxruntime/test/common/trt_op_test_utils.h
  onnxruntime/test/providers/cpu/math/einsum_test.cc
  onnxruntime/test/providers/cpu/math/element_wise_ops_test.cc
  onnxruntime/test/providers/cpu/object_detection/roialign_test.cc
  onnxruntime/test/providers/cpu/tensor/onehot_op_test.cc
  onnxruntime/test/providers/cpu/tensor/resize_op_test.cc
  onnxruntime/test/providers/cpu/tensor/upsample_op_test.cc
Labels: ep:TensorRT

#19940 [js/webgpu] allow setting env.webgpu.adapter
  js/common/lib/env.ts
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/wasm-core-impl.ts
Labels: ep:WebGPU

#19981 fix maxpool / fp16
  js/web/lib/wasm/jsep/webgpu/ops/pool.ts
Labels: ep:WebGPU

#19889 Fix broken Pooling CUDA NHWC Ops and ensure NCHW / NHWC parity.
  onnxruntime/core/providers/cuda/cuda_nhwc_kernels.cc
  onnxruntime/core/providers/cuda/cudnn_common.cc
  onnxruntime/core/providers/cuda/nn/max_pool_with_index.cu
  onnxruntime/core/providers/cuda/nn/max_pool_with_index.h
  onnxruntime/core/providers/cuda/nn/pool.cc
  onnxruntime/core/providers/cuda/nn/pool.h
  onnxruntime/core/providers/rocm/nn/pool.cc
  onnxruntime/test/providers/cpu/nn/pool_op_test.cc
Labels: release:1.17.3

#19942 String Tensor SplitToSequence fix
  onnxruntime/core/providers/cpu/sequence/sequence_ops.cc
  onnxruntime/test/providers/cpu/sequence/sequence_ops_test.cc
Labels: core runtime

#19999 Use Java 11 to build project in the codeql pipeline
  .github/workflows/codeql.yml
Labels: merge at green

#20016 Support model with multiple SCE loss nodes
  orttraining/orttraining/core/framework/gradient_graph_builder.cc
  orttraining/orttraining/core/optimizer/insert_output_rewriter.cc
Labels: training

#20015 remove const cast for DLManagedTensor
  onnxruntime/python/torch_cpp_extensions/aten_op_executor/aten_op_executor.cc
Labels: training

#20033 Remove early stopping from LLaMA end-to-end benchmarking
  onnxruntime/python/tools/transformers/models/llama/benchmark_e2e.py
Labels: release:1.17.3

#20022 [JS/WebGPU] Use non-matmul implementation for ConvTranspose in channel-first case.
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_mm_webgpu.ts
  js/web/test/data/ops/conv-transpose.jsonc
Labels: ep:WebGPU

#20042 Fix issue that failed to load Conv node with external initializer
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
  onnxruntime/test/testdata/conv_qdq_external_ini.bin
  onnxruntime/test/testdata/conv_qdq_external_ini.onnx
Labels: ep:QNN

#20012 Packed QKV and Rotary Embedding Support for sm<80 GQA
  onnxruntime/contrib_ops/cuda/bert/group_query_attention.cc
  onnxruntime/contrib_ops/cuda/bert/group_query_attention_impl.cu
  onnxruntime/contrib_ops/cuda/bert/group_query_attention_impl.h
  onnxruntime/test/python/transformers/test_flash_attn.py
Labels: release:1.17.3

#20057 Fix softmax export
  orttraining/orttraining/python/training/ortmodule/_custom_op_symbolic_registry.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#20061 Fix memory stats printing
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_inference_manager.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#19988 [WebNN EP] Support Split before opset13
  onnxruntime/core/providers/webnn/builders/impl/split_op_builder.cc
Labels: ep:WebNN

#20059 Zhijxu/fix softmax fp16
  onnxruntime/core/providers/cuda/math/softmax_warpwise_impl.cuh
  orttraining/orttraining/test/training_ops/cuda/softmax_test.cc
Labels: training

#20093 [TensorRT EP] Fix concurrency issue for TRT custom op list
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_custom_ops.cc
Labels: release:1.17.3

#20149 Add flash attention v2 and INT4 CUDA for LLaMA E2E benchmarking
  onnxruntime/python/tools/transformers/models/llama/benchmark_e2e.py
  onnxruntime/python/tools/transformers/models/llama/llama_parity.py
Labels: release:1.17.3
