Repository microsoft/onnxruntime, pull requests merged in 2024-01, with the labels that each got.

#18928 [js/webgpu] Introduce trace support
  js/common/lib/env.ts
  js/common/lib/index.ts
  js/common/lib/inference-session-impl.ts
  js/common/lib/trace.ts
  js/web/lib/backend-wasm.ts
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
  js/web/lib/wasm/session-handler-inference.ts
Labels: ep:WebGPU

#18791 Remove useless `NodeProto` serializations
  onnxruntime/core/graph/graph.cc
Labels: core runtime

#18986 [js/webgpu] Fix f16 errors for ConvTranspose2D
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
Labels: ep:WebGPU

#17497 Fix schema type constraint for custom operators
  cmake/onnxruntime_unittests.cmake
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/session/custom_ops.cc
  onnxruntime/test/shared_lib/test_inference.cc
  onnxruntime/test/testdata/custom_op_local_function/custom_op_local_function.cc
  onnxruntime/test/testdata/custom_op_local_function/custom_op_local_function.def
  onnxruntime/test/testdata/custom_op_local_function/custom_op_local_function.h
  onnxruntime/test/testdata/custom_op_local_function/custom_op_local_function.lds
  onnxruntime/test/testdata/custom_op_local_function/custom_op_test_local_function.py
  onnxruntime/test/testdata/custom_op_local_function/custom_ops_type_inference_fails_0.onnx
  onnxruntime/test/testdata/custom_op_local_function/dummy_gemm.cc
  onnxruntime/test/testdata/custom_op_local_function/dummy_gemm.h
Labels: core runtime

#18997 Revert "[WebNN EP] Rename op logicalNot to not"
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/unary_op_builder.cc
Labels: ep:WebNN

#18999 [js/webgpu] Fix Expand/Gather when input type is bool
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/lib/wasm/jsep/webgpu/ops/gather.ts
  js/web/test/data/ops/expand.jsonc
  js/web/test/data/ops/gather.jsonc
Labels: ep:WebGPU

#19039 [WebNN EP] Fall back resize nearest mode for WebNN CPU backend
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
Labels: ep:WebNN

#19010 [js/webgpu] fix heap access > 2GB
  onnxruntime/core/providers/js/js_kernel.h
  onnxruntime/core/providers/js/operators/conv.h
  onnxruntime/core/providers/js/operators/conv_transpose.h
  onnxruntime/core/providers/js/operators/pad.h
  onnxruntime/core/providers/js/operators/reduce.h
  onnxruntime/core/providers/js/operators/resize.h
  onnxruntime/core/providers/js/operators/slice.h
  onnxruntime/core/providers/js/operators/split.h
  onnxruntime/core/providers/js/operators/transpose.h
Labels: ep:WebGPU

#18817 [WebNN EP] Update WebNN normalization ops
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
Labels: ep:WebNN

#18903 [js/webgpu] Support uniforms for attention and multihead attention
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/multi-head-attentiion.ts
Labels: ep:WebGPU

#19055 [js/webgpu] Support range uniforms
  js/web/lib/wasm/jsep/webgpu/ops/range.ts
Labels: ep:WebGPU

#19057 [js/webgpu] Support pad uniforms
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/pad.ts
Labels: ep:WebGPU

#19056 [js/webgpu] Support gemm uniforms
  js/web/lib/wasm/jsep/webgpu/ops/gemm.ts
Labels: ep:WebGPU

#18486 [WebNN] Enable npm unit tests
  js/web/lib/build-def.d.ts
  js/web/lib/index.ts
  js/web/script/build.ts
  js/web/script/test-runner-cli-args.ts
  js/web/script/test-runner-cli.ts
  js/web/test/suite-test-list.jsonc
  js/web/test/test-main.ts
  js/web/test/test-runner.ts
  js/web/test/test-types.ts
Labels: ep:WebNN

#18929 [js/webgpu] Support uniforms for instance-norm
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
  js/web/test/data/ops/instance-norm.jsonc
Labels: ep:WebGPU

#18923 [WebNN EP] Support subgraph of the control flow nodes
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
Labels: ep:WebNN

#19072 Increase MacOS pipeline timeout
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
Labels: training, build

#19077 Fix missing subgraph candidates for recompute
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_insight.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/optimization_planner.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/optimization_planner.h
  orttraining/orttraining/core/optimizer/memory_optimizer/recompute_analysis.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/recompute_analysis.h
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/options.py
Labels: training

#19090 [js/webgpu] disable GroupedConvVectorize path
  js/web/lib/wasm/jsep/webgpu/ops/conv.ts
Labels: ep:WebGPU

#17994 String concat operator
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/text/string_concat.cc
  onnxruntime/core/providers/cpu/text/string_concat.h
  onnxruntime/core/providers/cpu/text/string_normalizer.cc
  onnxruntime/core/providers/cpu/text/string_normalizer.h
  onnxruntime/test/providers/cpu/text/string_concat_test.cc
  onnxruntime/test/providers/cpu/text/string_normalizer_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.17

#19009 [js/webgpu] fix bcast in where
  js/web/lib/wasm/jsep/webgpu/ops/where.ts
Labels: ep:WebGPU

#18002 RegexFullMatch operator
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/text/regex_full_match.cc
  onnxruntime/core/providers/cpu/text/regex_full_match.h
  onnxruntime/test/providers/cpu/text/regex_full_match_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.17

#18011 [WebNN EP] Add quantize Ops
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/cast_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/dequantizeLinear_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/dynamicQuantizeLinear_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
Labels: ep:WebNN

#18016 StringSplit operator
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cpu/quantization/qlinear_concat.cc
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/text/string_split.cc
  onnxruntime/core/providers/cpu/text/string_split.h
  onnxruntime/test/providers/cpu/text/string_split_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.17

#19103 [WebNN EP] Update WebNN unit test list
  js/web/test/suite-test-list.jsonc
  js/web/test/test-runner.ts
Labels: ep:WebNN

#17977 Label encoder opset4
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/ml/label_encoder.cc
  onnxruntime/core/providers/cpu/ml/label_encoder.h
  onnxruntime/test/providers/cpu/ml/label_encoder_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.17

#19110 fix resize for fp16
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
Labels: ep:WebGPU

#19065 [js/webgpu] more fixes for access above 2GB
  js/web/lib/wasm/jsep/init.ts
  onnxruntime/core/providers/js/js_kernel.h
  onnxruntime/core/providers/js/operators/conv.h
  onnxruntime/core/providers/js/operators/conv_transpose.h
  onnxruntime/core/providers/js/operators/pad.h
  onnxruntime/core/providers/js/operators/reduce.h
  onnxruntime/core/providers/js/operators/resize.h
  onnxruntime/core/providers/js/operators/slice.h
  onnxruntime/core/providers/js/operators/split.h
  onnxruntime/core/providers/js/operators/transpose.h
Labels: ep:WebGPU

#19111 Add extreme_power_saver for htp_performance_mode
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_def.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
Labels: ep:QNN

#18894 [js/webgpu] Refactor timestamp-query and introduce timestamp-query-inside-passes
  js/common/lib/env.ts
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
Labels: ep:WebGPU

#18924 ORTModule memory improvement
  docs/ORTModule_Training_Guidelines.md
  onnxruntime/core/framework/execution_frame.cc
  onnxruntime/python/tools/symbolic_shape_infer.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_mem_efficient_grad_mgmt.py
  orttraining/orttraining/python/training/ortmodule/_onnx_models.py
  orttraining/orttraining/python/training/ortmodule/_pythonop_helper.py
  orttraining/orttraining/python/training/ortmodule/_training_manager.py
  orttraining/orttraining/python/training/ortmodule/options.py
  orttraining/orttraining/python/training/utils/hooks/_zero_offload_subscriber.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
  orttraining/orttraining/training_ops/cpu/torch/torch_custom_function_kernel_base.cc
  tools/ci_build/github/azure-pipelines/orttraining-linux-nightly-ortmodule-test-pipeline.yml
Labels: training

#19153 fix gemm beta for fp16
  js/web/lib/wasm/jsep/webgpu/ops/gemm.ts
Labels: ep:WebGPU

#19127 Clean up generated files in QNN UTs
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
Labels: ep:QNN

#19173 [WebNN EP] Fixed build issue with disable_rtti
  cmake/adjust_global_compile_flags.cmake
  cmake/onnxruntime_webassembly.cmake
  tools/ci_build/build.py
Labels: ep:WebNN

#19182 Fix untyped float values in quantization tool missing from PR #18043
  onnxruntime/python/tools/quantization/calibrate.py
  onnxruntime/python/tools/quantization/quant_utils.py
  onnxruntime/test/python/quantization/test_op_matmul.py
Labels: release:1.17

#19016 Update x64 template kernel library for 'sqnbitgemm'
  cmake/CMakeLists.txt
  cmake/deps.txt
  cmake/external/neural_speed.cmake
  cmake/onnxruntime_mlas.cmake
  cmake/onnxruntime_providers_cpu.cmake
  onnxruntime/contrib_ops/cpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/cpu/quantization/neural_speed_defs.h
  onnxruntime/contrib_ops/cpu/quantization/neural_speed_gemm.cc
  onnxruntime/contrib_ops/cpu/quantization/neural_speed_gemm.h
  onnxruntime/contrib_ops/cpu/quantization/neural_speed_wrapper.h
  onnxruntime/core/mlas/inc/mlas_qnbit.h
  onnxruntime/core/mlas/lib/jblas_defs.h
  onnxruntime/core/mlas/lib/jblas_gemm.cpp
  onnxruntime/core/mlas/lib/jblas_gemm.h
  onnxruntime/core/mlas/lib/sqnbitgemm.cpp
  onnxruntime/core/mlas/lib/x86_64/jblas/.clang-format
  onnxruntime/core/mlas/lib/x86_64/jblas/CMakeLists.txt
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_base.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas_device.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas_epilogue.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas_gemm.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas_parallel.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas_prologue_a.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas_prologue_b.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas_storage.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas_utils.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/jit_blas_wrapper.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/kernel_avx2.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/kernel_avx512_bf16.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/kernel_avx512f.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/kernel_jit.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/kernel_jit_injector.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/kernel_ref.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/kernel_wrapper.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/xbyak/xbyak.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/xbyak/xbyak_bin2hex.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/xbyak/xbyak_mnemonic.h
  onnxruntime/core/mlas/lib/x86_64/jblas/jblas/xbyak/xbyak_util.h
  onnxruntime/test/contrib_ops/matmul_4bits_test.cc
  onnxruntime/test/mlas/bench/bench_sqnbitgemm.cpp
Labels: release:1.17

#19193 [js/web] upgrade dependency packages version
  js/web/package-lock.json
  js/web/package.json
Labels: release:1.17.0

#19107 Increment year to 2024 in conf.py (python documentation)
  docs/python/conf.py
Labels: documentation

#19200 Update LLaMA attention fusions
  onnxruntime/python/tools/transformers/fusion_rotary_attention.py
  onnxruntime/python/tools/transformers/models/llama/README.md
  onnxruntime/python/tools/transformers/models/llama/convert_to_onnx.py
  onnxruntime/python/tools/transformers/models/llama/llama_torch.py
  onnxruntime/python/tools/transformers/models/llama/requirements.txt
Labels: release:1.17.0

#19197 cherry pick qnn sdk 2.18 updates into release branch
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: release:1.17.0

#19154 [TensorRT EP] Enhance EP context configs in session options and provider options
  include/onnxruntime/core/providers/tensorrt/tensorrt_provider_options.h
  onnxruntime/core/providers/tensorrt/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/tensorrt/onnx_ctx_model_helper.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.h
  onnxruntime/core/providers/tensorrt/tensorrt_provider_factory.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/tools/tensorrt/gen_trt_engine_wrapper_onnx_model.py
  onnxruntime/test/providers/tensorrt/tensorrt_basic_test.cc
Labels: release:1.17.0

#19112 phi2 contrib ops changes
  docs/ContribOperators.md
  docs/OperatorKernels.md
  onnxruntime/contrib_ops/cpu/bert/attention.cc
  onnxruntime/contrib_ops/cpu/bert/multihead_attention.cc
  onnxruntime/contrib_ops/cpu/bert/multihead_attention.h
  onnxruntime/contrib_ops/cpu/bert/multihead_attention_helper.h
  onnxruntime/contrib_ops/cpu/bert/rotary_embedding.cc
  onnxruntime/contrib_ops/cpu/bert/rotary_embedding.h
  onnxruntime/contrib_ops/cpu/bert/rotary_embedding_helper.h
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.cc
  onnxruntime/contrib_ops/cuda/bert/multihead_attention.h
  onnxruntime/contrib_ops/cuda/bert/rotary_embedding.cc
  onnxruntime/contrib_ops/cuda/bert/rotary_embedding.h
  onnxruntime/contrib_ops/cuda/bert/rotary_embedding_impl.cu
  onnxruntime/contrib_ops/cuda/bert/rotary_embedding_impl.h
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/core/graph/contrib_ops/bert_defs.cc
  onnxruntime/test/contrib_ops/rotary_embedding_op_test.cc
Labels: release:1.17.0

#19212 [QNN EP] Expose device-level session options
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/builder/qnn_configs_helper.h
  onnxruntime/core/providers/qnn/builder/qnn_graph_configs_helper.cc
  onnxruntime/core/providers/qnn/builder/qnn_graph_configs_helper.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
Labels: release:1.17.0

#17031 [aarch64] Add Sbgemm kernel to accelerate fp32 tensor matmul with bfloat16
  cmake/onnxruntime_mlas.cmake
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/common/cpuid_info.cc
  onnxruntime/core/common/cpuid_info.h
  onnxruntime/core/mlas/inc/mlas.h
  onnxruntime/core/mlas/lib/aarch64/SbgemmKernelNeon.S
  onnxruntime/core/mlas/lib/mlasi.h
  onnxruntime/core/mlas/lib/platform.cpp
  onnxruntime/core/mlas/lib/sbgemm.h
  onnxruntime/core/mlas/lib/sbgemm_kernel_neon.cpp
  onnxruntime/core/providers/cpu/math/matmul.cc
  onnxruntime/core/providers/cpu/math/matmul.h
  onnxruntime/test/mlas/unittest/test_sbgemm.cpp
  onnxruntime/test/mlas/unittest/test_sbgemm.h
  onnxruntime/test/optimizer/qdq_transformer_fastmath_test.cc
  onnxruntime/test/providers/cpu/math/matmul_fastmath_test.cc
  onnxruntime/test/util/compare_ortvalue.cc
Labels: release:1.17.0

#19215 [js/webgpu] Add HardSigmoid support
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/unary.cc
Labels: ep:WebGPU

#19202 [js/webgpu] set query type in onRunStart
  js/web/lib/wasm/binding/ort-wasm.d.ts
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/wasm-core-impl.ts
  onnxruntime/wasm/js_internal_api.js
Labels: ep:WebGPU

#19128 [QNN EP] Create Windows ARM64 nightly python package
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
Labels: release:1.17.0

#19227 unet fusion for stable diffusion webui
  onnxruntime/python/tools/transformers/fusion_attention.py
  onnxruntime/python/tools/transformers/fusion_attention_unet.py
  onnxruntime/python/tools/transformers/fusion_embedlayer.py
  onnxruntime/python/tools/transformers/fusion_gemmfastgelu.py
  onnxruntime/python/tools/transformers/fusion_nhwc_conv.py
  onnxruntime/python/tools/transformers/fusion_shape.py
  onnxruntime/python/tools/transformers/fusion_utils.py
  onnxruntime/python/tools/transformers/import_utils.py
  onnxruntime/python/tools/transformers/models/stable_diffusion/README.md
  onnxruntime/python/tools/transformers/onnx_model.py
  onnxruntime/python/tools/transformers/onnx_model_bert.py
  onnxruntime/python/tools/transformers/onnx_model_unet.py
Labels: release:1.17.0

#19230 Fix a backend test by using local backend
  orttraining/orttraining/test/python/orttraining_test_dort.py
Labels: merge at green

#19250 Fix AMD pipeline test failures
  onnxruntime/contrib_ops/rocm/bert/multihead_attention.cu
  onnxruntime/contrib_ops/rocm/bert/multihead_attention.h
Labels: release:1.17.0

#19251 [TensorRT EP] Avoid calling unavailable function with cpu python package
  onnxruntime/python/onnxruntime_inference_collection.py
Labels: release:1.17.0

#18788 [JS/WebGPU] Added Uniforms to SkipLayerNorm.
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/skip-layer-norm.ts
Labels: ep:WebGPU

#19255 Update abseil to a release tag and register neural_speed
  cgmanifests/generated/cgmanifest.json
  cmake/deps.txt
  cmake/external/abseil-cpp.cmake
  cmake/external/abseil-cpp.natvis
  cmake/external/neural_speed.cmake
  tools/ci_build/github/azure-pipelines/templates/download-deps.yml
Labels: release:1.17.0

#19258 [js/webgpu] Fix issue of timestamp query
  js/web/lib/wasm/jsep/backend-webgpu.ts
Labels: ep:WebGPU

#19247 remove old quantization tool file
  onnxruntime/python/tools/quantization/__init__.py
  onnxruntime/python/tools/quantization/matmul_weight4_quantizer.py
  onnxruntime/test/python/quantization/test_op_matmulfpq4.py
Labels: release:1.17.0

#19238 Enable RISC-V 64-bit Cross-Compiling Support for ONNX Runtime on Linux
  cmake/external/xnnpack.cmake
  cmake/onnxruntime_common.cmake
  cmake/riscv64.toolchain.cmake
  tools/ci_build/build.py
  tools/scripts/build_riscv64.sh
Labels: build

#19256 [ORTModule] Remove Mod from Hash to Avoid Conflict for Triton Code-gen
  orttraining/orttraining/python/training/ort_triton/kernel/_mm.py
  orttraining/orttraining/python/training/ort_triton/triton_op_executor.py
Labels: training

#19201 [js/webgpu] Fix Tanh explosion
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
  js/web/test/data/ops/tanh.jsonc
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#19266 [CUDA] Add functions to dump bfloat16 tensors
  onnxruntime/contrib_ops/cuda/transformers/dump_cuda_tensor.cc
  onnxruntime/contrib_ops/cuda/transformers/dump_cuda_tensor.h
Labels: ep:CUDA

#19248 [TensorRT EP] Fix mem leak for TRT plugins custom ops
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_custom_ops.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
Labels: release:1.17.0

#19271 Remove USE_CUTLASS flag
  cmake/CMakeLists.txt
  cmake/external/cutlass.cmake
  onnxruntime/contrib_ops/cuda/collective/sharded_moe.cc
  onnxruntime/contrib_ops/cuda/collective/sharded_moe.h
  onnxruntime/contrib_ops/cuda/cuda_contrib_kernels.cc
  onnxruntime/contrib_ops/cuda/moe/ft_moe/compute_occupancy.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/cutlass_heuristic.cc
  onnxruntime/contrib_ops/cuda/moe/ft_moe/cutlass_heuristic.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/epilogue_helpers.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/ft_gemm_configs.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/gemm_moe_problem_visitor.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/layout_traits_helper.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_cutlass_kernel.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_gemm_kernels.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_gemm_kernels_fp16_fp16.cu
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_gemm_kernels_fp32_fp32.cu
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_gemm_kernels_template.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_kernel.cu
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_kernel.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_problem_visitor.h
  onnxruntime/contrib_ops/cuda/moe/ft_moe/tile_interleaved_layout.h
  onnxruntime/contrib_ops/cuda/moe/moe.cc
  onnxruntime/contrib_ops/cuda/moe/moe.h
  onnxruntime/contrib_ops/cuda/moe/moe_base.h
  onnxruntime/contrib_ops/cuda/quantization/matmul_nbits.cu
  onnxruntime/test/contrib_ops/moe_test.cc
Labels: release:1.17.0

#19098 [js/webgpu] Support f16 uniform
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/pad.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
  onnxruntime/core/providers/js/operators/pad.cc
Labels: ep:WebGPU

#19048 Add support for a collection of OrtValue as inputs and outputs to C# TrainingSession
  csharp/src/Microsoft.ML.OnnxRuntime/Training/TrainingSession.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/TrainingTest.cs
Labels: training, api:CSharp

#19289 Support general session config entries in perf test tool
  onnxruntime/test/perftest/README.md
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/perftest/test_configuration.h
Labels: release:1.17.0

#19262 fix f16 for attention, enable slice and flatten for more types
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  onnxruntime/core/providers/js/operators/flatten.cc
  onnxruntime/core/providers/js/operators/slice.cc
Labels: ep:WebGPU

#19293 Update OneBranch.Nuget-WindowsAI-Pipeline.Official.yml for Azure Pipelines
  .pipelines/OneBranch.Nuget-WindowsAI-Pipeline.Official.yml
Labels: release:1.17.0

#19287 Update training api python documentation
  docs/python/on_device_training/training_api.rst
Labels: documentation, training

#19301 [TensorRT EP] Fix InferenceSession::Run() not thread-safe issue
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
Labels: release:1.17.0

#19279 [js/webgpu] Remove enableShapesUniforms
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/batch-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/binary-op.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  js/web/lib/wasm/jsep/webgpu/ops/einsum.ts
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/lib/wasm/jsep/webgpu/ops/gather.ts
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
Labels: ep:WebGPU

#19321 [ORTModule] Handle Cast on Constant Number on Triton Code-gen
  orttraining/orttraining/python/training/ort_triton/_codegen.py
  orttraining/orttraining/python/training/ort_triton/_utils.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_triton.py
Labels: training

#19311 Fix iOS artifacts issue in Microsoft.ML.OnnxRuntime Nuget Package
  onnxruntime/test/platform/apple/apple_package_test/Podfile.template
  tools/ci_build/github/apple/default_full_ios_framework_build_settings.json
  tools/ci_build/github/apple/test_apple_packages.py
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
Labels: release:1.17.0

#19322 Update Whisper export with beam search
  onnxruntime/contrib_ops/cuda/bert/decoder_masked_multihead_attention.cc
  onnxruntime/python/tools/transformers/models/whisper/README.md
  onnxruntime/python/tools/transformers/models/whisper/convert_to_onnx.py
  onnxruntime/python/tools/transformers/models/whisper/whisper_helper.py
Labels: release:1.17.0

#19332 Update ThirdPartyNotices.txt: Add Intel neural-speed
  ThirdPartyNotices.txt
Labels: release:1.17.0

#19233 [js/webgpu] Add hardSigmoid activation for fusedConv
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv2d_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-grouped.ts
  js/web/lib/wasm/jsep/webgpu/ops/fuse-utils.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmul.ts
  js/web/test/data/ops/fused-conv.jsonc
  onnxruntime/core/optimizer/conv_activation_fusion.cc
Labels: ep:WebGPU

#19235 [WebNN] Ignore empty optional input tensor
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/pad_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/reduction_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/slice_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/split_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/squeeze_unsqueeze_op_builder.cc
Labels: ep:WebNN

#18989 [js/webgpu] Support capture and replay for jsep
  js/common/lib/inference-session.ts
  js/web/lib/wasm/binding/ort-wasm.d.ts
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/gpu-data-manager.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
  js/web/lib/wasm/session-options.ts
  js/web/lib/wasm/wasm-core-impl.ts
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/js_execution_provider.h
  onnxruntime/core/providers/js/js_provider_factory.cc
  onnxruntime/core/providers/js/js_provider_factory_creator.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/provider_registration.cc
  onnxruntime/wasm/js_internal_api.js
Labels: ep:WebGPU

#19281 [js/webgpu] Use DataType as uniform cpu type
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv2d_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_mm_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/matmul_packed_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/batch-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/binary-op.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-grouped.ts
  js/web/lib/wasm/jsep/webgpu/ops/cumsum.ts
  js/web/lib/wasm/jsep/webgpu/ops/einsum.ts
  js/web/lib/wasm/jsep/webgpu/ops/expand.ts
  js/web/lib/wasm/jsep/webgpu/ops/fuse-utils.ts
  js/web/lib/wasm/jsep/webgpu/ops/gather-elements.ts
  js/web/lib/wasm/jsep/webgpu/ops/gather.ts
  js/web/lib/wasm/jsep/webgpu/ops/gemm.ts
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/layer-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmul.ts
  js/web/lib/wasm/jsep/webgpu/ops/multi-head-attentiion.ts
  js/web/lib/wasm/jsep/webgpu/ops/pad.ts
  js/web/lib/wasm/jsep/webgpu/ops/pool.ts
  js/web/lib/wasm/jsep/webgpu/ops/range.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce-shared.ts
  js/web/lib/wasm/jsep/webgpu/ops/reduce.ts
  js/web/lib/wasm/jsep/webgpu/ops/resize.ts
  js/web/lib/wasm/jsep/webgpu/ops/skip-layer-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/slice.ts
  js/web/lib/wasm/jsep/webgpu/ops/softmax.ts
  js/web/lib/wasm/jsep/webgpu/ops/split.ts
  js/web/lib/wasm/jsep/webgpu/ops/tile.ts
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
  js/web/lib/wasm/jsep/webgpu/ops/unary-op.ts
  js/web/lib/wasm/jsep/webgpu/ops/where.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
Labels: ep:WebGPU

#19345 Whisper Crash Fix
  onnxruntime/contrib_ops/cpu/transformers/beam_search_impl_gpt.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_impl_t5.h
  onnxruntime/contrib_ops/cpu/transformers/beam_search_impl_whisper.h
Labels: release:1.17.0

#19232 Introduce a Nominal Checkpoint for On-Device Training
  onnxruntime/core/flatbuffers/checkpoint_version.h
  onnxruntime/core/flatbuffers/ort_flatbuffers_py/fbs/ModuleState.py
  onnxruntime/core/flatbuffers/schema/ort_training_checkpoint.fbs
  onnxruntime/core/flatbuffers/schema/ort_training_checkpoint.fbs.h
  onnxruntime/core/graph/graph_flatbuffers_utils.cc
  onnxruntime/test/testdata/training_api/checkpoint.ckpt
  onnxruntime/test/testdata/training_api/custom_ops/checkpoint
  onnxruntime/test/testdata/training_api/nominal_checkpoint
  onnxruntime/test/testdata/training_api/ort_format/checkpoint
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/api/checkpoint_state.py
  orttraining/orttraining/python/training/api/module.py
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/python/training/onnxblock/checkpoint_utils.py
  orttraining/orttraining/test/python/orttraining_test_ort_apis_onnxblock.py
  orttraining/orttraining/test/python/orttraining_test_ort_apis_py_bindings.py
  orttraining/orttraining/test/training_api/core/checkpoint_test.cc
  orttraining/orttraining/test/training_api/core/training_api_tests.cc
  orttraining/orttraining/test/training_api/core/training_capi_tests.cc
  orttraining/orttraining/training_api/checkpoint.cc
  orttraining/orttraining/training_api/checkpoint.h
  orttraining/orttraining/training_api/include/onnxruntime_training_c_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_api.h
  orttraining/orttraining/training_api/include/onnxruntime_training_cxx_inline.h
  orttraining/orttraining/training_api/module.cc
  orttraining/orttraining/training_api/module.h
  orttraining/orttraining/training_api/onnxruntime_training_c_api.cc
  orttraining/orttraining/training_api/optimizer.cc
  orttraining/orttraining/training_api/optimizer.h
  orttraining/orttraining/training_api/training_session.cc
Labels: training

#19324 [WebNN EP] Use GetVecUint32FromVecInt64 to simplify the code
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pool_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/split_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/squeeze_unsqueeze_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/transpose_op_builder.cc
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
Labels: ep:WebNN
