Repository microsoft/onnxruntime, pull requests merged in 2024-04, with the labels that each got.

#20008 [js/webgpu] Use global id in attention and instance-norm
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/instance-norm.ts
Labels: ep:WebGPU

#20171 #19921 [Dup] LLC Core count calculations updated
  onnxruntime/core/platform/windows/env.cc
  onnxruntime/core/platform/windows/hardware_core_enumerator.cc
  winml/lib/Api/HardwareCoreEnumerator.cpp
Labels: release:1.17.3

#19854 Export of Openai Whisper with batched prompts
  onnxruntime/python/tools/transformers/models/whisper/convert_to_onnx.py
  onnxruntime/python/tools/transformers/models/whisper/whisper_chain.py
  onnxruntime/python/tools/transformers/models/whisper/whisper_decoder.py
  onnxruntime/python/tools/transformers/models/whisper/whisper_encoder_decoder_init.py
  onnxruntime/python/tools/transformers/models/whisper/whisper_helper.py
  onnxruntime/python/tools/transformers/models/whisper/whisper_openai_helper.py
Labels: release:1.17.3

#20194 fix ConvTranspose 1D
  js/web/lib/wasm/jsep/webgpu/ops/conv-transpose.ts
  onnxruntime/core/providers/js/operators/conv_transpose.h
Labels: ep:WebGPU

#20209 [js/webgpu] Implement com.microsoft.RotaryEmbedding
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/rotary-embedding.ts
  js/web/test/data/ops/rotary-embedding.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/contrib_ops/js/bert/rotary_embedding.cc
  onnxruntime/contrib_ops/js/bert/rotary_embedding.h
  onnxruntime/contrib_ops/js/js_contrib_kernels.cc
Labels: ep:WebGPU

#20234 Support more ops for recompute
  orttraining/orttraining/core/optimizer/memory_optimizer/recompute_analysis.cc
Labels: training

#20126 Prompt layer-wise recompute when applicable
  docs/Memory_Optimizer.md
  orttraining/orttraining/python/training/ortmodule/__init__.py
  orttraining/orttraining/python/training/ortmodule/_custom_autograd_function_exporter.py
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#19821 Check padding density by input of embedding module
  orttraining/orttraining/core/graph/training_op_defs.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.cc
  orttraining/orttraining/core/optimizer/compute_optimizer/padding_elimination.h
  orttraining/orttraining/core/optimizer/graph_transformer_config.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/python/orttraining_pybind_state.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/python/training/ortmodule/_runtime_inspector.py
Labels: training

#19948 [js/webgpu] supported depthToSpace operator in webgpu
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/depth-to-space.ts
  js/web/test/suite-test-list.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/depth_to_space.cc
  onnxruntime/core/providers/js/operators/depth_to_space.h
Labels: ep:WebGPU

#20229 [WebNN EP] Fixed WebNN constant operand is detached issue
  onnxruntime/core/providers/webnn/builders/model_builder.cc
Labels: ep:WebNN

#19695 TRT detailed log and strong typed networks
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_custom_ops.cc
Labels: ep:TensorRT

#20277 [js/web] support SimplifiedLayerNorm and SkipSimplifiedLayerNorm
  js/web/docs/webgpu-operators.md
  js/web/lib/wasm/jsep/webgpu/ops/layer-norm.ts
  js/web/lib/wasm/jsep/webgpu/ops/skip-layer-norm.ts
  js/web/test/data/ops/simplified-layer-norm.jsonc
  js/web/test/data/ops/skip-simplified-layer-norm.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/contrib_ops/js/js_contrib_kernels.cc
  onnxruntime/contrib_ops/js/layer_norm.cc
  onnxruntime/contrib_ops/js/skip_layer_norm.cc
  onnxruntime/contrib_ops/js/skip_layer_norm.h
  onnxruntime/core/providers/js/operators/layer_norm.cc
  onnxruntime/core/providers/js/operators/layer_norm.h
Labels: ep:WebGPU

#20240 [WebNN EP] Support Gelu op
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/activation_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
Labels: ep:WebNN

#19974 [JS/WebGPU] Improve MatMulNBits perf
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/ops/matmulnbits.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
  js/web/test/data/ops/matmulnbits.jsonc
Labels: ep:WebGPU

#20300 Enrich logic to fuse rotaryembedding with bias and support partial RE fusion into GQA
  onnxruntime/python/tools/transformers/fusion_rotary_attention.py
Labels: release:1.17.4

#20285 Enable provider option to let user provider the profiling file path
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
Labels: ep:QNN

#20355 fix csum and enable ut
  js/web/lib/wasm/jsep/webgpu/ops/cumsum.ts
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#20331 [DML EP] Improve python API perf
  onnxruntime/core/providers/dml/DmlExecutionProvider/inc/DmlExecutionProvider.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/BucketizedBufferAllocator.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/BucketizedBufferAllocator.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/CommandAllocatorRing.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/CommandQueue.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/CommandQueue.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DescriptorPool.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlCommandRecorder.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionContext.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionContext.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/GpuEvent.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/PooledUploadHeap.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/PooledUploadHeap.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ReadbackHeap.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ReadbackHeap.h
  onnxruntime/core/providers/dml/dml_provider_factory.cc
  onnxruntime/core/providers/dml/dml_provider_factory_creator.h
  onnxruntime/core/providers/dml/dml_session_options_config_keys.h
  onnxruntime/core/session/provider_registration.cc
  onnxruntime/python/onnxruntime_pybind_mlvalue.cc
  onnxruntime/python/onnxruntime_pybind_schema.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/util/default_providers.cc
Labels: release:1.17.4

#20356 Log error caused by NPU SSR.
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
Labels: ep:QNN

#20253 [WebNN EP] Add operators support table
  js/web/docs/webnn-operators.md
Labels: ep:WebNN

#20257 [DML EP] Add graph capture
  cmake/onnxruntime_unittests.cmake
  onnxruntime/core/providers/dml/DmlExecutionProvider/inc/DmlExecutionProvider.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlGraphFusionHelper.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlGraphFusionHelper.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlReusedCommandListState.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlRuntimeFusedGraphKernel.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/FusedGraphKernel.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/precomp.h
  onnxruntime/core/providers/dml/dml_provider_factory.cc
  onnxruntime/core/providers/dml/dml_provider_factory_creator.h
  onnxruntime/core/providers/dml/dml_session_options_config_keys.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/python/onnxruntime_test_python_dmlgraph.py
  onnxruntime/test/shared_lib/test_inference.cc
  onnxruntime/test/util/default_providers.cc
  tools/ci_build/build.py
Labels: release:1.17.4

#20374 fix web ci: csum tests need fp64 which is not supported on webgpu
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#20304 [DML] Update DML to 1.14
  .pipelines/nuget_config/x64/packages.config
  .pipelines/nuget_config/x86/packages.config
  cmake/external/dml.cmake
  onnxruntime/core/providers/dml/DmlExecutionProvider/inc/MLOperatorAuthor.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ApiTraits.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/DmlCommon.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/ApiTraits.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/DirectMLSchema.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/DirectMLX.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/GeneratedSchemaHelpers.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorConstantOfShape.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/TensorDesc.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/MLOperatorAuthorHelper.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.cpp
  onnxruntime/test/contrib_ops/multihead_attention_op_test.cc
  packages.config
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.17.4

#20380 Update DML to 1.14.1
  .pipelines/nuget_config/x64/packages.config
  .pipelines/nuget_config/x86/packages.config
  cmake/external/dml.cmake
  packages.config
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.17.4

#20327 [DML EP] Add GroupQueryAttention
  docs/OperatorKernels.md
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/AbiCustomRegistry.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/AbiCustomRegistry.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/GraphDescBuilder.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlDFT.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlGridSample.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorGroupQueryAttention.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorMultiHeadAttention.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlSTFT.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorRegistration.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/Attributes.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/MLOperatorAuthorPrivate.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorVersions.h
  winml/adapter/abi_custom_registry_impl.cpp
  winml/adapter/abi_custom_registry_impl.h
Labels: release:1.17.4

#20308 [DML EP] Add MatMulNBits
  docs/OperatorKernels.md
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorMatMulNBits.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorRegistration.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/Attributes.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.cpp
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorHelper.h
  onnxruntime/core/providers/dml/OperatorAuthorHelper/OperatorVersions.h
  onnxruntime/test/contrib_ops/matmul_4bits_test.cc
Labels: release:1.17.4

#20258 Introduce memory efficient topological sort
  include/onnxruntime/core/graph/constants.h
  include/onnxruntime/core/graph/graph.h
  include/onnxruntime/core/graph/graph_viewer.h
  onnxruntime/core/framework/session_options.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/graph/graph_viewer.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/ir/graph_test.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/common.h
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_insight.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_insight.h
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/memory_optimizer.h
  orttraining/orttraining/core/optimizer/memory_optimizer/optimization_planner.cc
  orttraining/orttraining/core/optimizer/memory_optimizer/transformer_specific.cc
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/optimizer/memory_optimizer_test.cc
Labels: training

#20420 fix embedding sparsity log bug of -1% density
  orttraining/orttraining/python/training/ortmodule/_graph_execution_manager.py
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training

#20312 more conservitive gpu-buffer cache algo
  js/web/lib/wasm/jsep/webgpu/gpu-data-manager.ts
Labels: ep:WebGPU

#20286 [JS/WebGPU] Multihead attention improvements
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/op-resolve-rules.ts
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
  js/web/lib/wasm/jsep/webgpu/ops/concat.ts
  js/web/lib/wasm/jsep/webgpu/ops/multihead-attentiion.ts
  js/web/test/data/ops/multihead-attention.jsonc
  js/web/test/suite-test-list.jsonc
  onnxruntime/contrib_ops/js/bert/multihead_attention.cc
  onnxruntime/contrib_ops/js/bert/multihead_attention.h
Labels: ep:WebGPU

#20440 [js/webgpu] fixes for fp16 attention
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/common.ts
Labels: ep:WebGPU

#20447 [JS/WebGPU] MultiheadAttention bugfix
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/test/data/ops/multihead-attention.jsonc
Labels: ep:WebGPU

#20470 [WIP][JS/WebGPU] Inputs Key and Value could be 4-dims.
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/multihead-attentiion.ts
  js/web/test/data/ops/multihead-attention.jsonc
Labels: ep:WebGPU

#20320 [WebNN EP] Improve activation fusion
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
Labels: ep:WebNN

#20487 Use flatbuffers::String::str instead of c_str.
  onnxruntime/core/flatbuffers/flatbuffers_utils.cc
  onnxruntime/core/flatbuffers/flatbuffers_utils.h
Labels: release:1.18.0

#20486 [JS/WebGU] Support fp16 in Attention by performing the computation in fp32.
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
Labels: ep:WebGPU, release:1.18.0

#20498 Fix Onnxruntime-TVM CI
  onnxruntime/core/graph/graph_proto_serializer.cc
  onnxruntime/core/graph/graph_proto_serializer.h
Labels: merge at green

#20499 Disable test_aten_conv_bf16 to unblock amd ci
  orttraining/orttraining/test/python/orttraining_test_ortmodule_api.py
Labels: training, merge at green

#20334 Fuse Cast + SoftmaxCrossEntropyLossInternal
  onnxruntime/core/graph/graph_utils.cc
  onnxruntime/core/graph/graph_utils.h
  onnxruntime/core/optimizer/gemm_transpose_fusion.cc
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/optimizer/propagate_cast_ops.cc
  onnxruntime/core/optimizer/utils.cc
  orttraining/orttraining/core/optimizer/cast_sce_loss_fusion.cc
  orttraining/orttraining/core/optimizer/cast_sce_loss_fusion.h
  orttraining/orttraining/core/optimizer/graph_transformer_utils.cc
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
Labels: training

#20396 [JS/WebGPU] MatMulNBits remove unnecessary condition
  js/web/lib/wasm/jsep/webgpu/ops/matmulnbits.ts
Labels: ep:WebGPU

#20424 Catalyst nuget package .NET changes only
  csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.csproj
  csharp/src/Microsoft.ML.OnnxRuntime/targets/net6.0-maccatalyst/README.md
  csharp/src/Microsoft.ML.OnnxRuntime/targets/net6.0-maccatalyst/_._
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: release:1.18.0

#20512 [TensorRT EP] Make TRT EP use priority-based topo sort
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: release:1.18.0

#20492 [js/web] update README
  js/web/README.md
Labels: release:1.18.0

#20509 Only define CPUIDInfo::pytorch_cpuinfo_init_ data member when CPUINFO_SUPPORTED is defined.
  onnxruntime/core/common/cpuid_info.cc
  onnxruntime/core/common/cpuid_info.h
  onnxruntime/test/optimizer/nhwc_transformer_test.cc
Labels: release:1.18.0
