Repository microsoft/onnxruntime, pull requests merged in 2025-03, with the labels that each got.

#23856 Quant tool: Consistent `get_qdq_config` and `get_qnn_qdq_config` behavior
  onnxruntime/python/tools/quantization/execution_providers/qnn/quant_config.py
  onnxruntime/python/tools/quantization/quantize.py
  onnxruntime/test/python/quantization/test_get_qdq_config.py
Labels: release:1.21.0

#23827 [js/common] allows using Uint16Array as data for float16 tensor
  js/common/lib/tensor-impl-type-mapping.ts
  js/common/lib/tensor-impl.ts
  js/common/package.json
  js/common/test/unit-tests/common.ts
  js/common/test/unit-tests/tensor/constructor-f16.ts
  js/common/test/unit-tests/tensor/constructor-type.ts
  tools/ci_build/github/azure-pipelines/templates/linux-web-init-and-check.yml
  tools/ci_build/github/azure-pipelines/templates/web-ci.yml
Labels: release:1.21.0

#23858 [js/webgpu] Reland the optimization of ConvTranspose
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/test/data/ops/conv-transpose.jsonc
Labels: ep:WebGPU

#23834 Allow using extended minimal build for several EPs
  cmake/onnxruntime_framework.cmake
  cmake/onnxruntime_providers_js.cmake
  onnxruntime/core/framework/fallback_cpu_capability.cc
  onnxruntime/core/framework/fallback_cpu_capability.h
Labels: release:1.21.0

#23876 Add dawn to ThirdPartyNotices
  ThirdPartyNotices.txt
Labels: release:1.21.0

#23702 Enable QNN EP weight sharing generation using public API
  cmake/onnxruntime_python.cmake
  cmake/onnxruntime_unittests.cmake
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/core/providers/qnn/shared_context.h
  onnxruntime/test/ep_weight_sharing_ctx_gen/README.md
  onnxruntime/test/ep_weight_sharing_ctx_gen/command_args_parser.cc
  onnxruntime/test/ep_weight_sharing_ctx_gen/command_args_parser.h
  onnxruntime/test/ep_weight_sharing_ctx_gen/main.cc
  onnxruntime/test/ep_weight_sharing_ctx_gen/test_configuration.h
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
  onnxruntime/test/qnn_ctx_gen/main.cc
  setup.py
Labels: ep:QNN

#23873 [QNN EP Docs] Update docs for building QNN EP as shared or static library
  docs/build/android.md
  docs/build/eps.md
Labels: documentation, ep:QNN

#23892 [QNN-EP]: Fix inference failures while running with htp_shared_memory
  onnxruntime/core/providers/qnn/qnn_allocator.cc
Labels: ep:QNN, release:1.21.0

#23857 Fix enable_pix_capture build for WebGPU
  cmake/external/onnxruntime_external_deps.cmake
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_pix_frame_generator.cc
  onnxruntime/core/providers/webgpu/webgpu_pix_frame_generator.h
Labels: ep:WebGPU

#23860 [WebGPU-EP Native] Add ReduceMean
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#23861 [WebGPU EP] introduce BiasAdd contrib op
  onnxruntime/contrib_ops/webgpu/bert/bias_add.cc
  onnxruntime/contrib_ops/webgpu/bert/bias_add.h
  onnxruntime/contrib_ops/webgpu/webgpu_contrib_kernels.cc
Labels: ep:WebGPU

#23349 [webgpu] Restore MatMulNBits workgroup size for Phi-3.5
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
Labels: ep:WebGPU

#23141 [webgpu] support Pad operator
  onnxruntime/core/providers/webgpu/tensor/pad.cc
  onnxruntime/core/providers/webgpu/tensor/pad.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#23898 WebGPU: Remove deprecated subgroups-f16 from WebGPU native and JS EP
  js/web/lib/wasm/jsep/backend-webgpu.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/jsep/webgpu/program-manager.ts
  js/web/lib/wasm/jsep/webgpu/types.ts
  onnxruntime/core/providers/webgpu/shader_helper.cc
  onnxruntime/core/providers/webgpu/webgpu_context.cc
Labels: ep:WebGPU

#23906 [JSEP/WebGPU] Fixed error in softmax dispatch.
  js/web/lib/wasm/jsep/webgpu/ops/attention.ts
Labels: ep:WebGPU

#23907 Support all block sizes that are multiples of 32 for DP4A
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.h
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
Labels: ep:WebGPU

#23524 [WebGPU/JSEP] Support group query attention do_rotary attribute
  js/web/lib/wasm/jsep/webgpu/ops/group-query-attention.ts
  js/web/lib/wasm/jsep/webgpu/ops/rotary-embedding.ts
Labels: ep:WebGPU

#23981 [WebGPU EP] Implements Gelu, BiasSplitGelu, and QuickGelu
  onnxruntime/contrib_ops/webgpu/bert/bias_split_gelu.cc
  onnxruntime/contrib_ops/webgpu/bert/bias_split_gelu.h
  onnxruntime/contrib_ops/webgpu/bert/gelu.cc
  onnxruntime/contrib_ops/webgpu/bert/quick_gelu.cc
  onnxruntime/contrib_ops/webgpu/webgpu_contrib_kernels.cc
  onnxruntime/core/providers/webgpu/math/unary_elementwise_ops.cc
  onnxruntime/core/providers/webgpu/math/unary_elementwise_ops.h
  onnxruntime/core/providers/webgpu/webgpu_utils.h
Labels: ep:WebGPU

#23934 [Native WebGPU] Added ReduceMax and ReduceSum
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#23945 Qnn weight sharing improvement
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.h
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/shared_context.h
  onnxruntime/test/ep_weight_sharing_ctx_gen/command_args_parser.cc
  onnxruntime/test/ep_weight_sharing_ctx_gen/main.cc
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
Labels: ep:QNN

#24019 [webgpu] allow to specify UseIndicesTypeAlias for Indices
  onnxruntime/contrib_ops/webgpu/bert/rotary_embedding.cc
  onnxruntime/core/providers/webgpu/shader_helper.cc
  onnxruntime/core/providers/webgpu/shader_helper.h
Labels: ep:WebGPU

#24020 [webgpu] fix the wrong dispatch size in flash_attention
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
Labels: ep:WebGPU

#23831 [WebNN] Better int64 integration
  js/web/lib/wasm/jsep/backend-webnn.ts
  js/web/lib/wasm/jsep/webnn/tensor-manager.ts
  js/web/lib/wasm/jsep/webnn/webnn.d.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/lib/wasm/wasm-types.ts
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/argmax_min_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/cast_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/dropout_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/expand_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pool_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/qdq_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/rotaryEmbedding_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/shape_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/slice_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/squeeze_unsqueeze_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/transpose_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/wasm/pre-jsep.js
Labels: ep:WebNN

#23386 [Native WebGPU EP] Add packedQKV and do_rotary attribute support to GroupQueryAttention operator
  onnxruntime/contrib_ops/webgpu/bert/group_query_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/group_query_attention.h
Labels: ep:WebGPU

#24045 [WebGPU EP] Implement Remaining Reduction Ops
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
Labels: ep:WebGPU

#24077 [WebGPU EP] fix for reduce min/max error on MacOS CI
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: ep:WebGPU

#24086 Improve typing for OrtValue and other public Python interfaces
  onnxruntime/python/onnxruntime_inference_collection.py
Labels: merge on green

#24078 [webgpu] Limit that K must be divisible by 128 to apply dp4a matmul
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.h
  onnxruntime/test/contrib_ops/matmul_4bits_test.cc
Labels: ep:WebGPU

#23998 [WebNN/WebGPU JS] Fix shared Module methods overriding each other
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/lib/wasm/wasm-types.ts
  onnxruntime/core/providers/webnn/allocator.cc
  onnxruntime/core/providers/webnn/builders/model.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/data_transfer.cc
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
  onnxruntime/wasm/pre-jsep.js
Labels: ep:WebNN

#23490 Cleanup CoreML EP's code to remove COREML_ENABLE_MLPROGRAM
  onnxruntime/core/providers/coreml/builders/impl/activation_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/argmax_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/batch_norm_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/binary_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/builder_utils.cc
  onnxruntime/core/providers/coreml/builders/impl/builder_utils.h
  onnxruntime/core/providers/coreml/builders/impl/cast_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/clip_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/concat_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/convtranspose_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/depthtospace_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/gridsample_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/pool_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/reduction_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/reshape_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/resize_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/shape_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/slice_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/softmax_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/split_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/squeeze_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/transpose_op_builder.cc
  onnxruntime/core/providers/coreml/builders/impl/unary_op_builder.cc
  onnxruntime/core/providers/coreml/builders/model_builder.cc
  onnxruntime/core/providers/coreml/builders/model_builder.h
  onnxruntime/core/providers/coreml/coreml_options.cc
  onnxruntime/core/providers/coreml/model/host_utils.h
  onnxruntime/core/providers/xnnpack/nn/max_pool.cc
  onnxruntime/test/contrib_ops/layer_norm_op_test.cc
  onnxruntime/test/providers/coreml/coreml_basic_test.cc
  onnxruntime/test/providers/cpu/activation/activation_op_test.cc
  onnxruntime/test/providers/cpu/activation/activation_op_test.h
  onnxruntime/test/providers/cpu/math/element_wise_ops_test.cc
  onnxruntime/test/providers/cpu/math/matmul_test.cc
  onnxruntime/test/providers/cpu/nn/batch_norm_op_test.cc
  onnxruntime/test/providers/cpu/nn/conv_fp16_test.cc
  onnxruntime/test/providers/cpu/nn/group_norm_op_test.cc
  onnxruntime/test/providers/cpu/nn/instance_norm_op_test.cc
  onnxruntime/test/providers/cpu/nn/pool_fp16_op_test.cc
  onnxruntime/test/providers/cpu/nn/pool_op_test.cc
  onnxruntime/test/providers/cpu/reduction/reduction_ops_test.cc
Labels: platform:mobile, ep:CoreML

#24089 webgpu ep support for argmax/argmin
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#24088 [WebGPU EP] fix implementation of Pow
  onnxruntime/core/providers/webgpu/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/webgpu/math/binary_elementwise_ops.h
Labels: ep:WebGPU

#24108 [WebGPU] fix test failure in Reduce operators on macOS ARM64
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.cc
Labels: ep:WebGPU

#24047 [WebGPU EP] Implements CumSum Operator
  onnxruntime/core/providers/webgpu/math/cum_sum.cc
  onnxruntime/core/providers/webgpu/math/cum_sum.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#24084 [webgpu] Use 1d dispatch group size
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.h
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.h
Labels: ep:WebGPU

#24109 [WebGPU] fix test failure in MatMulNBits on macOS ARM64
  onnxruntime/test/contrib_ops/matmul_4bits_test.cc
Labels: ep:WebGPU

#24064 [webgpu] Apply dp4a for generation shader
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.h
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
Labels: ep:WebGPU

#24121 [JSEP] handles edge case in gridsample operator
  js/web/lib/wasm/jsep/webgpu/ops/grid-sample.ts
Labels: ep:WebGPU

#23714 [webgpu]Add MaxPool and AveragePool
  onnxruntime/core/providers/webgpu/nn/pool.cc
  onnxruntime/core/providers/webgpu/nn/pool.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/test/providers/cpu/math/softmax_test.cc
  onnxruntime/test/providers/cpu/nn/pool_fp16_op_test.cc
  onnxruntime/test/providers/cpu/nn/pool_op_test.cc
Labels: ep:WebGPU

#24122 [webgpu EP] put GetMaxComponents and SumVector to one place.
  onnxruntime/contrib_ops/webgpu/bert/bias_add.cc
  onnxruntime/contrib_ops/webgpu/bert/skip_layer_norm.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/core/providers/webgpu/math/softmax.cc
  onnxruntime/core/providers/webgpu/nn/layer_norm.cc
  onnxruntime/core/providers/webgpu/webgpu_utils.h
Labels: ep:WebGPU

#24118 Refactor Webnn IsSupported*() to use constant initializers.
  onnxruntime/core/providers/shared/utils/utils.cc
  onnxruntime/core/providers/shared/utils/utils.h
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/argmax_min_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.h
  onnxruntime/core/providers/webnn/builders/impl/binary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/clip_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/concat_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/cumsum_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/dropout_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/einsum_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/expand_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gatherElements_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gatherND_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gather_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gru_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/logical_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/lrn_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/lstm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/max_min_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pad_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/pool_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/qdq_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/reduction_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/reshape_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/resize_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/rotaryEmbedding_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/scatterElements_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/scatterND_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/slice_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/softmax_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/split_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/squeeze_unsqueeze_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/ternary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/tile_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/triangular_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder.h
Labels: ep:WebNN

#24113 Deleted the constant SKIP_CUDA_TEST_WITH_DML
  onnxruntime/test/contrib_ops/beam_search_test.cc
Labels: release:1.21.1

#24046 [Native WebGPU] Add Matmul
  onnxruntime/core/providers/webgpu/math/matmul.cc
  onnxruntime/core/providers/webgpu/math/matmul.h
  onnxruntime/core/providers/webgpu/math/matmul_packed.cc
  onnxruntime/core/providers/webgpu/math/matmul_packed.h
  onnxruntime/core/providers/webgpu/math/matmul_utils.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/core/providers/webgpu/webgpu_utils.h
  onnxruntime/test/providers/cpu/math/matmul_test.cc
Labels: ep:WebGPU

#24174 [QNN EP] ARM64EC python package remove --vcpkg in build
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
Labels: release:1.21.1

#24023 [WebGPU EP] Add GEMM implementation
  onnxruntime/core/providers/webgpu/math/gemm.cc
  onnxruntime/core/providers/webgpu/math/gemm.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#24179 [wasm] remove --vcpkg in wasm build
  tools/ci_build/github/azure-pipelines/templates/linux-wasm-ci.yml
Labels: release:1.21.1

#23977 upgrade QNN to version 2.32.0.250228
  onnxruntime/test/onnx/TestCase.cc
  onnxruntime/test/providers/cpu/tensor/space_depth_ops_test.cc
  onnxruntime/test/providers/qnn/conv_test.cc
  onnxruntime/test/providers/qnn/matmul_test.cpp
  onnxruntime/test/providers/qnn/pad_op_test.cpp
  onnxruntime/test/providers/qnn/resize_test.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/custom-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/py-cpu-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar-test.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#24184 [webgpu-ep] Fix test_batchnorm_example
  onnxruntime/core/providers/webgpu/nn/batch_norm.cc
Labels: ep:WebGPU

#24242 [WebGPU EP] If Implementation for WebGPU EP
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/providers/webgpu/controlflow/if.cc
  onnxruntime/core/providers/webgpu/controlflow/if.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#24223 [webgpu] Fix test_layer_normalization_2d_axis0
  onnxruntime/core/providers/webgpu/nn/layer_norm.cc
  onnxruntime/core/providers/webgpu/nn/layer_norm.h
Labels: ep:WebGPU

#24244 [webgpu] fix LayerNorm with empty input
  onnxruntime/core/providers/webgpu/nn/layer_norm.cc
Labels: ep:WebGPU

#24227 [webgpu] Fix opset-12 softmax nhwc issue
  onnxruntime/core/providers/webgpu/math/softmax.cc
  onnxruntime/core/providers/webgpu/math/softmax.h
  onnxruntime/test/providers/cpu/math/softmax_test.cc
Labels: ep:WebGPU

#24243 Add shader key validation step in WebGPU CI pipeline
  .github/actions/webgpu-validate-shader-key/action.yml
  .github/actions/webgpu-validate-shader-key/validate-shader-key.js
  .github/workflows/windows_webgpu.yml
  onnxruntime/test/unittest_main/test_main.cc
  onnxruntime/test/util/default_providers.cc
Labels: ep:WebGPU

#24247 upgrade dawn version to 4cb1f9be152a4fa6bb695c08cd707ab078a1e2fb
  cmake/deps.txt
  cmake/external/onnxruntime_external_deps.cmake
  cmake/patches/dawn/dawn.patch
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
Labels: ep:WebGPU

#24253 Add docs for QNN EP `backend_type` provider option
  docs/execution-providers/QNN-ExecutionProvider.md
Labels: ep:QNN
