Repository microsoft/onnxruntime, pull requests merged in 2025-04, with the labels that each got.

#24199 [VitisAI] Fixed include error.
  cmake/onnxruntime_providers_vitisai.cmake
Labels: ep:VitisAI

#24270 [WebGPU EP] Implements ceil mode for Average Pool
  onnxruntime/core/providers/webgpu/nn/pool.cc
  onnxruntime/test/providers/cpu/nn/pool_op_test.cc
Labels: ep:WebGPU

#24276 [webgpu] test_layer_normalization_3d_axis0_epsilon
  onnxruntime/core/providers/webgpu/nn/layer_norm.cc
Labels: ep:WebGPU

#24281 [webgpu][dawn API optimization] reduce number of calls to wgpuDeviceHasFeature
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/subgroup_matrix_matmul_nbits.cc
  onnxruntime/core/providers/webgpu/compute_context.h
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
Labels: ep:WebGPU

#23908 [webgpu] Optimize MatMulNBits for f16 Block32 prefill performance
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
Labels: ep:WebGPU

#24271 [QNN-EP] Fix ONNX context model helper.
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.cc
Labels: ep:QNN

#24309 [WebGPU] fix cache key of AttentionProbs/VxAttentionScore
  .github/actions/webgpu-validate-shader-key/action.yml
  .github/workflows/windows-web-ci-workflow.yml
  onnxruntime/contrib_ops/webgpu/bert/attention.cc
  onnxruntime/contrib_ops/webgpu/bert/attention.h
Labels: ep:WebGPU

#24186 [Native WebGPU] Add Conv, ConTranspose and FusedConv
  onnxruntime/contrib_ops/webgpu/fused_conv.cc
  onnxruntime/contrib_ops/webgpu/webgpu_contrib_kernels.cc
  onnxruntime/core/optimizer/conv_activation_fusion.cc
  onnxruntime/core/optimizer/graph_transformer_utils.cc
  onnxruntime/core/providers/webgpu/math/matmul.cc
  onnxruntime/core/providers/webgpu/math/matmul.h
  onnxruntime/core/providers/webgpu/math/matmul_packed.cc
  onnxruntime/core/providers/webgpu/math/matmul_packed.h
  onnxruntime/core/providers/webgpu/nn/activation_util.cc
  onnxruntime/core/providers/webgpu/nn/activation_util.h
  onnxruntime/core/providers/webgpu/nn/conv.cc
  onnxruntime/core/providers/webgpu/nn/conv.h
  onnxruntime/core/providers/webgpu/nn/conv2d_mm_webgpu.cc
  onnxruntime/core/providers/webgpu/nn/conv2d_mm_webgpu.h
  onnxruntime/core/providers/webgpu/nn/conv_backprop_webgpu.cc
  onnxruntime/core/providers/webgpu/nn/conv_backprop_webgpu.h
  onnxruntime/core/providers/webgpu/nn/conv_transpose.cc
  onnxruntime/core/providers/webgpu/nn/conv_transpose.h
  onnxruntime/core/providers/webgpu/nn/conv_utils.cc
  onnxruntime/core/providers/webgpu/nn/conv_utils.h
  onnxruntime/core/providers/webgpu/nn/fuse_utils.cc
  onnxruntime/core/providers/webgpu/nn/fuse_utils.h
  onnxruntime/core/providers/webgpu/nn/grouped_conv.cc
  onnxruntime/core/providers/webgpu/nn/grouped_conv.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/core/providers/webgpu/webgpu_utils.cc
  onnxruntime/core/providers/webgpu/webgpu_utils.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/test/contrib_ops/fused_conv_test.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/providers/cpu/nn/conv_op_test.cc
  onnxruntime/test/providers/cpu/nn/conv_transpose_op_test.cc
Labels: ep:WebGPU

#24313 [webgpu][dawn API optimization] reduce number of calls to wgpuDeviceGetQueue
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
Labels: ep:WebGPU

#24229 [webgpu] Fix ROUND_PREFER_CEIL issue of Resize operator
  onnxruntime/core/providers/webgpu/tensor/resize_impl.cc
Labels: ep:WebGPU

#24327 [Native WebGPU] Exclude WebGPU EP from Conv3D tests.
  onnxruntime/test/providers/cpu/nn/conv_fp16_test.cc
Labels: ep:WebGPU

#23881 [VitisAI EP] export InferShapes to VitisAIEP
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/providers/shared_library/provider_wrappedtypes.h
  onnxruntime/core/providers/vitisai/imp/global_api.cc
  onnxruntime/core/providers/vitisai/include/vaip/my_ort.h
  onnxruntime/core/providers/vitisai/include/vaip/vaip_ort_api.h
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: ep:VitisAI

#24268 webgpu support for DequantizeLinear
  onnxruntime/core/providers/webgpu/program.cc
  onnxruntime/core/providers/webgpu/program.h
  onnxruntime/core/providers/webgpu/quantization/quantize_linear.cc
  onnxruntime/core/providers/webgpu/quantization/quantize_linear.h
  onnxruntime/core/providers/webgpu/shader_helper.cc
  onnxruntime/core/providers/webgpu/shader_variable.cc
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/test/providers/cpu/tensor/quantize_linear_test.cc
Labels: ep:WebGPU

#24342 [webgpu] Fix bias_split_gelu
  onnxruntime/contrib_ops/webgpu/bert/bias_split_gelu.cc
Labels: ep:WebGPU

#24336 [webgpu] fix bias-add
  onnxruntime/contrib_ops/webgpu/bert/bias_add.cc
Labels: ep:WebGPU

#24350 [WebGPU EP] Exclude zero-dim input test case for WebGPU EP.
  onnxruntime/test/providers/cpu/nn/conv_fp16_test.cc
Labels: ep:WebGPU

#24329 [webgpu][dawn API optimization] workgroup dispatch
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
Labels: ep:WebGPU

#24205 [QNN-EP] LoRAv2 Document update
  docs/execution-providers/QNN-ExecutionProvider.md
Labels: ep:QNN

#24351 [QNN EP] Add support for Int64 tensors
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/cast_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/gather_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/transpose_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_def.h
  onnxruntime/test/providers/qnn/reshape_expand_op_test.cc
Labels: ep:QNN

#24142 [WebNN] Support MatMulNBits op
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/matMulNBits_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#24364 fix compile on latest 24.02
  onnxruntime/core/providers/webgpu/nn/activation_util.h
Labels: ep:WebGPU

#24286 [webgpu] Use workgroup memory to reduce register pressure
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.h
Labels: ep:WebGPU

#24389 [QNN EP] Add support for int64 shape input of Expand Op
  onnxruntime/core/providers/qnn/builder/opbuilder/expand_op_builder.cc
  onnxruntime/test/providers/qnn/reshape_expand_op_test.cc
Labels: ep:QNN

#24388 [webgpu] fix 2 bugs in Conv/ConvTranspose
  onnxruntime/core/providers/webgpu/nn/conv2d_mm_webgpu.cc
  onnxruntime/core/providers/webgpu/nn/conv_backprop_webgpu.cc
Labels: ep:WebGPU

#24400 [webgpu] move comments out from WGSL in FlashAttention impl
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
Labels: ep:WebGPU

#24415 [WebGPU EP] Fixes bugs in slice operator implementation
  onnxruntime/core/providers/webgpu/tensor/slice.cc
Labels: ep:WebGPU

#24408 [webgpu] Enable DP4A MatMul generation path for Qualcomm
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
Labels: ep:WebGPU

#24420 [Native WebGPU EP] Increase error tolarance limit f16
  onnxruntime/core/providers/webgpu/nn/instance_norm.cc
  onnxruntime/test/providers/cpu/nn/instance_norm_op_test.cc
Labels: ep:WebGPU

#24399 [Native WebGPU] Support shared memory version of ReduceOps
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.cc
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.h
Labels: ep:WebGPU

#24404 [webgpu] Fix batch-norm for ort-web-tests
  onnxruntime/core/providers/webgpu/nn/batch_norm.cc
  onnxruntime/core/providers/webgpu/nn/batch_norm.h
Labels: ep:WebGPU

#24439 update the QNN download link
  docs/execution-providers/QNN-ExecutionProvider.md
Labels: ep:QNN

#24435 [QNN EP] Enable QnnGpu backend in QNN EP.
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/resize_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_def.cc
  onnxruntime/core/providers/qnn/builder/qnn_def.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  setup.py
  tools/ci_build/github/azure-pipelines/templates/c-api-artifacts-package-and-publish-steps-windows.yml
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: ep:QNN

#24440 Update QNN version to 2.33.2
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/custom-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/py-cpu-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar-test.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#24282 [WebNN EP] Automatically use ml-tensor for outputs
  js/web/lib/wasm/jsep/backend-webnn.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/lib/wasm/wasm-types.ts
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/wasm/pre-jsep.js
Labels: ep:WebNN

#24444 [QNN EP] Reverting a recent logging change for QNN GPU only,
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
Labels: ep:QNN

#24438 [Native WebGPU] Handle corner cases in naive kernel.
  onnxruntime/core/providers/webgpu/reduction/reduction_ops.cc
Labels: ep:WebGPU

#24461 [QNN EP] Update the generated Qnn context binary file name to align with the design doc
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/providers/qnn/builder/onnx_ctx_model_helper.cc
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
Labels: ep:QNN

#24425 [WebNN] Fallback unsupported integer input and output of a WebNN graph to int32
  js/web/lib/wasm/jsep/backend-webnn.ts
  js/web/lib/wasm/jsep/webnn/tensor-manager.ts
  js/web/lib/wasm/jsep/webnn/webnn.d.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/lib/wasm/wasm-types.ts
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/rotaryEmbedding_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/shape_op_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
  onnxruntime/wasm/pre-jsep.js
Labels: ep:WebNN

#24466 [QNN-EP] Translate FP-to-Bool Cast by NotEqual.
  onnxruntime/core/providers/qnn/builder/opbuilder/cast_op_builder.cc
  onnxruntime/test/providers/qnn/cast_test.cc
Labels: ep:QNN, release:1.22.0

#24484 Remove deprecated onnx.mapping usage
  onnxruntime/python/tools/transformers/fusion_utils.py
  onnxruntime/test/onnx/gen_test_models.py
  onnxruntime/test/python/contrib_ops/onnx_contrib_ops_helper.py
  onnxruntime/test/python/onnxruntime_test_python_iobinding.py
  tools/python/ort_test_dir_utils.py
Labels: merge on green, release:1.22.0

#24489 [WebGPU EP] Implements Depth-To-Space Operator
  onnxruntime/core/providers/webgpu/tensor/depth_to_space.cc
  onnxruntime/core/providers/webgpu/tensor/depth_to_space.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/test/providers/cpu/tensor/space_depth_ops_test.cc
Labels: ep:WebGPU

#24494 [QNN EP] Update Android QNN package to use QNN SDK 2.33.0 (available on Maven)
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar-test.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
Labels: release:1.22.0

#24504 Revert "Remove build-nuget from dml-vs-2022.yml"
  tools/ci_build/github/azure-pipelines/nuget/templates/dml-vs-2022.yml
Labels: release:1.22.0

#24437 [WebNN] Always execute decomposed *SimplifiedLayerNormalization in FP32
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
Labels: ep:WebNN

#24503 [NativeWebGPU] ConvTranspose and other minor fixes
  onnxruntime/core/providers/webgpu/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/webgpu/nn/conv_backprop_webgpu.cc
  onnxruntime/core/providers/webgpu/nn/layer_norm.cc
Labels: ep:WebGPU

#24265 [QNN-EP] Support for Upsample operator
  onnxruntime/core/optimizer/layout_transformation/layout_transformation.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.h
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/upsample_op_builder.cc
  onnxruntime/test/providers/qnn/upsample_op_test.cc
Labels: ep:QNN

#24491 [x86] matmulnbit x64 kernel for 8bits
  onnxruntime/contrib_ops/cpu/quantization/matmul_nbits.cc
  onnxruntime/core/mlas/lib/mlasi.h
  onnxruntime/core/mlas/lib/platform.cpp
  onnxruntime/core/mlas/lib/qnbitgemm.cpp
  onnxruntime/core/mlas/lib/qnbitgemm.h
  onnxruntime/core/mlas/lib/qnbitgemm_kernel_neon.cpp
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx2.cpp
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx2_int8_blklen16.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx2_int8_blklen32.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx2_int8_blklen64.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512.cpp
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512_int8_blklen128.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512_int8_blklen16.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512_int8_blklen32.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512_int8_blklen64.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512vnni.cpp
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx_common.h
  onnxruntime/test/contrib_ops/matmul_8bits_test.cc
  onnxruntime/test/mlas/bench/bench_qnbitgemm.cpp
  onnxruntime/test/mlas/unittest/test_sq8bitgemm.cpp
Labels: release:1.22.0

#24537 [QDQ Optimizer] Update WeightBiasQuantization to skip Conv/Gemm if downstream node is not QuantizeLinear
  onnxruntime/core/optimizer/qdq_transformer/weight_bias_quantization.cc
  onnxruntime/test/optimizer/qdq_transformer_test.cc
Labels: release:1.22.0

#24501 AutoEP C++ API wrappers
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/session/abi_key_value_pairs.h
  onnxruntime/test/autoep/test_autoep_selection.cc
Labels: release:1.22.0

#24539 Fix segfault when re-loading an EP library
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
Labels: release:1.22.0

#24519 [webgpu] Fix bug in 1D dispatch workgroups
  onnxruntime/contrib_ops/webgpu/bert/attention.cc
Labels: ep:WebGPU, release:1.22.0

#24527 [Native WebGPU] Fixed Conv2dMM and MatMul issues related indexing, hint, etc.
  onnxruntime/core/providers/webgpu/math/matmul.cc
  onnxruntime/core/providers/webgpu/math/matmul_packed.cc
  onnxruntime/core/providers/webgpu/nn/conv2d_mm_webgpu.cc
Labels: ep:WebGPU

#24514 webgpu: fix InstanceNorm errors
  onnxruntime/core/providers/webgpu/nn/instance_norm.cc
Labels: ep:WebGPU

#24496 webgpu: fix conv error when using MatMulNaiveProgram
  onnxruntime/core/providers/webgpu/nn/conv.cc
Labels: ep:WebGPU

#24509 [Cuda] support 8 bits in MatMulNBits
  onnxruntime/contrib_ops/cuda/quantization/dequantize_blockwise.cuh
  onnxruntime/contrib_ops/cuda/quantization/dequantize_blockwise_4bits.cu
  onnxruntime/contrib_ops/cuda/quantization/dequantize_blockwise_8bits.cu
  onnxruntime/contrib_ops/cuda/quantization/matmul_4bits.cu
  onnxruntime/contrib_ops/cuda/quantization/matmul_8bits.cu
  onnxruntime/contrib_ops/cuda/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/cuda/quantization/matmul_nbits.cuh
  onnxruntime/test/contrib_ops/matmul_8bits_test.cc
  onnxruntime/test/python/quantization/test_op_matmul_8bits.py
Labels: release:1.22.0

#24196 Set shared memory type based on options during the compilation phase
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_def.h
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
Labels: ep:QNN

#24564 [CUDA] MatMulNBits benchmark
  onnxruntime/contrib_ops/cuda/quantization/matmul_8bits.cu
  onnxruntime/python/tools/transformers/io_binding_helper.py
  onnxruntime/test/python/quantization/bench_matmul_8bits.py
Labels: release:1.22.0

#24513 Update attention fusion in speech component of Phi-4 mm
  onnxruntime/python/tools/transformers/fusion_conformer_attention.py
Labels: release:1.22.0

#24566 [webgpu] add util functions for creating tensor view
  onnxruntime/core/providers/webgpu/compute_context.h
  onnxruntime/core/providers/webgpu/webgpu_utils.h
Labels: ep:WebGPU

#24358 [WebGPU EP] Add EINSUM implementation
  onnxruntime/core/providers/webgpu/math/einsum.cc
  onnxruntime/core/providers/webgpu/math/einsum.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/test/providers/cpu/math/einsum_test.cc
Labels: ep:WebGPU

#24582 [CUDA] Fix build for sm<53
  onnxruntime/contrib_ops/cuda/moe/ft_moe/moe_kernel.cu
  onnxruntime/contrib_ops/cuda/quantization/matmul_8bits.cu
Labels: release:1.22.0

#24568 Give the EP all devices so it can create OrtEpDevice instances with full knowledge
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/providers/cuda/cuda_provider_factory.cc
  onnxruntime/core/session/environment.cc
  onnxruntime/core/session/ep_api.cc
  onnxruntime/core/session/ep_api.h
  onnxruntime/core/session/ep_api_utils.h
  onnxruntime/core/session/ep_factory_internal.cc
  onnxruntime/core/session/ep_factory_internal.h
  onnxruntime/core/session/ep_library_internal.cc
  onnxruntime/core/session/ep_library_plugin.cc
  onnxruntime/core/session/ep_library_provider_bridge.cc
  onnxruntime/core/session/ep_library_provider_bridge.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/test/autoep/library/example_plugin_ep.cc
  onnxruntime/test/autoep/test_autoep_selection.cc
Labels: release:1.22.0

#24585 Fix DML autoep select test.
  onnxruntime/test/autoep/test_autoep_selection.cc
Labels: release:1.22.0

#24587 'LoadPluginOrProviderBridge' should load the library_path as absolute
  onnxruntime/core/session/ep_library_plugin.h
  onnxruntime/core/session/provider_bridge_library.h
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/core/session/utils.cc
Labels: release:1.22.0

#24563 Add Windows ARM64 I8MM detection.
  onnxruntime/core/common/cpuid_info.cc
Labels: release:1.22.0

#24592 [QNN EP] Add Support for ScatterND Op in QNN EP
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
Labels: ep:QNN, release:1.22.0

#24485 [webgpu] Fix multihead-attention for ort-web-tests
  onnxruntime/contrib_ops/webgpu/bert/attention.cc
Labels: ep:WebGPU

#24593 [Native Webgpu] Handle empty output in Expand
  onnxruntime/core/providers/webgpu/tensor/expand.cc
Labels: ep:WebGPU

#24550 [QNN-EP] Minor fix: compare different types
  onnxruntime/core/providers/qnn/builder/opbuilder/softmax_op_builder.cc
Labels: ep:QNN

#24576 [VitisAI] Update the order of deregister op
  onnxruntime/core/providers/vitisai/imp/global_api.cc
  onnxruntime/core/providers/vitisai/include/vaip/vaip_ort_api.h
Labels: ep:VitisAI

#24590 [webgpu] Enable matmul8bits for dp4/subgroupMatrix path
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.h
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
  onnxruntime/contrib_ops/webgpu/quantization/subgroup_matrix_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/subgroup_matrix_matmul_nbits.h
Labels: ep:WebGPU

#24526 incorporate requested changes for PR:24394
  cmake/onnxruntime_providers_openvino.cmake
  onnxruntime/core/providers/openvino/backend_manager.cc
  onnxruntime/core/providers/openvino/qdq_transformations/qdq_stripping.cc
  onnxruntime/core/providers/openvino/qdq_transformations/qdq_stripping.h
Labels: release:1.22.0

#24552 Rework --enable_generic_interface and add tests
  .github/workflows/windows_x64_release_ep_generic_interface_build_x64_release_ep_generic_interface.yml
  cmake/CMakeLists.txt
  onnxruntime/core/optimizer/layout_transformation/layout_transformation.cc
  onnxruntime/core/providers/cpu/cpu_provider_shared.cc
  onnxruntime/core/providers/cpu/cpu_provider_shared.h
  onnxruntime/core/providers/provider_factory_creators.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/core/session/environment.cc
  onnxruntime/core/session/lora_adapters.cc
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/core/session/provider_registration.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  onnxruntime/test/shared_lib/test_session_options.cc
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
Labels: release:1.22.0

#24588 Qnn nuget build with arm64x
  cmake/onnxruntime_providers_qnn.cmake
  cmake/onnxruntime_unittests.cmake
  csharp/src/Microsoft.ML.OnnxRuntime/targets/netstandard/props_qnn.xml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/custom-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/nuget_dml_packaging_stage.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/nuget/generate_nuspec_for_native_nuget.py
Labels: ep:QNN, release:1.22.0

#24605 Make sure the macosx binaries get signed
  tools/ci_build/github/azure-pipelines/custom-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/mac-cpu-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/mac-esrp-dylib.yml
Labels: release:1.22.0
