Repository microsoft/onnxruntime, pull requests merged in 2025-06, with the labels that each got.

#24586 [WebGPU] Unify core implementations of GEMM and MatMul
  onnxruntime/core/providers/webgpu/math/gemm.cc
  onnxruntime/core/providers/webgpu/math/gemm.h
  onnxruntime/core/providers/webgpu/math/gemm_packed.cc
  onnxruntime/core/providers/webgpu/math/gemm_packed.h
  onnxruntime/core/providers/webgpu/math/gemm_utils.cc
  onnxruntime/core/providers/webgpu/math/gemm_utils.h
  onnxruntime/core/providers/webgpu/math/gemm_vec4.cc
  onnxruntime/core/providers/webgpu/math/gemm_vec4.h
  onnxruntime/core/providers/webgpu/math/matmul_packed.cc
  onnxruntime/core/providers/webgpu/math/matmul_packed.h
  onnxruntime/core/providers/webgpu/nn/conv2d_mm_webgpu.cc
  onnxruntime/test/providers/cpu/math/gemm_test.cc
  onnxruntime/test/providers/cpu/math/matmul_test.cc
  onnxruntime/test/providers/cpu/nn/conv_op_test.cc
Labels: ep:WebGPU

#24896 [QNN-EP] Replace Upsample with Resize during Quantization
  onnxruntime/python/tools/quantization/fusions/__init__.py
  onnxruntime/python/tools/quantization/fusions/replace_upsample_with_resize.py
  onnxruntime/python/tools/quantization/shape_inference.py
Labels: ep:QNN

#24904 [QNN-EP] Fuse ChannelShuffle pattern
  onnxruntime/core/providers/qnn/builder/qnn_node_group/channel_shuffle_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/channel_shuffle_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.cc
  onnxruntime/test/providers/qnn/qnn_node_group/channel_shuffle_fusion_test.cc
Labels: ep:QNN

#24895 Remove ep_weight_sharing_ctx_gen tool from QNN EP python wheel
  cmake/onnxruntime_python.cmake
  setup.py
Labels: ep:QNN

#24846 [QNN EP] Fix 16x16 MatMul translation
  onnxruntime/core/providers/qnn/builder/opbuilder/matmul_op_builder.cc
  onnxruntime/test/providers/qnn/matmul_test.cpp
Labels: ep:QNN

#24953 Allow FP16 math in flash attention
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.h
Labels: ep:WebGPU

#24994 [webgpu] Restore FP16 math in flash attention generation
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
Labels: ep:WebGPU

#24938 Remove `sequentially_access_by_threads` for Conv
  onnxruntime/core/providers/webgpu/math/gemm_utils.cc
  onnxruntime/core/providers/webgpu/math/gemm_utils.h
  onnxruntime/core/providers/webgpu/nn/conv.cc
  onnxruntime/core/providers/webgpu/nn/conv2d_mm_webgpu.cc
  onnxruntime/core/providers/webgpu/nn/conv2d_mm_webgpu.h
Labels: ep:WebGPU

#24970 [webgpu] add cases to cover the subgroup matrix path
  onnxruntime/test/contrib_ops/matmul_4bits_test.cc
  onnxruntime/test/contrib_ops/matmul_8bits_test.cc
Labels: ep:WebGPU

#25000 [WebGPU EP] bug fix for convolution operator
  onnxruntime/core/providers/webgpu/math/matmul.cc
  onnxruntime/core/providers/webgpu/nn/conv.cc
Labels: ep:WebGPU

#24881 [QNN-EP] Support non-last axis TopK.
  onnxruntime/core/providers/qnn/builder/opbuilder/softmax_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/topk.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.h
  onnxruntime/test/providers/qnn/topk_op_test.cc
Labels: ep:QNN

#24952 [QNN EP] Transform SFIXED to UFIXED on InstanceNorm scale
  onnxruntime/core/providers/qnn/builder/opbuilder/instance_norm_op_builder.cc
  onnxruntime/test/providers/qnn/instance_norm_htp_test.cc
Labels: ep:QNN

#25002 Upgrade QNN to 2.35.0
  onnxruntime/test/providers/qnn/cast_test.cc
  onnxruntime/test/providers/qnn/clip_op_test.cc
  onnxruntime/test/providers/qnn/conv_test.cc
  onnxruntime/test/providers/qnn/cumsum_op_htp_test.cc
  onnxruntime/test/providers/qnn/gather_op_htp_test.cc
  onnxruntime/test/providers/qnn/lstm_test.cc
  onnxruntime/test/providers/qnn/qnn_node_group/scale_softmax_fusion_test.cc
  onnxruntime/test/providers/qnn/transpose_htp_test.cc
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/custom-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/py-cpu-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar-test.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#25016 [QNN EP] Enable boolean support for expand op
  onnxruntime/core/providers/qnn/builder/opbuilder/expand_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/reshape_op_builder.cc
  onnxruntime/test/providers/qnn/reshape_expand_op_test.cc
Labels: ep:QNN

#25024 [QNN EP] Add fixing dynamic input shapes in qnn.preprocess
  onnxruntime/python/tools/qnn/preprocess.py
  onnxruntime/python/tools/quantization/execution_providers/qnn/preprocess.py
Labels: ep:QNN

#24898 [webgpu] support intel subgroup matrix on matmul_nbits
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/subgroup_matrix_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/subgroup_matrix_matmul_nbits.h
  onnxruntime/core/providers/webgpu/compute_context.h
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
Labels: ep:WebGPU

#25026 [WebGPU EP] adjusts pow op to use sqrt when exponent is 0.5
  onnxruntime/core/providers/webgpu/math/binary_elementwise_ops.cc
  onnxruntime/test/providers/cpu/math/element_wise_ops_test.cc
  onnxruntime/test/testdata/webgpu_pow_cast_test.onnx
  onnxruntime/test/testdata/webgpu_pow_cast_test.py
Labels: ep:WebGPU

#25082 vitisai/imp/graph.cc: fix graph_save() for models with external data
  onnxruntime/core/providers/vitisai/imp/graph.cc
Labels: ep:VitisAI

#25035 [QNN EP] Add Support for Reciprocal Op in QNN EP
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_selectors.cc
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_selectors.h
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/shared/utils.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.h
  onnxruntime/core/providers/qnn/builder/opbuilder/reciprocal_op_builder.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
Labels: ep:QNN

#25076 [QNN EP] Add QNN EP UDO support
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.h
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/udo_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/builder/qnn_def.cc
  onnxruntime/core/providers/qnn/builder/qnn_def.h
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/test/onnx/main.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
Labels: ep:QNN

#24962 Enable VTCM Back Up Buffer Sharing
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
Labels: ep:QNN

#25140 [WebGPU-EP] Optimize subgroup_matrix_matmul_nbits on Intel
  onnxruntime/contrib_ops/webgpu/quantization/subgroup_matrix_matmul_nbits.cc
Labels: ep:WebGPU

#25021 [QNN EP] Add support for Mean Op in QNN EP
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.h
  onnxruntime/core/providers/qnn/builder/opbuilder/mean_op_builder.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
Labels: ep:QNN
