Repository microsoft/onnxruntime, pull requests merged in 2025-02, with the labels that each got.

#23237 delete the supported domain version upper bounds
  onnxruntime/core/providers/cann/cann_graph.cc
Labels: ep:CANN

#23573 Update QNN default version to 2.31
  onnxruntime/test/onnx/TestCase.cc
  onnxruntime/test/providers/qnn/conv_test.cc
  onnxruntime/test/providers/qnn/gather_op_htp_test.cc
  onnxruntime/test/providers/qnn/gemm_op_test.cc
  onnxruntime/test/providers/qnn/reduce_op_test.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/py-cpu-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar-test.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#23525 [WebGPU EP] Batch Norm Implementation
  onnxruntime/core/providers/webgpu/nn/batch_norm.cc
  onnxruntime/core/providers/webgpu/nn/batch_norm.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/test/providers/cpu/nn/batch_norm_op_test.cc
Labels: ep:WebGPU

#23488 Fix ConvTranspose for certain attribute combinations
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/lib/wasm/jsep/webgpu/ops/conv-transpose.ts
  js/web/test/data/ops/conv-transpose.jsonc
  js/web/test/suite-test-list.jsonc
Labels: ep:WebGPU

#23576 Implement Flash Attention 2 for webgpu EP
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.h
  onnxruntime/contrib_ops/webgpu/bert/multihead_attention.cc
Labels: ep:WebGPU

#23438 [webgpu] Use pushErrorScope()/popErrorScope() once for an inference run
  onnxruntime/core/providers/webgpu/compute_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#23192 [WebGPU] Support PIX Capture for WebGPU EP
  cmake/CMakeLists.txt
  cmake/external/onnxruntime_external_deps.cmake
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.h
  onnxruntime/core/providers/webgpu/webgpu_pix_frame_generator.cc
  onnxruntime/core/providers/webgpu/webgpu_pix_frame_generator.h
  onnxruntime/core/providers/webgpu/webgpu_provider_factory.cc
  onnxruntime/core/providers/webgpu/webgpu_provider_options.h
  tools/ci_build/build.py
Labels: ep:WebGPU

#23606 Migrate iOS release pipeline to 1 ES
  tools/ci_build/github/azure-pipelines/mac-ios-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/stages/mac-ios-packaging-build-stage.yml
Labels: platform:mobile

#23593 [webgpu] no longer need pass-in gpu adapter for custom context
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
  onnxruntime/core/providers/webgpu/webgpu_provider_factory.cc
  onnxruntime/core/providers/webgpu/webgpu_provider_options.h
Labels: ep:WebGPU

#23615 use correct total length to fix static kv_cache performance
  onnxruntime/contrib_ops/webgpu/bert/attention.cc
Labels: ep:WebGPU

#23370 [WebNN] Add op support validation for decomposed WebNN ops
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/base_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/binary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/cast_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/concat_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/conv_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/einsum_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gatherElements_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gatherND_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gather_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gru_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/logical_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/lrn_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/lstm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/max_min_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/normalization_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/qdq_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/rotaryEmbedding_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/scatterElements_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/scatterND_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/slice_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/split_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/ternary_op_builder.cc
Labels: ep:WebNN

#23673 Mapping ORT verbose log level to QNN verbose log level
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
Labels: ep:QNN

#23637 WIP: DP4AMatMul fix matmul for subgoup size 64 GPUs
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
Labels: ep:WebGPU

#23663 [webgpu] Fix MatMulNBits prefill shader synchronization
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
Labels: ep:WebGPU

#23696 [webgpu] Use workgroup_idx instead of workgroup_id.x
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
Labels: ep:WebGPU

#22494 [QNN] MatMulAddFusion and Reshape Related Fusion
  onnxruntime/core/optimizer/matmul_add_fusion.cc
  onnxruntime/core/optimizer/reshape_fusion.cc
  onnxruntime/core/optimizer/reshape_fusion.h
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/batch_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/cast_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/clip_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/expand_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/gemm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/matmul_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/pad_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/reduce_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/slice_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/split_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/tile_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/topk.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.h
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/reshape_gemm_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/reshape_gemm_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/providers/qnn/gemm_op_test.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
  onnxruntime/test/testdata/transform/matmul_add_fusion/3Input/model_1d.onnx
Labels: ep:QNN

#23706 [QNN EP] Build Python 3.13 packages for QNN
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
Labels: ep:QNN

#23726 [webgpu] Use components for VxAttentionScore
  onnxruntime/contrib_ops/webgpu/bert/attention.cc
Labels: ep:WebGPU

#23755 [JSEP] fix scatter-nd jsep kernel
  js/web/lib/wasm/jsep/webgpu/ops/scatter-nd.ts
  js/web/test/data/ops/scatternd.jsonc
  onnxruntime/core/providers/js/js_execution_provider.cc
  onnxruntime/core/providers/js/operators/scatter_nd.h
Labels: platform:web, api:Javascript, ep:WebGPU

#23729 [webgpu] Implement SubGroupMatrix based MatMulNBits for Metal
  cmake/deps.txt
  cmake/patches/dawn/dawn.patch
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/subgroup_matrix_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/subgroup_matrix_matmul_nbits.h
  onnxruntime/core/providers/webgpu/shader_helper.cc
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
Labels: ep:WebGPU

#23761 [webgpu] Enable FlashAttention for GQA
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.h
  onnxruntime/contrib_ops/webgpu/bert/group_query_attention.cc
Labels: ep:WebGPU

#23776 [webgpu] Fix alignment issues in shader code
  onnxruntime/core/providers/webgpu/shader_helper.cc
Labels: ep:WebGPU
