Repository microsoft/onnxruntime, pull requests merged in 2025-05, with the labels that each got.

#24610 [webgpu] allows atomic type for output
  onnxruntime/core/providers/webgpu/program.cc
  onnxruntime/core/providers/webgpu/program.h
  onnxruntime/core/providers/webgpu/shader_helper.cc
Labels: ep:WebGPU

#24545 [NV EP] fix EP context options
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_custom_ops.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_helper.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_info.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_info.h
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_utils.h
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_provider_factory.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_provider_factory_creator.h
  onnxruntime/core/providers/nv_tensorrt_rtx/onnx_ctx_model_helper.cc
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/core/session/provider_registration.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/providers/nv_tensorrt_rtx/nv_basic_test.cc
Labels: release:1.22.0

#24625 Selection policy. Device discovery updates. Bug fixes.
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/common/cpuid_info.cc
  onnxruntime/core/common/cpuid_info.h
  onnxruntime/core/framework/graph_partitioner.cc
  onnxruntime/core/framework/session_options.h
  onnxruntime/core/platform/windows/device_discovery.cc
  onnxruntime/core/session/abi_key_value_pairs.h
  onnxruntime/core/session/abi_session_options.cc
  onnxruntime/core/session/ep_library_internal.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/core/session/model_compilation_options.cc
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/core/session/provider_policy_context.cc
  onnxruntime/core/session/provider_policy_context.h
  onnxruntime/core/session/utils.cc
  onnxruntime/test/autoep/test_autoep_selection.cc
Labels: release:1.22.0

#24629 [QNN EP] Enable automatic selection of QNN EP for PREFER_NPU policy
  onnxruntime/core/common/cpuid_info.cc
  onnxruntime/core/providers/qnn/qnn_provider_factory.cc
  onnxruntime/core/providers/qnn/symbols.def
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
Labels: release:1.22.0

#24633 Fix OrtEpDevices sort. Debug assertion when there are two devices of the same type…
  onnxruntime/core/session/provider_policy_context.cc
Labels: release:1.22.0

#24640 Enable use_vcpkg for QNN Nuget package build and Python arm64ec build
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
Labels: ep:QNN

#24643 Publish debug symbols for windows
  tools/ci_build/github/azure-pipelines/templates/c-api-artifacts-package-and-publish-steps-windows.yml
Labels: release:1.22.0

#24638 Add support for selection policy delegate (based on PR #24653)
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/framework/session_options.h
  onnxruntime/core/session/abi_session_options.cc
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/core/session/provider_policy_context.cc
  onnxruntime/core/session/utils.cc
  onnxruntime/test/autoep/test_autoep_selection.cc
Labels: release:1.22.0

#24546 [webgpu] Add Matmul8bits Support
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
  onnxruntime/test/contrib_ops/matmul_8bits_test.cc
Labels: ep:WebGPU

#24639 [webgpu] fix compile errors in instancenorm
  onnxruntime/core/providers/webgpu/nn/instance_norm.cc
Labels: ep:WebGPU

#24650 [JSEP] Fix outputSize calculation causing duplicate indices.
  js/web/lib/wasm/jsep/webgpu/ops/scatter-nd.ts
Labels: ep:WebGPU

#24598 [webgpu]: optimize pool operators
  onnxruntime/core/providers/webgpu/nn/pool.cc
  onnxruntime/core/providers/webgpu/nn/pool.h
Labels: ep:WebGPU

#24623 [Native WebGPU] Added ScatterND
  onnxruntime/core/providers/webgpu/shader_helper.cc
  onnxruntime/core/providers/webgpu/tensor/scatter_nd.cc
  onnxruntime/core/providers/webgpu/tensor/scatter_nd.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#24657 [QNN EP] Fix Resize Op support translation
  onnxruntime/core/providers/qnn/builder/opbuilder/resize_op_builder.cc
  onnxruntime/test/providers/qnn/resize_test.cc
Labels: ep:QNN

#24659 [QNN-EP] Einsum QDQ tests followup: node selector
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_selectors.cc
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/qdq_selectors.h
  onnxruntime/core/optimizer/qdq_transformer/selectors_actions/shared/utils.cc
Labels: ep:QNN

#24678 [VitisAI] fix graph_save dump unsorted Model
  onnxruntime/core/providers/vitisai/imp/graph.cc
Labels: ep:VitisAI

#24690 Qnn nuget package update for arm64x
  csharp/src/Microsoft.ML.OnnxRuntime/targets/netstandard/props_qnn.xml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
Labels: ep:QNN

#23393 Add trace event control for ORT Web performance profiling
  js/common/lib/inference-session-impl.ts
  js/common/lib/trace.ts
  js/web/lib/wasm/jsep/init.ts
  js/web/lib/wasm/wasm-core-impl.ts
  js/web/lib/wasm/wasm-types.ts
  onnxruntime/core/providers/webnn/builders/model.cc
  onnxruntime/core/providers/webnn/data_transfer.cc
  onnxruntime/wasm/pre-jsep.js
Labels: ep:WebNN

#24707 [QNN-EP] [NFC] Fix qnn_node_group.h file location
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/dq_q_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/hardsigmoid_mul_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/reshape_gemm_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/utils.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
Labels: ep:QNN

#24745 [webgpu] fix hardsigmoid fuse
  onnxruntime/core/providers/webgpu/nn/fuse_utils.cc
Labels: ep:WebGPU

#24746 [WebGPU EP] add output_size==0 check in transpose kernel
  onnxruntime/core/providers/webgpu/tensor/transpose.cc
Labels: ep:WebGPU

#22173 CMake exports for static onnxruntime
  cmake/CMakeLists.txt
  cmake/external/abseil-cpp.cmake
  cmake/external/extensions.cmake
  cmake/external/onnxruntime_external_deps.cmake
  cmake/onnxruntime.cmake
  cmake/onnxruntime_common.cmake
  cmake/onnxruntime_flatbuffers.cmake
  cmake/onnxruntime_framework.cmake
  cmake/onnxruntime_graph.cmake
  cmake/onnxruntime_lora.cmake
  cmake/onnxruntime_mlas.cmake
  cmake/onnxruntime_optimizer.cmake
  cmake/onnxruntime_providers_acl.cmake
  cmake/onnxruntime_providers_armnn.cmake
  cmake/onnxruntime_providers_coreml.cmake
  cmake/onnxruntime_providers_cpu.cmake
  cmake/onnxruntime_providers_dml.cmake
  cmake/onnxruntime_providers_nnapi.cmake
  cmake/onnxruntime_providers_qnn.cmake
  cmake/onnxruntime_providers_rknpu.cmake
  cmake/onnxruntime_providers_webnn.cmake
  cmake/onnxruntime_providers_xnnpack.cmake
  cmake/onnxruntime_session.cmake
  cmake/onnxruntime_util.cmake
  cmake/patches/protobuf/protobuf_android_log.patch
  cmake/tensorboard/compat/proto/CMakeLists.txt
Labels: build

#24687 [WebNN] Support MatMulInteger op
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
Labels: ep:WebNN

#24736 [WebNN] Support RotaryEmbedding for opset 23
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/rotaryEmbedding_op_builder.cc
Labels: ep:WebNN

#24781 [QNN EP] Always write to profiling file if `profiling_file_path` is given.
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
Labels: ep:QNN

#24776 Use Memtype as MemHandle only for Graph IO Tensors
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
Labels: ep:QNN

#24791 Disable a test for QNN to unblock the build pipeline
  onnxruntime/test/providers/cpu/nn/pool_op_test.cc
Labels: ep:QNN

#24799 [VITISAI] pass all session configs to vitisai ep for `Ort::CompileModel` flow
  onnxruntime/core/providers/vitisai/vitisai_provider_factory.cc
Labels: ep:VitisAI

#24775 QNN EP can serialize graph to DLC
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/builder/qnn_configs_helper.h
  onnxruntime/core/providers/qnn/builder/qnn_def.h
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
Labels: ep:QNN

#24646 [QNN EP] Add LSTM op builder for QNN EP
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.h
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/lstm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/upsample_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/ort_api.cc
  onnxruntime/core/providers/qnn/ort_api.h
  onnxruntime/test/optimizer/graph_transform_test_builder.h
  onnxruntime/test/providers/qnn/lstm_test.cc
Labels: ep:QNN

#24729 [QNN EP] Fix 16x16 Conv translation
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.h
  onnxruntime/test/providers/qnn/conv_test.cc
Labels: ep:QNN

#24751 [QNN EP] Fix inconsistent inputs for graph
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.h
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
Labels: ep:QNN

#24827 [QNN EP] MaxPool input rank-3 auto pad bug fix
  onnxruntime/core/providers/qnn/builder/opbuilder/pool_op_builder.cc
  onnxruntime/test/providers/cpu/nn/pool_op_test.cc
  onnxruntime/test/providers/qnn/pool_op_test.cpp
Labels: ep:QNN

#24848 [QNN-EP] Define SpaceToDepth fusion for YOLOv2.
  cmake/onnxruntime_python.cmake
  onnxruntime/python/tools/qnn/preprocess.py
  onnxruntime/python/tools/quantization/execution_providers/qnn/fusion_spacetodepth.py
  onnxruntime/python/tools/quantization/execution_providers/qnn/preprocess.py
  setup.py
Labels: ep:QNN

#24809 [QNN EP] Fuse scale into softmax
  cmake/onnxruntime_unittests.cmake
  onnxruntime/core/optimizer/bias_softmax_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/scale_softmax_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/scale_softmax_fusion.h
  onnxruntime/test/providers/qnn/qnn_node_group/scale_softmax_fusion_test.cc
Labels: ep:QNN

#24855 [WebGPU EP] Fix NaN bug in softmax operator
  js/web/lib/wasm/jsep/webgpu/ops/softmax.ts
  onnxruntime/core/providers/webgpu/math/softmax.cc
  onnxruntime/test/providers/cpu/math/softmax_test.cc
Labels: ep:WebGPU
