Repository microsoft/onnxruntime, pull requests merged in 2025-01, with the labels that each got.

#23197 [js/webgpu] validate transpose perm if specified
  js/web/lib/wasm/jsep/webgpu/ops/transpose.ts
Labels: ep:WebGPU

#23204 [VitisAI] change all support tensor type from ir 9 to ir 10
  include/onnxruntime/core/framework/data_types.h
  onnxruntime/core/framework/data_types.cc
  onnxruntime/core/session/custom_ops.cc
Labels: core runtime, ep:VitisAI

#23167 [webgpu] Add kernel type to profile info
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/providers/webgpu/webgpu_context.h
Labels: ep:WebGPU

#23188 [webgpu] Use override shape in shader key
  onnxruntime/core/providers/webgpu/math/binary_elementwise_ops.cc
  onnxruntime/core/providers/webgpu/program_cache_key.cc
  onnxruntime/core/providers/webgpu/tensor/where.cc
Labels: ep:WebGPU

#23285 Correct ONNX and Protobuf version in vcpkg build
  .github/workflows/mac.yml
  .github/workflows/windows.yml
  cmake/CMakePresets.json
  cmake/vcpkg-configuration.json
  cmake/vcpkg-triplets/arm64-osx.cmake
  cmake/vcpkg-triplets/arm64-windows.cmake
  cmake/vcpkg-triplets/x64-osx.cmake
  cmake/vcpkg-triplets/x64-windows.cmake
  cmake/vcpkg.json
Labels: build

#23274 Fix the issue for Gather int64 indices handling
  onnxruntime/core/providers/qnn/builder/opbuilder/gather_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/test/providers/qnn/gather_op_htp_test.cc
Labels: ep:QNN

#23287 [JSEP/WebGPU] Add a fatal error message for unsupported GQA do_rotary attribute.
  js/web/lib/wasm/jsep/webgpu/ops/group-query-attention.ts
Labels: ep:WebGPU

#23302 [js/webgpu] Optimize convtranspose
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/test/data/ops/conv-transpose.jsonc
Labels: ep:WebGPU

#23224 [webgpu] Use subgroup for matmulnbits
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
  onnxruntime/core/providers/webgpu/compute_context.h
  onnxruntime/core/providers/webgpu/shader_helper.cc
Labels: ep:WebGPU

#23198 [webgpu] Implement Split operator
  onnxruntime/core/providers/webgpu/tensor/split.cc
  onnxruntime/core/providers/webgpu/tensor/split.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#23350 [WebGPU EP] increase abs error for test case MatMulNBits.Float16Large
  onnxruntime/test/contrib_ops/matmul_4bits_test.cc
Labels: ep:WebGPU

#23353 [WebGPU EP] use LOGS_DEFAULT for device lost logging
  onnxruntime/core/providers/webgpu/webgpu_context.cc
Labels: ep:WebGPU

#23351 [webgpu] Simplify o2i_output implementation
  onnxruntime/core/providers/webgpu/shader_variable.cc
Labels: ep:WebGPU

#23136 Add QNN EP HTP shared memory allocator
  include/onnxruntime/core/framework/allocator.h
  include/onnxruntime/core/framework/ortdevice.h
  include/onnxruntime/core/framework/ortmemoryinfo.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  onnxruntime/core/framework/allocator.cc
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/builder/qnn_context_mem_handle_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_context_mem_handle_manager.h
  onnxruntime/core/providers/qnn/builder/qnn_def.cc
  onnxruntime/core/providers/qnn/builder/qnn_def.h
  onnxruntime/core/providers/qnn/builder/qnn_model.cc
  onnxruntime/core/providers/qnn/builder/qnn_model.h
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.h
  onnxruntime/core/providers/qnn/qnn_allocator.cc
  onnxruntime/core/providers/qnn/qnn_allocator.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/core/providers/qnn/rpcmem_library.cc
  onnxruntime/core/providers/qnn/rpcmem_library.h
  onnxruntime/core/providers/qnn/shared_context.h
  onnxruntime/core/session/IOBinding.h
  onnxruntime/core/session/allocator_adapters.cc
  onnxruntime/test/optimizer/graph_transform_test_builder.h
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/perftest/ort_test_session.h
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
  onnxruntime/test/shared_lib/test_inference.cc
Labels: ep:QNN

#23264 slice operator implementation for webgpu native
  onnxruntime/core/providers/webgpu/tensor/slice.cc
  onnxruntime/core/providers/webgpu/tensor/slice.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/test/providers/cpu/tensor/slice_op.test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: ep:WebGPU

#23283 [WebNN] Support RotaryEmbedding op
  js/web/docs/webnn-operators.md
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/rotaryEmbedding_op_builder.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.cc
  onnxruntime/core/providers/webnn/builders/op_builder_factory.h
Labels: ep:WebNN

#23320 [QNN EP] Clean up correctly from a partial setup
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
Labels: ep:QNN

#23330 Fix the power mode issue for the case that run from context model
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
Labels: ep:QNN

#23332 [WebNN EP] Optimize model partitioning
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/webnn_execution_provider.cc
Labels: ep:WebNN

#23419 [QNN EP] Fix regression for MatMul with two quantized/dynamic uint16 inputs
  onnxruntime/core/providers/qnn/builder/opbuilder/matmul_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/test/providers/qnn/matmul_test.cpp
Labels: ep:QNN

#23354 [WebNN EP] Fix AddInitializersToSkip issues
  onnxruntime/core/providers/webnn/builders/model_builder.cc
  onnxruntime/core/providers/webnn/builders/model_builder.h
Labels: ep:WebNN

#23411 Update Qnn SDK default version to 2 30
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/test/providers/qnn/conv_test.cc
  onnxruntime/test/providers/qnn/gather_op_htp_test.cc
  onnxruntime/test/providers/qnn/gemm_op_test.cc
  onnxruntime/test/providers/qnn/matmul_test.cpp
  onnxruntime/test/providers/qnn/reduce_op_test.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/py-cpu-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar-test.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#23432 [QNN EP] workaround for QNN validation bug for Tanh with uint16 quantized output
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
  onnxruntime/core/providers/qnn/qnn_allocator.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
Labels: ep:QNN

#23435 [QNN EP]: Clean up QNN logging resources if an error occurs during initialization
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
Labels: ep:QNN

#23365 WIP: Dp4MatMulNBits accuracy level 4 matmul for WebGPU EP
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.h
Labels: ep:WebGPU

#23447 Make ORT and Dawn use the same protobuf/abseil source code
  cmake/external/abseil-cpp.cmake
  cmake/external/onnxruntime_external_deps.cmake
Labels: ep:WebGPU

#23454 Suppress some strict-aliasing related warnings in WebGPU EP
  onnxruntime/core/providers/webgpu/generator/range.cc
  onnxruntime/core/providers/webgpu/math/unary_elementwise_ops.cc
  onnxruntime/core/providers/webgpu/program.h
  onnxruntime/core/providers/webgpu/shader_variable.h
  onnxruntime/core/providers/webgpu/webgpu_context.cc
Labels: ep:WebGPU

#23429 [js/webgpu] Optimize ConvTranspose (Continue)
  js/web/lib/wasm/jsep/webgpu/ops/3rd-party/conv_backprop_webgpu.ts
  js/web/test/data/ops/conv-transpose.jsonc
Labels: ep:WebGPU

#16752 Align AvgPool ceil_mode on last value to torch
  onnxruntime/core/providers/cpu/nn/pool_attributes.h
  onnxruntime/core/providers/cpu/nn/pool_functors.h
  onnxruntime/test/onnx/TestCase.cc
  onnxruntime/test/providers/cpu/nn/pool_op_test.cc
Labels: core runtime

#23463 Enable opti on Microsoft.ML.OnnxRuntime with RelWithDebInfo config
  csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.csproj
Labels: api:CSharp

#23261 Adds the new System.Numerics.Tensors as an input/output type when using dotnet 8.0 and up.
  csharp/src/Microsoft.ML.OnnxRuntime/Microsoft.ML.OnnxRuntime.csproj
  csharp/src/Microsoft.ML.OnnxRuntime/OrtValue.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.NetCoreApp/InferenceTest.netcore.cs
  csharp/tools/linux_pack/LinuxPackNativeNuget.csproj
Labels: core runtime

#23110 Enable dlpack by default
  cmake/CMakeLists.txt
  cmake/external/onnxruntime_external_deps.cmake
  cmake/onnxruntime_providers_cpu.cmake
  cmake/onnxruntime_python.cmake
  onnxruntime/python/onnxruntime_pybind_ortvalue.cc
  onnxruntime/python/onnxruntime_pybind_state_common.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  onnxruntime/test/python/onnxruntime_test_python.py
Labels: api, merge on green

#23550 Remove "--enable_pybind" from webgpu pipeline
  tools/ci_build/github/azure-pipelines/win-gpu-webgpu-ci-pipeline.yml
Labels: merge on green, ep:WebGPU

#23539 DP4AMatMul perf refinements
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits.cc
Labels: ep:WebGPU
