Repository microsoft/onnxruntime, pull requests merged in 2025-07, with the labels that each got.

#25100 [QNN-EP] Complement PoolOpBuilder to support Pool3d.
  onnxruntime/core/providers/qnn/builder/opbuilder/pool_op_builder.cc
  onnxruntime/test/providers/qnn/average_pool_test.cc
  onnxruntime/test/providers/qnn/pool_op_test.cpp
Labels: ep:QNN

#25194 [QNN EP] Improve QNN EP UDO support for QDQ model
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.h
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/udo_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/udo_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/udo_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
Labels: ep:QNN

#25257 [QNN EP] Add Infrastructure to check datatypes
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/batch_norm_op_builder.cc
  onnxruntime/test/providers/qnn/batch_norm_test.cc
Labels: ep:QNN

#25283 [QNN EP] Upgrade QNN to 2.36.0
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/custom-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/py-cpu-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar-test.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#25271 fix webgpu dequantize_linear ut
  onnxruntime/core/providers/webgpu/quantization/quantize_linear.cc
Labels: ep:WebGPU

#25285 [webgpu] support smooth softmax for non-FA GQA implementation
  onnxruntime/contrib_ops/cpu/bert/group_query_attention.cc
  onnxruntime/contrib_ops/cpu/bert/group_query_attention_helper.h
  onnxruntime/contrib_ops/webgpu/bert/attention.cc
  onnxruntime/contrib_ops/webgpu/bert/attention.h
  onnxruntime/contrib_ops/webgpu/bert/attention_common.h
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/group_query_attention.cc
Labels: ep:WebGPU

#25326 fix 0 tensor issue in matmul and scatter_nd
  onnxruntime/core/providers/webgpu/math/matmul.cc
  onnxruntime/core/providers/webgpu/tensor/scatter_nd.cc
Labels: ep:WebGPU

#25185 [WebNN] Refactor webnn op input rank check and add validation for ops
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/impl/concat_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gatherElements_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gatherND_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gather_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gemm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/gru_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/logical_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/lstm_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/max_min_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/qdq_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/scatterElements_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/scatterND_op_builder.cc
  onnxruntime/core/providers/webnn/builders/impl/ternary_op_builder.cc
  onnxruntime/core/providers/webnn/builders/map_info.h
Labels: ep:WebNN

#25146 [QNN_EP] Implement Efficient Mode API
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.h
  onnxruntime/core/providers/qnn/qnn_execution_provider.cc
  onnxruntime/core/providers/qnn/qnn_execution_provider.h
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
Labels: ep:QNN

#25235 [webgpu] extend cast version to 23
  onnxruntime/core/providers/webgpu/tensor/cast.cc
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#25388 [QNN EP] Upgrade QNN to 2.36.1
  tools/ci_build/github/azure-pipelines/android-arm64-v8a-QNN-crosscompile-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/custom-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-qnn-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/py-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/qnn-ep-nuget-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/stages/py-cpu-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar-test.yml
  tools/ci_build/github/azure-pipelines/templates/android-java-api-aar.yml
  tools/ci_build/github/azure-pipelines/templates/c-api-cpu.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_linux_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/jobs/download_win_qnn_sdk.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-arm64ec-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/py-win-x64-qnn.yml
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
  tools/ci_build/github/azure-pipelines/win-qnn-arm64-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/win-qnn-ci-pipeline.yml
Labels: ep:QNN

#25365 Add vendor id to OrtEpFactory and default ORT logger to CreateEpFactories
  include/onnxruntime/core/session/onnxruntime_ep_c_api.h
  onnxruntime/core/providers/cuda/cuda_provider_factory.cc
  onnxruntime/core/providers/qnn/qnn_provider_factory.cc
  onnxruntime/core/session/ep_api_utils.h
  onnxruntime/core/session/ep_factory_internal.cc
  onnxruntime/core/session/ep_factory_internal.h
  onnxruntime/core/session/ep_library_internal.cc
  onnxruntime/core/session/ep_library_provider_bridge.cc
  onnxruntime/core/session/provider_policy_context.cc
  onnxruntime/test/autoep/library/ep.cc
  onnxruntime/test/autoep/library/ep.h
  onnxruntime/test/autoep/library/ep_factory.cc
  onnxruntime/test/autoep/library/ep_factory.h
  onnxruntime/test/framework/ep_plugin_provider_test.cc
Labels: release:1.23.0

#25408 [QNN-EP] Support GridSample of linear mode for ONNX opset 20+
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
  onnxruntime/test/providers/qnn/simple_op_htp_test.cc
Labels: ep:QNN

#25403 [QNN-EP] Update ScatterND op to reject only QNN-CPU
  onnxruntime/core/providers/qnn/builder/opbuilder/simple_op_builder.cc
Labels: ep:QNN

#25393 [QNN EP] Gpu backend test framework & test cases.
  onnxruntime/test/providers/qnn/argmaxmin_op_test.cc
  onnxruntime/test/providers/qnn/average_pool_test.cc
  onnxruntime/test/providers/qnn/cast_test.cc
  onnxruntime/test/providers/qnn/clip_op_test.cc
  onnxruntime/test/providers/qnn/conv_test.cc
  onnxruntime/test/providers/qnn/einsum_op_test.cc
  onnxruntime/test/providers/qnn/flatten_op_test.cc
  onnxruntime/test/providers/qnn/gemm_op_test.cc
  onnxruntime/test/providers/qnn/matmul_test.cpp
  onnxruntime/test/providers/qnn/qnn_test_utils.cc
  onnxruntime/test/providers/qnn/qnn_test_utils.h
Labels: ep:QNN

#25372 add sliding window support for webgpu gqa
  onnxruntime/contrib_ops/webgpu/bert/attention.cc
  onnxruntime/contrib_ops/webgpu/bert/attention.h
  onnxruntime/contrib_ops/webgpu/bert/attention_common.h
  onnxruntime/contrib_ops/webgpu/bert/group_query_attention.cc
Labels: ep:WebGPU

#25409 [TRT-EP] Add loadModelProto APIs
  include/onnxruntime/core/providers/tensorrt/tensorrt_provider_options.h
  onnxruntime/core/graph/graph_proto_serializer.cc
  onnxruntime/core/providers/tensorrt/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/tensorrt/onnx_ctx_model_helper.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider_info.h
  onnxruntime/core/providers/tensorrt/tensorrt_provider_factory.cc
Labels: release:1.23.0

#25436 [OVEP] Update OV version to 2025.2.0
  .github/workflows/windows_openvino.yml
  tools/ci_build/github/linux/docker/inference/x86_64/python/openvino/Dockerfile
Labels: release:1.23.0

#25413 add webgpu support for GatherBlockQuantized
  onnxruntime/contrib_ops/webgpu/quantization/gather_block_quantized.cc
  onnxruntime/contrib_ops/webgpu/quantization/gather_block_quantized.h
  onnxruntime/contrib_ops/webgpu/webgpu_contrib_kernels.cc
  onnxruntime/core/providers/webgpu/shader_variable.cc
  onnxruntime/test/contrib_ops/gather_block_quantized_op_test.cc
Labels: ep:WebGPU

#25254 Plugin EP data transfer and Stream support.
  cmake/onnxruntime_unittests.cmake
  include/onnxruntime/core/session/environment.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_ep_c_api.h
  onnxruntime/core/framework/allocator.cc
  onnxruntime/core/framework/plugin_ep_stream.cc
  onnxruntime/core/framework/plugin_ep_stream.h
  onnxruntime/core/providers/cuda/cuda_provider_factory.cc
  onnxruntime/core/providers/qnn/qnn_provider_factory.cc
  onnxruntime/core/session/abi_devices.h
  onnxruntime/core/session/environment.cc
  onnxruntime/core/session/ep_api.cc
  onnxruntime/core/session/ep_api_utils.h
  onnxruntime/core/session/ep_factory_internal.cc
  onnxruntime/core/session/ep_factory_internal.h
  onnxruntime/core/session/ep_library.cc
  onnxruntime/core/session/ep_library.h
  onnxruntime/core/session/ep_library_internal.cc
  onnxruntime/core/session/ep_library_provider_bridge.cc
  onnxruntime/core/session/ep_library_provider_bridge.h
  onnxruntime/core/session/ep_plugin_provider_interfaces.cc
  onnxruntime/core/session/ep_plugin_provider_interfaces.h
  onnxruntime/core/session/inference_session.cc
  onnxruntime/core/session/inference_session.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/test/autoep/library/ep.cc
  onnxruntime/test/autoep/library/ep.h
  onnxruntime/test/autoep/library/ep_allocator.h
  onnxruntime/test/autoep/library/ep_data_transfer.cc
  onnxruntime/test/autoep/library/ep_data_transfer.h
  onnxruntime/test/autoep/library/ep_factory.cc
  onnxruntime/test/autoep/library/ep_factory.h
  onnxruntime/test/autoep/library/ep_stream_support.cc
  onnxruntime/test/autoep/library/ep_stream_support.h
  onnxruntime/test/autoep/test_allocators.cc
  onnxruntime/test/autoep/test_autoep_utils.cc
  onnxruntime/test/autoep/test_autoep_utils.h
  onnxruntime/test/autoep/test_data_transfer.cc
  onnxruntime/test/autoep/test_execution.cc
  onnxruntime/test/autoep/test_registration.cc
  onnxruntime/test/autoep/test_selection.cc
  onnxruntime/test/common/random_generator.h
  onnxruntime/test/shared_lib/test_data_copy.cc
Labels: release:1.23.0

#25323 [NvTensorRTRTX EP]Disable Fast GELU operator in base model used for NV EP Unit Tests
  onnxruntime/test/providers/nv_tensorrt_rtx/nv_basic_test.cc
Labels: release:1.23.0

#25431 [CANN]Fix issue with negative dynamic tensor shape
  onnxruntime/core/providers/cann/cann_execution_provider.cc
  onnxruntime/core/providers/cann/cann_utils.cc
  onnxruntime/core/providers/cann/cann_utils.h
Labels: ep:CANN

#25456 Add default logger to plugin EP CreateEpFactories
  include/onnxruntime/core/session/onnxruntime_ep_c_api.h
  onnxruntime/core/providers/cuda/cuda_provider_factory.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_provider_factory.cc
  onnxruntime/core/providers/qnn/qnn_provider_factory.cc
  onnxruntime/core/session/ep_library_plugin.cc
  onnxruntime/test/autoep/library/ep_factory.cc
  onnxruntime/test/autoep/library/ep_factory.h
  onnxruntime/test/autoep/library/example_plugin_ep.cc
Labels: release:1.23.0

#25444 [QNN EP] Enable Conv Op with "auto_pad" param set as VALID
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/test/providers/qnn/conv_test.cc
Labels: ep:QNN

#25458 [QNN EP] Add LowPowerBlockQuantization support for Gemm node
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/lpbqgemm_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/lpbqgemm_fusion.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/qnn_node_group.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/utils.h
  onnxruntime/core/providers/qnn/builder/qnn_quant_params_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_quant_params_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.h
Labels: ep:QNN

#25447 [VitisAI] Remove 4k alignment from preferred allocator
  onnxruntime/core/providers/vitisai/vitisai_execution_provider.cc
Labels: ep:VitisAI

#25475 [VitisAI] Update CreateEpFactories with default logger
  onnxruntime/core/providers/vitisai/vitisai_provider_factory.cc
Labels: ep:VitisAI, release:1.23.0

#25479 [QNN EP] Revert workarounds for QNN <= 2.35
  onnxruntime/test/onnx/TestCase.cc
  onnxruntime/test/providers/qnn/layer_norm_test.cc
  onnxruntime/test/providers/qnn/lrn_op_test.cc
  onnxruntime/test/providers/qnn/resize_test.cc
Labels: ep:QNN

#25478 [NV RTX EP] Iraut/vendor id impl
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_provider_factory.cc
Labels: release:1.23.0

#25459 Update some new API functions to directly return the value if they're simple getters.
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  include/onnxruntime/core/session/onnxruntime_ep_c_api.h
  onnxruntime/core/framework/allocator.cc
  onnxruntime/core/framework/run_options.cc
  onnxruntime/core/providers/cuda/cuda_provider_factory.cc
  onnxruntime/core/session/ep_api.cc
  onnxruntime/core/session/ep_api.h
  onnxruntime/core/session/ort_apis.h
  onnxruntime/test/autoep/library/ep_data_transfer.cc
  onnxruntime/test/shared_lib/test_data_copy.cc
Labels: release:1.23.0

#25480 fix warning as error for QNN EP
  onnxruntime/core/providers/qnn/qnn_provider_factory.cc
  onnxruntime/test/providers/qnn/einsum_op_test.cc
  tools/ci_build/build.py
  tools/ci_build/github/azure-pipelines/templates/qnn-ep-win.yml
Labels: ep:QNN

#25497 Use appropriate macros for model compatibility API declarations
  include/onnxruntime/core/session/onnxruntime_ep_c_api.h
Labels: release:1.23.0

#25481 [Cherrypick from win-onnxruntime] Add MigraphX EP support for auto EP
  cmake/CMakeLists.txt
  onnxruntime/core/platform/posix/env.cc
  onnxruntime/core/providers/migraphx/migraphx_provider_factory.cc
  onnxruntime/core/providers/migraphx/symbols.def
  onnxruntime/core/providers/provider_factory_creators.h
  onnxruntime/core/providers/shared_library/provider_bridge_provider.cc
  onnxruntime/core/providers/shared_library/provider_interfaces.h
  onnxruntime/core/session/provider_bridge_ort.cc
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/python/onnxruntime_pybind_state_common.h
  onnxruntime/test/providers/migraphx/migraphx_basic_test.cc
  tools/ci_build/build.py
Labels: ep:MIGraphX, release:1.23.0

#25496 [WebGPU EP] handle zero size output in split operator
  onnxruntime/core/providers/webgpu/tensor/split.cc
  onnxruntime/test/providers/cpu/tensor/split_op_test.cc
Labels: ep:WebGPU

#25509 Fix race condition in ProviderLibrary
  onnxruntime/core/session/provider_bridge_ort.cc
Labels: release:1.23.0

#25503 Update OrtEpFactory in new EPs
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_provider_factory.cc
  onnxruntime/core/providers/openvino/ov_factory.cc
  onnxruntime/core/providers/openvino/ov_factory.h
  onnxruntime/core/providers/vitisai/vitisai_provider_factory.cc
Labels: release:1.23.0

#25473 Fix EP context name for cache file name with two dots
  onnxruntime/core/providers/openvino/backend_manager.cc
Labels: ep:OpenVINO, release:1.23.0

#25423 Remove one recursive function in TreeEnsemble
  onnxruntime/core/providers/cpu/ml/ml_common.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_aggregator.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_attribute.h
  onnxruntime/core/providers/cpu/ml/tree_ensemble_common.h
  onnxruntime/test/providers/cpu/ml/tree_ensembler_test.cc
Labels: release:1.23.0

#25517 Fix node_helper.cmake for wasm build on Windows
  cmake/node_helper.cmake
Labels: release:1.23.0

#25390 [WebGPU EP] allow concat operator to handle large number of inputs
  onnxruntime/core/providers/webgpu/tensor/concat.cc
  onnxruntime/core/providers/webgpu/tensor/concat.h
  onnxruntime/test/providers/cpu/tensor/concat_op_test.cc
Labels: ep:WebGPU

#25156 Attention Operator (CPU)
  docs/OperatorKernels.md
  onnxruntime/core/providers/cpu/cpu_execution_provider.cc
  onnxruntime/core/providers/cpu/llm/attention.cc
  onnxruntime/core/providers/cpu/llm/attention.h
  onnxruntime/core/providers/cpu/llm/attention_helper.cc
  onnxruntime/core/providers/cpu/llm/attention_helper.h
  onnxruntime/core/providers/cpu/math/gemm.cc
  onnxruntime/core/providers/cpu/math/gemm.h
  onnxruntime/core/util/math_cpu.cc
  onnxruntime/core/util/math_cpuonly.h
  onnxruntime/test/contrib_ops/attention_op_test.cc
  onnxruntime/test/onnx/TestCase.cc
  onnxruntime/test/providers/base_tester.cc
  onnxruntime/test/providers/base_tester.h
  onnxruntime/test/providers/cpu/llm/attention_op_test.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.23.0

#25502 [TRT EP] Fix `trt_load_user_initializer` for large models where weight are not correctly excluded
  onnxruntime/core/graph/graph_proto_serializer.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.h
  onnxruntime/test/providers/tensorrt/tensorrt_basic_test.cc
Labels: release:1.23.0

#25511 [NvTensorRTRTX EP] Add EP factory to Nv TRT RTX EP
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_provider_factory.cc
  onnxruntime/test/providers/nv_tensorrt_rtx/nv_basic_test.cc
  onnxruntime/test/providers/nv_tensorrt_rtx/test_nv_trt_rtx_ep_util.cc
  onnxruntime/test/providers/nv_tensorrt_rtx/test_nv_trt_rtx_ep_util.h
Labels: release:1.23.0

#25187 KleidiAI SGEMM/IGEMM/Quantized MatMul - Modular MLAS API Changes for KleidiAI
  cmake/CMakeLists.txt
  cmake/deps.txt
  cmake/external/onnxruntime_external_deps.cmake
  cmake/onnxruntime_mlas.cmake
  onnxruntime/contrib_ops/cpu/bert/attention.cc
  onnxruntime/contrib_ops/cpu/quantization/dynamic_quantize_matmul.cc
  onnxruntime/core/common/cpuid_info.cc
  onnxruntime/core/common/cpuid_info.h
  onnxruntime/core/mlas/inc/mlas.h
  onnxruntime/core/mlas/lib/convolve.cpp
  onnxruntime/core/mlas/lib/kleidiai/convolve_kleidiai.cpp
  onnxruntime/core/mlas/lib/kleidiai/mlasi_kleidiai.h
  onnxruntime/core/mlas/lib/kleidiai/qgemm_kleidiai.cpp
  onnxruntime/core/mlas/lib/kleidiai/sgemm_kleidiai.cpp
  onnxruntime/core/mlas/lib/mlasi.h
  onnxruntime/core/mlas/lib/platform.cpp
  onnxruntime/core/mlas/lib/qgemm.cpp
  onnxruntime/core/mlas/lib/sgemm.cpp
  onnxruntime/core/optimizer/matmul_integer_to_float.cc
  onnxruntime/core/providers/cpu/math/gemm.cc
  onnxruntime/core/providers/cpu/math/gemm_matmul_common.h
  onnxruntime/core/providers/cpu/math/matmul.cc
  onnxruntime/core/providers/cpu/rnn/deep_cpu_gru.cc
  onnxruntime/core/providers/cpu/rnn/deep_cpu_lstm.cc
  onnxruntime/test/mlas/bench/bench_sgemm.cpp
  onnxruntime/test/mlas/unittest/test_dynamic_qgemm.cpp
  onnxruntime/test/mlas/unittest/test_fgemm.h
  onnxruntime/test/mlas/unittest/test_fgemm_fixture.h
  onnxruntime/test/optimizer/graph_transform_test.cc
  onnxruntime/test/testdata/matmul_integer_to_float.py
  onnxruntime/test/testdata/matmul_integer_to_float_int8_bias_initializer_index0.onnx
  onnxruntime/test/testdata/matmul_integer_to_float_int8_bias_initializer_index1.onnx
  tools/ci_build/build.py
Labels: release:1.23.0, KleidiAI

#25544 DynamicQuantizeMatMul - handle case where B zero point input is provided but not constant.
  onnxruntime/contrib_ops/cpu/quantization/dynamic_quantize_matmul.cc
  onnxruntime/test/contrib_ops/dynamic_quantize_matmul_test.cc
Labels: release:1.23.0

#25548 [build] Fix the file copy in get_docker_image.py
  tools/ci_build/get_docker_image.py
Labels: release:1.23.0

#25518 [QNN EP] Support more Einsum equation: bhwc,hkc->bhwk
  onnxruntime/core/providers/qnn/builder/opbuilder/einsum_op_builder.cc
  onnxruntime/test/providers/qnn/einsum_op_test.cc
Labels: ep:QNN

#25553 Fix webgpu_pix_frame_generator by adding missing present mode attribute
  onnxruntime/core/providers/webgpu/webgpu_pix_frame_generator.cc
Labels: ep:WebGPU

#25395 [webgpu] Optimize FlashAttention for prefill
  onnxruntime/contrib_ops/webgpu/bert/attention_common.h
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.cc
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.h
Labels: ep:WebGPU

#25565 [EP ABI] Node_GetAttrByName returns ORT_NOT_FOUND with non-existing attr name
  csharp/src/Microsoft.ML.OnnxRuntime/Exceptions.shared.cs
  include/onnxruntime/core/common/status.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  java/src/main/java/ai/onnxruntime/OrtException.java
  java/src/main/native/OrtJniUtil.c
  onnxruntime/core/graph/ep_api_types.cc
  onnxruntime/core/graph/ep_api_types.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/python/onnxruntime_pybind_exceptions.cc
  onnxruntime/python/onnxruntime_pybind_exceptions.h
  onnxruntime/test/ep_graph/test_ep_graph.cc
  onnxruntime/test/testdata/conv_default_attrs.onnx
  onnxruntime/test/testdata/make_conv_default_attrs.py
Labels: release:1.23.0

#25581 [QNN-EP] Einsum equation ReduceSum Multiply on broadcast X
  onnxruntime/core/providers/qnn/builder/opbuilder/einsum_op_builder.cc
  onnxruntime/test/providers/qnn/einsum_op_test.cc
Labels: ep:QNN

#25566 [EP ABI] Support for TENSOR type attribute
  include/onnxruntime/core/providers/utils/ort_graph_to_proto.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/graph/abi_graph_types.h
  onnxruntime/core/graph/ep_api_types.cc
  onnxruntime/core/graph/ep_api_types.h
  onnxruntime/core/graph/model_editor_api_types.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/test/ep_graph/test_ep_graph.cc
Labels: release:1.23.0

#25611 Disable Turing GPU for Nv Trt Rtx Ep
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_provider_factory.cc
Labels: ep:NvRTX, release:1.23.0
