Repository microsoft/onnxruntime, pull requests merged in 2025-08, with the labels that each got.

#25605 [QNN EP] Lower Gemm with 2d bias to FC + ElementwiseAdd when targeting HTP.
  onnxruntime/core/providers/qnn/builder/opbuilder/gemm_op_builder.cc
  onnxruntime/test/providers/qnn/gemm_op_test.cc
Labels: ep:QNN

#25584 [QNN EP] Bug fix: multiple consumer for cast result in name conflicts
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/gather_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/topk.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/transpose_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/test/onnx/main.cc
Labels: ep:QNN

#25622 [QNN-EP] Resolve VTCM buffer sharing bugs
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
Labels: ep:QNN

#25594 [webgpu] Apply Flash Attention if sliding window exceeds KV cache length
  onnxruntime/contrib_ops/webgpu/bert/group_query_attention.cc
Labels: ep:WebGPU

#25626 Move moving weights to memory to the end of Graph::Resolve()
  include/onnxruntime/core/graph/graph.h
  onnxruntime/core/framework/session_state_utils.cc
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/providers/nnapi/nnapi_builtin/builders/impl/base_op_builder.cc
  onnxruntime/core/providers/nnapi/nnapi_builtin/builders/model_builder.cc
  orttraining/orttraining/test/optimizer/graph_transform_test.cc
Labels: release:1.23.0

#25627 [CANN] Fix CANN build error
  onnxruntime/core/providers/cann/cann_kernel.h
Labels: ep:CANN

#25349 Add patch for WebGPU on Android to handle fp16 in uniforms
  cmake/external/onnxruntime_external_deps.cmake
  cmake/patches/dawn/uniform_and_storage_buffer_16_bit_access.patch
  tools/ci_build/github/android/default_full_aar_build_settings.json
Labels: ep:WebGPU

#25664 Allow DML EP to be used with any CPU EP
  include/onnxruntime/core/framework/execution_provider.h
  onnxruntime/core/session/inference_session.cc
Labels: release:1.23.1

#25675 Update number of mel bins for whisper model
  onnxruntime/python/tools/transformers/models/whisper/whisper_helper.py
Labels: release:1.23.0

#25443 [webgpu] support float16 type for Einsum operator
  onnxruntime/core/providers/webgpu/math/einsum.cc
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
  onnxruntime/test/providers/cpu/math/einsum_test.cc
Labels: ep:WebGPU

#25632 [webgpu] support GatherND operator
  onnxruntime/core/providers/webgpu/tensor/gather_nd.cc
  onnxruntime/core/providers/webgpu/tensor/gather_nd.h
  onnxruntime/core/providers/webgpu/webgpu_execution_provider.cc
Labels: ep:WebGPU

#25702 [QNN EP] Enhance unique name generator for node and tensor names
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/cast_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/einsum_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/expand_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/gather_nd_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/gather_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/gemm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/instance_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/layer_norm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/lstm_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/matmul_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/mean_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/pool_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/reciprocal_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/reduce_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/softmax_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/topk.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/transpose_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.h
  onnxruntime/core/providers/qnn/builder/qnn_node_group/channel_shuffle_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/dq_q_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/hardsigmoid_mul_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/lpbqgemm_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/lpbqmatmul_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/reshape_gemm_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/scale_softmax_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_node_group/udo_fusion.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.cc
  onnxruntime/core/providers/qnn/builder/qnn_utils.h
Labels: ep:QNN

#25556 [webgpu] Add more GEMM test
  onnxruntime/core/providers/webgpu/math/gemm.cc
  onnxruntime/core/providers/webgpu/math/gemm.h
  onnxruntime/core/providers/webgpu/math/gemm_utils.cc
  onnxruntime/test/providers/cpu/math/gemm_test.cc
Labels: ep:WebGPU

#25673 Relax WeightBiasQuantization constraint for larger QDQ node group
  onnxruntime/core/optimizer/qdq_transformer/weight_bias_quantization.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/base_op_builder.h
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/pad_op_builder.cc
  onnxruntime/core/providers/qnn/builder/opbuilder/pool_op_builder.cc
  onnxruntime/core/providers/qnn/builder/qnn_model_wrapper.cc
  onnxruntime/test/optimizer/qdq_transformer_test.cc
Labels: ep:QNN

#25730 [webgpu] Fix poor performance in flash attention for Qualcomm devices
  onnxruntime/contrib_ops/webgpu/bert/flash_attention.wgsl.template
Labels: ep:WebGPU

#25743 Fix cleanup of Environment class.
  include/onnxruntime/core/session/environment.h
  onnxruntime/core/session/environment.cc
Labels: release:1.23.0

#25724 [webgpu] Move WebGPU DP4A shaders into templates
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul.wgsl.template
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_common.wgsl.template
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_small_m.wgsl.template
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_quantize.wgsl.template
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits_wide_tile.wgsl.template
  onnxruntime/contrib_ops/webgpu/quantization/matmul_nbits_zero_pt.wgsl.template
Labels: ep:WebGPU

#24129 [webgpu] Use 64 as the workgroup size of DP4AMatMulQuantize
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.h
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_quantize.wgsl.template
Labels: ep:WebGPU

#25788 [QNN EP] Fix Pool builder assert in Debug build.
  onnxruntime/core/providers/qnn/builder/opbuilder/pool_op_builder.cc
Labels: ep:QNN

#25768 [EP ABI] support `Graph_GetModelMetadata`
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/graph/abi_graph_types.h
  onnxruntime/core/graph/ep_api_types.cc
  onnxruntime/core/graph/ep_api_types.h
  onnxruntime/core/graph/model_editor_api_types.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/test/ep_graph/test_ep_graph.cc
Labels: ep:VitisAI, release:1.23.0

#25562 [CUDA EP] Add hardswish op and add bf16 support for hardsigmoid
  docs/OperatorKernels.md
  onnxruntime/core/providers/cuda/activation/activations.cc
  onnxruntime/core/providers/cuda/activation/activations.h
  onnxruntime/core/providers/cuda/activation/activations_impl.cu
  onnxruntime/core/providers/cuda/activation/activations_impl.h
  onnxruntime/core/providers/cuda/cuda_execution_provider.cc
  onnxruntime/test/providers/cpu/activation/activation_op_test.cc
Labels: core runtime

#25747 [TRT RTX EP] EP context changes
  include/onnxruntime/core/providers/nv_tensorrt_rtx/nv_provider_options.h
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider.h
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_info.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_info.h
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_utils.h
  onnxruntime/core/providers/nv_tensorrt_rtx/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/onnx_ctx_model_helper.h
  onnxruntime/test/providers/nv_tensorrt_rtx/nv_basic_test.cc
  onnxruntime/test/providers/nv_tensorrt_rtx/nv_ep_context_test.cc
  onnxruntime/test/providers/nv_tensorrt_rtx/test_nv_trt_rtx_ep_util.cc
  onnxruntime/test/providers/nv_tensorrt_rtx/test_nv_trt_rtx_ep_util.h
  tools/ci_build/build.py
Labels: ep:NvRTX, release:1.23.0

#25800 [NV TRT RTX EP] Reconfigure memory arena to grow with power of 2
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider.cc
Labels: ep:NvRTX, release:1.23.0

#25762 Introduce new C++ API for C interfaces
  include/onnxruntime/core/graph/indexed_sub_graph.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/session/abi_key_value_pairs.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/python/tools/tensorrt/perf/mem_test/main.cpp
  onnxruntime/test/autoep/test_allocators.cc
  onnxruntime/test/autoep/test_data_transfer.cc
  onnxruntime/test/autoep/test_execution.cc
  onnxruntime/test/contrib_ops/skiplayernorm_op_test.cc
  onnxruntime/test/global_thread_pools/test_inference.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/providers/cpu/model_tests.cc
  onnxruntime/test/providers/qnn/qnn_basic_test.cc
  onnxruntime/test/shared_lib/test_allocator.cc
  onnxruntime/test/shared_lib/test_data_copy.cc
  onnxruntime/test/shared_lib/test_inference.cc
  onnxruntime/test/shared_lib/test_model_loading.cc
  onnxruntime/test/shared_lib/test_session_options.cc
  onnxruntime/test/util/include/api_asserts.h
Labels: release:1.23.0

#25749 Add support for generating and validating compiled model compatibility info
  include/onnxruntime/core/framework/execution_provider.h
  include/onnxruntime/core/session/onnxruntime_ep_device_ep_metadata_keys.h
  include/onnxruntime/core/session/onnxruntime_session_options_config_keys.h
  onnxruntime/core/framework/graph_partitioner.cc
  onnxruntime/core/graph/model.cc
  onnxruntime/core/graph/model.h
  onnxruntime/core/session/plugin_ep/ep_factory_internal.cc
  onnxruntime/core/session/plugin_ep/ep_factory_internal.h
  onnxruntime/core/session/plugin_ep/ep_factory_internal_impl.h
  onnxruntime/core/session/plugin_ep/ep_plugin_provider_interfaces.cc
  onnxruntime/core/session/plugin_ep/ep_plugin_provider_interfaces.h
  onnxruntime/core/session/plugin_ep/forward_to_factory_impl.h
  onnxruntime/core/session/utils.cc
  onnxruntime/test/framework/ep_compatibility_test.cc
Labels: release:1.23.0

#25578 [webgpu] Optimize dp4 prefill shader for Qualcomm
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul.wgsl.template
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.cc
  onnxruntime/contrib_ops/webgpu/quantization/dp4a_matmul_nbits.h
Labels: ep:WebGPU

#25861 [QNN-EP] Enable einsum with QK equations for QNN.
  onnxruntime/core/providers/qnn/builder/opbuilder/einsum_op_builder.cc
  onnxruntime/test/providers/qnn/einsum_op_test.cc
Labels: ep:QNN

#25833 Fix a long standing bug on file memory mapping on windows.
  include/onnxruntime/core/graph/model_saving_options.h
  onnxruntime/core/framework/tensor_external_data_info.cc
  onnxruntime/core/framework/tensor_external_data_info.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/platform/windows/env.cc
  onnxruntime/test/framework/save_model_with_external_initializers.cc
  onnxruntime/test/platform/file_io_test.cc
Labels: release:1.23.0

#25814 Fixes for DynamicQuantizeMatMul and Attention3D tests
  onnxruntime/contrib_ops/cpu/quantization/dynamic_quantize_matmul.cc
  onnxruntime/core/mlas/lib/kleidiai/sgemm_kleidiai.cpp
Labels: release:1.23.0

#25886 [EP ABI] Add OpAttr_GetTensorAttributeAsOrtValue and replace the existing Node_GetTensorAttributeAsOrtValue
  include/onnxruntime/core/providers/utils/ort_graph_to_proto.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  onnxruntime/core/graph/abi_graph_types.h
  onnxruntime/core/graph/ep_api_types.cc
  onnxruntime/core/graph/ep_api_types.h
  onnxruntime/core/graph/model_editor_api_types.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
Labels: release:1.23.0

#25883 [QNN-EP] Introduce Level1 Transformer into qnn.preprocess
  onnxruntime/python/tools/quantization/execution_providers/qnn/preprocess.py
Labels: ep:QNN

#25887 [QNN EP] Minor fix weight name missing when not valid QDQ node group
  onnxruntime/core/providers/qnn/builder/opbuilder/conv_op_builder.cc
Labels: ep:QNN

#25884 [OVEP] OpenVINO EP Features and bug-fixes for ORT-1.23
  onnxruntime/core/providers/openvino/backend_manager.cc
  onnxruntime/core/providers/openvino/backend_utils.cc
  onnxruntime/core/providers/openvino/backend_utils.h
  onnxruntime/core/providers/openvino/backends/basic_backend.cc
  onnxruntime/core/providers/openvino/contexts.h
  onnxruntime/core/providers/openvino/ibackend.h
  onnxruntime/core/providers/openvino/onnx_ctx_model_helper.cc
  onnxruntime/core/providers/openvino/onnx_ctx_model_helper.h
  onnxruntime/core/providers/openvino/openvino_execution_provider.cc
  onnxruntime/core/providers/openvino/openvino_parser_utils.cc
  onnxruntime/core/providers/openvino/openvino_parser_utils.h
  onnxruntime/core/providers/openvino/openvino_provider_factory.cc
  onnxruntime/core/providers/openvino/ov_factory.cc
  onnxruntime/core/providers/openvino/ov_interface.cc
  onnxruntime/core/providers/openvino/ov_interface.h
  onnxruntime/core/providers/openvino/ov_versions/capability.cc
  onnxruntime/core/providers/openvino/ov_versions/data_ops.cc
  onnxruntime/core/providers/openvino/ov_versions/utils.cc
  onnxruntime/core/providers/openvino/ov_versions/utils.h
  onnxruntime/core/providers/openvino/qdq_transformations/qdq_scales_fix.cpp
  onnxruntime/core/providers/openvino/qdq_transformations/qdq_scales_fix.h
  onnxruntime/core/providers/openvino/qdq_transformations/qdq_stripping.cc
  onnxruntime/test/perftest/command_args_parser.cc
  onnxruntime/test/perftest/ort_test_session.cc
  onnxruntime/test/providers/cpu/controlflow/loop_test.cc
  onnxruntime/test/providers/cpu/tensor/dynamic_quantize_linear_test.cc
  onnxruntime/test/providers/openvino/openvino_ep_bfloat16_pass_test.cc
Labels: ep:OpenVINO, release:1.23.0
