Repository microsoft/onnxruntime, pull requests merged in 2025-09, with the labels that each got.

#25879 [webgpu] Add back missing code comments for flash decoding
  onnxruntime/contrib_ops/webgpu/bert/flash_attention_decode_qkt.wgsl.template
  onnxruntime/contrib_ops/webgpu/bert/flash_attention_decode_split_vx.wgsl.template
  onnxruntime/contrib_ops/webgpu/bert/flash_attention_decode_vx_reduce.wgsl.template
Labels: ep:WebGPU

#25898 [TRT RTX EP] Add sync method
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider.h
Labels: ep:NvRTX, release:1.23.0

#25909 [TRT RTX EP] Memory map the engine buffer
  onnxruntime/core/providers/nv_tensorrt_rtx/onnx_ctx_model_helper.cc
Labels: ep:NvRTX, release:1.23.0

#25917 [TRT RTX EP] Add support for RTX runtime caches
  include/onnxruntime/core/providers/nv_tensorrt_rtx/nv_provider_options.h
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider.h
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_info.cc
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider_info.h
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_file_utils.h
  onnxruntime/test/providers/nv_tensorrt_rtx/nv_options_test.cc
Labels: ep:NvRTX, release:1.23.0

#25474 Compile API: disable optimizations by default
  csharp/src/Microsoft.ML.OnnxRuntime/CompileModel.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeCompileApiMethods.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/CompileApiTests.cs
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/session/compile_api.cc
  onnxruntime/core/session/compile_api.h
  onnxruntime/core/session/model_compilation_options.cc
  onnxruntime/core/session/model_compilation_options.h
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/onnxruntime_pybind_model_compiler.cc
  onnxruntime/python/onnxruntime_pybind_model_compiler.h
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
  onnxruntime/test/python/onnxruntime_test_python_compile_api.py
Labels: release:1.23.0

#25897 [CXX] Introduce C++ API for new C entry points
  include/onnxruntime/core/providers/utils/ort_graph_to_proto.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/test/autoep/library/ep.cc
  onnxruntime/test/autoep/library/ep.h
  onnxruntime/test/autoep/library/example_plugin_ep.cc
  onnxruntime/test/autoep/library/example_plugin_ep_utils.cc
  onnxruntime/test/autoep/library/example_plugin_ep_utils.h
  onnxruntime/test/ep_graph/test_ep_graph.cc
  onnxruntime/test/ep_graph/test_ep_graph_topo_sort.cc
  onnxruntime/test/shared_lib/test_model_builder_api.cc
Labels: release:1.23.0

#25939 Revert "[QNN EP] Remove workaround for syntax error macro (#25923)"
  onnxruntime/core/providers/qnn/builder/qnn_backend_manager.cc
Labels: ep:QNN

#25928 [QNN-EP] Add negtive padding value support.
  onnxruntime/core/providers/qnn/builder/opbuilder/pad_op_builder.cc
  onnxruntime/test/providers/qnn/pad_op_test.cpp
Labels: ep:QNN

#25943 Remove std::string::data() non-const usage from public headers
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
Labels: release:1.23.0

#25455 Compile API: output model and initializer stream write functions
  csharp/src/Microsoft.ML.OnnxRuntime/CompileModel.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeCompileApiMethods.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeMethods.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeOnnxValueHelper.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/OrtExternalInitializerInfo.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/OrtValue.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/CompileApiTests.cs
  csharp/testdata/conv_qdq_external_ini.bin
  csharp/testdata/conv_qdq_external_ini.onnx
  include/onnxruntime/core/graph/graph.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/__init__.py
  onnxruntime/core/framework/ep_context_options.cc
  onnxruntime/core/framework/ep_context_options.h
  onnxruntime/core/framework/ep_context_utils.cc
  onnxruntime/core/framework/ep_context_utils.h
  onnxruntime/core/framework/graph_partitioner.cc
  onnxruntime/core/framework/graph_partitioner.h
  onnxruntime/core/framework/session_options.cc
  onnxruntime/core/framework/session_options.h
  onnxruntime/core/framework/tensor_external_data_info.cc
  onnxruntime/core/framework/tensor_external_data_info.h
  onnxruntime/core/graph/abi_graph_types.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/graph/model.cc
  onnxruntime/core/graph/model.h
  onnxruntime/core/session/compile_api.cc
  onnxruntime/core/session/compile_api.h
  onnxruntime/core/session/model_compilation_options.cc
  onnxruntime/core/session/model_compilation_options.h
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/core/session/utils.cc
  onnxruntime/python/onnxruntime_inference_collection.py
  onnxruntime/python/onnxruntime_pybind_model_compiler.cc
  onnxruntime/python/onnxruntime_pybind_model_compiler.h
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/framework/session_state_test.cc
  onnxruntime/test/providers/qnn/qnn_ep_context_test.cc
  onnxruntime/test/python/onnxruntime_test_python_compile_api.py
Labels: release:1.23.0

#25110 [MLAS] Add 8-bit weights ARM64 Gemm implementation
  cmake/onnxruntime_mlas.cmake
  onnxruntime/contrib_ops/cpu/quantization/matmul_nbits.cc
  onnxruntime/core/mlas/inc/mlas_qnbit.h
  onnxruntime/core/mlas/lib/mlasi.h
  onnxruntime/core/mlas/lib/platform.cpp
  onnxruntime/core/mlas/lib/qnbitgemm.cpp
  onnxruntime/core/mlas/lib/qnbitgemm.h
  onnxruntime/core/mlas/lib/qnbitgemm_kernel_neon.cpp
  onnxruntime/core/mlas/lib/qnbitgemm_kernel_neon.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx2.cpp
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512.cpp
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx512vnni.cpp
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_avx_common.h
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_neon_int8.cpp
  onnxruntime/core/mlas/lib/sqnbitgemm_kernel_neon_int8_i8mm.cpp
  onnxruntime/test/contrib_ops/matmul_4bits_test.cc
  onnxruntime/test/contrib_ops/matmul_8bits_test.cc
  onnxruntime/test/mlas/unittest/test_sq8bitgemm.cpp
Labels: release:1.23.0

#25960 Make name an std::string in OrtMemoryInfo
  .github/workflows/android.yml
  include/onnxruntime/core/framework/ortmemoryinfo.h
  onnxruntime/core/framework/allocator.cc
  onnxruntime/core/framework/bfc_arena.cc
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/MLOperatorAuthorImpl.cpp
  onnxruntime/core/providers/webgpu/webgpu_context.cc
  onnxruntime/core/session/environment.cc
  onnxruntime/core/session/lora_adapters.cc
  onnxruntime/test/framework/TestAllocatorManager.cc
  onnxruntime/test/framework/allocator_test.cc
  onnxruntime/test/framework/tensor_test.cc
  onnxruntime/test/lora/lora_test.cc
  onnxruntime/test/providers/cuda/test_cases/allocator_cuda_test.cc
Labels: release:1.23.0

#25968 [QNN EP] fix memory leak in OrtEpFactory::GetSupportedDevices()
  onnxruntime/core/providers/qnn/qnn_provider_factory.cc
Labels: release:1.23.0

#25991 Build break fix for NV TRT RTX EP
  onnxruntime/test/providers/nv_tensorrt_rtx/test_nv_trt_rtx_ep_util.cc
Labels: release:1.23.0

#25571 [Web] Avoid unnecessary data copy for pre-allocated tensors
  js/web/lib/wasm/wasm-core-impl.ts
Labels: ep:WebNN

#26004 [QNN] Relax tolerances for ONNX attention node tests
  onnxruntime/test/testdata/onnx_backend_test_series_overrides.jsonc
Labels: ep:QNN

#26043 disables failing test to unblock Python DML Pipeline
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.23.0

#26040 [QNN-EP] Fix QNN-EP resize constraints
  onnxruntime/core/providers/qnn/builder/opbuilder/resize_op_builder.cc
  onnxruntime/test/providers/qnn/resize_test.cc
Labels: ep:QNN

#26031 [QNN-EP] Enable translation of FP16 Expand op
  onnxruntime/core/providers/qnn/builder/opbuilder/expand_op_builder.cc
  onnxruntime/test/providers/qnn/reshape_expand_op_test.cc
Labels: ep:QNN

#26044 Fix rotary embedding to follow spec on attribute constraints
  onnxruntime/core/providers/cpu/llm/rotary_embedding.cc
  onnxruntime/core/providers/cuda/llm/rotary_embedding.cc
  onnxruntime/test/onnx/TestCase.cc
  onnxruntime/test/testdata/onnx_backend_test_series_filters.jsonc
Labels: release:1.23.0

#26012 python(api): add SessionOptions.add_external_initializers_from_files_…
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/python/onnxruntime_test_python.py
Labels: python

#26063 [QNN EP] Add Support for STFT Op in QNN EP
  onnxruntime/core/providers/qnn/builder/op_builder_factory.cc
  onnxruntime/core/providers/qnn/builder/op_builder_factory.h
  onnxruntime/core/providers/qnn/builder/opbuilder/stft_op_builder.cc
  onnxruntime/test/providers/qnn/stft_op_test.cc
Labels: ep:QNN

#26132 [TRT RTX EP] Fix bug for generating the correct subgraph in GetCapability
  onnxruntime/core/providers/nv_tensorrt_rtx/nv_execution_provider.cc
  onnxruntime/core/providers/tensorrt/tensorrt_execution_provider.cc
Labels: release:1.23.1

#26101 [C#] Implement missing APIs
  csharp/src/Microsoft.ML.OnnxRuntime/InferenceSession.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeMethods.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/NativeOnnxValueHelper.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/OrtAllocator.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/OrtEnv.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/OrtEpDevice.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/OrtKeyValuePairs.shared.cs
  csharp/src/Microsoft.ML.OnnxRuntime/OrtLoraAdapter.shared.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/InferenceTest.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/OrtAutoEpTests.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.Common/OrtEnvTests.cs
  csharp/test/Microsoft.ML.OnnxRuntime.Tests.NetCoreApp/InferenceTest.netcore.cs
  onnxruntime/python/onnxruntime_pybind_state.cc
  onnxruntime/test/python/onnxruntime_test_python_autoep.py
Labels: release:1.23.1

#25908 [webgpu] Manually normalize `Conv-Transpose` dispatch group size for Intel GPUs
  onnxruntime/core/providers/webgpu/nn/conv.cc
Labels: ep:WebGPU

#26150 [QNN-EP] Enable largest attr and remove sorted check for topk.
  onnxruntime/core/providers/qnn/builder/opbuilder/topk.cc
  onnxruntime/test/providers/qnn/topk_op_test.cc
Labels: ep:QNN

#26156 [EP ABI] Check if nodes specified in GetCapability() have already been assigned
  onnxruntime/core/session/plugin_ep/ep_plugin_provider_interfaces.cc
  onnxruntime/test/framework/ep_plugin_provider_test.cc
Labels: release:1.23.1

#26164 Support Optional shapes
  include/onnxruntime/core/providers/utils/ort_graph_to_proto.h
  include/onnxruntime/core/session/onnxruntime_c_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_api.h
  include/onnxruntime/core/session/onnxruntime_cxx_inline.h
  onnxruntime/core/framework/onnxruntime_typeinfo.cc
  onnxruntime/core/framework/tensor_type_and_shape.cc
  onnxruntime/core/framework/tensor_type_and_shape.h
  onnxruntime/core/graph/graph.cc
  onnxruntime/core/session/custom_ops.cc
  onnxruntime/core/session/onnxruntime_c_api.cc
  onnxruntime/core/session/ort_apis.h
  onnxruntime/test/ep_graph/test_ep_graph.cc
  onnxruntime/test/framework/type_info_test.cc
  onnxruntime/test/shared_lib/test_inference.cc
  onnxruntime/test/testdata/abs_0d_input.onnx
  onnxruntime/test/testdata/abs_0d_input.py
  onnxruntime/test/testdata/abs_0d_lostdim.onnx
  onnxruntime/test/testdata/abs_0d_lostdim.py
Labels: release:1.23.1

#26169 [WebNN] Fix bug in int64 data type support validation
  onnxruntime/core/providers/webnn/builders/helper.cc
  onnxruntime/core/providers/webnn/builders/helper.h
  onnxruntime/core/providers/webnn/builders/model_builder.cc
Labels: ep:WebNN
