Repository microsoft/onnxruntime, changes with the owners that CODEOWNERS names for each.
All owners: @microsoft/onnxruntime-admin, @microsoft/onnxruntime-mobile, @microsoft/onnxruntime-mlas, @microsoft/onnxruntime-es, @microsoft/onnxruntime-api

CODEOWNERS:

/CODEOWNERS @microsoft/onnxruntime-admin

# Mobile
/onnxruntime/core/flatbuffers/schema/ort.fbs @microsoft/onnxruntime-mobile

# MLAS and related contrib ops
/onnxruntime/core/graph/contrib_ops/nhwc_schema_defs.cc @microsoft/onnxruntime-mlas
/onnxruntime/core/graph/contrib_ops/nchwc_schema_defs.cc @microsoft/onnxruntime-mlas
/onnxruntime/core/graph/contrib_ops/quantization_defs.* @microsoft/onnxruntime-mlas
/onnxruntime/core/mlas/** @microsoft/onnxruntime-mlas

# build pipelines and workflows
/tools/ci_build/github/azure-pipelines @microsoft/onnxruntime-es
/.github/workflows @microsoft/onnxruntime-es

# Dependencies
requirements-dev.txt @microsoft/onnxruntime-admin
requirements-doc.txt @microsoft/onnxruntime-admin
requirements-training.txt @microsoft/onnxruntime-admin
requirements.txt.in @microsoft/onnxruntime-admin
/cgmanifests/cgmanifest.json @microsoft/onnxruntime-admin
/cgmanifests/generated/cgmanifest.json @microsoft/onnxruntime-admin

# Public facing APIs
# C/C++
/onnxruntime/include/onnxruntime/core/session/onnxruntime_c_api.h @microsoft/onnxruntime-api
/onnxruntime/include/onnxruntime/core/session/onnxruntime_cxx_api.h @microsoft/onnxruntime-api
/onnxruntime/include/onnxruntime/core/session/onnxruntime_cxx_inline.h @microsoft/onnxruntime-api

# C#
/onnxruntime/csharp/src/Microsoft.ML.OnnxRuntime/*.cs @microsoft/onnxruntime-api

# Python
/onnxruntime/onnxruntime/python/*.h @microsoft/onnxruntime-api
/onnxruntime/onnxruntime/python/*.cc @microsoft/onnxruntime-api
/onnxruntime/onnxruntime/python/*.py @microsoft/onnxruntime-api

fix test failure on dnnl
  onnxruntime/core/providers/dnnl/subgraph/dnnl_layernorm.cc
Owners: none

update
  onnxruntime/core/graph/contrib_ops/bert_defs.cc
Owners: none

adding sum to fp16 activation and conv, use internal nhwc ops
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/core/graph/contrib_ops/internal_nhwc_onnx_opset.cc
  onnxruntime/core/mlas/inc/mlas.h
  onnxruntime/core/mlas/lib/activate_fp16.cpp
  onnxruntime/core/providers/cpu/fp16/fp16_conv.cc
  onnxruntime/test/mlas/unittest/test_fp16_activation.cpp
  onnxruntime/test/providers/cpu/nn/conv_fp16_test.cc
Owners: @microsoft/onnxruntime-mlas

use special contrib op for fp16 conv
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/core/graph/contrib_ops/internal_nhwc_onnx_opset.cc
  onnxruntime/core/graph/contrib_ops/ms_opset.h
  onnxruntime/core/graph/contrib_ops/nhwc_schema_defs.cc
  onnxruntime/core/providers/cpu/fp16/fp16_conv.cc
  onnxruntime/test/providers/cpu/nn/conv_fp16_test.cc
Owners: @microsoft/onnxruntime-mlas

update doc
  docs/ContribOperators.md
Owners: none

keep loop on cpu
  onnxruntime/core/framework/session_state.cc
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/OperatorRegistration.cpp
  winml/lib/Api.Ort/OnnxruntimeModel.cpp
Owners: none

Refining the offline tooling for training artifact generation (#15212)
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/python/training/onnxblock/README.md
  orttraining/orttraining/python/training/onnxblock/__init__.py
  orttraining/orttraining/python/training/onnxblock/_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/_qat_utils.py
  orttraining/orttraining/python/training/onnxblock/_training_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/blocks.py
  orttraining/orttraining/python/training/onnxblock/checkpoint_utils.py
  orttraining/orttraining/python/training/onnxblock/loss/__init__.py
  orttraining/orttraining/python/training/onnxblock/loss/loss.py
  orttraining/orttraining/python/training/onnxblock/model.py
  orttraining/orttraining/python/training/onnxblock/model_accessor.py
  orttraining/orttraining/python/training/onnxblock/onnxblock.py
  orttraining/orttraining/python/training/onnxblock/optim/__init__.py
  orttraining/orttraining/python/training/onnxblock/optim/optim.py
  orttraining/orttraining/test/python/orttraining_test_onnxblock.py
  orttraining/orttraining/training_api/checkpoint.cc
Owners: none

Refining the offline tooling for training artifact generation (#15212)
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/artifacts.py
  orttraining/orttraining/python/training/onnxblock/README.md
  orttraining/orttraining/python/training/onnxblock/__init__.py
  orttraining/orttraining/python/training/onnxblock/_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/_qat_utils.py
  orttraining/orttraining/python/training/onnxblock/_training_graph_utils.py
  orttraining/orttraining/python/training/onnxblock/blocks.py
  orttraining/orttraining/python/training/onnxblock/checkpoint_utils.py
  orttraining/orttraining/python/training/onnxblock/loss/__init__.py
  orttraining/orttraining/python/training/onnxblock/loss/loss.py
  orttraining/orttraining/python/training/onnxblock/model.py
  orttraining/orttraining/python/training/onnxblock/model_accessor.py
  orttraining/orttraining/python/training/onnxblock/onnxblock.py
  orttraining/orttraining/python/training/onnxblock/optim/__init__.py
  orttraining/orttraining/python/training/onnxblock/optim/optim.py
  orttraining/orttraining/test/python/orttraining_test_onnxblock.py
  orttraining/orttraining/training_api/checkpoint.cc
Owners: none

add docs
  docs/ContribOperators.md
  docs/OperatorKernels.md
Owners: none

[ROCm] fix python packaging pipeline and add python10 (#15282)
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-rocm.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm
  tools/ci_build/github/linux/docker/manylinux.patch
Owners: @microsoft/onnxruntime-es

[ROCm] fix python packaging pipeline and add python10 (#15282)
  tools/ci_build/github/azure-pipelines/orttraining-py-packaging-pipeline-rocm.yml
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_rocm
  tools/ci_build/github/linux/docker/manylinux.patch
Owners: @microsoft/onnxruntime-es

fix unit tests
  onnxruntime/python/tools/transformers/onnx_model_bert.py
Owners: none

fixes
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/ExecutionProvider.cpp
  onnxruntime/core/session/environment.cc
Owners: none

Add Swift Package Manager support.
  .gitignore
  Package.swift
  cmake/onnxruntime_objectivec.cmake
  objectivec/ReadMe.md
  objectivec/assert_arc_enabled.mm
  objectivec/cxx_api.h
  objectivec/error_utils.h
  objectivec/error_utils.mm
  objectivec/ort_coreml_execution_provider.mm
  objectivec/ort_enums.mm
  objectivec/ort_enums_internal.h
  objectivec/ort_env.mm
  objectivec/ort_env_internal.h
  objectivec/ort_session.mm
  objectivec/ort_session_internal.h
  objectivec/ort_value.mm
  objectivec/ort_value_internal.h
  objectivec/ort_xnnpack_execution_provider.mm
  swift/onnxTests/Resources/single_add.basic.ort
  swift/onnxTests/SwiftOnnxWrapperTests.swift
  tools/ci_build/github/apple/objectivec/assemble_objc_pod_package.py
  tools/ci_build/github/apple/update_swift_package_manager_config.py
  tools/ci_build/github/azure-pipelines/mac-ios-packaging-pipeline.yml
Owners: @microsoft/onnxruntime-es

Update some text
  Package.swift
Owners: none

Fix typo
  objectivec/ReadMe.md
Owners: none

Qnn doesn't support Gather int64 indices event for CPU, made the fix to convert the initializer data
  onnxruntime/core/providers/qnn/builder/opbuilder/gather_op_builder.cc
Owners: none

[NNAPI] Minor fix (#15052)
  onnxruntime/core/providers/nnapi/nnapi_builtin/builders/model_builder.cc
  onnxruntime/core/providers/nnapi/nnapi_builtin/builders/model_builder.h
Owners: none

[NNAPI] Minor fix (#15052)
  onnxruntime/core/providers/nnapi/nnapi_builtin/builders/model_builder.cc
  onnxruntime/core/providers/nnapi/nnapi_builtin/builders/model_builder.h
Owners: none

Update onnx-tensorrt dependency to 8.6 EA
  cmake/deps.txt
  tools/ci_build/github/azure-pipelines/templates/download-deps.yml
Owners: @microsoft/onnxruntime-es

Update Dockerfile of centos7 & ubuntu
  tools/ci_build/github/linux/docker/Dockerfile.manylinux2014_cuda11_8_tensorrt8_6
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_cuda11_8_tensorrt8_6
  tools/ci_build/github/linux/docker/Dockerfile.ubuntu_tensorrt
Owners: none

Update linux/win/pkg pipeline yml & scripts
  tools/ci_build/github/azure-pipelines/c-api-noopenmp-packaging-pipelines.yml
  tools/ci_build/github/azure-pipelines/linux-gpu-tensorrt-ci-pipeline.yml
  tools/ci_build/github/azure-pipelines/linux-gpu-tensorrt-daily-perf-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/linux-gpu-tensorrt-packaging-pipeline.yml
  tools/ci_build/github/azure-pipelines/templates/py-linux-gpu.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-selectable-stage.yml
  tools/ci_build/github/azure-pipelines/templates/py-packaging-stage.yml
  tools/ci_build/github/azure-pipelines/win-gpu-tensorrt-ci-pipeline.yml
  tools/ci_build/github/linux/run_dockerbuild.sh
  tools/ci_build/github/windows/setup_env_gpu.bat
Owners: @microsoft/onnxruntime-es

Add MHA mask type support
  include/onnxruntime/DirectML2.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/DirectMLSchema.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/External/DirectMLHelpers/GeneratedSchemaHelpers.h
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorAttention.cpp
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorMultiHeadAttention.cpp
Owners: none

Fixes
  onnxruntime/core/providers/dml/DmlExecutionProvider/src/Operators/DmlOperatorMultiHeadAttention.cpp
Owners: none
