Repository microsoft/onnxruntime, changes with the owners that CODEOWNERS names for each.
All owners: @Microsoft/onnxruntime, @thiagocrepaldi, @spandantiwari, @BowenBao, @liqunfu

CODEOWNERS:

* @Microsoft/onnxruntime

# Python frontend owners
orttraining/*.py @thiagocrepaldi @spandantiwari @BowenBao @liqunfu
orttraining/orttraining/python/** @thiagocrepaldi @spandantiwari @BowenBao @liqunfu
orttraining/orttraining/test/python/** @thiagocrepaldi @spandantiwari @BowenBao @liqunfu
orttraining/pytorch_frontend_examples/** @thiagocrepaldi @spandantiwari @BowenBao @liqunfu
onnxruntime/python/training/** @thiagocrepaldi @spandantiwari @BowenBao @liqunfu
onnxruntime/test/python/onnxruntime_test_ort_trainer.py @thiagocrepaldi @spandantiwari @BowenBao @liqunfu
onnxruntime/test/python/onnxruntime_test_ort_trainer_with_mixed_precision.py @thiagocrepaldi @spandantiwari @BowenBao @liqunfu
onnxruntime/test/python/onnxruntime_test_training_unit_tests.py @thiagocrepaldi @spandantiwari @BowenBao @liqunfu
onnxruntime/test/python/onnxruntime_test_training_unittest_utils.py @thiagocrepaldi @spandantiwari @BowenBao @liqunfu
samples/python/** @thiagocrepaldi @spandantiwari @BowenBao @liqunfu

Implement QLinearSigmoid. (#5015)
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/contrib_ops/cpu/qlinear_lookup_table.cc
  onnxruntime/contrib_ops/cpu/qlinear_lookup_table.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/test/contrib_ops/qlinear_lookup_table_test.cc
Owners: @Microsoft/onnxruntime

Implement QLinearSigmoid. (#5015)
  onnxruntime/contrib_ops/cpu/cpu_contrib_kernels.cc
  onnxruntime/contrib_ops/cpu/qlinear_lookup_table.cc
  onnxruntime/contrib_ops/cpu/qlinear_lookup_table.h
  onnxruntime/core/graph/contrib_ops/contrib_defs.cc
  onnxruntime/test/contrib_ops/qlinear_lookup_table_test.cc
Owners: @Microsoft/onnxruntime

Move onnxruntime.experiment to onnxruntime.training namespace
  cmake/onnxruntime_python.cmake
  orttraining/orttraining/python/deprecated/__init__.py
  orttraining/orttraining/python/deprecated/training_session.py
  orttraining/orttraining/python/ort_trainer.py
  orttraining/orttraining/python/training/__init__.py
  orttraining/orttraining/python/training/_utils.py
  orttraining/orttraining/python/training/amp/__init__.py
  orttraining/orttraining/python/training/amp/loss_scaler.py
  orttraining/orttraining/python/training/checkpoint.py
  orttraining/orttraining/python/training/model_desc_validation.py
  orttraining/orttraining/python/training/optim/__init__.py
  orttraining/orttraining/python/training/optim/config.py
  orttraining/orttraining/python/training/optim/lr_scheduler.py
  orttraining/orttraining/python/training/orttrainer.py
  orttraining/orttraining/python/training/orttrainer_options.py
  orttraining/orttraining/python/training/postprocess.py
  orttraining/orttraining/test/python/_test_helpers.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_bert_toy_onnx.py
  orttraining/orttraining/test/python/orttraining_test_orttrainer_frontend.py
  orttraining/orttraining/test/python/orttraining_test_utils.py
  orttraining/orttraining/test/python/orttraining_transformer_trainer.py
  setup.py
Owners: @Microsoft/onnxruntime, @thiagocrepaldi, @spandantiwari, @BowenBao, @liqunfu

runtimes
  tools/ci_build/github/azure-pipelines/templates/windowsai-nuget-build.yml
  tools/nuget/generate_nuspec_for_native_nuget.py
Owners: @Microsoft/onnxruntime

new golden numbers for Roberta and MC
  orttraining/orttraining/test/python/orttraining_run_glue.py
  orttraining/orttraining/test/python/orttraining_run_multiple_choice.py
Owners: @thiagocrepaldi, @spandantiwari, @BowenBao, @liqunfu

reset rtol
  orttraining/orttraining/test/python/orttraining_run_glue.py
Owners: @thiagocrepaldi, @spandantiwari, @BowenBao, @liqunfu

optimize resize op for NN mode for some fasterrcnn model (#4825)
  onnxruntime/core/providers/cpu/tensor/upsample.cc
  onnxruntime/test/providers/cpu/tensor/resize_op_test.cc
Owners: @Microsoft/onnxruntime

optimize resize op for NN mode for some fasterrcnn model (#4825)
  onnxruntime/core/providers/cpu/tensor/upsample.cc
  onnxruntime/test/providers/cpu/tensor/resize_op_test.cc
Owners: @Microsoft/onnxruntime

fix CI issues.
  onnxruntime/core/common/threadpool.cc
Owners: @Microsoft/onnxruntime
